@use "../../base";

/// @access private
@mixin styles {
  .govuk-language-switcher {
    @include base.govuk-font($size: 19);

    margin-top: base.govuk-spacing(3);
    margin-bottom: base.govuk-spacing(3);
    color: base.govuk-functional-colour(text);
  }

  .govuk-language-switcher__list {
    display: inline-flex;
    flex-wrap: wrap;
    row-gap: base.govuk-spacing(1);
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .govuk-language-switcher__list-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      &::after {
        content: "";
        display: block;
        height: 1em;
        margin-right: base.govuk-spacing(2);
        margin-left: base.govuk-spacing(2);
        border-right: 1px solid;
        border-right-color: base.govuk-functional-colour(secondary-text);
      }
    }
  }

  .govuk-language-switcher__link {
    @include base.govuk-link-common;
    @include base.govuk-link-style-default;
  }
}
