// Include GOV.MOA Elements and GOV.MOA Frontend Toolkit to mimic a service which
// is migrating to use GOV.MOA Frontend.
//
// GOV.MOA Template is included as a separate CSS file, which is how most
// services use it (as opposed to including it in their Sass file)

$moaland-compatibility-govukfrontendtoolkit: true;
$moaland-compatibility-govuktemplate: true;
$moaland-compatibility-govukelements: true;

// Set Elements assets path
$path: "/vendor/govuk_frontend_toolkit/assets/";

// Import GOV.MOA frontend toolkit and GOV.MOA elements
@import "govuk-elements-sass/public/sass/govuk-elements";

@import "app";
