@use "../tag/index";
@use "helpers/colour";
@use "helpers/media-queries";
@use "helpers/spacing";
@use "helpers/typography";
@use "tools/exports";

@include exports.govuk-exports("govuk/component/phase-banner") {
  .govuk-phase-banner {
    padding-top: spacing.govuk-spacing(2);
    padding-bottom: spacing.govuk-spacing(2);

    border-bottom: 1px solid;
    border-bottom-color: colour.govuk-functional-colour(border);
  }

  // If the phase banner is already contained within a .govuk-width-container,
  // don't double up the left and right margins on narrow viewports.
  .govuk-width-container .govuk-phase-banner.govuk-width-container {
    margin-right: 0;
    margin-left: 0;
  }

  .govuk-phase-banner__content {
    @include typography.govuk-font($size: 16);
    @include typography.govuk-text-colour;

    display: table;
    margin: 0;
  }

  .govuk-phase-banner__content__tag {
    @include typography.govuk-font-size($size: 16);
    margin-right: spacing.govuk-spacing(3);

    @media #{media-queries.govuk-from-breakpoint(tablet)} {
      margin-right: spacing.govuk-spacing(2);
    }
  }

  .govuk-phase-banner__text {
    display: table-cell;
    vertical-align: middle;
  }
}
