@use "../../base";

/// @access private
@mixin styles {
  .govuk-phase-banner {
    padding-block-start: base.govuk-spacing(2);
    padding-block-end: base.govuk-spacing(2);

    border-block-end: 1px solid;
    border-block-end-color: base.govuk-functional-colour(border);
  }

  // If the phase banner is already contained within a .govuk-width-container,
  // don't double up the left and right margins on narrow viewports.
  .govuk-width-container .govuk-phase-banner.govuk-width-container {
    margin-inline-end: 0;
    margin-inline-start: 0;
  }

  .govuk-phase-banner__content {
    @include base.govuk-font($size: 16);

    display: table;
    margin: 0;
    color: base.govuk-functional-colour(text);
  }

  .govuk-phase-banner__content__tag {
    @include base.govuk-font-size($size: 16);
    margin-inline-end: base.govuk-spacing(3);

    @media #{base.govuk-from-breakpoint(tablet)} {
      margin-inline-end: base.govuk-spacing(2);
    }
  }

  .govuk-phase-banner__text {
    display: table-cell;
    vertical-align: middle;
  }
}
