@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include govuk-exports("govuk/component/tag") {
  .govuk-tag {
    @include govuk-font($size: 16, $weight: bold, $line-height: 1.25);

    display: inline-block;
    padding: $govuk-spacing-scale-1 8px 0;

    color: govuk-colour("white");
    background-color: govuk-colour("blue");
    letter-spacing: 1px;

    text-decoration: none;
    text-transform: uppercase;
  }

  .govuk-tag--inactive {
    background-color: govuk-colour("grey-1");
  }
}
