---
scenario: >-

  As part of an online service, you are asked if you have changed your name.


  Things to try:

  1. Intentionally avoid answering the question before continuing to the next
     page.
---

{# This example is based of the "Radios" example: https://design-system.service.gov.uk/components/radios #}
{% extends "_generic.njk" %}

{% from "back-link/macro.njk" import moalandBackLink %}
{% from "error-summary/macro.njk" import moalandErrorSummary %}
{% from "radios/macro.njk" import moalandRadios %}
{% from "button/macro.njk" import moalandButton %}

{% set pageTitle = "Have you changed your name?" %}
{% block pageTitle %}{{ "Error: " if errors }}{{ pageTitle }} - GOV.MOA{% endblock %}

{% block beforeContent %}
  {{ moalandBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}

  <form method="post" novalidate>
    {% if errorSummary.length > 0 %}
        {{ moalandErrorSummary({
            titleText: "There is a problem",
            errorList: errorSummary
        }) }}
    {% endif %}


    {{ moalandRadios({
      classes: "moaland-radios--inline",
      idPrefix: "changed-name",
      name: "changed-name",
      fieldset: {
        legend: {
          text: pageTitle,
          isPageHeading: true,
          classes: "moaland-fieldset__legend--xl"
        }
      },
      hint: {
        text: "This includes changing your last name or spelling your name differently."
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ],
      errorMessage: errors["changed-name"]
    }) }}

    {{ moalandButton({
        text: "Continue"
      }) }}
  </form>

{% endblock %}
