@import "@govuk-frontend/globals/import-once";
@import "@govuk-frontend/globals/grid-layout";
@import "@govuk-frontend/globals/vars";
@import "@govuk-frontend/site-width-container/site-width-container";

@include exports("grid") {

  .govuk-c-grid {
    @include govuk-grid;
  }

  .govuk-c-grid__item {
    @include govuk-grid-item;
  }

  .govuk-c-grid__item--full {
    width: 100%;
  }

  .govuk-c-grid__item--one-half {
    width: percentage( 1 / 2);
  }

  .govuk-c-grid__item--one-third {
    width: percentage( 1 / 3);
  }

  .govuk-c-grid__item--two-thirds {
    width: percentage( 2 / 3);
  }

  .govuk-c-grid__item--one-quarter {
    width: percentage( 1 / 4);
  }

  // for testing purposes
  $govuk-width-proportions: (
    full: 100%,
    half: percentage(1 / 2),
    third: percentage(1 / 3),
    quarter: percentage(1 / 4),
    two-thirds: percentage(2 / 3)
  );
  @each $govuk-width-proportions-key, $govuk-width-proportions-value in $govuk-width-proportions {
    .govuk-u-w-#{$govuk-width-proportions-key} {
      width: $govuk-width-proportions-value;
      @if $govuk-width-proportions-key != "full" {
        float: left;
     }
    }
  }
}
