@import "../../globals/scss/common";

@include exports("details") {
  .govuk-c-details {
    @include govuk-font-regular-19;

    display: block;
    margin-bottom: $govuk-spacing-scale-4;
    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-6;
    }
    clear: both;
  }

  .govuk-c-details__summary {
    display: inline-block;

    position: relative;
    // TODO: Make margins under components consistent
    margin-bottom: em($govuk-spacing-scale-1, 19px);

    color: $govuk-blue;
    cursor: pointer;
  }

  .govuk-c-details__summary:hover {
    color: $govuk-link-hover-colour;
  }

  .govuk-c-details__summary:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }

  // Underline only summary text (not the arrow)
  .govuk-c-details__summary-text {
    text-decoration: underline;
  }

  // Match fallback arrow spacing with -webkit default
  .govuk-c-details__arrow {
    margin-right: .35em;
    font-style: normal;
  }

  .govuk-c-details__text {
    // TODO: Make margins underneath components consistent
    margin-bottom: em($govuk-spacing-scale-3, 19px);
    padding: em($govuk-spacing-scale-3, 19px);
    border-left: $govuk-border-width solid $govuk-border-colour;
  }

  .govuk-c-details__text p {
    // TODO: Make margins on paragraphs consistent
    margin-top: 0;
    margin-bottom: em(20px, 19px);
  }

  .govuk-c-details__text p:last-child {
    margin-bottom: 0;
  }
}
