{% extends "readme.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}
{% block componentDescription %}
  Component for conditionally revealing content, using the details HTML element.
{% endblock %}

{# examples #}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{% from "table/macro.njk" import govukTable %}
{{ govukTable({
  'firstCellIsHeader': true,
  'head' : [
    {
      text: 'Name'
    },
    {
      text: 'Type'
    },
    {
      text: 'Required'
    },
    {
      text: 'Description'
    }
  ],
  'rows' : [
    [
      {
        text: 'summaryText (or) summaryHtml'
      },
      {
        text: 'string'
      },
      {
        text: 'Yes'
      },
      {
        text: 'Text or HTML to use within the summary element (the visible part of the details element). If `summaryHtml` is provided, the `summaryText` argument will be ignored.'
      }
    ],
    [
      {
        text: 'text (or) html'
      },
      {
        text: 'string'
      },
      {
        text: 'Yes'
      },
      {
        text: 'Text or HTML to use within the disclosed part of the details element. If `html` is provided, the `text` argument will be ignored.'
      }
    ],
    [
      {
        text: 'id'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional id to add to the details element.'
      }
    ],
    [
      {
        text: 'open'
      },
      {
        text: 'boolean'
      },
      {
        text: 'No'
      },
      {
        text: 'If true, details element will be expanded.'
      }
    ],
    [
      {
        text: 'classes'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional additional classes to add to the details element.'
      }
    ],
    [
      {
        text: 'attributes'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Any extra HTML attributes (for example data attributes) to add to the details element.'
      }
    ]
  ]
})}}
{% endblock %}
