<details class="govuk-c-details
  {%- if classes %} {{ params.classes }}{% endif %}">
  <summary class="govuk-c-details__summary">
    <span class="govuk-c-details__summary-text">{{ params.summary }}</span>
  </summary>
  <div class="govuk-c-border govuk-c-border--left-narrow">
    <div class="govuk-c-details__text">
      {{ params.text | safe }}
    </div>
  </div>
</details>
