@import "../../globals/scss/common";

@include exports("cookie-banner") {
  .govuk-c-cookie-banner {
    @include govuk-font-regular-16;
    @include govuk-text-colour;

    width: 100%;

    padding-top: $govuk-spacing-scale-2;
    padding-bottom: $govuk-spacing-scale-2;

    background-color: $govuk-light-blue-25;
  }

  .js-enabled .govuk-c-cookie-banner {
    display: none;
  }

  .govuk-c-cookie-banner__message {
    @include govuk-width-container;
  }

  @include mq($media-type: print) {
    .govuk-c-cookie-banner {
      display: none !important;
    }
  }
}
