@import "../../globals/scss/common";

@include exports("cookie-banner") {
  .govuk-c-cookie-banner {
    width: 100%;

    padding-top: $govuk-spacing-scale-2;
    padding-bottom: $govuk-spacing-scale-2;

    background-color: $govuk-light-blue-25;

    font-family: $govuk-font-stack;
    @include font-smoothing;
  }

  .js-enabled .govuk-c-cookie-banner {
    display: none;
  }

  .govuk-c-cookie-banner__message {
    @include govuk-site-width-container;
    @include govuk-core-16;
  }

  @include mq($media-type: print) {
    .govuk-c-cookie-banner {
      display: none !important;
    }
  }
}
