{% from "cookie-banner/macro.njk" import govukCookieBanner %}

{{- govukCookieBanner(
  classes='',
  cookieBannerText='GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a>'
  )
-}}
