{% extends "component.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}

{% block componentDescription %}
  GOV.UK cookie message, with link to cookie help page.
{% endblock %}

{# componentExample #}

{# componentNunjucks #}

{# componentHtml #}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{% from "table/macro.njk" import govukTable %}
{{ govukTable(
  classes='',
  options = {
    'isFirstCellHeader': 'true'
  },
  data = {
    'head' : [
      {
        text: 'Name'
      },
      {
        text: 'Type'
      },
      {
        text: 'Required'
      },
      {
        text: 'Description'
      }
    ],
    'rows' : [
      [
        {
          text: 'classes'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'Optional additional classes'
        }
      ],
      [
        {
          text: 'cookieBannerText'
        },
        {
          text: 'string'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Cookie banner text'
        }
      ]
    ]
  }
)}}
{% endblock %}
