<div class="govuk-c-cookie-banner js-cookie-banner{%- if params.classes %} {{ params.classes }}{% endif %}"{% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <p class="govuk-c-cookie-banner__text">{{ params.html | safe if params.html else params.text }}</p>
</div>
