{% from "fieldset/macro.njk" import govukFieldset %}
{% from "label/macro.njk" import govukLabel %}

{% set isConditional = false %}
{% for item in params.items %}
  {% if item.conditional %}
    {% set isConditional = true %}
  {% endif %}
{% endfor %}

{#- Capture the HTML so we can optionally nest it in a fieldset -#}
{% set innerHtml %}
  <div class="govuk-radios {%- if params.classes %} {{ params.classes }}{% endif %}"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}
    {%- if isConditional %} data-module="radios"{% endif -%}>
    {% for item in params.items %}
    {% set idPrefix = params.idPrefix if params.idPrefix else params.name %}
    {% set id = item.id if item.id else idPrefix + "-" + loop.index %}
    {% set conditionalId = "conditional-" + id %}
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="{{ id }}" name="{{ params.name }}" type="radio" value="{{ item.value }}"
      {{-" checked" if item.checked }}
      {{-" disabled" if item.disabled }}
      {%- if item.conditional %} data-aria-controls="{{ conditionalId }}"{% endif -%}>
      {{ govukLabel({
        html: item.html,
        text: item.text,
        classes: 'govuk-radios__label',
        attributes: item.label.attributes,
        for: id
      }) | indent(4) | trim }}
    </div>
    {% if item.conditional %}
      <div class="govuk-radios__conditional" id="{{ conditionalId }}">
        {{ item.conditional.html | safe }}
      </div>
    {% endif %}
    {% endfor %}
  </div>
{% endset %}

{%- if params.fieldset %}
  {% call govukFieldset({
    classes: params.fieldset.classes,
    attributes: params.fieldset.attributes,
    legendText: params.fieldset.legendText,
    legendHtml: params.fieldset.legendHtml,
    legendHintText: params.fieldset.legendHintText,
    legendHintHtml: params.fieldset.legendHintHtml,
    errorMessage: params.errorMessage
  }) %}
  {{- innerHtml | indent(2) | trim | safe }}
  {% endcall %}
{% else %}
  {{ innerHtml | trim | safe }}
{% endif %}
