<!DOCTYPE html>
<html lang="en">
<head>
  <title>GOV.UK Frontend</title>
  <link rel="stylesheet" href="/css/govuk-frontend0.0.8-alpha.min.css">
  <!--[if IE 8]>
  <link rel="stylesheet" href="/css/govuk-frontend-oldie0.0.8-alpha.min.css">
  <![endif]-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css">
</head>
<body class="language-markup govuk-c-site-width-container">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <div class="govuk-c-radio">
  <input class="govuk-c-radio__input" id="radio-inline-1" type="radio" name="radio1" value="Yes">
  <label class="govuk-c-radio__label" for="radio-inline-1">Yes</label>
</div>
<div class="govuk-c-radio">
  <input class="govuk-c-radio__input" id="radio-inline-2" type="radio" name="radio2" value="No">
  <label class="govuk-c-radio__label" for="radio-inline-2">No</label>
</div>
<div class="govuk-c-radio">
  <input class="govuk-c-radio__input" id="radio-inline-3" type="radio" name="radio2" disabled="disabled" value="NA">
  <label class="govuk-c-radio__label" for="radio-inline-3">Not applicable</label>
</div>

  <script src="/js/govuk-frontend0.0.8-alpha.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
</body>
</html>
