<nav class="govuk-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="govuk-c-pagination__list">
      <li class="govuk-c-pagination__item govuk-c-pagination__item--previous">
        <a class="govuk-c-pagination__link" href="#" rel="prev">
          <span class="govuk-c-pagination__link-title">
            <svg class="govuk-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            Previous
          </span>
          <span class="govuk-c-pagination__link-label">Overview</span>
        </a>
      </li>
      <li class="govuk-c-pagination__item govuk-c-pagination__item--next">
        <a class="govuk-c-pagination__link" href="#" rel="next">
          <span class="govuk-c-pagination__link-title">
            Next
            <svg class="govuk-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </span>
            <span class="govuk-c-pagination__link-label">Voting by post</span>
        </a>
      </li>
  </ul>
</nav>
