{% from "pagination/macro.njk" import govukPagination -%}

{{ govukPagination({
  "previousPage": {
    "url": "previous-page",
    "title": "Previous page",
    "label": "1 of 3"
  },
  "nextPage": {
    "url": "next-page",
    "title": "Next page",
    "label": "3 of 3"
  }
}) }}
