<nav class="govuk-c-pagination {{ classes }}" role="navigation" aria-label="Pagination">
  <ul class="govuk-c-pagination__list">
    {% if previousPage %}
    {% for page in previousPage %}
    <li class="govuk-c-pagination__item govuk-c-pagination__item--previous">
      <a class="govuk-c-pagination__link" href="{{ page.url }}" rel="prev">
        <span class="govuk-c-pagination__link-title">
          <svg class="govuk-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          {{ page.title }}
        </span>
        {% if page.label %}
          <span class="govuk-c-pagination__link-label">{{ page.label }}</span>
        {% endif %}
      </a>
    </li>
    {% endfor %}
    {% endif %}

    {%- if nextPage %}
    {% for page in nextPage %}
    <li class="govuk-c-pagination__item govuk-c-pagination__item--next">
      <a class="govuk-c-pagination__link" href="{{ page.url }}" rel="next">
        <span class="govuk-c-pagination__link-title">
          {{ page.title }}
          <svg class="govuk-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </span>
        {% if page.label %}
          <span class="govuk-c-pagination__link-label">{{ page.label }}</span>
        {% endif %}
      </a>
    </li>
    {% endfor %}
    {% endif %}
  </ul>
</nav>
