<!DOCTYPE html>
<html lang="en">
<head>
  <title>GOV.UK Frontend</title>
  <link rel="stylesheet" href="/css/govuk-frontend0.0.6-alpha.min.css">
  <!--[if IE 8]>
  <link rel="stylesheet" href="/css/govuk-frontend-oldie0.0.6-alpha.min.css">
  <![endif]-->
</head>
<body>
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <label class="govuk-c-label" for="govuk-c-input-a">
  National Insurance number
</label>
<input class="govuk-c-input" id="govuk-c-input-a" type="text">

<label class="govuk-c-label" for="govuk-c-label-b">
  National Insurance number
  <span class="govuk-c-error-message">
    Error message goes here
  </span>
</label>
<input class="govuk-c-input govuk-c-input--error" id="govuk-c-input-b" type="text">

<label class="govuk-c-label" for="govuk-c-input-c">
  National Insurance number
  <span class="govuk-c-label__hint">
    It's on your National Insurance card, benefit letter, payslip or P60.
    <br>
    For example, ‘QQ 12 34 56 C’.
  </span>
</label>
<input class="govuk-c-input" id="govuk-c-input-c" type="text">

<label class="govuk-c-label" for="govuk-c-label-d">
  National Insurance number
  <span class="govuk-c-label__hint">
    It's on your National Insurance card, benefit letter, payslip or P60.
    <br>
    For example, ‘QQ 12 34 56 C’.
  </span>
  <span class="govuk-c-error-message">
    Error message goes here
  </span>
</label>
<input class="govuk-c-input govuk-c-input--error" id="govuk-c-input-d" type="text">


  <script src="/js/govuk-frontend0.0.6-alpha.min.js"></script>
</body>
</html>
