// Thanks, h5bp/html5-boilerplate

// Hide only visually, but have it available for screen readers:
// https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
//
// 1. For long content, line feeds are not interpreted as spaces and small width
//    causes content to wrap 1 word per line:
//    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe

@mixin govuk-h-visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);

  border: 0;

  white-space: nowrap; // 1
}

// Allow the element to be focusable when navigated to via the keyboard (e.g.
// for the skip link)
//
// Slightly less opinionated about borders and padding to make it easier to
// style the focussable element.

@mixin govuk-h-visually-hidden-focusable {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);

  white-space: nowrap; // 1

  &:active,
  &:focus {
    position: static;

    width: auto;
    height: auto;
    margin: inherit;

    overflow: visible;
    clip: auto;
    -webkit-clip-path: none;
            clip-path: none;

    white-space: inherit;
  }
}

@include govuk-exports("visually-hidden") {
  .govuk-h-visually-hidden {
    @include govuk-h-visually-hidden;
  }

  .govuk-h-visually-hidden-focussable {
    @include govuk-h-visually-hidden-focusable;
  }
}
