@import "../../globals/scss/import-once";
@import "../../globals/scss/helpers-px-to-em";
@import "../../globals/scss/font-face";
@import "../../globals/scss/typography";
@import "../../globals/scss/vars";

@include exports("panel") {

  .govuk-c-panel {
    @include mq($until: tablet) {
      padding: $govuk-spacing-scale-5;
    }

    margin-bottom: $govuk-spacing-scale-3;
    padding: $govuk-spacing-scale-6;

    font-family: $govuk-font-stack;
    @include font-smoothing;
    @include govuk-core-19;

    text-align: center;
  }

  .govuk-c-panel--confirmation {
    color: $govuk-white;
    background: $govuk-turquoise;
  }

  .govuk-c-panel__title {
    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-5;

    @include govuk-bold-48;
  }

  .govuk-c-panel__body {
    @include govuk-core-36;
  }

}
