@import "../../globals/scss/import-once";
@import "../../globals/scss/colours";
@import "../../globals/scss/font-face";
@import "../../globals/scss/typography";

@include exports("panel") {

  .govuk-c-panel {
    margin: 1em 0;
    padding: 2em 1em;

    font-family: $govuk-font-stack;
    @include font-smoothing;
    @include core-19;

    text-align: center;
  }

  .govuk-c-panel--confirmation {
    color: $govuk-white;
    background: $govuk-turquoise;
  }

  .govuk-c-panel--information {
    color: $govuk-white;
    background: $govuk-blue;
  }

  .govuk-c-panel__title {
    margin-top: em(60px, 48px);
    margin-bottom: em(30px, 48px);

    @include bold-48;
  }

  .govuk-c-panel__body {
    // TODO: Fix margin values
    margin-top: em(11.25px, 48px);
    margin-bottom: em(37.895px, 48px);

    @include core-36;
  }

}
