@import "../../globals/scss/common";

@include exports("panel") {

  .govuk-c-panel {
    @include govuk-font-regular-19;

    @include mq($until: tablet) {
      padding: $govuk-spacing-scale-5;
    }

    margin-bottom: $govuk-spacing-scale-3;
    padding: $govuk-spacing-scale-6;

    text-align: center;
  }

  .govuk-c-panel--confirmation {
    color: $govuk-white;
    background: $govuk-turquoise;
  }

  .govuk-c-panel__title {
    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-5;

    @include govuk-font-bold-48;
  }

  .govuk-c-panel__body {
    @include govuk-font-regular-36;
  }

}
