<div class="govuk-c-panel govuk-c-panel--confirmation
  {%- if params.classes %} {{ params.classes }}{% endif %}">
  <h2 class="govuk-c-panel__title">
    {{ params.title }}
  </h2>
  <div class="govuk-c-panel__body">
    {{ params.content }}
    {% if params.reference %}
    <br>
    <strong>{{ params.reference }}</strong>
    {%endif %}
  </div>
</div>
