@import "../globals/common";
@import "../label/label";

@include govuk-exports("select") {
  .govuk-c-select {
    @include govuk-font-regular;
    @include govuk-typography-responsive(
      $govuk-font-19,
      $override-line-height: 1.25
    );
    @include govuk-focusable;

    box-sizing: border-box; // should this be global?
    width: 100%;
    height: 40px;

    padding: $govuk-spacing-scale-1; // was 5px 4px 4px - size of it should be adjusted to match other form elements
    border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  }

  .govuk-c-select option:active,
  .govuk-c-select option:checked,
  .govuk-c-select:focus::-ms-value {
    color: $govuk-white;
    background-color: $govuk-blue;
  }

  .govuk-c-select--error {
    border: $govuk-border-width-form-element-error solid $govuk-error-colour;
  }

}
