{% from "label/macro.njk" import govukLabel %}


<div class="govuk-form-group {%- if params.errorMessage %} govuk-form-group--error{% endif %}">

  {{- govukLabel({
    html: params.label.html,
    text: params.label.text,
    hintText: params.label.hintText,
    hintHtml: params.label.hintHtml,
    classes: params.label.classes,
    attributes: params.label.attributes,
    errorMessage: params.errorMessage,
    for: params.id
  }) -}}

  <select class="govuk-select
    {%- if params.classes %} {{ params.classes }}{% endif %}{%- if params.errorMessage %} govuk-select--error{% endif %}" id="{{ params.id }}" name="{{ params.name }}"{% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  {% for item in params.items %}
    <option value="{{ item.value }}"{{" selected" if item.selected}}{{" disabled" if item.disabled}}>{{ item.text }}</option>
  {% endfor %}
  </select>
</div>
