// This file is included by each individual component as well as the
// govuk-frontend file itself.
//
// This means that every component has access to all things within the settings,
// tools and helpers layers


// Tools
@import "tools/compatibility";
@import "tools/exports";
@import "tools/file-url";
@import "tools/ie8";
@import "tools/iff";
@import "tools/px-to-em";

// Helpers
@import "helpers/shape-arrow";
@import "helpers/clearfix";
@import "helpers/device-pixels";
@import "helpers/focusable";
@import "helpers/media-queries";
@import "helpers/typography";
@import "helpers/spacing";
@import "helpers/visually-hidden";
@import "helpers/grid";

// Core
@import "core/links";
@import "core/lists";
@import "core/typography";
@import "core/prose-scope";
@import "core/section-break";
@import "core/global-styles";

// Objects
@import "objects/form-group";
@import "objects/grid";
@import "objects/main-wrapper";
@import "objects/shapes";
@import "objects/width-container";

// Overrides
@import "overrides/spacing";
@import "overrides/typography";
@import "overrides/width";
