@include govuk-exports("width-overrides") {
  .govuk-\!-width-three-quarters {
    width: 100% !important;

    @include mq($from: tablet) {
      width: 75% !important;
    }
  }

  .govuk-\!-width-two-thirds {
    width: 100% !important;

    @include mq($from: tablet) {
      width: 66.66% !important;
    }
  }

  .govuk-\!-width-one-half {
    width: 100% !important;

    @include mq($from: tablet) {
      width: 50% !important;
    }
  }

  .govuk-\!-width-one-third {
    width: 100% !important;

    @include mq($from: tablet) {
      width: 33.33% !important;
    }
  }

  .govuk-\!-width-one-quarter {
    width: 100% !important;

    @include mq($from: tablet) {
      width: 25% !important;
    }
  }
}
