@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "../error-message/error-message";
@import "../hint/hint";
@import "../label/label";

@include govuk-exports("govuk/component/textarea") {
  .govuk-textarea {
    @include govuk-font-regular;
    @include govuk-typography-responsive(
      $govuk-font-19,
      $override-line-height: 1.25
    );
    @include govuk-focusable;

    -webkit-box-sizing: border-box;

            box-sizing: border-box; // should this be global?
    display: block;
    width: 100%;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
    padding: $govuk-spacing-scale-1;

    border: $govuk-border-width-form-element solid $govuk-input-border-colour;
    border-radius: 0;

    -webkit-appearance: none;
  }

  .govuk-textarea--error {
    border: $govuk-border-width-form-element-error solid $govuk-error-colour;
  }
}
