<!DOCTYPE html>
<html lang="en">
<head>
  <title>GOV.UK Frontend</title>
  <link rel="stylesheet" href="/css/govuk-frontend0.0.7-alpha.min.css">
  <!--[if IE 8]>
  <link rel="stylesheet" href="/css/govuk-frontend-oldie0.0.7-alpha.min.css">
  <![endif]-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min0.0.7-alpha.min.css">
</head>
<body class="language-markup govuk-c-site-width-container">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <h1 id="breadcrumb">Breadcrumb</h1>
<p>Breadcrumb navigation, showing page hierarchy.</p>
<h2 id="guidance">Guidance</h2>
<p>Guidance and documentation can be found on <a href="linkgoeshere">GOV.UK Design System</a>.</p>
<h2 id="demo">Demo</h2>
<p>Breadcrumb <a href="breadcrumb.html">demo</a>.</p>
<h2 id="usage">Usage</h2>
<p>Code example(s)</p>
<pre><code>&lt;div class=&quot;govuk-c-breadcrumb&quot;&gt;
  &lt;ol class=&quot;govuk-c-breadcrumb__list&quot;&gt;
    &lt;li class=&quot;govuk-c-breadcrumb__list-item&quot;&gt;
      &lt;a class=&quot;govuk-c-breadcrumb__link&quot; href=&quot;/&quot;&gt;Previous page&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;govuk-c-breadcrumb__list-item&quot; aria-current=&quot;page&quot;&gt;Current page&lt;/li&gt;
  &lt;/ol&gt;
&lt;/div&gt;
</code></pre><!--
## Installation

```
npm install --save @govuk-frontend/breadcrumb
```
-->

  <script src="/js/govuk-frontend0.0.7-alpha.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min0.0.7-alpha.min.js"></script>
</body>
</html>
