{% extends "_generic.njk" %}

{% from "panel/macro.njk" import moalandPanel %}

{% set pageTitle = "Account details updated" %}
{% block pageTitle %}{{ pageTitle }} - GOV.UK{% endblock %}

{% block content %}
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-two-thirds">
      {{ moalandPanel({
        titleText: pageTitle
      }) }}
    </div>
  </div>
{% endblock %}
