---
scenario: >-
  As part of an online service, you wish to update your account details.


  Things to try:

  1. Intentionally avoid answering the questions before continuing to the next page.
---

{% extends "_generic.njk" %}

{% from "back-link/macro.njk" import moalandBackLink %}
{% from "error-summary/macro.njk" import moalandErrorSummary %}
{% from "input/macro.njk" import moalandInput %}
{% from "button/macro.njk" import moalandButton %}

{% set pageTitle = "Update your account details" %}
{% block pageTitle %}{{ "Error: " if errors }}{{ pageTitle }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ moalandBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-two-thirds">
      {% if errorSummary.length > 0 %}
        {{ moalandErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}
      <h1 class="moaland-heading-xl">{{ pageTitle }}</h1>

      <form method="post" novalidate>

        {{ moalandInput({
          label: {
            text: "Email address",
            classes: "moaland-label--m"
          },
          type: "email",
          id: "email",
          name: "email",
          value: values["email"],
          errorMessage: errors["email"],
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ moalandInput({
          label: {
            text: "New password",
            classes: "moaland-label--m"
          },
          type: "password",
          id: "password",
          name: "password",
          value: values["password"],
          errorMessage: errors["password"],
          autocomplete: "new-password",
          spellcheck: false
        }) }}

        {{ moalandButton({
          text: "Save account details"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
