{% extends "_generic.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% set pageTitle = "Update your account details" %}
{% block pageTitle %}{{ "Error: " if errors }}GOV.UK - {{ pageTitle }}{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block beforeContent %}
  {{ govukBackLink({
	text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% if errorSummary.length > 0 %}
			{{ govukErrorSummary({
				titleText: "There is a problem",
				errorList: errorSummary 
			}) }}
			{% endif %}
			<h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

			<form method="post" novalidate>

				{{ govukInput({
					label: {
						text: "Email address",
						classes: "govuk-label--m"
					},
					type: "email",
					id: "email",
					name: "email",
					value: values["email"],
					errorMessage: errors["email"],
					autocomplete: "email",
					attributes: {
						spellcheck: false
					}
				}) }}

				{{ govukInput({
					label: {
						text: "New password",
						classes: "govuk-label--m"
					},
					type: "password",
					id: "password",
					name: "password",
					value: values["password"],
					errorMessage: errors["password"],
					autocomplete: "new-password",
					attributes: {
						spellcheck: false
					}
				}) }}

				{{ govukButton({
					text: "Save account details"
				}) }}

			</form>
		</div>
  </div>
{% endblock %}