////
/// @group tools/assets
////
@use "sass:meta";

/// Font URL
///
/// If a custom font-url handler is defined ($govuk-font-url-function) then
/// it will be called, otherwise a url will be returned with the filename
/// appended to the font path.
///
/// @param {String} $filename - Font filename
/// @return {String} URL for the filename, wrapped in `url()`
/// @access public

@function govuk-font-url($filename) {
  // prettier-ignore
  $custom-function: meta.variable-exists("govuk-font-url-function")
    and $govuk-font-url-function;

  @if meta.type-of($custom-function) == "string" {
    @if meta.function-exists($custom-function) {
      $custom-function: meta.get-function($custom-function);
    } @else {
      $custom-function: null;
    }
  }

  @if $custom-function {
    @return meta.call($custom-function, $filename);
  } @else {
    @return url($govuk-fonts-path + $filename);
  }
}
