@import "../../globals/scss/common";

@include exports("radio") {
  .govuk-c-radio {
    display: block;

    position: relative;

    margin-bottom: $govuk-spacing-scale-2;
    padding: 0 0 0 em(40px, 19px);

    clear: left;

    font-family: $govuk-font-stack;
    @include font-smoothing;
    @include govuk-core-19;
  }

  .govuk-c-radio:last-child,
  .govuk-c-radio:last-of-type {
    margin-bottom: 0;
  }

  .govuk-c-radio--inline {
    margin-right: $govuk-spacing-scale-4;
    float: left;
    clear: none;
  }

  .govuk-c-radio__input {
    position: absolute;

    z-index: 1;
    top: 0;
    left: 0;

    width: em(40px, 19px);
    height: em(40px, 19px);

    cursor: pointer;

    // IE8 doesn’t support pseudoelements, so we don’t want to hide native elements there. Double colons get ommited by IE8.
    @if ($is-ie == false) or ($ie-version == 9) {
      margin: 0;
      opacity: 0;
    }
  }

  .govuk-c-radio__label {
    display: block;
    padding: em(8px, 19px) em($govuk-spacing-scale-3, 19px) em($govuk-spacing-scale-1, 19px);
    border: 2px solid transparent;
    cursor: pointer;
    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  .govuk-c-radio__input + .govuk-c-radio__label::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    width: em(40px, 19px);
    height: em(40px, 19px);

    border: $govuk-border-width-form-element solid;
    border-radius: 50%;
    background: transparent;
  }

  .govuk-c-radio__input + .govuk-c-radio__label::after {
    content: "";

    position: absolute;
    top: em($govuk-spacing-scale-2, 19px);
    left: em($govuk-spacing-scale-2, 19px);

    width: 0;
    height: 0;

    border: em($govuk-spacing-scale-2, 19px) solid;
    border-radius: 50%;
    opacity: 0;
    background: currentColor;
  }

  // Focused state
  .govuk-c-radio__input:focus + .govuk-c-radio__label::before {
    box-shadow: 0 0 0 4px $govuk-focus-colour;
  }

  // Selected state
  .govuk-c-radio__input:checked + .govuk-c-radio__label::after {
    opacity: 1;
  }

  // Disabled state
  .govuk-c-radio__input:disabled,
  .govuk-c-radio__input:disabled + .govuk-c-radio__label {
    cursor: default;
  }

  .govuk-c-radio__input:disabled + .govuk-c-radio__label {
    opacity: .5;
  }
}
