{% extends "component.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}
{% block componentDescription %}
  A radio button. You must use the `value` attribute to define the value submitted by this item. Use the `checked` attribute to indicate whether this item is selected by default. Radio buttons that have the same value for the name attribute are in the same "radio button group". Only one radio button in a group can be selected at a time.
{% endblock %}
{# componentExample #}
{# componentNunjucks #}
{# componentHtml #}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{% from "table/macro.njk" import govukTable %}
{{ govukTable(
  classes='',
  options = {
    'isFirstCellHeader': 'true'
  },
  data = {
    'head' : [
      {
        text: 'Name'
      },
      {
        text: 'Type'
      },
      {
        text: 'Required'
      },
      {
        text: 'Description'
      }
    ],
    'rows' : [
      [
        {
          text: 'classes'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'Optional additional classes'
        }
      ],
      [
        {
          text: 'name'
        },
        {
          text: 'string'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Name of the group of radio buttons'
        }
      ],
      [
        {
          text: 'id'
        },
        {
          text: 'string'
        },
        {
          text: 'Yes'
        },
        {
          text: 'ID is prefixed to the ID of each radio button'
        }
      ],
      [
        {
          text: 'radios'
        },
        {
          text: 'array'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Radios array with id, value, label, checked and disabled keys'
        }
      ]
    ]
  }
)}}
{% endblock %}
