{% extends "component.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}
{% block componentDescription %}
  A radio button is a GOV.UK element that allows users to answer a question by selecting an option. If you have a question with more than one option you should stack radio buttons.
{% endblock %}

{% block componentDependencies %}
Please note, this component depends on @govuk-frontend/globals, which will automatically be installed with the package.
{% endblock %}

{# defaultAndVariants #}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{{ govukTable({
  'firstCellIsHeader': true,
  'head' : [
    {
      text: 'Name'
    },
    {
      text: 'Type'
    },
    {
      text: 'Required'
    },
    {
      text: 'Description'
    }
  ],
  'rows' : [
    [
      {
        text: 'classes'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional additional classes'
      }
    ],
    [
      {
        text: 'idPrefix'
      },
      {
        text: 'string'
      },
      {
        text: 'Yes'
      },
      {
        text: 'String to prefix id for each radio item if no id is specified on each item.'
      }
    ],
    [
      {
        text: 'name'
      },
      {
        text: 'string'
      },
      {
        text: 'Yes'
      },
      {
        text: 'Name attribute for each radio item.'
      }
    ],
    [
      {
        text: 'items'
      },
      {
        text: 'array'
      },
      {
        text: 'Yes'
      },
      {
        text: 'Array of radio items.'
      }
    ],
    [
      {
        text: 'text'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Text to use within the radio label.'
      }
    ],
    [
      {
        text: 'html'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'HTML to use within the radio label. If this is provided, the text argument will be ignored.'
      }
    ],
    [
      {
        text: 'label'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Provide additional attributes to the radio label.'
      }
    ],
    [
      {
        text: 'checked'
      },
      {
        text: 'boolean'
      },
      {
        text: 'No'
      },
      {
        text: 'If true, radio will be checked.'
      }
    ],
    [
      {
        text: 'disabled'
      },
      {
        text: 'boolean'
      },
      {
        text: 'No'
      },
      {
        text: 'If true, radio will be disabled.'
      }
    ],
    [
      {
        text: 'attributes'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Any extra HTML attributes (for example data attributes) to add to the radio container.'
      }
    ]
  ]
})}}
{% endblock %}
