{% from 'radio/macro.njk' import govukRadio %}

{{- govukRadio({
  classes: '',
  inputName: 'radio-group',
  id: 'radio',
  checkboxes: [
   {
      id: '1',
      value: 'Yes',
      label: 'Yes'
    },
    {
       id: '2',
       value: 'No',
       label: 'No'
     }
  ]
}) -}}
