{% for radio in params.radios %}
<div class="govuk-c-radio
{%- if params.classes %} {{ params.classes }}{% endif %}">
  <input class="govuk-c-radio__input" id="{{ params.id }}-{{ radio.id }}" name="{{ params.inputName }}" type="radio" value="{{ radio.value }}"
  {%- if radio.checked %} checked{% endif %}
  {%- if radio.disabled %} disabled{% endif %}>
  <label class="govuk-c-radio__label" for="{{ params.id }}-{{ radio.id }}">{{ radio.label }}</label>
</div>
{% endfor %}
