@import "@govuk-frontend/globals/import-once";
@import "@govuk-frontend/globals/helpers-url";
@import "@govuk-frontend/globals/spacing";
@import "@govuk-frontend/globals/typography";
@import "@govuk-frontend/globals/utilities/clearfix";
@import "@govuk-frontend/globals/vars";


@include exports("breadcrumb") {
  .govuk-c-breadcrumb {
    padding-top: $govuk-spacing-scale-3;
    padding-bottom: $govuk-spacing-scale-3;

    font-family: $govuk-font-stack;
    @include font-smoothing;
  }

  .govuk-c-breadcrumb__list {
    @include govuk-u-clearfix;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .govuk-c-breadcrumb__list-item {
    @include govuk-core-16;
    margin-bottom: $govuk-spacing-scale-1;
    margin-left: $govuk-spacing-scale-2;
    padding-left: $govuk-spacing-scale-3;
    float: left;
    background-image: file-url("separator.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
  }

  .govuk-c-breadcrumb__list-item:first-child {
    margin-left: 0;
    padding-left: 0;
    background-image: none;
  }
    .govuk-c-breadcrumb__link:link,
    .govuk-c-breadcrumb__link:visited,
    .govuk-c-breadcrumb__link:hover,
    .govuk-c-breadcrumb__link:active {
      color: $govuk-text-colour;
    }
}
