---
scenario: >-
  As part of an online service, you are asked to provide your national insurance number.


  Prompts:

  1. Do not answer the question

---

{# This example is based of the  "What is your national insurance number?" example: https://design-system.service.gov.uk/patterns/national-insurance-numbers/default/index.html #}
{% extends "full-page-example.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "input/macro.njk" import govukInput %}

{% set pageTitle = "What is your national insurance number?" %}
{% block pageTitle %}{{ "Error: " if errors }}{{ pageTitle }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}

  <form method="post" novalidate>
    {% if errorSummary.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorSummary
        }) }}
    {% endif %}

    {{ govukInput({
      label: {
        text: "What is your National Insurance number?",
        classes: "govuk-label--l"
      },
      hint: {
        text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
      },
      classes: "govuk-input--width-10",
      id: "national-insurance-number",
      name: "national-insurance-number",
      spellcheck: false,
      errorMessage: errors["national-insurance-number"]
    }) }}

    {{ govukButton({
        text: "Continue"
      }) }}
  </form>

{% endblock %}
