@import "../../globals/scss/common";
@import "../label/label";
@import "../error-message/error-message";

@include govuk-exports("input") {
  .govuk-c-input {
    @include govuk-font-regular-19;
    @include govuk-focusable;

    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-top: 0;

    padding: $govuk-spacing-scale-1;
    // setting any background-color makes text invisible when changing colours to dark backgrounds in Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=1335476)
    // as background-color and color need to always be set together, color should not be set either
    border: $govuk-border-width-form-element solid $govuk-input-border-colour;
    border-radius: 0;

    // Disable inner shadow and remove rounded corners
    appearance: none;
  }

  .govuk-c-input::-webkit-outer-spin-button,
  .govuk-c-input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  .govuk-c-input[type="number"] {
    -moz-appearance: textfield;
  }

  .govuk-c-input--error {
    border: $govuk-border-width-form-element-error solid $govuk-error-colour;
  }

}
