@import "../../globals/scss/common";
@import "../label/label";
@import "../error-message/error-message";

@include exports("input") {
  .govuk-c-input {
    @include govuk-font-regular-19;

    box-sizing: border-box;
    width: 100%;
    height: em(40px, 19px);
    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");

    padding: $govuk-spacing-scale-1;
    // setting any background-color makes text invisible when changing colours to dark backgrounds in Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=1335476)
    // as background-color and color need to always be set together, color should not be set either
    border: $govuk-border-width-form-element solid $govuk-text-colour;
    border-radius: 0;

    // Disable inner shadow and remove rounded corners
    appearance: none;
  }

  .govuk-c-input::-webkit-outer-spin-button,
  .govuk-c-input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  .govuk-c-input[type="number"] {
    -moz-appearance: textfield;
  }

  .govuk-c-input:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }

  .govuk-c-input--error {
    border: $govuk-border-width-error solid $govuk-error-colour;
  }

}
