{% extends "component.njk" %}
{% from "input/macro.njk" import govukInput %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}
{% block componentDescription %}
  A single-line text field.
{% endblock %}

{% block defaultAndVariants %}
{% for item in componentData.variants %}
{% if item.name == 'default' %}
  {% set itemName = 'Component default' %}
  {% set previewLink = "/components/" + componentName + '/' + "/preview" %}
  {% set previewText = 'Preview the ' + componentName + ' component' %}
{% else %}
  {% set itemName = componentName + '--' + item.name %}
  {% set previewLink = "/components/" + componentName + '/' + componentName + '--' + item.name  + "/preview" %}
  {% set previewText = 'Preview the ' + itemName + ' variant' %}
{% endif %}

<h3 class="govuk-u-bold-19">{{ itemName  | capitalize }}</h3>

{% if not isReadme %}
{{ govukInput(classes='', item.data) }}


<p class="govuk-u-copy-19">
<a href="{% if isReadme %}http://govuk-frontend-review.herokuapp.com{% endif %}{{ previewLink }}">{{previewText}}
</a>
</p>
{% endif %}
<h4 class="govuk-u-copy-19">Markup</h4>

{% set componentHtml %}
{{ govukInput(classes='',item.data) }}
{% endset %}
<pre><code>
  {{- componentHtml | e -}}
</code></pre>

<h4 class="govuk-u-copy-19">Macro</h4>
<pre><code>{% raw %}{{ govukInput(classes='',{% endraw %}
{{ item.data | dump(2) }}
{% raw %}) }}{% endraw %}
</code></pre>
{% endfor %}
{% endblock %}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{% from "table/macro.njk" import govukTable %}
{{ govukTable(
  classes='',
  options = {
    'isFirstCellHeader': 'true'
  },
  data = {
    'head' : [
      {
        text: 'Name'
      },
      {
        text: 'Type'
      },
      {
        text: 'Required'
      },
      {
        text: 'Description'
      }
    ],
    'rows' : [
      [
        {
          text: 'classes'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'Optional additional classes'
        }
      ],
      [
        {
          text: 'labelText'
        },
        {
          text: 'string'
        },
        {
          text: 'Yes'
        },
        {
          text: 'The label text'
        }
      ],
      [
        {
          text: 'hintText'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'Optional hint text'
        }
      ],
      [
        {
          text: 'errorMessage'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'Optional error message'
        }
      ],
      [
        {
          text: 'id'
        },
        {
          text: 'string'
        },
        {
          text: 'Yes'
        },
        {
          text: 'The id of the input'
        }
      ],
      [
        {
          text: 'name'
        },
        {
          text: 'string'
        },
        {
          text: 'Yes'
        },
        {
          text: 'The name of the input, which is submitted with the form data'
        }
      ],
      [
        {
          text: 'value'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'Optional initial value of the input'
        }
      ]
    ]
  }
)}}
{% endblock %}
