{% from "input/macro.njk" import govukInput %}

{{- govukInput(
  labelClasses='',
  labelText='National Insurance number',
  hintText='',
  errorMessage='',
  classes='',
  id='input-1',
  name='test-name'
  )
-}}

{{- govukInput(
  labelClasses='',
  labelText='National Insurance number',
  hintText='It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.',
  errorMessage='',
  classes='',
  id='input-2',
  name='test-name-2'
  )
-}}

{{- govukInput(
  labelClasses='',
  labelText='National Insurance number',
  hintText='It’s on your National Insurance card, benefit letter, payslip or P60.
    For example, ‘QQ 12 34 56 C’.',
  errorMessage='Error message goes here',
  classes='',
  id='input-3',
  name='test-name-3'
  )
-}}
