{% extends "readme.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}

{% block componentDescription %}
  A single-line text field.
{% endblock %}

{# examples #}

{# override link to design system here if it's different to base url + componentName #}
{% set componentGuidanceLink = 'https://govuk-design-system-production.cloudapps.digital/components/text-input' %}

{% block componentArguments %}
{{ govukTable({
  'firstCellIsHeader': true,
  'head' : [
    {
      text: 'Name'
    },
    {
      text: 'Type'
    },
    {
      text: 'Required'
    },
    {
      text: 'Description'
    }
  ],
  'rows' : [
    [
      {
        text: 'id'
      },
      {
        text: 'string'
      },
      {
        text: 'Yes'
      },
      {
        text: 'The id of the input.'
      }
    ],
    [
      {
        text: 'name'
      },
      {
        text: 'string'
      },
      {
        text: 'Yes'
      },
      {
        text: 'The name of the input, which is submitted with the form data.'
      }
    ],
    [
      {
        text: 'type'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Type of input control to render. Defaults to "text".'
      }
    ],
    [
      {
        text: 'value'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional initial value of the input.'
      }
    ],
    [
      {
        text: 'label'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Arguments for the label component. See <a href="../label/README.md#component-arguments">label</a> component.'
      }
    ],
    [
      {
        text: 'hint'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Arguments for the hint component (e.g. text). See <a href="../hint/README.md#component-arguments">hint</a> component.'
      }
    ],
    [
      {
        text: 'errorMessage'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Arguments for the errorMessage component (e.g. text). See <a href="../error-message/README.md#component-arguments">errorMessage</a> component.'
      }
    ],
    [
      {
        text: 'classes'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional additional classes add to the input component.'
      }
    ],
    [
      {
        text: 'attributes'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Any extra HTML attributes (for example data attributes) to add to the input component.'
      }
    ]
  ]
})}}
{% endblock %}
