{% extends "readme.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}

{% block componentDescription %}
  A single-line text field.
{% endblock %}

{# examples #}

{# override link to design system here if it's different to base url + componentName #}
{% set componentGuidanceLink = 'https://design-system.service.gov.uk/components/text-input' %}

{% block componentArguments %}
See <a href="{{ componentGuidanceLink }}/#options-example-default">options table</a> for details.
{% endblock %}
