{% from "label/macro.njk" import govukLabel %}

{{- govukLabel(labelClasses, labelText, hintText, errorMessage, id) -}}

<input class="govuk-c-input
{%- if classes %} {{ classes }}{% endif %}
{%- if errorMessage %} govuk-c-input--error{% endif %}" id="{{ id }}" name="{{ name }}" type="text"
{%- if value %} value="{{ value}}"{% endif %}>
