{% extends "layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">
    GOV.UK Frontend for DAC Audit 2023
  </h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m"><a href="/full-page-examples" class="govuk-link">Full page examples</a></h2>

      <div class="govuk-list">
      {% for example in fullPageExamples %}
        {% if not example.hidden %}
          <li><a href="/full-page-examples/{{ example.path }}{{ legacyQuery }}" class="govuk-link">{{ example.name | replace("-", " ") | capitalize }}</a></li>
        {% endif %}
      {% endfor %}
      </div>

      <h2 class="govuk-heading-m">Other examples</h2>

      <div class="govuk-list">
        <li><a href="https://alphagov.github.io/accessible-autocomplete/examples/" class="govuk-link">Accessible autocomplete example</a></li>
        <li><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees" class="govuk-link">Contact a department or service team example</a></li>
        <li><a href="http://gov.uk/account" class="govuk-link">GOV.UK Account</a></li>
        <li><a href="https://design-system.service.gov.uk/patterns/cookies-page/" class="govuk-link">GOV.UK Design System cookie page</a></li>
        <li><a href="https://govuk-formats.herokuapp.com/document-types/step-by-step-nav" class="govuk-link">Step-by-step navigation example</a></li>
      </div>

    </div>
  </div>
{% endblock %}
