{%- if params.type == "success" %}
  {% set successBanner = true %}
{% endif %}

{%- if successBanner %}
  {% set typeClass = "govuk-notification-banner--" + params.type %}
{% endif %}

{% if params.role %}
  {% set role = params.role %}
{% elif successBanner %}
  {# If type is success, add `role="alert"` to prioritise the information in the notification banner to users of assistive technologies #}
  {% set role = "alert" %}
{% else %}
  {# Otherwise add `role="region"` to make the notification banner a landmark to help users of assistive technologies to navigate to the banner #}
  {% set role = "region" %}
{% endif %}

{%- if params.titleHtml %}
  {% set title = params.titleHtml | safe %}
{%- elif params.titleText %}
  {% set title = params.titleText %}
{%- elif successBanner %}
  {% set title = "Success" %}
{%- else %}
  {% set title = "Important" %}
{%- endif -%}

<div class="govuk-notification-banner{% if typeClass %} {{ typeClass }}{% endif %}{% if params.classes %} {{ params.classes }}{% endif %}" role="{{ role }}"
  aria-labelledby="{{ params.titleId | default('govuk-notification-banner-title')}}"
  data-module="govuk-notification-banner"
  {%- if params.disableAutoFocus %} data-disable-auto-focus="true"{% endif %}
  {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="govuk-notification-banner__header">
    <h{{ params.titleHeadingLevel | default(2) }} class="govuk-notification-banner__title" id="{{ params.titleId | default('govuk-notification-banner-title') }}" >
      {{ title }}
    </h{{ params.titleHeadingLevel | default(2) }}>
  </div>
  <div class="govuk-notification-banner__content">
    {%- if params.html -%}
      {{ params.html | safe }}
    {%- elif params.text -%}
      {# Set default style for single line content #}
      <p class="govuk-notification-banner__heading">{{ params.text }}</p>
    {%- endif -%}
  </div>
</div>
