version: 2

updates:
  # Update npm packages
  - package-ecosystem: npm
    directory: /
    open-pull-requests-limit: 10

    # Group packages into shared PR
    groups:
      babel:
        patterns:
          - '@babel/*'

      lint:
        patterns:
          - '@typescript-eslint/*'
          - 'editorconfig-checker'
          - 'standard'
          - 'prettier'
          - 'stylelint'
          - 'stylelint-*'
          - 'typescript'

      percy:
        patterns:
          - '@percy/*'

      postcss:
        patterns:
          - 'autoprefixer'
          - 'cssnano'
          - 'cssnano-*'
          - 'postcss'
          - 'postcss-*'

      rollup:
        patterns:
          - '@rollup/*'
          - 'rollup'
          - 'rollup-*'

      test:
        patterns:
          - '@axe-core/*'
          - '@jest/*'
          - '@puppeteer/*'
          - '@types/jest'
          - '@types/jest-*'
          - 'jest'
          - 'jest-*'
          - 'puppeteer'
          - 'puppeteer-*'

      types:
        patterns:
          - '@actions/*'
          - '@octokit/*'
          - '@types/*'

        # Exclude packages in other groups
        exclude-patterns:
          - '@types/jest'
          - '@types/jest-*'
    ignore:
      - dependency-name: 'eslint-*'
      - dependency-name: 'eslint'
      # iframe-resizer has switched to GPL licence in v5
      # so we need to avoid upgrading to their next major version
      - dependency-name: 'iframe-resizer'
        update-types: ['version-update:semver-major']

    reviewers:
      - alphagov/design-system-developers

    # Schedule run every Monday, local time
    schedule:
      interval: weekly
      time: '10:30'
      timezone: 'Europe/London'

    versioning-strategy: increase

    allow:
      # Include direct package.json updates
      - dependency-type: direct

      # Include indirect browser data updates
      # https://caniuse.com
      - dependency-name: caniuse-lite

  # Update GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    reviewers:
      - alphagov/design-system-developers

    # Schedule run every Monday, local time
    schedule:
      interval: weekly
      time: '10:30'
      timezone: 'Europe/London'

  # Update GitHub Actions (Build)
  - package-ecosystem: github-actions
    directory: /.github/workflows/actions/build
    reviewers:
      - alphagov/design-system-developers

    # Schedule run every Monday, local time
    schedule:
      interval: weekly
      time: '10:30'
      timezone: 'Europe/London'

  # Update GitHub Actions (Install dependencies)
  - package-ecosystem: github-actions
    directory: /.github/workflows/actions/install-node
    reviewers:
      - alphagov/design-system-developers

    # Schedule run every Monday, local time
    schedule:
      interval: weekly
      time: '10:30'
      timezone: 'Europe/London'

  # Update GitHub Actions (Setup Node.js)
  - package-ecosystem: github-actions
    directory: /.github/workflows/actions/setup-node
    reviewers:
      - alphagov/design-system-developers

    # Schedule run every Monday, local time
    schedule:
      interval: weekly
      time: '10:30'
      timezone: 'Europe/London'
