version: 2

updates:

  # Update npm packages
  - package-ecosystem: npm
    directory: /
    reviewers:
      - alphagov/design-system-developers
    schedule:
      interval: daily
    versioning-strategy: increase

    allow:
      - dependency-type: direct

    ignore:
      # Ignore major updates (breaks IE8 PostCSS plugins)
      - dependency-name: autoprefixer
        update-types: ['version-update:semver-major']

      # Always ignore legacy packages
      - dependency-name: iframe-resizer
      - dependency-name: jquery
      - dependency-name: rollup

  # Update GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    reviewers:
      - alphagov/design-system-developers
    schedule:
      interval: daily
