{% macro showReadmeExamples(componentSlug, componentName, data) %}
  {% for example in data.examples %}
    {# Skip any examples with readme: false #}
    {% if example.readme !== false %}
      {% if example.name == 'default' %}
        {% set heading = componentName | capitalize %}
        {% set path = '/components/' + componentSlug + "/preview" %}
      {% else %}
        {% set heading %}{{ componentName | capitalize }} {{ example.name }}{% endset %}
        {% set exampleSlug = (example.name | replace(" ", "-")) %}
        {% set path = '/components/' + componentSlug + '/' + exampleSlug + "/preview" %}
      {% endif %}

      <h3>{{ heading }}</h3>
      <a href="http://govuk-frontend-review.herokuapp.com{{ path }}">Preview this example in the Frontend review app</a>
      {% include "partials/code.njk" %}
    {% endif %}
  {% endfor %}
{% endmacro %}
