{% from "details/macro.njk" import moalandDetails %}

{% macro showExamples(componentSlug, componentName, data, legacyQuery) %}

{% for example in data.examples | rejectattr('hidden') %}
  {% set exampleSlug = (example.name | replace(" ", "-")) %}
  {% set iframePathQuery = legacyQuery + '&iframe=true' if legacyQuery != '' else '?iframe=true' %}

  {% if example.name == 'default' %}
    {% set heading = componentName | capitalize %}
    {% set path = '/components/' + componentSlug + "/preview" %}
  {% else %}
    {% set heading %}{{ componentName | capitalize }} {{ example.name }}{% endset %}
    {% set path = '/components/' + componentSlug + '/' + exampleSlug + "/preview" %}
  {% endif %}

  <section aria-labelledby="heading-{{ exampleSlug }}" class="moaland-!-margin-bottom-9">
    <div class="moaland-width-container">
      <div class="moaland-heading-m">
        <h3 id="heading-{{ exampleSlug }}" class="app-!-di">{{ heading | safe }}</h3>
        <a href="{{ path }}{{ legacyQuery }}" class="moaland-link moaland-!-margin-left-1 moaland-!-font-size-16">
          (open in a new window)
        </a>
      </div>

    {% if example.description %}
      <p class="moaland-body">
        {{ example.description }}
      </p>
    {% endif %}
    </div>
    <div class="app-component-preview">
      <iframe
      class="js-component-preview app-component-preview__iframe"
      src="{{ path + iframePathQuery }}"
      frameBorder="0"
      allowTransparency="true"
      scrolling="auto"
      ></iframe>
    </div>

    <div class="moaland-width-container">
      {% set detailsHtml %}{% include "partials/code.njk" %}{% endset %}
      {{- moalandDetails({ summaryText: "Code", html: detailsHtml }) -}}
    </div>

  </section>
{% endfor %}
{% endmacro %}
