// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/colours/_organisation.scss

// We use `websafe` to mean strong enough contrast against white to
// be used for copy and meet the AAA (large text) and AA (smaller
// copy) WCAG guidelines.

$govuk-attorney-generals-office: #9f1888;
$govuk-attorney-generals-office-websafe: #a03a88;
$govuk-cabinet-office: #005abb;
$govuk-cabinet-office-websafe: #347da4;
$govuk-civil-service: #af292e;
$govuk-department-for-business-innovation-skills: #003479;
$govuk-department-for-business-innovation-skills-websafe: #347da4;
$govuk-department-for-communities-and-local-government: #00857e;
$govuk-department-for-communities-and-local-government-websafe: #37836e;
$govuk-department-for-culture-media-sport: #d40072;
$govuk-department-for-culture-media-sport-websafe: #a03155;
$govuk-department-for-education: #003a69;
$govuk-department-for-education-websafe: #347ca9;
$govuk-department-for-environment-food-rural-affairs: #00a33b;
$govuk-department-for-international-development: #002878;
$govuk-department-for-international-development-websafe: #405e9a;
$govuk-department-for-transport: #006c56;
$govuk-department-for-transport-websafe: #398373;
$govuk-department-for-work-pensions: #00beb7;
$govuk-department-for-work-pensions-websafe: #37807b;
$govuk-department-of-energy-climate-change: #009ddb;
$govuk-department-of-energy-climate-change-websafe: #2b7cac;
$govuk-department-of-health: #00ad93;
$govuk-department-of-health-websafe: #39836e;
$govuk-foreign-commonwealth-office: #003e74;
$govuk-foreign-commonwealth-office-websafe: #406e97;
$govuk-government-equalities-office: #9325b2;
$govuk-hm-government: #0076c0;
$govuk-hm-government-websafe: #347da4;
$govuk-hm-revenue-customs: #009390;
$govuk-hm-revenue-customs-websafe: #008770;
$govuk-hm-treasury: #af292e;
$govuk-hm-treasury-websafe: #832322;
$govuk-home-office: #9325b2;
$govuk-home-office-websafe: #9440b2;
$govuk-ministry-of-defence: #4d2942;
$govuk-ministry-of-defence-websafe: #5a5c92;
$govuk-ministry-of-justice: #231f20;
$govuk-ministry-of-justice-websafe: #5a5c92;
$govuk-northern-ireland-office: #002663;
$govuk-northern-ireland-office-websafe: #3e598c;
$govuk-office-of-the-advocate-general-for-scotland: #002663;
$govuk-office-of-the-advocate-general-for-scotland-websafe: $govuk-blue;
$govuk-office-of-the-leader-of-the-house-of-lords: #9c132e;
$govuk-office-of-the-leader-of-the-house-of-lords-websafe: #c2395d;
$govuk-scotland-office: #002663;
$govuk-scotland-office-websafe: #405c8a;
// Note: the "the" part here will get dropped
$govuk-the-office-of-the-leader-of-the-house-of-commons: #317023;
$govuk-the-office-of-the-leader-of-the-house-of-commons-websafe: #005f8f;
$govuk-uk-export-finance: #005747;
$govuk-uk-export-finance-websafe: $govuk-blue;
$govuk-uk-trade-investment: #c80651;
$govuk-uk-trade-investment-websafe: $govuk-blue;
$govuk-wales-office: #a33038;
$govuk-wales-office-websafe: #7a242a;

// All organisation colours in a list
// (class_name, brand colour, WCAG acceptible text colour)
//
// example usage:
// @each $govuk-organisation in $govuk-all-organisation-brand-colours {
//    .#{nth($govuk-organisation, 1)} {
//      border-color: nth($govuk-organisation, 2);
//    }
// }

$govuk-all-organisation-brand-colours: (
  "govuk-attorney-generals-office": $govuk-attorney-generals-office $govuk-attorney-generals-office-websafe,
  "govuk-cabinet-office": $govuk-cabinet-office $govuk-cabinet-office-websafe,
  "govuk-civil-service": $govuk-civil-service $govuk-civil-service,
  "govuk-department-for-business-innovation-skills": $govuk-department-for-business-innovation-skills $govuk-department-for-business-innovation-skills-websafe,
  "govuk-department-for-communities-and-local-government": $govuk-department-for-communities-and-local-government $govuk-department-for-communities-and-local-government-websafe,
  "govuk-department-for-culture-media-sport": $govuk-department-for-culture-media-sport $govuk-department-for-culture-media-sport-websafe,
  "govuk-department-for-education": $govuk-department-for-education $govuk-department-for-education-websafe,
  "govuk-department-for-environment-food-rural-affairs": $govuk-department-for-environment-food-rural-affairs $govuk-department-for-environment-food-rural-affairs,
  "govuk-department-for-international-development": $govuk-department-for-international-development $govuk-department-for-international-development-websafe,
  "govuk-department-for-transport": $govuk-department-for-transport $govuk-department-for-transport-websafe,
  "govuk-department-for-work-pensions": $govuk-department-for-work-pensions $govuk-department-for-work-pensions-websafe,
  "govuk-department-of-energy-climate-change": $govuk-department-of-energy-climate-change $govuk-department-of-energy-climate-change-websafe,
  "govuk-department-of-health": $govuk-department-of-health $govuk-department-of-health-websafe,
  "govuk-foreign-commonwealth-office": $govuk-foreign-commonwealth-office $govuk-foreign-commonwealth-office-websafe,
  "govuk-hm-government": $govuk-hm-government $govuk-hm-government-websafe,
  "govuk-hm-revenue-customs": $govuk-hm-revenue-customs $govuk-hm-revenue-customs-websafe,
  "govuk-hm-treasury": $govuk-hm-treasury $govuk-hm-treasury-websafe,
  "govuk-home-office": $govuk-home-office $govuk-home-office-websafe,
  "govuk-ministry-of-defence": $govuk-ministry-of-defence $govuk-ministry-of-defence-websafe,
  "govuk-ministry-of-justice": $govuk-ministry-of-justice $govuk-ministry-of-justice-websafe,
  "govuk-northern-ireland-office": $govuk-northern-ireland-office $govuk-northern-ireland-office-websafe,
  "govuk-office-of-the-advocate-general-for-scotland": $govuk-office-of-the-advocate-general-for-scotland $govuk-office-of-the-advocate-general-for-scotland-websafe,
  "govuk-office-of-the-leader-of-the-house-of-lords": $govuk-office-of-the-leader-of-the-house-of-lords $govuk-office-of-the-leader-of-the-house-of-lords-websafe,
  "govuk-scotland-office": $govuk-scotland-office $govuk-scotland-office-websafe,
  "govuk-the-office-of-the-leader-of-the-house-of-commons": $govuk-the-office-of-the-leader-of-the-house-of-commons $govuk-the-office-of-the-leader-of-the-house-of-commons-websafe,
  "govuk-uk-export-finance": $govuk-uk-export-finance $govuk-uk-export-finance-websafe,
  "govuk-uk-trade-investment": $govuk-uk-trade-investment $govuk-uk-trade-investment-websafe,
  "govuk-wales-office": $govuk-wales-office $govuk-wales-office-websafe
);
