// Border widths
$govuk-border-width-mobile: 4px;
$govuk-border-width-tablet: 5px;
$govuk-border-width-form-element: 2px;
$govuk-border-width-error: 4px;

$govuk-border-width: 5px;
$govuk-border-width-wide: 10px;

// Focus
$govuk-focus-width: 3px;
