// Spacing scale
$govuk-spacing-scale-0: 0;
$govuk-spacing-scale-1: 5px;
$govuk-spacing-scale-2: 10px;
$govuk-spacing-scale-3: 15px;
$govuk-spacing-scale-4: 20px;
$govuk-spacing-scale-5: 30px;
$govuk-spacing-scale-6: 40px;
$govuk-spacing-scale-7: 50px;
$govuk-spacing-scale-8: 60px;
