// Allow font stack to be overridden
$govuk-font-stack: $govuk-nta-light !default;
$govuk-font-stack-tabular: $govuk-nta-light-tabular !default;
$govuk-font-stack-print: sans-serif !default;

// Font weights
$govuk-font-weight-regular: 400;
$govuk-font-weight-bold: 700;
