@import "../../globals/scss/common";

@include exports("legal-text") {

  .govuk-c-legal-text {
    @include govuk-text-colour;
    position: relative;
    padding: $govuk-spacing-scale-1 0;

    font-family: $govuk-font-stack;
    @include govuk-font-regular-19;
  }

  .govuk-c-legal-text__assistive {
    @include govuk-h-visually-hidden;
  }

  .govuk-c-legal-text__icon {
    display: inline-block;

    position: absolute;
    top: 50%;
    left: 0;

    min-width: 38px;
    min-height: 35px;
    margin-top: -19px; // Half the height of the 38px circle
    padding-top: 3px;

    font-size: 1.6em;
    @include govuk-font-bold;
    line-height: 35px;
  }

  .govuk-c-legal-text__text {
    display: block;
    margin-left: -$govuk-gutter-half;
    padding-left: 65px;
  }
}
