{% from "legal-text/macro.njk" import govukLegalText %}

<div class="govuk-c-legal-text {{ classes }}">
  <span class="govuk-c-legal-text__icon govuk-u-circle" aria-hidden="true">!</span>
  <strong class="govuk-c-legal-text__text">
    <span class="govuk-c-legal-text__assistive">{{ iconFallbackText }}</span>
    {{ legalText }}
  </strong>
</div>
