@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "../../helpers/typography";

@include govuk-exports("govuk/component/footer") {

  $govuk-footer-background: $govuk-canvas-background-colour;
  $govuk-footer-border: $govuk-border-colour;
  // This variable can be removed entirely once the legacy palette goes away,
  // as it'll just be the same as $govuk-footer-border.
  $govuk-footer-border-top: $govuk-border-colour;
  $govuk-footer-text: $govuk-text-colour;
  $govuk-footer-link: $govuk-footer-text;
  $govuk-footer-link-hover: false;

  @if ($govuk-use-legacy-palette) {
    // sass-lint:disable no-color-literals
    $govuk-footer-border-top: #a1acb2;
    $govuk-footer-border: govuk-colour("grey-2");
    $govuk-footer-text: #454a4c;
    $govuk-footer-link: $govuk-footer-text;

    // Only used with the legacy palette
    $govuk-footer-link-hover: #171819;
  }

  // Based on the govuk-crest-2x.png image dimensions.
  $govuk-footer-crest-image-width-2x: 250px;
  $govuk-footer-crest-image-height-2x: 204px;
  // Half the 2x image so that it fits the regular 1x size.
  $govuk-footer-crest-image-width: ($govuk-footer-crest-image-width-2x / 2);
  $govuk-footer-crest-image-height: ($govuk-footer-crest-image-height-2x / 2);

  .govuk-footer {
    @include govuk-font($size: 16);
    @include govuk-responsive-padding(7, "top");
    @include govuk-responsive-padding(5, "bottom");

    border-top: 1px solid $govuk-footer-border-top;
    color: $govuk-footer-text;
    background: $govuk-footer-background;
  }

  .govuk-footer__link {
    @if ($govuk-use-legacy-palette) {
      &:link,
      &:visited {
        color: $govuk-footer-link;
      }

      &:hover,
      &:active {
        color: $govuk-footer-link-hover;
      }
    } @else {
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: $govuk-footer-link;
      }
    }

    &:focus {
      @include govuk-focused-text;
    }

    // alphagov/govuk_template includes a specific a:link:focus selector
    // designed to make unvisited links a slightly darker blue when focussed, so
    // we need to override the text colour for that combination of selectors.
    @include govuk-compatibility(govuk_template) {
      &:link:focus {
        @include govuk-text-colour;
      }
    }
  }

  // Internet Explorer 8 does not support `:not()` selectors, so don't conditionally show underlines.
  @include govuk-not-ie8 {
    .govuk-footer__inline-list .govuk-footer__link,
    .govuk-footer__list .govuk-footer__link {
      text-decoration: none;

      &:hover:not(:focus),
      &:active:not(:focus) {
        text-decoration: underline;
      }
    }
  }

  .govuk-footer__section-break {
    margin: 0; // Reset `<hr>` default margins
    @include govuk-responsive-margin(8, "bottom");
    border: 0; // Reset `<hr>` default borders
    border-bottom: 1px solid $govuk-footer-border;
  }

  .govuk-footer__meta {
    display: flex; // Support: Flexbox
    margin-right: -$govuk-gutter-half;
    margin-left: -$govuk-gutter-half;
    flex-wrap: wrap; // Support: Flexbox
    align-items: flex-end; // Support: Flexbox
    justify-content: center; // Support: Flexbox
  }

  .govuk-footer__meta-item {
    margin-right: $govuk-gutter-half;
    margin-bottom: govuk-spacing(5);
    margin-left: $govuk-gutter-half;
  }

  .govuk-footer__meta-item--grow {
    flex: 1; // Support: Flexbox
    @include mq ($until: tablet) {
      flex-basis: 320px; // Support: Flexbox
    }
  }

  .govuk-footer__licence-logo {
    display: inline-block;
    margin-right: govuk-spacing(2);
    @include mq ($until: desktop) {
      margin-bottom: govuk-spacing(3);
    }
    vertical-align: top;
  }

  .govuk-footer__licence-description {
    display: inline-block;
  }

  .govuk-footer__copyright-logo {
    display: inline-block;
    min-width: $govuk-footer-crest-image-width;
    padding-top: ($govuk-footer-crest-image-height + govuk-spacing(2));
    background-image: govuk-image-url("govuk-crest.png");
    @include govuk-device-pixel-ratio {
      background-image: govuk-image-url("govuk-crest-2x.png");
    }
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: $govuk-footer-crest-image-width $govuk-footer-crest-image-height;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
  }

  .govuk-footer__inline-list {
    margin-top: 0;
    margin-bottom: govuk-spacing(3);
    padding: 0;
  }

  .govuk-footer__meta-custom {
    margin-bottom: govuk-spacing(4);
  }

  .govuk-footer__inline-list-item {
    display: inline-block;
    margin-right: govuk-spacing(3);
    margin-bottom: govuk-spacing(1);
  }

  .govuk-footer__heading {
    @include govuk-responsive-margin(7, "bottom");
    padding-bottom: govuk-spacing(4);
    @include mq ($until: tablet) {
      padding-bottom: govuk-spacing(2);
    }
    border-bottom: 1px solid $govuk-footer-border;
  }

  .govuk-footer__navigation {
    margin-right: -$govuk-gutter-half;
    margin-left: -$govuk-gutter-half;
  }

  @supports (display: grid) {
    .govuk-footer__navigation {
      $minimum-column-size: 250px;
      display: grid; // Support: Grid
      grid-template-columns: repeat(auto-fit, minmax($minimum-column-size, 1fr)); // Support: Grid
    }
  }

  .govuk-footer__section {
    display: inline-block;
    margin-right: $govuk-gutter-half;
    margin-bottom: $govuk-gutter;
    margin-left: $govuk-gutter-half;
    vertical-align: top;
  }

  @include mq ($from: desktop) {
    .govuk-footer__section--span-2 {
      grid-column: span 2; // Support: Grid
    }

    .govuk-footer__section--span-2 .govuk-footer__list {
      column-count: 2; // Support: Columns
    }

    .govuk-footer__section--span-3 {
      grid-column: span 3; // Support: Grid
    }

    .govuk-footer__section--span-3 .govuk-footer__list {
      column-count: 3; // Support: Columns
    }
  }

  .govuk-footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: $govuk-gutter; // Support: Columns
  }

  .govuk-footer__list-item {
    @include govuk-responsive-margin(4, "bottom");
  }

  .govuk-footer__list-item:last-child {
    margin-bottom: 0;
  }
}
