# Temporary only
.cache/
.tmp/

# Node.js modules
node_modules/

# Test coverage
coverage/

# Build output
jsdoc/
public/
sassdoc/

# Files to ignore
.DS_Store
*.zip
*.log

# Project lockfile only
package-lock.json
!/package-lock.json
