; Disallow installing packages from sources other than the npm registry – these
; types of install are often used as part of supply-chain attacks. As we don't
; need them, turn them off.

; https://docs.npmjs.com/cli/v11/using-npm/config#allow-git
; requires npm v11.10.0+
allow-git=none

; https://docs.npmjs.com/cli/v11/using-npm/config#allow-remote
; requires npm v11.15.0+ (because of https://github.com/npm/cli/issues/9347)
allow-remote=none

; https://docs.npmjs.com/cli/v11/using-npm/config#allow-directory
; requires npm v11.16.0+ (because of https://github.com/npm/cli/issues/9392)
allow-directory=none

; https://docs.npmjs.com/cli/v11/using-npm/config#allow-file
; requires npm v11.15.0+
allow-file=none
