# Temporary only
.cache/
.tmp/

# Node.js modules
node_modules/

# Test coverage
coverage/

# Build output
dist/

# Build output (committed)
/package

# 3rd party vendor code
vendor/

# Files to ignore
package-lock.json
