@include govuk-exports("govuk/component/task-list") {
  $govuk-task-list-focus-colour: govuk-colour("black");
  $govuk-task-list-focus-background-colour: govuk-colour("yellow");
  $govuk-task-list-hover-colour: govuk-colour("light-grey", $legacy: "grey-3");

  .govuk-task-list {
    @include govuk-font($size: 19);
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
    @include govuk-media-query($from: tablet) {
      min-width: 550px;
    }
  }

  .govuk-task-list__items {
    @include govuk-font($size: 19);
    @include govuk-responsive-margin(9, "bottom");
    padding-left: 0;
    list-style: none;
    @include govuk-media-query($from: tablet) {
      padding-left: govuk-spacing(6);
    }
  }

  .govuk-task-list__item {
    margin-bottom: 0;
    border-bottom: 1px solid $govuk-border-colour;
    @include govuk-clearfix;
  }

  .govuk-task-list__item:first-child {
    border-top: 1px solid $govuk-border-colour;
  }

  .govuk-task-list__item-container {
    display: table;
    position: relative;
    width: 100%;
    padding-top: govuk-spacing(2);
    padding-bottom: govuk-spacing(2);
  }

  .govuk-task-list__task-link:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .govuk-task-list__task-name-and-hint {
    display: table-cell;
    vertical-align: top;
  }

  .govuk-task-list__status-container {
    display: table-cell;
    padding-left: govuk-spacing(2);
    text-align: right;
    vertical-align: top;
  }

  .govuk-task-list__task-link__task_name {
    display: block;
  }

  .govuk-task-list__item--with-link:hover {
    background: $govuk-task-list-hover-colour;
  }

  .govuk-task-list__task-link:hover .govuk-task-list__task-link__task_name {
    @include govuk-link-hover-decoration;
  }

  .govuk-task-list__task-link:focus {
    outline: none;
  }

  .govuk-task-list__task-link:focus .govuk-task-list__task-link__task_name {
    @include govuk-focused-text;

    color: $govuk-task-list-focus-colour;
    background-color: $govuk-task-list-focus-background-colour;
  }

  .govuk-task-list__task-link__task_hint {
    margin-top: 5px;
    color: $govuk-secondary-text-colour;
  }

  .govuk-task-list__hint {
    margin-top: govuk-spacing(1);
    color: $govuk-secondary-text-colour;
  }

  .govuk-task-list__status {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;

    &--light-blue {
      color: govuk-shade(govuk-colour("blue"), 60);
      background-color: govuk-tint(govuk-colour("blue"), 90);
    }

    &--blue {
      color: govuk-shade(govuk-colour("blue"), 60);
      background-color: govuk-tint(govuk-colour("blue"), 75);
    }

    &--white {
      color: $govuk-secondary-text-colour;
    }

    &--black {
      color: govuk-colour("black");
    }

    &--purple {
      color: govuk-shade(govuk-colour("bright-purple"), 50);
      background-color: govuk-tint(govuk-colour("bright-purple"), 85);
    }

    &--grey {
      color: govuk-shade(govuk-colour("dark-grey", $legacy: "grey-1"), 50);
      background-color: govuk-tint(govuk-colour("dark-grey", $legacy: "grey-1"), 85);
    }

    &--pink {
      color: govuk-shade(govuk-colour("pink"), 50);
      background-color: govuk-tint(govuk-colour("pink"), 85);
    }

    &--error {
      color: govuk-shade(govuk-colour("red"), 80);
      background-color: govuk-tint(govuk-colour("red"), 75);
    }
  }
}
