{% set idPrefix = params.idPrefix if params.idPrefix else "task-list" %}
<ul class="govuk-task-list">
  {% for item in params.items %}
    {% if item.hint %}
      {%- set hintId = idPrefix + "-" + loop.index + "-hint" -%}
    {% endif %}
    {%- set statusId = idPrefix + "-" + loop.index + "-status" -%}
    <li class="govuk-task-list__item{% if item.href %} govuk-task-list__item--with-link{% endif %}">
      <div class="govuk-task-list__task-name-and-hint">
        {% if item.href %}
          <a class="govuk-link govuk-task-list__link" href="{{ item.href }}" aria-describedby="{{ hintId + " " if item.hint }}{{ statusId }}">{{ item.title.html | safe if item.title.html else item.title.text }}</a>
        {% else %}
          <div class="govuk-task-list__task-no-link">{{ item.title.html | safe if item.title.html else item.title.text }}</div>
        {% endif %}
        {% if item.hint %}
          <div id="{{ hintId }}" class="govuk-task-list__task_hint">
            {{ item.hint.html | safe if item.hint.html else item.hint.text }}
          </div>
        {% endif %}
      </div>
      <div class="govuk-task-list__status-container">
        <span id="{{ statusId }}" class="govuk-task-list__status {{ item.status.classes }}">
          {{ item.status.text }}
        </span>
      </div>
    </li>
  {% endfor %}
</ul>
