<ul class="govuk-task-list">
      {% for row in params.rows %}
       {% set urlExists = true if row.url.text | length else false %}
        <li class="govuk-task-list__item">
           <span class="app-task-list__task-name">
            {% if urlExists %}
            <a href="{{ row.url.text }}">
              {{ row.title.text | safe if row.title.html else row.title.text }}
            </a>
            {% else %}
              {{ row.title.text | safe if row.title.html else row.title.text }}
            {% endif %}
          </span>
          <span class="govuk-task-list__status">
        <stong>
          {{ row.status.text }}
        </strong>
        </span>
      </li>
    {% endfor %}
</ul>


