@import "../globals/tools/exports";
@import "../globals/tools/compatibility";

@import "../globals/settings/colours-palette";
@import "../globals/settings/colours-applied";
@import "../globals/settings/compatibility";
@import "../globals/settings/spacing";
@import "../globals/settings/measurements";

@import "../globals/helpers/media-queries";
@import "../globals/helpers/focusable";
@import "../globals/helpers/shape-arrow";

@import "../globals/helpers/typography";
@import "../globals/settings/typography-font-stacks";
@import "../globals/settings/typography-font";
@import "../globals/settings/typography-responsive";

@import "../globals/core/links";

@include govuk-exports("back-link") {

  .govuk-c-back-link {
    @include govuk-font-regular-16;
    @include govuk-link-common;
    @include govuk-link-style-text;

    display: inline-block;
    position: relative;

    margin-top: $govuk-spacing-scale-3;
    margin-bottom: $govuk-spacing-scale-3;

    // Allow space for the arrow
    padding-left: 14px;

    // Use border-bottom rather than text-decoration so that the arrow is
    // underlined as well.
    border-bottom: 1px solid $govuk-black;

    // Underline is provided by a bottom border
    text-decoration: none;

    // Prepend left pointing arrow
    &:before {
      @include govuk-shape-arrow($direction: left, $base: 10px, $height: 6px);

      content: "";

      // Vertically align with the parent element
      position: absolute;

      top: -1px;
      bottom: 1px;
      left: 0;

      margin: auto;
    }
  }

  // Begin adjustments for font baseline offset
  // These should be removed when the font is updated with the correct baseline

  .govuk-c-back-link:before {
    $offset: 1px;

    top: $offset * -1;
    bottom: $offset;
  }
}
