<details {%- if params.id %} id="{{params.id}}"{% endif %} class="govuk-details {%- if params.classes %} {{ params.classes }}{% endif %}" data-module="govuk-details" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %} {{- " open" if params.open }}>
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {{ params.summaryHtml | safe if params.summaryHtml else params.summaryText }}
    </span>
  </summary>
  <div class="govuk-details__text">
    {{ params.html | safe if params.html else params.text }}
  </div>
</details>
