@import "../../globals/scss/import-once";
@import "../../globals/scss/typography";
@import "../../globals/scss/utilities/clearfix";
@import "../../globals/scss/vars";
@import "../label/label";
@import "../input/input";
@import "../error-message/error-message";

@include exports("date") {
  .govuk-c-date {
    @include govuk-u-clearfix;
  }

  .govuk-c-date__item {
    width: 50px;
    margin-right: 20px;
    margin-bottom: 0;
    float: left;
    clear: none;
  }

  .govuk-c-date__label {
    display: block;
    padding-bottom: 2px;
  }

  .govuk-c-date__item--year {
    width: 70px;
  }
}
