{% from "date/macro.njk" import govukDate %}

{{ govukDate(
  fieldsetClasses='',
  legendText='What is your date of birth?',
  legendHintText='For example, 31 3 1980',
  legendErrorMessage='Error message goes here',
  id='dob-day-error',
  name='dob-day-error',
  dateItems=[
    {
      name: 'day',
      error: 'true'
    },
    {
      name: 'month',
      error: ''
    },
    {
      name: 'year',
      error: ''
    }
  ]
) }}
