{% from "date/macro.njk" import govukDate %}

{{- govukDate({
  fieldsetClasses: '',
  legendText: 'What is your date of birth?',
  legendHintText: 'For example, 31 3 1980',
  legendErrorMessage: '',
  id: 'dob',
  name: 'dob',
  dateItems:[
    {
      name: 'day',
      error: ''
    },
    {
      name: 'month',
      error: ''
    },
    {
      name: 'year',
      error: ''
    }
  ]
  })
-}}
