{% from "fieldset/macro.njk" import govukFieldset %}
{% from "input/macro.njk" import govukInput %}
{% call govukFieldset({legendText: params.legendText, hintText: params.legendHintText, errorMessage: params.legendErrorMessage }) %}
  <div class="govuk-c-date
    {%- if params.classes %} {{ params.classes }}{% endif %}">
    {% for item in params.items %}
    <div class="govuk-c-date__item govuk-c-date__item--{{ item.name }}">
      {{ govukInput({
        "labelClasses": 'govuk-c-date__label',
        "labelText": item.name | capitalize,
        "id": params.id+"-"+item.name,
        "classes": "govuk-c-input govuk-c-date__input "+item.classes,
        "name": params.name+"-"+item.name,
        "value": item.value
      }) -}}
    </div>
    {% endfor %}
  </div>
{% endcall %}
