{% from "fieldset/macro.njk" import govukFieldset %}
{% from "input/macro.njk" import govukInput %}

{% call govukFieldset({legendText: params.legendText, hintText: params.legendHintText, errorMessage: params.legendErrorMessage }) %}
  <div class="govuk-c-date
    {%- if params.classes %} {{ params.classes }}{% endif %}">
    {% for item in params.items %}
    <div class="govuk-c-date__item govuk-c-date__item--{{ item.name }}">
      {% set labelText = (item.name) | capitalize %}
      {% set inputId = params.id+"-"+item.name %}
      {% set inputClass = '' %}
      {% if item.error %}{% set inputClass = ' govuk-c-input--error'%}{% endif %}
      {% set inputId = params.id+"-"+item.name %}
      {% set inputName = params.name+"-"+item.name %}
      {{ govukInput(
      {
        "labelClasses": 'govuk-c-date__label',
        "labelText": labelText,
        "id": inputId,
        "classes": "govuk-c-input govuk-c-date__input "+inputClass,
        "name": inputName,
        "value": item.value
      }
      ) }}
    </div>
    {% endfor %}
  </div>
{% endcall %}
