@import "../globals/tools/exports";
@import "../globals/tools/iff";

@import "../globals/settings/colours-palette";
@import "../globals/settings/colours-applied";
@import "../globals/settings/spacing";
@import "../globals/settings/measurements";

@import "../globals/helpers/media-queries";
@import "../globals/helpers/spacing";
@import "../globals/helpers/shape-arrow";

@import "../globals/helpers/typography";
@import "../globals/settings/typography-font-stacks";
@import "../globals/settings/typography-font";
@import "../globals/settings/typography-responsive";

@include govuk-exports("details") {

  .govuk-c-details {
    @include govuk-font-regular-19;
    @include govuk-text-colour;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");

    display: block;
  }

  .govuk-c-details__summary {
    // Make the focus outline shrink-wrap the text content of the summary
    display: inline-block;

    // Absolutely position the marker against this element
    position: relative;

    margin-bottom: $govuk-spacing-scale-1;

    // Allow for absolutely positioned marker and align with disclosed text
    padding-left: $govuk-spacing-scale-4 + $govuk-border-width;

    // Style the summary to look like a link...
    color: $govuk-link-colour;
    cursor: pointer;
  }

  // ...but only underline the text, not the arrow
  .govuk-c-details__summary-text {
    text-decoration: underline;
  }

  .govuk-c-details__summary:hover {
    color: $govuk-link-hover-colour;
  }

  .govuk-c-details__summary:focus {
    // -1px offset fixes gap between background and outline in Firefox
    outline: ($govuk-focus-width + 1px) solid $govuk-focus-colour;
    outline-offset: -1px;
    background: $govuk-focus-colour;
  }

  // Remove the default details marker so we can style our own consistently and
  // ensure it displays in Firefox (see implementation.md for details)
  .govuk-c-details__summary::-webkit-details-marker {
    display: none;
  }

  // Append our own open / closed marker using a pseudo-element
  .govuk-c-details__summary:before {
    content: "";
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;

    margin: auto;

    @include govuk-shape-arrow($direction: right, $base: 14px);

    .govuk-c-details[open] > & {
      @include govuk-shape-arrow($direction: down, $base: 14px);
    }
  }

  .govuk-c-details__text {
    padding: $govuk-spacing-scale-3;
    padding-left: $govuk-spacing-scale-4;
    border-left: $govuk-border-width solid $govuk-border-colour;
  }

  .govuk-c-details__text p {
    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-4;
  }

  .govuk-c-details__text p:last-child {
    margin-bottom: 0;
  }
}
