{% from "back-link/macro.njk" import govukBackLink %}
{% from "form-group/macro.njk" import govukFormGroup %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "select/macro.njk" import govukSelect %}
{% from "file-upload/macro.njk" import govukFileUpload %}

{% extends "layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    "href": "/"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Form elements</h1>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="#input" class="govuk-link">Label and text input</a></li>
    <li><a href="#textarea" class="govuk-link">Label and textarea</a></li>
    <li><a href="#radio-stacked" class="govuk-link">Fieldset, legend and radio buttons (stacked)</a></li>
    <li><a href="#radio-stacked-sub-headings" class="govuk-link">Fieldset, legend and radio buttons with sub-headings (stacked)</a></li>
    <li><a href="#radio-inline" class="govuk-link">Fieldset, legend and radio buttons (inline - yes or no)</a></li>
    <li><a href="#checkboxes-stacked" class="govuk-link">Fieldset, legend and checkboxes (stacked)</a></li>
    <li><a href="#checkboxes-stacked-sub-headings" class="govuk-link">Fieldset, legend and checkboxes with sub-headings (stacked)</a></li>
    <li><a href="#date" class="govuk-link">Date pattern</a></li>
    <li><a href="#select" class="govuk-link">Select box</a></li>
    <li><a href="#file" class="govuk-link">File upload</a></li>
  </ul>

  <form action="/" method="post">
    {% call govukFieldset() %}
      <span id="input"></span>
      {{ govukInput({
        id: "govuk-input-a",
        label: {
          text: "National Insurance number"
        }
      }) }}
      {{ govukButton({
        "text": "Save and continue"
      }) }}
    {% endcall %}

    {% call govukFieldset() %}
      <span id="textarea"></span>
      {% from "textarea/macro.njk" import govukTextarea %}
      {{ govukTextarea({
        id: "govuk-textarea-a",
        name: "govuk-textarea-a",
        rows: "5",
        label: {
          text: "Why can't you provide a National Insurance number?"
        }
      }) }}
    {% endcall %}

    <span id="radio-stacked"></span>
    {{ govukRadios({
      "fieldset": {
        "legend": {
          text: "How do you want to be contacted?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      "idPrefix": "radio-stacked",
      "name": "radio-stacked",
      "items": [
        {
          "value": "email",
          "text": "Email"
        },
        {
          "value": "phone",
          "text": "Phone"
        },
        {
          "value": "text",
          "text": "Text message"
        }
      ]
    }) }}

    <span id="radio-stacked-sub-headings"></span>
    {% call govukFormGroup({
      fieldset: {
        legend: {
          text: "Pick one of the following options:",
          classes: "govuk-fieldset__legend--m"
        }
      }
    }) %}

    {{ govukRadios({
      "fieldset": {
        "legend": {
          text: "Group 1",
          classes: "govuk-fieldset__legend--s"
        }
      },
      "idPrefix": "radio-stacked-sub-headings-group-1",
      "name": "radio-stacked-sub-headings",
      "items": [
        {
          "value": "a",
          "text": "Option A"
        },
        {
          "value": "b",
          "text": "Option B"
        },
        {
          "value": "c",
          "text": "Option C",
          "hint": {
            "text": "Including conditional reveal"
          },
          "conditional": {
            "html": '<p class="govuk-body">This message should hide when other group radios are checked</p>'
          }
        }
      ]
    }) }}

    {{ govukRadios({
      "fieldset": {
        "legend": {
          text: "Group 2",
          classes: "govuk-fieldset__legend--s"
        }
      },
      "idPrefix": "radio-stacked-sub-headings-group-2",
      "name": "radio-stacked-sub-headings",
      "items": [
        {
          "value": "a",
          "text": "Option A"
        },
        {
          "value": "b",
          "text": "Option B"
        },
        {
          "value": "c",
          "text": "Option C",
          "hint": {
            "text": "Including conditional reveal"
          },
          "conditional": {
            "html": '<p class="govuk-body">This message should hide when other group radios are checked</p>'
          }
        }
      ]
    }) }}

    {{ govukRadios({
      "fieldset": {
        "legend": {
          text: "Group 3",
          classes: "govuk-fieldset__legend--s"
        }
      },
      "idPrefix": "radio-stacked-sub-headings-group-3",
      "name": "radio-stacked-sub-headings",
      "items": [
        {
          "value": "a",
          "text": "Option A"
        },
        {
          "value": "b",
          "text": "Option B"
        },
        {
          "value": "c",
          "text": "Option C",
          "hint": {
            "text": "Including conditional reveal"
          },
          "conditional": {
            "html": '<p class="govuk-body">This message should hide when other group radios are checked</p>'
          }
        }
      ]
    }) }}

    {% endcall %}

    <span id="radio-inline"></span>
    {{ govukRadios({
      "fieldset": {},
      "classes": "govuk-radios--inline",
      "idPrefix": "radio-inline",
      "name": "radio-inline",
      "items": [
        {
          "value": "yes",
          "text": "Yes"
        },
        {
          "value": "no",
          "text": "No"
        }
      ]
    }) }}

    <span id="checkboxes-stacked"></span>
    {{ govukCheckboxes({
      "fieldset": {},
      "idPrefix": "checkboxes-stacked",
      "name": "checkboxes-stacked",
      "items": [
        {
          "value": "waste-animal",
          "text": "Waste from animal carcasses"
        },
        {
          "value": "waste-mines",
          "text": "Waste from mines or quarries"
        },
        {
          "value": "waste-other",
          "text": "Waste from other"
        }
      ]
    }) }}

    <span id="checkboxes-stacked-sub-headings"></span>
    {% call govukFormGroup({
      id: "checkboxes-stacked-sub-headings",
      fieldset: {
        legend: {
          text: "Which of the following apply?",
          classes: "govuk-fieldset__legend--m"
        }
      }
    }) %}

    {{ govukCheckboxes({
      "fieldset": {
        "legend": {
          text: "Group 1",
          classes: "govuk-fieldset__legend--s"
        }
      },
      "idPrefix": "checkboxes-stacked-sub-headings-group-1",
      "name": "checkboxes-stacked-sub-headings",
      "items": [
        {
          "value": "a",
          "text": "Option A"
        },
        {
          "value": "b",
          "text": "Option B"
        },
        {
          "value": "c",
          "text": "Option C"
        }
      ]
    }) }}

    {{ govukCheckboxes({
      "fieldset": {
        "legend": {
          text: "Group 2",
          classes: "govuk-fieldset__legend--s"
        }
      },
      "idPrefix": "checkboxes-stacked-sub-headings-group-2",
      "name": "checkboxes-stacked-sub-headings",
      "items": [
        {
          "value": "a",
          "text": "Option A"
        },
        {
          "value": "b",
          "text": "Option B"
        },
        {
          "value": "c",
          "text": "Option C"
        }
      ]
    }) }}

    {{ govukCheckboxes({
      "fieldset": {
        "legend": {
          text: "Group 3",
          classes: "govuk-fieldset__legend--s"
        }
      },
      "idPrefix": "checkboxes-stacked-sub-headings-group-3",
      "name": "checkboxes-stacked-sub-headings",
      "items": [
        {
          "value": "a",
          "text": "Option A"
        },
        {
          "value": "b",
          "text": "Option B"
        },
        {
          "value": "c",
          "text": "Option C"
        }
      ]
    }) }}

    {% endcall %}

    <span id="date"></span>
    {{- govukDateInput({
      "fieldset": {
        "legend": {
          "text": "What is your date of birth?",
          "classes": "govuk-fieldset__legend--m"
        }
      },
      "hint": {
        "text": "For example, 31 3 1980"
      },
      "id": "dob",
      "name": "dob"
    }) -}}

    {% call govukFieldset() %}
      <span id="select"></span>
      {{ govukSelect({
        "id": "select-1",
        "name": "select-1",
        "label": {
          "html": "Label text goes here"
        },
        "items": [
          {
            "value": 1,
            "text": "GOV.UK frontend option 1"
          },
          {
            "value": 2,
            "text": "GOV.UK frontend option 2",
            "selected": true
          },
          {
            "value": 3,
            "text": "GOV.UK frontend option 3"
          }
        ]
      }) }}
    {% endcall %}

    {% call govukFieldset() %}
      <span id="file"></span>
      {{- govukFileUpload({
        id: 'file-upload-1',
        name: 'file-upload-1',
        label: {
          text: 'Upload a file'
        }
      }) -}}
    {% endcall %}

  </form>
{% endblock %}
