{% from "back-link/macro.njk" import moalandBackLink %}
{% from "fieldset/macro.njk" import moalandFieldset %}
{% from "input/macro.njk" import moalandInput %}
{% from "button/macro.njk" import moalandButton %}
{% from "radios/macro.njk" import moalandRadios %}
{% from "checkboxes/macro.njk" import moalandCheckboxes %}
{% from "date-input/macro.njk" import moalandDateInput %}
{% from "select/macro.njk" import moalandSelect %}
{% from "file-upload/macro.njk" import moalandFileUpload %}

{% extends "layout.njk" %}

{% block beforeContent %}
  {{ moalandBackLink({
    "href": "/"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="moaland-heading-xl">Form elements</h1>

  <ul class="moaland-list moaland-list--bullet">
    <li><a href="#input" class="moaland-link">Label and text input</a></li>
    <li><a href="#textarea" class="moaland-link">Label and textarea</a></li>
    <li><a href="#radio-stacked" class="moaland-link">Fieldset, legend and radio buttons (stacked)</a></li>
    <li><a href="#radio-inline" class="moaland-link">Fieldset, legend and radio buttons (inline - yes or no)</a></li>
    <li><a href="#checkboxes-stacked" class="moaland-link">Fieldset, legend and checkboxes (stacked)</a></li>
    <li><a href="#date" class="moaland-link">Date pattern</a></li>
    <li><a href="#select" class="moaland-link">Select box</a></li>
    <li><a href="#file" class="moaland-link">File upload</a></li>
  </ul>

  <form action="/" method="post">
    {% call moalandFieldset() %}
      <span id="input"></span>
      {{ moalandInput({
        id: "moaland-input-a",
        label: {
          text: "National Insurance number"
        }
      }) }}
      {{ moalandButton({
        "text": "Save and continue"
      }) }}
    {% endcall %}

    {% call moalandFieldset() %}
      <span id="textarea"></span>
      {% from "textarea/macro.njk" import moalandTextarea %}
      {{ moalandTextarea({
        id: "moaland-textarea-a",
        name: "moaland-textarea-a",
        rows: "5",
        label: {
          text: "Why can't you provide a National Insurance number?"
        }
      }) }}
    {% endcall %}

    <span id="radio-stacked"></span>
    {{ moalandRadios({
      "fieldset": {
        "legend": {
          text: "How do you want to be contacted?",
          classes: "moaland-fieldset__legend--m"
        }
      },
      "idPrefix": "radio-stacked",
      "name": "radio-stacked",
      "items": [
        {
          "value": "email",
          "text": "Email"
        },
        {
          "value": "phone",
          "text": "Phone"
        },
        {
          "value": "text",
          "text": "Text message"
        }
      ]
    }) }}

    <span id="radio-inline"></span>
    {{ moalandRadios({
      "fieldset": {},
      "classes": "moaland-radios--inline",
      "idPrefix": "radio-inline",
      "name": "radio-inline",
      "items": [
        {
          "value": "yes",
          "text": "Yes"
        },
        {
          "value": "no",
          "text": "No"
        }
      ]
    }) }}

    <span id="checkboxes-stacked"></span>
    {{ moalandCheckboxes({
      "fieldset": {},
      "idPrefix": "checkboxes-stacked",
      "name": "checkboxes-stacked",
      "items": [
        {
          "value": "waste-animal",
          "text": "Waste from animal carcasses"
        },
        {
          "value": "waste-mines",
          "text": "Waste from mines or quarries"
        },
        {
          "value": "waste-other",
          "text": "Waste from other"
        }
      ]
    }) }}

    <span id="date"></span>
    {{- moalandDateInput({
      "fieldset": {
        "legend": {
          "text": "What is your date of birth?",
          "classes": "moaland-fieldset__legend--m"
        }
      },
      "hint": {
        "text": "For example, 31 3 1980"
      },
      "id": "dob",
      "name": "dob"
    }) -}}

    {% call moalandFieldset() %}
      <span id="select"></span>
      {{ moalandSelect({
        "id": "select-1",
        "name": "select-1",
        "label": {
          "html": "Label text goes here"
        },
        "items": [
          {
            "value": 1,
            "text": "GOV.UK frontend option 1"
          },
          {
            "value": 2,
            "text": "GOV.UK frontend option 2",
            "selected": true
          },
          {
            "value": 3,
            "text": "GOV.UK frontend option 3"
          }
        ]
      }) }}
    {% endcall %}

    {% call moalandFieldset() %}
      <span id="file"></span>
      {{- moalandFileUpload({
        id: 'file-upload-1',
        name: 'file-upload-1',
        label: {
          text: 'Upload a file'
        }
      }) -}}
    {% endcall %}

  </form>
{% endblock %}
