@use "helpers/colour";
@use "helpers/links";
@use "helpers/media-queries";
@use "helpers/spacing";
@use "helpers/typography";
@use "settings/measurements";
@use "tools/exports";

@use "sass:math";

@include exports.govuk-exports("govuk/component/notification-banner") {
  .govuk-notification-banner {
    @include typography.govuk-font($size: 19);
    @include spacing.govuk-responsive-margin(8, "bottom");

    border: measurements.$govuk-border-width solid;
    border-color: colour.govuk-functional-colour(brand);

    background-color: colour.govuk-functional-colour(brand);

    &:focus {
      outline: measurements.$govuk-focus-width solid;
      outline-color: colour.govuk-functional-colour(focus);
    }
  }

  .govuk-notification-banner__header {
    padding: 2px spacing.govuk-spacing(3) spacing.govuk-spacing(1);

    // Ensures the notification header appears separate to the notification body
    // text in high contrast mode
    border-bottom: 1px solid transparent;

    @media #{media-queries.govuk-from-breakpoint(tablet)} {
      padding: 2px spacing.govuk-spacing(4) spacing.govuk-spacing(1);
    }
  }

  .govuk-notification-banner__title {
    // Set the size again because this element is a heading and the user agent
    // font size overrides the inherited font size
    @include typography.govuk-font-size($size: 19);
    @include typography.govuk-typography-weight-bold;
    margin: 0;
    padding: 0;
    color: colour.govuk-colour("white");
  }

  .govuk-notification-banner__content {
    $padding-tablet: spacing.govuk-spacing(4);
    @include typography.govuk-text-colour;
    padding: spacing.govuk-spacing(3);

    background-color: colour.govuk-functional-colour(body-background);

    @media #{media-queries.govuk-from-breakpoint(tablet)} {
      padding: $padding-tablet;
    }

    // Wrap content at the same place that a 2/3 grid column ends, to maintain
    // shorter line-lengths when the notification banner is full width
    > * {
      // When elements have their own padding (like lists), include the padding
      // in the max-width calculation
      box-sizing: border-box;

      // Calculate the internal width of a two-thirds column...
      $two-col-width: math.div(measurements.$govuk-page-width * 2, 3) - math.div(measurements.$govuk-gutter * 1, 3);

      // ...and then factor in the left border and padding
      $banner-exterior: ($padding-tablet + measurements.$govuk-border-width);
      max-width: $two-col-width - $banner-exterior;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .govuk-notification-banner__heading {
    @include typography.govuk-font-size($size: 24);
    @include typography.govuk-typography-weight-bold;

    margin: 0 0 spacing.govuk-spacing(3);

    padding: 0;
  }

  .govuk-notification-banner__link {
    @include links.govuk-link-common;
    @include links.govuk-link-style-no-visited-state;
  }

  .govuk-notification-banner--success {
    border-color: colour.govuk-functional-colour(success);

    background-color: colour.govuk-functional-colour(success);

    .govuk-notification-banner__link {
      @include links.govuk-link-style-success;
    }
  }
}
