@import "import-once";
@import "../../globals/scss/colours";
@import "../../globals/scss/font-face";
@import "../../globals/scss/typography";
@import "../../globals/scss/media-queries";
@import "../../globals/scss/helpers";

@include exports("button") {
  .govuk-c-button {
    -webkit-appearance: none;
    background-color: $govuk-button-colour;
    position: relative;
    display: inline-block;
    padding: em(10px, 19px) em(15px, 19px) em(5px, 19px);
    border: 0;
    border-radius: 0; //used to be a mixin with vendor
    outline: 1px solid transparent; // keep some button appearance when changing colour settings in browsers
    outline-offset: -1px; // fixes bug in Safari that outline width on focus is not overwritten, is reset to 0 on focus in govuk_template
    box-sizing: border-box;
    vertical-align: top;
    box-shadow: 0 2px 0 darken($govuk-button-colour, 15%);
    @include font-size(19px);
    font-family: $govuk-font-stack;
    line-height: 1.25;
    text-decoration: none;
    @include font-smoothing;
    cursor: pointer;

    // Apply styling up to devices smaller than tablets (exclude tablets)
    @include mq($until: tablet) {
      width: 100%;
      text-align: center;
    }

    // Set text colour depending on background colour
    @if lightness($govuk-button-colour) < 50% {
      color: $govuk-white;

      &:link,
      &:hover,
      &:focus,
      &:visited {
        color: $govuk-white;
      }
    } @else {
      color: $govuk-text-colour;

      &:link,
      &:hover,
      &:focus,
      &:visited {
        color: $govuk-text-colour;
      }
    }

    &:visited {
      background-color: $govuk-button-colour;
    }

    &:hover,
    &:focus {
      background-color: darken($govuk-button-colour, 5%);
    }

    &:active {
      top: 2px;
      box-shadow: 0 0 0 $govuk-button-colour;
    }

    // Fix unwanted button padding in Firefox
    &:-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    &:focus {
      outline: 3px solid $govuk-focus-colour;
    }
  }

  .govuk-c-button--disabled,
  .govuk-c-button[disabled="disabled"],
  .govuk-c-button[disabled] {
    background: $govuk-button-colour;
    opacity: (.5);

    &:hover {
      cursor: default;
      background-color: $govuk-button-colour;
    }

    &:active {
      top: 0;
      box-shadow: 0 2px 0 darken($govuk-button-colour, 15%);
      @include ie-lte(8) {
        border-bottom: 2px solid darken($govuk-button-colour, 15%);
      }
    }
  }

  .govuk-c-button--disabled:focus {
    outline: none;
  }

  .govuk-c-button--start {
    @include bold-24;
    // TODO: Fix padding values
    padding: em(8.842px, 24px) em(51.789px, 24px) em(5.053px, 24px) em(20.211px, 24px);
    background-image: file-url("icon-pointer.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }

  // making the click target bigger than the button
  // (and fill the space made when the button moves)
  .govuk-c-button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  .govuk-c-button:active:before {
    top: -10%;
    height: 120%;

    // IE6 ignores the :before psuedo-class but applies the block to :active
    // It therefore needs to be reset
    @include ie(6) {
      top: auto;
      height: 100%;
    }
  }

  // Fixes a bug where IE puts a black border around certain elements
  @include ie-lte(8) {
    .govuk-c-button[type="submit"],
    .govuk-c-button[type="reset"],
    .govuk-c-button[type="button"] {
      filter: chroma(color = $govuk-black);
    }

    .govuk-c-button[type="submit"].button {
      filter: none;
    }
  }
}
