@import "../../globals/scss/common";

@include exports("button") {
  .govuk-c-button {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: em(40px, 19px);
    margin-top: 0;
    padding: 0 em($govuk-spacing-scale-3, 19px) 0;
    border-width: $govuk-border-width-form-element;
    border-radius: 0;
    border-color: transparent transparent $govuk-button-colour-darken-15 transparent;
    outline: 1px solid transparent; // keep some button appearance when changing colour settings in browsers
    outline-offset: -1px; // fixes bug in Safari that outline width on focus is not overwritten, is reset to 0 on focus in govuk_template
    background-color: $govuk-button-colour;
    font-family: $govuk-font-stack;
    text-align: center;
    @include font-smoothing;
    @include govuk-core-19;
    text-decoration: none;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;

    @include mq($from: tablet) {
      width: initial;
    }

    // Set text colour depending on background colour
    @if lightness($govuk-button-colour) < 50% {
      color: $govuk-white;

      &:link,
      &:hover,
      &:focus,
      &:visited {
        color: $govuk-white;
      }
    } @else {
      color: $govuk-text-colour;

      &:link,
      &:hover,
      &:focus,
      &:visited {
        color: $govuk-text-colour;
      }
    }

    &:visited {
      background-color: $govuk-button-colour;
    }

    &:hover,
    &:focus {
      background-color: darken($govuk-button-colour, 5%);
    }

    &:active {
      top: 2px;
      box-shadow: 0 0 0 $govuk-button-colour;
    }

    // Fix unwanted button padding in Firefox
    &:-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    &:focus {
      outline: $govuk-focus-width solid $govuk-focus-colour;
    }
  }

  .govuk-c-button--disabled,
  .govuk-c-button[disabled="disabled"],
  .govuk-c-button[disabled] {
    opacity: (.5);
    background: $govuk-button-colour;

    &:hover {
      background-color: $govuk-button-colour;
      cursor: default;
    }

    &:active {
      top: 0;
      box-shadow: 0 $govuk-border-width-form-element 0 $govuk-button-colour-darken-15;
      @include ie-lte(8) {
        border-bottom: $govuk-border-width-form-element solid $govuk-button-colour-darken-15;
      }
    }
  }

  .govuk-c-button--disabled:focus {
    outline: none;
  }

  .govuk-c-button--start {
    @include govuk-bold-24;
    // TODO: Check padding values
    min-height: auto;
    padding: em($govuk-spacing-scale-1, 24px) em($govuk-spacing-scale-6, 24px) em($govuk-spacing-scale-1, 24px) em($govuk-spacing-scale-4, 24px);
    background-image: file-url("icon-pointer.png");

    @include govuk-h-device-pixel-ratio {
      background-image: file-url("icon-pointer-2x.png");
      background-size: 30px 19px;
    }

    background-repeat: no-repeat;
    background-position: 100% 50%;
    box-shadow: 0 $govuk-border-width-form-element 0 $govuk-button-colour-darken-15;
    @include ie-lte(8) {
      border-bottom: $govuk-border-width-form-element solid $govuk-button-colour-darken-15;
    }
  }

  // making the click target bigger than the button
  // (and fill the space made when the button moves)
  .govuk-c-button:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 110%;
    background: transparent;
  }

  .govuk-c-button:active:before {
    top: -10%;
    height: 120%;

    // IE6 ignores the :before psuedo-class but applies the block to :active
    // It therefore needs to be reset
    @include ie(6) {
      top: auto;
      height: 100%;
    }
  }

  // Fixes a bug where IE puts a black border around certain elements
  @include ie-lte(8) {
    .govuk-c-button[type="submit"],
    .govuk-c-button[type="reset"],
    .govuk-c-button[type="button"] {
      filter: chroma(color = $govuk-black);
    }

    .govuk-c-button[type="submit"].button {
      filter: none;
    }
  }
}
