{% extends "component.njk" %}
{% from "button/macro.njk" import govukButton %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}

{% block componentDescription %}
A button is an element that allows users to carry out an action on a GOV.UK page. Common use cases include allowing a user to <b>Start</b> an application or <b>Save and continue</b> their progress.

A button should have a short text snippet that describes what it will do.
{% endblock %}

{% block componentDependencies %}
Please note, this component depends on @govuk-frontend/globals and @govuk-frontend/icons, which will automatically be installed with the package.
{% endblock %}
{# componentExample #}

{# componentNunjucks #}

{% block componentHtmlUsageWriteup %}
Buttons are configured to perform an action and they can have a different look. For example, they can be disabled until a valid action has been performed by the user.
{% endblock %}

{% block defaultAndVariants %}
{% for item in componentData.variants %}
{% if item.name == 'default' %}
{% set itemName = 'Component default' %}
{% set previewLink = "/components/" + componentName + '/' + "/preview" %}
{% set previewText = 'Preview the ' + componentName + ' component' %}
{% else %}
{% set itemName = componentName + '--' + item.name %}
{% set previewLink = "/components/" + componentName + '/' + componentName + '--' + item.name  + "/preview" %}
{% set previewText = 'Preview the ' + itemName + ' variant' %}
{% endif %}
<h3 class="govuk-u-bold-19">{{ itemName  | capitalize }}</h3>
{% if not isReadme %}
{{ govukButton(item.data) }}
{% endif %}
<p class="govuk-u-copy-19">
<a href="{% if isReadme %}http://govuk-frontend-review.herokuapp.com{% endif %}{{ previewLink }}">{{previewText}}
</a>
</p>
<h4 class="govuk-u-copy-19">Markup</h4>
{% set componentHtml %}
{{- govukButton(item.data) -}}
{% endset %}
<pre><code>{{- componentHtml | e -}}</code></pre>
<h4 class="govuk-u-copy-19">Macro</h4>
<pre><code>{% raw %}{{ govukButton({% endraw %}{{ item.data | dump }}{% raw %})}}{% endraw %}</code></pre>
{% endfor %}
{% endblock %}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{% from "table/macro.njk" import govukTable %}
{{ govukTable(
  classes='',
  options = {
    'isFirstCellHeader': 'true'
  },
  data = {
    'head' : [
      {
        text: 'Name'
      },
      {
        text: 'Type'
      },
      {
        text: 'Required'
      },
      {
        text: 'Description'
      }
    ],
    'rows' : [
      [
        {
          text: 'classes'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'Optional additional classes'
        }
      ],
      [
        {
          text: 'text'
        },
        {
          text: 'string'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Button or link text'
        }
      ],
      [
        {
          text: 'isStart'
        },
        {
          text: 'boolean'
        },
        {
          text: 'No'
        },
        {
          text: 'Adds the class govuk-c-button--start for a "Start now" button'
        }
      ],
      [
        {
          text: 'isDisabled'
        },
        {
          text: 'boolean'
        },
        {
          text: 'No'
        },
        {
          text: 'Disables the button - adds the class govuk-c-button--disabled and sets disabled="disabled" and aria-disabled="true"'
        }
      ],
       [
        {
          text: 'url'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'Url that the hyperlink points to'
        }
      ]
    ]
  }
)}}
{% endblock %}
