{% macro govukButton(classes='', value, type) %}
  {% include './template.njk' %}
{% endmacro %}

{% macro govukButtonLink(classes='', url, text) %}
  {% include './template-button-link.njk' %}
{% endmacro %}
