<input class="govuk-c-button {{ classes}}" {% if value %}value="{{ value }}"{% endif %} {% if type %}type="{{ type }}"{% endif %} {% if isDisabled %}disabled="disabled" aria-disabled="true"{% endif %}>
