{% if url %}
<a class="govuk-c-button {% if isStart %}govuk-c-button--start{% endif %} {{ classes}}" href="{{ url | safe }}" role="button">
  {% if text %}{{ text }}{% endif %}
</a>
{% else %}
<input class="govuk-c-button {% if isDisabled %}govuk-c-button--disabled{% endif %} {{ classes}}"
  {% if text %}value="{{ text }}"{% endif %}
  {% if isDisabled %}disabled="disabled" aria-disabled="true"{% endif %}>
{% endif %}
