// Brand colours
$govuk-blue: #005ea5;
$govuk-mainstream-brand: $govuk-blue;

// Standard palette, colours
$govuk-purple: #2e358b;
$govuk-purple-50: #9799c4;
$govuk-purple-25: #d5d6e7;
$govuk-mauve: #6f72af;
$govuk-mauve-50: #b7b9d7;
$govuk-mauve-25: #e2e2ef;
$govuk-fuchsia: #912b88;
$govuk-fuchsia-50: #c994c3;
$govuk-fuchsia-25: #e9d4e6;
$govuk-pink: #d53880;
$govuk-pink-50: #eb9bbe;
$govuk-pink-25: #f6d7e5;
$govuk-baby-pink: #f499be;
$govuk-baby-pink-50: #faccdf;
$govuk-baby-pink-25: #fdebf2;
$govuk-red: #b10e1e;
$govuk-red-50: #d9888c;
$govuk-red-25: #efcfd1;
$govuk-mellow-red: #df3034;
$govuk-mellow-red-50: #ef9998;
$govuk-mellow-red-25: #f9d6d6;
$govuk-orange: #f47738;
$govuk-orange-50: #fabb96;
$govuk-orange-25: #fde4d4;
$govuk-brown: #b58840;
$govuk-brown-50: #dac39c;
$govuk-brown-25: #f0e7d7;
$govuk-yellow: #ffbf47;
$govuk-yellow-50: #ffdf94;
$govuk-yellow-25: #fff2d3;
$govuk-grass-green: #85994b;
$govuk-grass-green-50: #c2cca3;
$govuk-grass-green-25: #e7ebda;
$govuk-green: #006435;
$govuk-green-50: #7fb299;
$govuk-green-25: #cce0d6;
$govuk-turquoise: #28a197;
$govuk-turquoise-50: #95d0cb;
$govuk-turquoise-25: #d5ecea;
$govuk-light-blue: #2b8cc4;
$govuk-light-blue-50: #96c6e2;
$govuk-light-blue-25: #d5e8f3;

// Standard palette, greys
$govuk-black: #0b0c0c;
$govuk-grey-1: #6f777b;
$govuk-grey-2: #bfc1c3;
$govuk-grey-3: #dee0e2;
$govuk-grey-4: #f8f8f8;
$govuk-white: #ffffff;
