// We default these settings to true so that if they are missed we opt for a
// mild performance hit over a potential broken experience for the end-user.

/// Compatibility Mode: alphagov/govuk_frontend_toolkit
///
/// @type Boolean True if used in a project that also includes
///               alphagov/govuk_frontend_toolkit.

$govuk-compatibility-govukfrontendtoolkit: true !default;

/// Compatibility Mode: alphagov/govuk_template
///
/// @type Boolean True if used in a project that also includes
///               alphagov/govuk_template

$govuk-compatibility-govuktemplate: true !default;

/// Compatibility Mode: alphagov/govuk_elements
///
/// @type Boolean True if used in a project that also includes
///               alphagov/govuk_elements

$govuk-compatibility-govukelements: true !default;

/// Compatibility Product Map
///
/// @type Map Map of product names to their settings that we can use to lookup
///           states from within the `@govuk-compatibility` mixin.

$govuk-compatibility: (
  govuk_frontend_toolkit: $govuk-compatibility-govukfrontendtoolkit,
  govuk_template: $govuk-compatibility-govuktemplate,
  govuk_elements: $govuk-compatibility-govukelements,
);
