@use "../../core/lists";
@use "helpers/colour";
@use "helpers/links";
@use "helpers/spacing";
@use "helpers/typography";
@use "settings/measurements";
@use "tools/exports";

@include exports.govuk-exports("govuk/component/error-summary") {
  .govuk-error-summary {
    @include typography.govuk-font($size: 19);
    @include typography.govuk-text-colour;
    @include spacing.govuk-responsive-padding(4);
    @include spacing.govuk-responsive-margin(8, "bottom");

    border: measurements.$govuk-border-width solid;
    border-color: colour.govuk-functional-colour(error);

    &:focus {
      outline: measurements.$govuk-focus-width solid;
      outline-color: colour.govuk-functional-colour(focus);
    }
  }

  .govuk-error-summary__title {
    @include typography.govuk-font-size($size: 24);
    @include typography.govuk-typography-weight-bold;

    margin-top: 0;
    @include spacing.govuk-responsive-margin(4, "bottom");
  }

  .govuk-error-summary__body {
    p {
      margin-bottom: 0;
    }

    > * + * {
      @include spacing.govuk-responsive-margin(4, "top");
    }

    > :last-child {
      @include spacing.govuk-responsive-margin(1, "bottom");
    }
  }

  // Cross-component class - adjusts styling of list component
  .govuk-error-summary__list {
    margin-bottom: 0;
  }

  // Remove the bottom margin from the last list item
  .govuk-error-summary__list li:last-child {
    margin-bottom: 0;
  }

  .govuk-error-summary__list a {
    @include typography.govuk-typography-weight-bold;
    @include links.govuk-link-common;
    @include links.govuk-link-style-error;
  }
}
