@import "../../core/lists";

@include govuk-exports("govuk/component/error-summary") {
  .govuk-error-summary {
    @include govuk-font($size: 19);
    @include govuk-text-colour;
    padding: govuk-responsive-spacing(4);
    margin-bottom: govuk-responsive-spacing(8);

    border: $govuk-border-width solid;
    border-color: govuk-functional-colour(error);

    &:focus {
      outline: $govuk-focus-width solid;
      outline-color: govuk-functional-colour(focus);
    }
  }

  .govuk-error-summary__title {
    @include govuk-font-size($size: 24);
    @include govuk-typography-weight-bold;

    margin-top: 0;
    margin-bottom: govuk-responsive-spacing(4);
  }

  .govuk-error-summary__body {
    p {
      margin-bottom: 0;
    }

    > * + * {
      margin-top: govuk-responsive-spacing(4);
    }

    > :last-child {
      margin-bottom: govuk-responsive-spacing(1);
    }
  }

  // Cross-component class - adjusts styling of list component
  .govuk-error-summary__list {
    margin-bottom: 0;
  }

  // Remove the bottom margin from the last list item
  .govuk-error-summary__list li:last-child {
    margin-bottom: 0;
  }

  .govuk-error-summary__list a {
    @include govuk-typography-weight-bold;
    @include govuk-link-common;
    @include govuk-link-style-error;
  }
}
