---
scenario: >-
  You want to know when the next bank holiday will be.


  Things to try:

  1. Find out when the next bank holiday is in Scotland.

  2. Find out when the Boxing Day bank holiday is in 2020.

notes: >-
  This example is based on https://www.gov.uk/bank-holidays.
  The data is not 'live' and so the answer is unlikely to be correct.
---
{% extends "_generic.njk" %}

{% from "breadcrumbs/macro.njk" import moalandBreadcrumbs %}
{% from "tabs/macro.njk" import moalandTabs %}
{% from "panel/macro.njk" import moalandPanel %}
{% from "table/macro.njk" import moalandTable %}

{% set pageTitle = "UK bank holidays" %}
{% block pageTitle %}{{ pageTitle }} - GOV.MOA{% endblock %}

{% block beforeContent %}
  {{ moalandBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#/"
      },
      {
        text: "Working, jobs and pensions",
        href: "#/browse/working"
      },
      {
        text: "Holidays, time off, sick leave, maternity and paternity leave",
        href: "#/browse/working/time-off"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-two-thirds">
      <h1 class="moaland-heading-xl">{{ pageTitle }}</h1>

      {% set englandAndWalesHTML %}

        {% set englandAndWalesPanelTitleHtml %}
          <span class='moaland-!-font-size-36 moaland-!-margin-bottom-4 moaland-!-display-block'>
            The next bank holiday in England and Wales is
          </span>
          19 April
        {% endset %}

        {{ moalandPanel({
          headingLevel: 2,
          titleHtml: englandAndWalesPanelTitleHtml,
          text: 'Good Friday'
        }) }}

        <hr class="moaland-section-break moaland-section-break--l">

        <h2 class="moaland-heading-m">Upcoming bank holidays in England and Wales</h2>

        {{ moalandTable({
          caption: "2019",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "19 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],
            [
              {
                text: "22 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "6 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "27 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "26 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Wednesday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "26 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2020",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "1 January"
              },
              {
                text: "Wednesday"
              },
              {
                text: "New Year’s Day"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ]
          ]
        }) }}
        <p class="moaland-body">If a bank holiday is on a weekend, a ‘substitute’ weekday becomes a bank holiday, normally the following Monday.</p>

        <p class="moaland-body">Your employer doesn’t have to give you <a class="moaland-link" href="/holiday-entitlement-rights" title="Holiday entitlement rights">paid leave on bank or public holidays</a>.</p>

        <p class="moaland-body">Bank holidays might affect <a class="moaland-link" href="/how-to-have-your-benefits-paid">how and when your benefits are paid</a>.</p>

        <hr class="moaland-section-break moaland-section-break--m">

        <h2 class="moaland-heading-m">Past bank holidays in England and Wales</h2>

        {{ moalandTable({
          caption: "2019",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "1 January"
              },
              {
                text: "Tuesday"
              },
              {
                text: "New Year's Day"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2018",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2017",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2016",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2015",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2014",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2013",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2012",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}

      {% endset %} {# end of englandAndWalesHTML #}

      {% set scotlandHTML %}

        {% set scotlandPanelTitleHtml %}
          <span class='moaland-!-font-size-36 moaland-!-margin-bottom-4 moaland-!-display-block'>
            The next bank holiday in Scotland is
          </span>
          19 April
        {% endset %}

        {{ moalandPanel({
          headingLevel: 2,
          titleHtml: scotlandPanelTitleHtml,
          text: 'Good Friday'
        }) }}

        <hr class="moaland-section-break moaland-section-break--l">

        <h2 class="moaland-heading-m">Upcoming bank holidays in Scotland</h2>


        {{ moalandTable({
          caption: "2019",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "19 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],
            [
              {
                text: "6 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "27 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "5 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "2 December"
              },
              {
                text: "Monday"
              },
              {
                text: "St Andrew’s Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Wednesday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "26 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2020",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "1 January"
              },
              {
                text: "Wednesday"
              },
              {
                text: "New Year’s Day"
              }
            ],
            [
              {
                text: "2 January"
              },
              {
                text: "Thursday"
              },
              {
                text: "2nd January"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "3 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "30 November"
              },
              {
                text: "Monday"
              },
              {
                text: "St Andrew’s Day"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ]
          ]
        }) }}

        <p class="moaland-body">If a bank holiday is on a weekend, a ‘substitute’ weekday becomes a bank holiday, normally the following Monday.</p>

        <p class="moaland-body">Your employer doesn’t have to give you <a class="moaland-link" href="/holiday-entitlement-rights" title="Holiday entitlement rights">paid leave on bank or public holidays</a>.</p>

        <p class="moaland-body">Bank holidays might affect <a class="moaland-link" href="/how-to-have-your-benefits-paid">how and when your benefits are paid</a>.</p>

        <hr class="moaland-section-break moaland-section-break--m">

        <h2 class="moaland-heading-m">Past bank holidays in Scotland</h2>

        {{ moalandTable({
          caption: "2019",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "1 January"
              },
              {
                text: "Tuesday"
              },
              {
                text: "New Year’s Day"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2018",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "30 November"
              },
              {
                text: "Monday"
              },
              {
                text: "St Andrew’s Day"
              }
            ],
            [
              {
                text: "3 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],

            [
              {
                text: "2 January"
              },
              {
                text: "Thursday"
              },
              {
                text: "2nd January"
              }
            ],
            [
              {
                text: "1 January"
              },
              {
                text: "Wednesday"
              },
              {
                text: "New Year’s Day"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2017",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "30 November"
              },
              {
                text: "Monday"
              },
              {
                text: "St Andrew’s Day"
              }
            ],
            [
              {
                text: "3 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],

            [
              {
                text: "2 January"
              },
              {
                text: "Thursday"
              },
              {
                text: "2nd January"
              }
            ],
            [
              {
                text: "1 January"
              },
              {
                text: "Wednesday"
              },
              {
                text: "New Year’s Day"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2016",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "30 November"
              },
              {
                text: "Monday"
              },
              {
                text: "St Andrew’s Day"
              }
            ],
            [
              {
                text: "3 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],

            [
              {
                text: "2 January"
              },
              {
                text: "Thursday"
              },
              {
                text: "2nd January"
              }
            ],
            [
              {
                text: "1 January"
              },
              {
                text: "Wednesday"
              },
              {
                text: "New Year’s Day"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2015",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "30 November"
              },
              {
                text: "Monday"
              },
              {
                text: "St Andrew’s Day"
              }
            ],
            [
              {
                text: "3 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],

            [
              {
                text: "2 January"
              },
              {
                text: "Thursday"
              },
              {
                text: "2nd January"
              }
            ],
            [
              {
                text: "1 January"
              },
              {
                text: "Wednesday"
              },
              {
                text: "New Year’s Day"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2014",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "30 November"
              },
              {
                text: "Monday"
              },
              {
                text: "St Andrew’s Day"
              }
            ],
            [
              {
                text: "3 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],

            [
              {
                text: "2 January"
              },
              {
                text: "Thursday"
              },
              {
                text: "2nd January"
              }
            ],
            [
              {
                text: "1 January"
              },
              {
                text: "Wednesday"
              },
              {
                text: "New Year’s Day"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2013",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "30 November"
              },
              {
                text: "Monday"
              },
              {
                text: "St Andrew’s Day"
              }
            ],
            [
              {
                text: "3 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],

            [
              {
                text: "2 January"
              },
              {
                text: "Thursday"
              },
              {
                text: "2nd January"
              }
            ],
            [
              {
                text: "1 January"
              },
              {
                text: "Wednesday"
              },
              {
                text: "New Year’s Day"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2012",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "30 November"
              },
              {
                text: "Monday"
              },
              {
                text: "St Andrew’s Day"
              }
            ],
            [
              {
                text: "3 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],

            [
              {
                text: "2 January"
              },
              {
                text: "Thursday"
              },
              {
                text: "2nd January"
              }
            ],
            [
              {
                text: "1 January"
              },
              {
                text: "Wednesday"
              },
              {
                text: "New Year’s Day"
              }
            ]
          ]
        }) }}
      {% endset %} {# end of scotlandHTML #}

      {% set irelandHTML %}

        {% set irelandPanelTitleHtml %}
          <span class='moaland-!-font-size-36 moaland-!-margin-bottom-4 moaland-!-display-block'>
            The next bank holiday in Northern Ireland is
          </span>
          19 April
        {% endset %}

        {{ moalandPanel({
          headingLevel: 2,
          titleHtml: irelandPanelTitleHtml,
          text: 'Good Friday'
        }) }}

        <hr class="moaland-section-break moaland-section-break--l">

        <h2 class="moaland-heading-m">Upcoming bank holidays in Northern Ireland</h2>


        {{ moalandTable({
          caption: "2019",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "18 March"
              },
              {
                text: "Monday"
              },
              {
                text: "St Patrick’s Day (substitute day)"
              }
            ],
            [
              {
                text: "19 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],
            [
              {
                text: "22 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "6 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "27 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "12 July"
              },
              {
                text: "Friday"
              },
              {
                text: "Battle of the Boyne (Orangemen’s Day)"
              }
            ],
            [
              {
                text: "26 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Wednesday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "26 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2020",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "1 January"
              },
              {
                text: "Wednesday"
              },
              {
                text: "New Year’s Day"
              }
            ],
            [
              {
                text: "17 March"
              },
              {
                text: "Tuesday"
              },
              {
                text: "St Patrick’s Day"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "13 July"
              },
              {
                text: "Monday"
              },
              {
                text: "Battle of the Boyne (Orangemen’s Day) (substitute day)"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ]
          ]
        }) }}

        <p class="moaland-body">If a bank holiday is on a weekend, a ‘substitute’ weekday becomes a bank holiday, normally the following Monday.</p>

        <p class="moaland-body">Your employer doesn’t have to give you <a class="moaland-link" href="/holiday-entitlement-rights" title="Holiday entitlement rights">paid leave on bank or public holidays</a>.</p>

        <p class="moaland-body">Bank holidays might affect <a class="moaland-link" href="/how-to-have-your-benefits-paid">how and when your benefits are paid</a>.</p>

        <hr class="moaland-section-break moaland-section-break--m">

        <h2 class="moaland-heading-m">Past bank holidays in Northern Ireland</h2>

        {{ moalandTable({
          caption: "2019",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "1 January"
              },
              {
                text: "Tuesday"
              },
              {
                text: "New Year's Day"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2018",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2017",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2016",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2015",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2014",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2013",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}

        {{ moalandTable({
          caption: "2012",
          captionClasses: "moaland-!-margin-bottom-4",
          head: [
            {
              text: "Date",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Day",
              classes: "moaland-visually-hidden"
            },
            {
              text: "Name",
              classes: "moaland-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "28 December"
              },
              {
                text: "Thursday"
              },
              {
                text: "Boxing Day (substitute day)"
              }
            ],
            [
              {
                text: "25 December"
              },
              {
                text: "Friday"
              },
              {
                text: "Christmas Day"
              }
            ],
            [
              {
                text: "31 August"
              },
              {
                text: "Monday"
              },
              {
                text: "Summer bank holiday"
              }
            ],
            [
              {
                text: "25 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Spring bank holiday"
              }
            ],
            [
              {
                text: "4 May"
              },
              {
                text: "Monday"
              },
              {
                text: "Early May bank holiday"
              }
            ],
            [
              {
                text: "13 April"
              },
              {
                text: "Monday"
              },
              {
                text: "Easter Monday"
              }
            ],
            [
              {
                text: "10 April"
              },
              {
                text: "Friday"
              },
              {
                text: "Good Friday"
              }
            ]
          ]
        }) }}
      {% endset %} {# end of irelandHTML #}

      {# "<article>" tag used in https://www.gov.uk/bank-holidays #}
      <article>

        {{ moalandTabs({
          items: [
            {
              label: "England and Wales",
              id: "tab_england-and-wales",
              panel: {
                html: englandAndWalesHTML
              }
            },
            {
              label: "Scotland",
              id: "tab_scotland",
              panel: {
                html: scotlandHTML
              }
            },
            {
              label: "Northern Ireland",
              id: "tab_northern-ireland",
              panel: {
                html: irelandHTML
              }
            }
          ]
        }) }}

        <p class="moaland-body">Last updated: 8 February 2019</p>
      </article>

    </div>

    <div class="moaland-grid-column-one-third">

      <!-- The Related items component is not part of GOV.MOA Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="moaland-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="moaland-list moaland-!-font-size-16">
            <li class="gem-c-related-navigation__link">
              <a class="moaland-link" href="#/holiday-entitlement-rights">Holiday entitlement</a>
            </li>
            <li class="gem-c-related-navigation__link">
              <a class="moaland-link" href="#/school-term-holiday-dates">School term and holiday dates</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
