@import "../globals/tools/exports";
@import "../globals/tools/iff";

@import "../globals/settings/colours-palette";
@import "../globals/settings/colours-applied";
@import "../globals/settings/spacing";
@import "../globals/settings/measurements";

@import "../globals/helpers/clearfix";
@import "../globals/helpers/spacing";
@import "../globals/helpers/media-queries";

@import "../globals/helpers/typography";
@import "../globals/settings/typography-font-stacks";
@import "../globals/settings/typography-font";
@import "../globals/settings/typography-responsive";

@import "../globals/objects/form-group";

@include govuk-exports("fieldset") {
  .govuk-fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    @include govuk-clearfix;
  }

  .govuk-fieldset__legend {
    @include govuk-font-regular-19;
    @include govuk-text-colour;

    // Fix legend text wrapping in Edge and IE
    // 1. IE9-11 & Edge 12-13
    // 2. IE8-11
    box-sizing: border-box; // 1
    display: table;         // 2
    max-width: 100%;        // 1
    margin-bottom: $govuk-spacing-scale-4;
    padding: 0;
    // Hack to let legends or elements within legends have margins in webkit browsers
    overflow: hidden;

    white-space: normal;    // 1
  }

  // Modifiers that make legends look more like their equivalent headings

  .govuk-fieldset__legend--xl {
    @include govuk-font-bold-48;
    margin-bottom: $govuk-spacing-scale-3;
  }

  .govuk-fieldset__legend--l {
    @include govuk-font-bold-36;
    margin-bottom: $govuk-spacing-scale-3;
  }

  .govuk-fieldset__legend--m {
    @include govuk-font-bold-24;
    margin-bottom: $govuk-spacing-scale-1;
  }

  .govuk-fieldset__legend--s {
    @include govuk-font-bold-19;
  }

  // When the legend contains an H1, we want the H1 to inherit all styles from
  // the legend. Effectively we want to be able to treat the heading as if it is
  // not there.
  .govuk-fieldset__heading {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
  }
}
