{% from "fieldset/macro.njk" import govukFieldset %}

{{ govukFieldset({
  "legend": {
    "text": "Legend text goes here"
  },
  "hint": {
    "text": "Legend hint text goes here"
  },
  "errorMessage": {
    "text": "Error message goes here"
  }
}) }}
