@use "../error-message/index";
@use "../hint/index" as index2;
@use "../label/index" as index3;
@use "../textarea/index" as index4;
@use "helpers/colour";
@use "helpers/spacing";
@use "helpers/typography";
@use "settings/measurements";
@use "tools/exports";

@include exports.govuk-exports("govuk/component/character-count") {
  .govuk-character-count {
    @include spacing.govuk-responsive-margin(6, "bottom");

    .govuk-form-group,
    .govuk-textarea {
      margin-bottom: spacing.govuk-spacing(1);
    }

    // If the textarea enters the error state whilst the user is focused on it,
    // show the error state. This presents feedback to the user that the value
    // has become invalid without needing to see the counter.
    .govuk-textarea--error:focus {
      border-color: colour.govuk-functional-colour(error);
      box-shadow: inset 0 0 0 measurements.$govuk-border-width-form-element colour.govuk-functional-colour(error);
    }
  }

  .govuk-character-count__message {
    @include typography.govuk-font-tabular-numbers;
    margin-top: 0;
    margin-bottom: 0;

    &::after {
      // Zero-width space that will reserve vertical space when no hint is
      // provided as:
      // - setting a min-height is not possible without a magic number because
      //   the line-height is set by the `govuk-font` call above
      // - using `:empty` is not possible as the hint macro outputs line breaks
      content: "\200B";
    }
  }

  .govuk-character-count__message--disabled {
    visibility: hidden;
  }
}
