@import "../error-message/index";
@import "../input/index";
@import "../hint/index";
@import "../label/index";

@include moaland-exports("moaland/component/date-input") {
  .moaland-date-input {
    @include moaland-clearfix;
    // font-size: 0 removes whitespace caused by inline-block
    font-size: 0;
  }

  .moaland-date-input__item {
    display: inline-block;
    margin-right: moaland-spacing(4);
    margin-bottom: 0;
  }

  .moaland-date-input__label {
    display: block;
  }

  .moaland-date-input__input {
    margin-bottom: 0;
  }
}
