{% extends "layout.njk" %}

{% block content %}

{% set variants = {
  'Link': '',
  'Muted Link': 'govuk-link--muted'
} %}

{% set states = {
  'Link': ':link',
  'Visited link': ':visited',
  'Hovered link': ':hover',
  'Active link': ':active',
  'Focussed link': ':focus',
  'Focussed visited link': ':focus :visited',
  'Focussed hovered link': ':focus :hover',
  'Focussed active link': ':focus :active'
} %}

<div class="govuk-o-grid govuk-!-mt-r9">
  <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Links</span>
      GOV.UK Frontend
    </h1>

  {% for variant_description, variant_class in variants %}

    <section class="govuk-!-mt-r8">
      <h2 class="govuk-heading-l">{{ variant_description }}</h2>

    {% for state_description, state_class in states %}
      <p class="govuk-body">
        <a href="#" class="govuk-link {{ variant_class }} {{ state_class }}">
          {{ state_description}}
        </a>
      </p>
    {% endfor %}
    </section>
  {% endfor %}

  </div>
</div>

{% endblock %}
