@include govuk-exports("govuk/component/header") {
  $govuk-header-background: govuk-colour("black");
  $govuk-header-border-color: $govuk-brand-colour;
  $govuk-header-border-width: govuk-spacing(2);
  $govuk-header-text: govuk-colour("white");
  $govuk-header-link-active: #1d8feb;
  $govuk-header-nav-item-border-color: #2e3133;
  $govuk-header-link-underline-thickness: 3px;
  $govuk-header-vertical-spacing-value: 2;
  // This crown height is only used to calculate top offset of mobile menu button
  // as the crown svg height is the only thing that controls the height of the header
  $govuk-header-crown-height: 30px;
  $govuk-header-menu-button-height: 24px;

  .govuk-header {
    @include govuk-font($size: 16, $line-height: 1);

    border-bottom: govuk-spacing(2) solid $govuk-header-border-color;
    color: $govuk-header-text;
    background: $govuk-header-background;
  }

  .govuk-header__container--full-width {
    padding: 0 govuk-spacing(3);
    border-color: $govuk-header-border-color;
  }

  .govuk-header__container {
    @include govuk-clearfix;
    position: relative;
    padding: govuk-spacing($govuk-header-vertical-spacing-value) 0;

    @include govuk-media-query($from: tablet) {
      display: flex;
      align-items: center;
    }
  }

  // Pushes other header content over to the right on tablet+ viewports.
  .govuk-header__logo {
    margin-right: auto;
  }

  .govuk-header__logotype {
    display: inline-block;
    position: relative;
    top: -3px;

    // Add a gap after the logo in case it's followed by a product name. This
    // gets removed later if the logotype is a :last-child.
    margin-right: govuk-spacing(1);
    fill: currentcolor;
    vertical-align: top;

    // Prevent readability backplate from obscuring underline in Windows High
    // Contrast Mode
    @media (forced-colors: active) {
      forced-color-adjust: none;
      color: linktext;
    }

    // Remove the gap after the logo if there's no product name to keep hover
    // and focus states neat
    &:last-child {
      margin-right: 0;
    }
  }

  .govuk-header__product-name {
    $product-name-offset: if($govuk-new-typography-scale, 7px, 10px);
    $product-name-offset-tablet: 5px;

    @include govuk-font-size($size: 24, $line-height: 1);
    @include govuk-typography-weight-regular;
    display: block;

    // Maintain space below logo when wrapped
    margin-top: $product-name-offset;

    // Firefox places the GOV.UK logo one pixel higher, due to how it rounds
    // subpixels, so nudge the product name in FF to still be aligned.
    @-moz-document url-prefix() {
      margin-top: $product-name-offset - 0.5px;
    }

    // Align vertically with logo when not wrapped
    vertical-align: top;

    @include govuk-media-query($from: tablet) {
      display: inline-table;
      margin-top: $product-name-offset-tablet;
      @-moz-document url-prefix() {
        margin-top: $product-name-offset-tablet - 0.5px;
      }
    }
  }

  .govuk-header__link {
    // Avoid using the `govuk-link-common` mixin because the links in the header
    // get a special treatment, because:
    //
    // - underlines are only visible on hover
    // - all links get a 3px underline regardless of text size, as there are
    //   multiple grouped elements close to one another and having slightly
    //   different underline widths looks unbalanced
    @include govuk-link-style-inverse;

    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: $govuk-header-link-underline-thickness;

      @if $govuk-link-underline-offset {
        text-underline-offset: $govuk-link-underline-offset;
      }
    }

    &:focus {
      @include govuk-focused-text;
    }
  }

  .govuk-header__link--homepage {
    // Font size needs to be set on the link so that the box sizing is correct
    // in Firefox
    display: inline-block;
    margin-right: govuk-spacing(2);
    font-size: 30px; // We don't have a mixin that produces 30px font size

    @include govuk-media-query($from: desktop) {
      display: inline;

      &:focus {
        // Replicate the focus box shadow but without the -2px y-offset of the first yellow shadow
        // This is to stop the logo getting cut off by the box shadow when focused on above a product name
        box-shadow: 0 0 $govuk-focus-colour;
      }
    }

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:active {
      // Negate the added border
      margin-bottom: $govuk-header-link-underline-thickness * -1;
      border-bottom: $govuk-header-link-underline-thickness solid;
    }

    // Remove any borders that show when focused and hovered.
    &:focus {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  .govuk-header__link--one-login {
    @include govuk-typography-weight-bold;

    // Hide the user icon on narrow screens, as it already appears in the toggle menu
    @include govuk-media-query($until: tablet) {
      .govuk-header__one-login-icon {
        display: none;
      }
    }

    @include govuk-media-query($from: tablet) {
      display: flex;
      justify-content: center;
    }
  }

  // Apply specific styles to the icon when the One Login link is focused.
  // TODO: I wrote this in such a way that avoids adding classes into the SVG's elements, but this
  // does feel nasty. Should probably change this for some other method.
  .govuk-header__link--one-login:focus .govuk-header__one-login-icon {
    // Background
    circle:nth-child(1) {
      fill: $govuk-focus-text-colour;
    }

    circle:nth-child(4) {
      stroke: $govuk-focus-text-colour;
    }

    // Foreground (person)
    path,
    circle:nth-child(3) {
      fill: $govuk-focus-colour;
    }
  }

  .govuk-header__one-login-icon {
    margin-left: govuk-spacing(2);
    font-size: 0;
  }

  .govuk-header__one-login-toggle {
    @include govuk-font($size: 16);
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: (((govuk-spacing($govuk-header-vertical-spacing-value) * 2) + $govuk-header-crown-height) / 2) -
      ($govuk-header-menu-button-height / 2);
    right: 0;
    min-height: $govuk-header-menu-button-height;
    margin: 0;
    padding: 0;
    border: 0;
    color: govuk-colour("white");
    background: none;
    word-break: break-all;
    cursor: pointer;

    &:hover {
      text-decoration: solid underline $govuk-header-link-underline-thickness;

      @if $govuk-link-underline-offset {
        text-underline-offset: $govuk-link-underline-offset;
      }
    }

    &:focus {
      @include govuk-focused-text;
    }

    &::before {
      @include govuk-shape-arrow($direction: down, $base: 10px, $display: inline-block);
      content: "";
      margin-right: govuk-spacing(1);
    }

    &[aria-expanded="true"]::before {
      @include govuk-shape-arrow($direction: up, $base: 10px, $display: inline-block);
    }

    // Ensure the button stays hidden if the hidden attribute is present
    &[hidden] {
      display: none;
    }
  }

  // Prevent the One Login links wrapping onto multiple lines when a product name squeezes them
  .govuk-header__one-login-menu {
    flex-shrink: 0;
  }

  .govuk-header__one-login-menu-list {
    margin: govuk-spacing(2) 0 0;
    padding: 0;
    list-style: none;

    @include govuk-media-query($from: tablet) {
      display: flex;
      align-items: center;
      margin-top: 0;
    }
  }

  .govuk-header__one-login-menu-item {
    @include govuk-font($size: 16);
    display: inline-block;
    padding: govuk-spacing(2) 0;

    @include govuk-media-query($until: tablet) {
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid $govuk-header-nav-item-border-color;
      }
    }

    @include govuk-media-query($from: tablet) {
      padding: govuk-spacing(2) 0 govuk-spacing(2) govuk-spacing(4);
      border-left: 1px solid $govuk-header-nav-item-border-color;
      align-self: stretch;

      &:not(:last-child) {
        margin-right: govuk-spacing(4);
      }
    }
  }
}

// I've separated out these styles into their own namespace as, to me, this makes more sense
// being a separate 'service header' component. Separating it out would help the header trying to
// do too many things at once.
//
// It's still here just for convenience of spiking stuff, though.
@include govuk-exports("govuk/component/service-header") {
  $govuk-service-header-background: govuk-colour("light-grey");
  $govuk-service-header-border-color: govuk-colour("mid-grey");

  .govuk-service-header {
    border-bottom: 1px solid $govuk-service-header-border-color;
    background-color: $govuk-service-header-background;
  }

  .govuk-service-header__container {
    display: flex;
    padding-top: govuk-spacing(1);

    @include govuk-media-query($until: tablet) {
      flex-direction: column;
      align-items: start;
      margin-bottom: govuk-spacing(1);
    }

    @include govuk-media-query($from: tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .govuk-service-header__link {
    @include govuk-link-common;
    @include govuk-link-style-default;
    @include govuk-link-style-no-visited-state;

    &:not(:hover) {
      text-decoration: none;
    }

    @include govuk-media-query($from: tablet) {
      display: inline-block;
      padding: govuk-spacing(3) 0;

      &:focus {
        box-shadow:
          0 (-(govuk-spacing(1))) $govuk-focus-colour,
          0 govuk-spacing(1) $govuk-focus-text-colour;
      }
    }
  }

  .govuk-service-header__link--service-name {
    &,
    &:visited {
      color: $govuk-text-colour;
    }
  }

  .govuk-service-header__service-name {
    @include govuk-font($size: 19, $weight: bold);
    display: inline-block;
    margin: govuk-spacing(1) 0;
    color: $govuk-text-colour;

    @include govuk-media-query($from: tablet) {
      // Add a bit of right margin so service name and nav items don't smush together
      margin: 0;
      margin-right: govuk-spacing(3);
      padding: govuk-spacing(3) 0;
    }
  }

  .govuk-service-header__toggle {
    @include govuk-font($size: 19, $weight: bold);
    display: inline-flex;
    margin: govuk-spacing(1) 0;
    padding: 0;
    border: 0;
    color: $govuk-link-colour;
    background: none;
    word-break: break-all;
    cursor: pointer;
    align-items: center;

    &::after {
      @include govuk-shape-arrow($direction: down, $base: 10px, $display: inline-block);
      content: "";
      margin-left: govuk-spacing(1);
    }

    &[aria-expanded="true"]::after {
      @include govuk-shape-arrow($direction: up, $base: 10px, $display: inline-block);
    }

    // Ensure the button stays hidden if the hidden attribute is present
    &[hidden] {
      display: none;
    }
  }

  .govuk-service-header__navigation-list {
    @include govuk-font($size: 19);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .govuk-service-header__navigation-item {
    margin: govuk-spacing(2) 0 govuk-spacing(4);

    @include govuk-media-query($from: tablet) {
      display: inline-block;
      margin: 0 govuk-spacing(6) 0 0;
      border-bottom: govuk-spacing(1) solid transparent;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  .govuk-service-header__navigation-item--active {
    padding-left: govuk-spacing(3);
    border-left: govuk-spacing(1) solid $govuk-link-colour;

    @include govuk-media-query($from: tablet) {
      padding-left: 0;
      border-bottom: govuk-spacing(1) solid $govuk-link-colour;
      border-left: 0;
    }
  }

  // Search
  // Only for examples
  .app-search {
    display: flex;

    // If the search is the last thing on the row, it doesn't need the bottom margin
    &:last-child {
      margin-bottom: 0;
    }

    @include govuk-media-query($until: tablet) {
      margin-top: govuk-spacing(2);
    }

    @include govuk-media-query($from: tablet) {
      margin-bottom: 0;
    }

    // TEMPORARY HACKY CODE
    label {
      flex-grow: 1;
    }

    // MORE TEMPORARY HACKY CODE
    .govuk-input {
      border-color: govuk-colour("white");
    }

    // EVEN MORE TEMPORARY HACKY CODE
    .govuk-button {
      width: auto;
      margin-bottom: 0;
      box-shadow: none;
    }
  }
}
