@import "@govuk-frontend/globals/import-once";
@import "@govuk-frontend/globals/font-face";
@import "@govuk-frontend/globals/helpers-px-to-em";
@import "@govuk-frontend/globals/spacing";
@import "@govuk-frontend/globals/typography";
@import "@govuk-frontend/globals/vars";
@import "@govuk-frontend/phase-tag/phase-tag";

@include exports("phase-banner") {
  .govuk-c-phase-banner {
    padding-top: em($govuk-spacing-scale-2, 16px);
    padding-bottom: em($govuk-spacing-scale-2, 16px); //use to be 8
    // Apply styling to tablet and upwards
    // @include mq($from:tablet) {
    //  padding-bottom: em(10px, 16px);
    // }
    border-bottom: 1px solid $govuk-border-colour;

    font-family: $govuk-font-stack;
    @include font-smoothing;
  }

  .govuk-c-phase-banner__content {
    display: table;
    margin: 0;
  }

  .govuk-c-phase-banner__text {
    display: table-cell;
    color: $govuk-banner-text-colour;
    vertical-align: baseline;
    @include govuk-core-16;
  }
}
