// Site width and grid gutters
$govuk-page-width: 960px;

$govuk-gutter: $govuk-spacing-scale-6;
$govuk-gutter-half: $govuk-gutter / 2;

// Border widths
$govuk-border-width: 5px;
$govuk-border-width-wide: 10px;

$govuk-border-width-mobile: 4px;
$govuk-border-width-form-element: 2px;
$govuk-border-width-form-element-error: 4px;
$govuk-border-width-form-group-error: $govuk-border-width;

// Focus
$govuk-focus-width: 3px;
