// Media query helpers using sass-mq
// https://github.com/sass-mq/sass-mq

// mq() takes up to three optional parameters:
// $from: inclusive min-width boundary
// $until: exclusive max-width boundary
// $and: additional custom directives
// $media-type: $mq-media-type // defaults to 'all'

// Write css mobile-first, overriding mobile styles for tablet and desktop
//
// .govuk-c-component {
//    // Apply styling to mobile and upwards
//    @include mq($from: mobile) {
//        color: red;
//    }
//    // Apply styling up to devices smaller than tablets (exclude tablets)
//    @include mq($until: tablet) {
//        color: blue;
//    }
//    // Same thing, in landscape orientation
//    @include mq($until: tablet, $and: '(orientation: landscape)') {
//        color: hotpink;
//    }
//    // Apply styling to tablets up to desktop (exclude desktop)
//    @include mq(tablet, desktop) {
//        color: green;
//    }
//    // Print only styling
//    @include mq($media-type: print) {
//        display: none;
//    }
// }


// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
@if ($govuk-is-ie8) {
  $mq-responsive: false;
} @else {
  $mq-responsive: true;
}

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
  mobile:  320px,
  // Support max-width value from FET ?
  // mobile: 640px,
  tablet:  641px,
  desktop: 769px
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false').
$mq-static-breakpoint: desktop;
