@import "../../globals/scss/import-once";

@import "../../globals/scss/helpers-url";
@import "../../globals/scss/typography";
@import "../../globals/scss/vars";

@include exports("link-back") {

  .govuk-c-link-back {
    display: inline-block;

    position: relative;

    padding-left: 14px;

    border-bottom: 1px solid $govuk-black;

    color: $govuk-black;
    background: file-url("icon-arrow-left.png") no-repeat 0 4px;

    font-family: $govuk-font-stack;
    @include font-smoothing;
    @include govuk-core-16;
    line-height: 1.25;

    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $govuk-black;
    }

    // Back arrow - left pointing black arrow
    &::before {
      content: "";
      display: block;

      position: absolute;
      top: 50%;
      left: 0;

      width: 0;
      height: 0;

      margin-top: -6px;

      border-top: 5px solid transparent;
      border-right: 6px solid $govuk-black;
      border-bottom: 5px solid transparent;
    }
  }
}
