<!DOCTYPE html>
<html lang="en">
<head>
  <title>GOV.UK Frontend</title>
  <link rel="stylesheet" href="/css/govuk-frontend0.0.7-alpha.min.css">
  <!--[if IE 8]>
  <link rel="stylesheet" href="/css/govuk-frontend-oldie0.0.7-alpha.min.css">
  <![endif]-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min0.0.7-alpha.min.css">
</head>
<body class="language-markup govuk-c-site-width-container">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <h1 id="select-box">Select box</h1>
<p>The HTML <code>&lt;select&gt;</code> element represents a control that provides a menu of options.</p>
<h2 id="guidance">Guidance</h2>
<p>Guidance and documentation can be found on <a href="linkgoeshere">GOV.UK Design system</a>.</p>
<h2 id="demo">Demo</h2>
<p>Select box <a href="select-box.html">demo</a>.</p>
<h2 id="usage">Usage</h2>
<p>Code example(s)</p>
<pre><code>
&lt;label class=&quot;govuk-c-label&quot; for=&quot;select-box&quot;&gt;This is the label text&lt;/label&gt;
&lt;select class=&quot;govuk-c-select-box&quot; id=&quot;select-box&quot; name=&quot;select-box&quot;&gt;
  &lt;option&gt;GOV.UK elements option 1&lt;/option&gt;
  &lt;option&gt;GOV.UK elements option 2&lt;/option&gt;
  &lt;option&gt;GOV.UK elements option 3&lt;/option&gt;
&lt;/select&gt;
</code></pre><!--
## Installation

```
npm install --save @govuk-frontend/select-box
```
-->

  <script src="/js/govuk-frontend0.0.7-alpha.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min0.0.7-alpha.min.js"></script>
</body>
</html>