<!DOCTYPE html>
<html lang="en">
<head>
  <title>GOV.UK Frontend</title>
  <link rel="stylesheet" href="/css/govuk-frontend0.0.9-alpha.min.css">
  <!--[if IE 8]>
  <link rel="stylesheet" href="/css/govuk-frontend-oldie0.0.9-alpha.min.css">
  <![endif]-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css">
</head>
<body class="language-markup govuk-c-site-width-container">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <h1 id="list">List</h1>
<p>A list of items, list variants are bulleted or numbered.</p>
<h2 id="guidance">Guidance</h2>
<p>Guidance and documentation can be found on <a href="linkgoeshere">GOV.UK Design System</a>.</p>
<h2 id="demo">Demo</h2>
<p>List <a href="list.html">demo</a>.</p>
<h2 id="usage">Usage</h2>
<p>Code example(s)</p>
<pre><code>&lt;ul class=&quot;govuk-c-list&quot;&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Related link&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Related link&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Related link&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;ul class=&quot;govuk-c-list govuk-c-list--bullet&quot;&gt;
  &lt;li&gt;here is a bulleted list&lt;/li&gt;
  &lt;li&gt;vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor&lt;/li&gt;
  &lt;li&gt;vestibulum id ligula porta felis euismod semper&lt;/li&gt;
  &lt;li&gt;integer posuere erat a ante venenatis dapibus posuere velit aliquet&lt;/li&gt;
&lt;/ul&gt;

&lt;ol class=&quot;govuk-c-list govuk-c-list--number&quot;&gt;
  &lt;li&gt;This is a numbered list.&lt;/li&gt;
  &lt;li&gt;This is the second step in a numbered list.&lt;/li&gt;
  &lt;li&gt;The third step is to make sure each item is a full sentence ending with a full stop.&lt;/li&gt;
&lt;/ol&gt;

&lt;!-- normal steps icon size --&gt;
&lt;ol class=&quot;govuk-c-list govuk-c-list--icon&quot;&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;1&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;2&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;3&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;4&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;5&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;6&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;7&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;8&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;9&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;10&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;11&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;12&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;13&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-u-circle&quot;&gt;14&lt;/span&gt;Step&lt;/li&gt;
&lt;/ol&gt;

&lt;!-- large steps icon size --&gt;
&lt;ol class=&quot;govuk-c-list govuk-c-list--icon&quot;&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;1&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;2&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;3&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;4&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;5&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;6&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;7&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;8&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;9&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;10&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;11&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;12&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;13&lt;/span&gt;Step&lt;/li&gt;
  &lt;li&gt;&lt;span class=&quot;govuk-c-list__icon govuk-c-list__icon--large govuk-u-circle&quot;&gt;14&lt;/span&gt;Step&lt;/li&gt;
&lt;/ol&gt;
</code></pre><!--
## Installation

```
npm install --save @govuk-frontend/list
```
-->

  <script src="/js/govuk-frontend0.0.9-alpha.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
</body>
</html>
