@import "../globals/tools/exports";
@import "../tag/tag";

@include govuk-exports("phase-banner") {
  .govuk-phase-banner {
    @include govuk-font-regular-16;
    @include govuk-text-colour;

    padding-top: $govuk-spacing-scale-2;
    padding-bottom: $govuk-spacing-scale-2;

    border-bottom: 1px solid $govuk-border-colour;
  }

  .govuk-phase-banner__content {
    display: table;
    margin: 0;
  }

  .govuk-phase-banner__content__tag {
    margin-right: $govuk-spacing-scale-2;
  }

  .govuk-phase-banner__text {
    display: table-cell;
    vertical-align: baseline;
  }
}
