{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  "tag": {
    "text": "alpha"
  },
  "html": 'This is a new service – your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
