@include govuk-exports("govuk/component/tag") {
  $govuk-tag-max-width: if(map-has-key($govuk-breakpoints, "mobile"), map-get($govuk-breakpoints, "mobile") / 2, 160px);

  .govuk-tag {
    @include govuk-font($size: 19);

    display: inline-block;

    // set a max-width along with overflow-wrap: break-word below for instances
    // where a tag has a single long word and could overflow its boundaries.
    // The max-width is necessary as break-word requires a bounding box to base
    // where to break off of.
    max-width: $govuk-tag-max-width;

    // These negative margins make sure that the tag component doesn’t increase
    // the size of its container. Otherwise, for example, a table row containing
    // a tag will be taller than one containing plain text.
    //
    // The negative margin added to the top and bottom matches the extra padding
    // added.
    margin-top: -2px;
    margin-bottom: -3px;

    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    border: 1px solid govuk-colour("blue", $variant: "tint-50");
    border-radius: 1px;
    color: govuk-colour("blue", $variant: "shade-50");
    background-color: govuk-colour("blue", $variant: "tint-80");
    text-decoration: none;
    overflow-wrap: break-word;

    // When forced colour mode is active, for example to provide high contrast,
    // the background colour of the tag is the same as the rest of the page. To
    // ensure that the tag is perceived as separate from any surround text, it
    // is made bold.
    //
    // Transparent outlines are no longer added, as they make the Tag look
    // indistinguishable from a button – but the tag is not interactive in the
    // same way.
    @media screen and (forced-colors: active) {
      font-weight: bold;
    }
  }

  .govuk-tag--grey {
    border-color: govuk-colour("black", $variant: "tint-80");
    color: govuk-colour("black", $variant: "tint-25");
    background-color: govuk-colour("black", $variant: "tint-95");
  }

  .govuk-tag--purple {
    border-color: govuk-colour("purple", $variant: "tint-50");
    color: govuk-colour("purple", $variant: "shade-50");
    background-color: govuk-colour("purple", $variant: "tint-80");
  }

  .govuk-tag--turquoise {
    border-color: govuk-colour("teal", $variant: "tint-50");
    color: govuk-colour("teal", $variant: "shade-50");
    background-color: govuk-colour("teal", $variant: "tint-80");
  }

  .govuk-tag--blue {
    color: govuk-colour("black");
    background-color: govuk-colour("blue", $variant: "tint-80");
  }

  .govuk-tag--light-blue {
    border-color: govuk-colour("blue", $variant: "tint-50");
    color: govuk-colour("blue", $variant: "shade-50");
    background-color: govuk-colour("blue", $variant: "tint-95");
  }

  .govuk-tag--yellow {
    border-color: govuk-colour("yellow", $variant: "tint-50");
    color: govuk-colour("yellow", $variant: "shade-50");
    background-color: govuk-colour("yellow", $variant: "tint-80");
  }

  .govuk-tag--orange {
    border-color: govuk-colour("orange", $variant: "tint-50");
    color: govuk-colour("orange", $variant: "shade-50");
    background-color: govuk-colour("orange", $variant: "tint-80");
  }

  .govuk-tag--red {
    border-color: govuk-colour("red", $variant: "tint-50");
    color: govuk-colour("red", $variant: "shade-50");
    background-color: govuk-colour("red", $variant: "tint-80");
  }

  .govuk-tag--pink {
    border-color: govuk-colour("magenta", $variant: "tint-50");
    color: govuk-colour("magenta", $variant: "shade-50");
    background-color: govuk-colour("magenta", $variant: "tint-80");
  }

  .govuk-tag--green {
    border-color: govuk-colour("green", $variant: "tint-50");
    color: govuk-colour("green", $variant: "shade-50");
    background-color: govuk-colour("green", $variant: "tint-80");
  }
}
