---
scenario: >-
  As part of an online service, you are asked to upload your photo.

  The upload will always result in a success (alert) message that uses the notification banner.
---

{# This example is based of the live "Passport" service: https://www.passport.service.gov.uk/photo/upload #}
{% extends "full-page-example.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "notification-banner/macro.njk" import govukNotificationBanner %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "radios/macro.njk" import govukRadios %}

{% block pageTitle %}Upload your photo - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Apply for a passport"
  }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
        tag: {
            text: "beta"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
        text: "Back",
        href: "#"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
            {% if isSuccess %}
                {{ govukNotificationBanner({
                "type": "success",
                "html": "<p class=\"govuk-notification-banner__heading\">Success, your photo has been uploaded</p>\n"
                }) }}
            {% endif %}

            <h1 class="govuk-heading-xl">Upload your photo</h1>

            <p class="govuk-body">
                Your photo will now go through an automated check.
            </p>

            <p class="govuk-body">
                You’ll need to review it before you add the photo to your application.
            </p>

            {{ govukFileUpload({
                id: "photo",
                name: "photo",
                label: {
                    text: "Upload your photo"
                },
                hint: {
                    text: "Your photo must be at least 50KB and no more than 10MB"
                },
                errorMessage: errors["photo"]
            }) }}

            {{ govukCheckboxes({
                idPrefix: "terms-and-conditions",
                name: "terms-and-conditions",
                items: [
                    {
                        value: "true",
                        html: 'I accept the <a class="govuk-link" href="#">terms and conditions</a>',
                        checked: values["terms-and-conditions"]
                    }
                ],
                errorMessage: errors["terms-and-conditions"]
            }) }}

            {{ govukButton({
                text: "Submit your photo"
            }) }}
        </form>
    </div>
  </div>
{% endblock %}
