@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "../error-message/error-message";
@import "../hint/hint";
@import "../label/label";

@include govuk-exports("govuk/component/textarea") {
  .govuk-textarea {
    @include govuk-font($size: 19, $line-height: 1.25);
    @include govuk-focusable;

    box-sizing: border-box; // should this be global?
    display: block;
    width: 100%;
    min-height: 40px;
    @include govuk-responsive-margin(6, "bottom");
    padding: govuk-spacing(1);

    resize: vertical;

    border: $govuk-border-width-form-element solid $govuk-input-border-colour;
    border-radius: 0;

    -webkit-appearance: none;
  }

  .govuk-textarea--error {
    border: $govuk-border-width-form-element-error solid $govuk-error-colour;
  }
}
