{% from "../form-group/macro.njk" import govukFormGroup -%}

{#- a record of other elements that we need to associate with the input using
   aria-describedby – for example hints or error messages -#}
{%- set describedBy = "" -%}

{%- if params.hint -%}
  {%- set describedBy = (describedBy + ' ' + params.id + "-hint") | trim -%}
{%- endif -%}
{%- if params.errorMessage -%}
  {%- set describedBy = (describedBy + ' ' + params.id + "-error") | trim -%}
{%- endif -%}

{% call govukFormGroup(params) %}
  <textarea class="govuk-textarea {{- ' govuk-textarea--error' if params.errorMessage }} {{- ' ' + params.classes if params.classes}}" id="{{ params.id }}" name="{{ params.name }}" rows="{%if params.rows %} {{- params.rows -}} {% else %}5{%endif %}"
  {%- if describedBy %} aria-describedby="{{ describedBy }}"{% endif %}
  {%- if params.autocomplete %} autocomplete="{{ params.autocomplete}}"{% endif %}
  {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>{{ params.value }}</textarea>
{% endcall %}
