{% from "label/macro.njk" import govukLabel %}

{{- govukLabel({
  "labelText": params.label.labelText,
  "hintText": params.label.hintText,
  "errorMessage": params.label.errorMessage,
  "classes": params.label.classes,
  "id": params.id
}) -}}

<textarea class="govuk-c-textarea
{%- if params.label.errorMessage %} govuk-c-textarea--error{% endif %}
{%- if params.classes %} {{ params.classes }}{% endif -%}" id="{{ params.id }}" name="{{ params.name }}" rows="{%if params.rows %} {{- params.rows -}} {% else %}5{%endif %}"></textarea>
