<label class="govuk-c-label" for="govuk-c-textarea-a">
  Why can't you provide a National Insurance number?
</label>
<textarea class="govuk-c-textarea" name="govuk-c-textarea-a" id="govuk-c-textarea-a" rows="5"></textarea>

<label class="govuk-c-label" for="govuk-c-textarea-b">
  hy can't you provide a National Insurance number?
  <span class="govuk-c-error-message">
    National Insurance number is not in the correct format
  </span>
</label>
<textarea class="govuk-c-textarea govuk-c-textarea--error" name="govuk-c-textarea-b" id="govuk-c-textarea-b" rows="5"></textarea>
