@import "../../globals/scss/import-once";
@import "../../globals/scss/font-face";
@import "../../globals/scss/helpers-ie";
@import "../../globals/scss/typography";
@import "../../globals/scss/utilities/shapes";
@import "../../globals/scss/vars";

@include exports("list") {
  .govuk-c-list {
    @include font-smoothing;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    font-family: $govuk-font-stack;
  }

  .govuk-c-list > li {
    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-1;
    }
  }

  .govuk-c-list a {
    &:link {
      color: $govuk-link-colour;
    }

    &:visited {
      color: $govuk-link-visited-colour;
    }

    &:hover {
      color: $govuk-link-hover-colour;
    }

    &:active {
      color: $govuk-link-active-colour;
    }
  }

  .govuk-c-list--bullet {
    padding-left: $govuk-spacing-scale-4;

    list-style-type: disc;
  }

  .govuk-c-list--number {
    // TODO: Fix IE < 8
    @include ie-lte(7) {
      padding-left: $govuk-spacing-scale-5; //used to be 28
    }
    padding-left: $govuk-spacing-scale-4;
    list-style-type: decimal;
  }

  .govuk-c-list--icon > li {
    margin-bottom: $govuk-spacing-scale-3;
  }

  .govuk-c-list__icon {
    @include govuk-bold-14($line-height: (24 / 14), $line-height-640: (24 / 12));
    min-width: 24px;
    min-height: 24px;
    margin-right: $govuk-spacing-scale-3;
    font-family: $govuk-font-stack-tabular;
    line-height: 24px;
  }

  .govuk-c-list__icon--large {
    @include govuk-bold-19($line-height: (38 / 19), $line-height-640: (38 / 16));
    min-width: 38px;
    min-height: 38px;
    line-height: 38px;
  }
}
