{% from "list/macro.njk" import govukList %}

{{ govukList(
  classes='',
  [
    {
      text: 'Related link',
      url: '/'
    },
    {
      text: 'Related link',
      url: '/'
    },
    {
      text: 'Related link',
      url: '/'
    }
  ]
) }}

{{ govukList(
  classes='',
  [
    {
      text: 'here is a bulleted list'
    },
    {
      text: 'here is the second bulleted list item'
    },
    {
      text: 'here is the third bulleted list item'
    }
  ],
  isBullet='true'
) }}

{{ govukList(
  classes='',
  [
    {
      text: 'This is a numbered list.'
    },
    {
      text: 'This is the second step in a numbered list.'
    },
    {
      text: 'The third step is to make sure each item is a full sentence ending with a full stop.'
    }
  ],
  isNumber='true'
) }}

{{ govukList(
  classes='',
  [
    {
      text: 'Step 1'
    },
    {
      text: 'Step 2'
    },
    {
      text: 'Step 3'
    }
  ],
  isStep='true'
) }}

{{ govukList(
  classes='',
  [
    {
      text: 'Step 1 Large icon'
    },
    {
      text: 'Step 2 Large icon'
    },
    {
      text: 'Step 3 Large icon'
    }
  ],
  isStepLarge='true'
) }}