<ul class="govuk-c-list">
  <li><a href="#">Related link</a></li>
  <li><a href="#">Related link</a></li>
  <li><a href="#">Related link</a></li>
</ul>

<ul class="govuk-c-list govuk-c-list--bullet">
  <li>here is a bulleted list</li>
  <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
  <li>vestibulum id ligula porta felis euismod semper</li>
  <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
</ul>

<ol class="govuk-c-list govuk-c-list--number">
  <li>This is a numbered list.</li>
  <li>This is the second step in a numbered list.</li>
  <li>The third step is to make sure each item is a full sentence ending with a full stop.</li>
</ol>

