{% if options.isBullet %}
<ul class="govuk-c-list govuk-c-list--bullet {{ classes }}">
{% elseif options.isNumber %}
<ol class="govuk-c-list govuk-c-list--number {{ classes }}">
{% elseif options.isStep %}
<ol class="govuk-c-list govuk-c-list--icon {{ classes }}">
{% elseif options.isStepLarge %}
<ol class="govuk-c-list govuk-c-list--icon {{ classes }}">
{% else %}
<ul class="govuk-c-list {{ classes }}">
{% endif %}

{% for item in listItems %}
  <li>
    {% if (options.isStep) or (options.isStepLarge) %}
      <span class="govuk-c-list__icon govuk-u-circle {% if (options.isStepLarge) %}govuk-c-list__icon--large{% endif %}">{{ loop.index }}</span>
      {{ item.text }}
    {% else %}
      {% if item.url %}<a href="{{ item.url }} ">{% endif %}
        {{ item.text }}
      {% if item.url %}</a>{% endif %}
    {% endif %}
  </li>
{% endfor %}

{% if (options.isNumber) or (options.isStep) or (options.isStepLarge) %}
</ol>
{% else %}
</ul>
{% endif %}
