{# Default to unordered list unless we redefine it later #}
{%- set element = 'ul' %}

{#- Setup classes and element type depending on type argument. #}
{%- set type = params.type | lower %}
{%- if type == 'bullet' %}
  {% set listClass = 'govuk-c-list--bullet' %}
{% elseif type == 'number' %}
  {% set element = 'ol' %}
  {% set listClass = 'govuk-c-list--number' %}
{% elseif type == 'step' or type == 'step-large' %}
  {% set element = 'ol' %}
  {% set listClass = 'govuk-c-list--icon' %}
{% endif -%}

<{{ element }} class="govuk-c-list {%- if listClass %} {{ listClass }}{% endif %} {%- if params.classes %} {{ params.classes }}{% endif %}" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
{% for item in params.items %}
  <li>
  {% if type == 'step' or type == 'step-large' %}
    <span class="govuk-c-list__icon {%- if type == 'step-large' %} govuk-c-list__icon--large{% endif %} govuk-u-circle">
      {{- loop.index -}}
    </span>
  {% endif %}
  {% if item.href %}
    <a href="{{ item.href }}">{{ item.html | safe if item.html else item.text }}</a>
  {% else %}
    {{ item.html | safe if item.html else item.text }}
  {% endif %}
  </li>
{% endfor -%}
</{{ element }}>
