@import "../globals/tools/exports";
@import "../globals/tools/iff";

@import "../label/label";
@import "../input/input";
@import "../error-message/error-message";

@include govuk-exports("date-input") {
  .govuk-c-date-input {
    @include govuk-h-clearfix;
  }

  .govuk-c-date-input__item {
    width: 50px;
    margin-right: $govuk-spacing-scale-4;
    margin-bottom: 0;
    float: left;
    clear: none;
  }

  .govuk-c-date-input__label {
    display: block;
    padding-bottom: 2px;
  }

  .govuk-c-date-input__input {
    margin-bottom: 0;
  }

  .govuk-c-date-input__item--year {
    width: 70px;
  }
}
