@import "../../globals/scss/import-once";
@import "../../globals/scss/font-face";
@import "../../globals/scss/typography";
@import "../../globals/scss/vars";

@include exports("phase-tag") {
  .govuk-c-phase-tag {
    display: inline-block;
    margin: 0 $spacing-scale-2 0 0;
    padding: $spacing-scale-1 $spacing-scale-1 0;

    color: $govuk-white;
    background-color: $govuk-blue;

    font-family: $govuk-font-stack;
    @include font-smoothing;
    @include govuk-bold-16;
    letter-spacing: 1px;
    line-height: 1.25;

    text-decoration: none;
    text-transform: uppercase;
  }
}
