// Build your own grids using these grid mixins
// usage:
// .container {
//   @include govuk-site-width-container;
// }

@mixin govuk-site-width-container {
  max-width: $govuk-site-width;

  @include ie-lte(8) {
    width: $govuk-site-width;
  }

  margin: 0 $govuk-gutter-half;
  @include mq($from: tablet) {
    margin: 0 $govuk-gutter;
  }

  @include mq($and: "(min-width: #{($govuk-site-width + $govuk-gutter * 2)})") {
    margin: 0 auto;
  }
}

@mixin govuk-grid {
  @include clearfix;
  margin-right: - ($govuk-gutter / 2);
  margin-left: - ($govuk-gutter / 2);
}

@mixin govuk-grid-item {
  box-sizing: border-box;
  padding: 0 $govuk-gutter-half;
  float: left;
}
