@import "vars";
@import "media-queries";

// URL Helpers
// A function which outputs a plain url which is prefixed with a defined
// path variable.
@function file-url($file) {
  @return url($global-images + $file);
}

// Convert pixels to em
@function em($px, $govuk-context-font-size) {
  @return ($px / $govuk-context-font-size) * 1em;
}

// Old IE Helpers
$is-ie: false !default;

@mixin ie-lte($version) {
  @if $is-ie {
    @if $ie-version <= $version {
      @content;
    }
  }
}

@mixin ie($version) {
  @if $is-ie {
    @if $ie-version == $version {
      @content;
    }
  }
}

// Mixin to wrap your entire site content block. It limits the sites width to be 960px wide and maintains consistent margins
@mixin site-width-container {
  max-width: $govuk-site-width;
  @include ie-lte(8) {
    width: $govuk-site-width;
  }
  margin: 0 $govuk-gutter-half;
  @include mq($from: tablet) {
    margin: 0 $govuk-gutter;
  }
  @include mq($and: "(min-width: #{($govuk-site-width + $govuk-gutter * 2)})") {
    margin: 0 auto;
  }
}
