@import "import-once";
@import "colours";
@import "media-queries";

@include exports("global-link-styles") {
  a:link {
    color: $govuk-link-colour;
  }

  a:visited {
    color: $govuk-link-visited-colour;
  }

  a:hover {
    color: $govuk-link-hover-colour;
  }

  a:active {
    color: $govuk-link-active-colour;
  }

  a {
    -webkit-tap-highlight-color: rgba($govuk-black, .3);
  }

  a:focus {
    outline: 3px solid $govuk-focus-colour;
    background-color: $govuk-focus-colour;
  }

  @include mq($media-type: print) {
    a,
    a:visited {
      word-wrap: break-word;
    }

    a[href^="/"]:after,
    a[href^="http://"]:after,
    a[href^="https://"]:after {
      content: " (" attr(href) ")";
      font-size: 90%;
    }

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
      content: "";
    }
  }
}
