@import "vars";

// Spacing properties
$spacing-properties: (
  "padding": "p",
  "margin": "m",
) !default;

// Spacing directions
$spacing-directions: (
  null: null,
  "-top": "t",
  "-right": "r",
  "-bottom": "b",
  "-left": "l"
) !default;

// Set spacing scale
$govuk-spacing-scale: (
  0: $govuk-spacing-scale-0,
  1: $govuk-spacing-scale-1,
  2: $govuk-spacing-scale-2,
  3: $govuk-spacing-scale-3,
  4: $govuk-spacing-scale-4,
  5: $govuk-spacing-scale-5,
  6: $govuk-spacing-scale-6,
  7: $govuk-spacing-scale-7,
  8: $govuk-spacing-scale-8
);

@import "import-once";

@include exports("spacing") {
  // Create spacing utility classes
  @each $spacing-property-key, $spacing-property-value in $spacing-properties {
    @each $spacing-direction-key, $spacing-direction-value in $spacing-directions {
      @each $spacing-scale-key, $spacing-scale-value in $govuk-spacing-scale {
        .govuk-u-#{$spacing-property-value}#{$spacing-direction-value}-#{$spacing-scale-key} {
          @each $direction in $spacing-direction-key {
            #{$spacing-property-key}#{$direction}: $spacing-scale-value !important;
          }
        }
      }
    }
  }
}
