// Image paths
$global-images: "/icons/" !default;

// Media query breakpoints
// in ../_media-queries.scss

// Widths
$govuk-site-width: 960px;
$govuk-full-width: 100%;

// Spacing
// TODO: remove these, instead use spacing scale
$govuk-gutter: 30px;
$govuk-gutter-half: $govuk-gutter / 2;
$gutter-one-third: $govuk-gutter / 3;
