$global-images: "/images/";

$govuk-border-width-mobile: 4px;
$govuk-border-width-tablet: 5px;

$govuk-outline-width-focus: 3px;
$govuk-site-width: 960px;
$govuk-full-width: 100%;
$govuk-gutter: 30px;
$govuk-gutter-half: $govuk-gutter / 2;
