// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: false;

// Set is-ie to true to output IE specific styles
// uses the IE helpers in globals/_helpers.scss
$is-ie: true;
$ie-version: 8;
$mq-show-breakpoints: ();
@import "govuk-frontend";
