{% from "back-link/macro.njk" import moalandBackLink %}
{% from "panel/macro.njk" import moalandPanel %}
{% from "fieldset/macro.njk" import moalandFieldset %}
{% from "label/macro.njk" import moalandLabel %}
{% from "input/macro.njk" import moalandInput %}
{% from "button/macro.njk" import moalandButton %}
{% from "select/macro.njk" import moalandSelect %}
{% from "checkboxes/macro.njk" import moalandCheckboxes %}
{% from "radios/macro.njk" import moalandRadios %}

{% extends "layout.njk" %}

{% block styles %}
<style>
  .app-u-w-full {
    width: 100%;
  }

  .app-u-w-half {
    width: 50%;
    float: left;
  }

  .app-u-w-third {
    width: 33.33333333%;
    float: left;
  }

  .app-u-w-quarter {
    width: 25%;
    float: left;
  }

  .app-u-w-two-thirds {
    width: 66.66666667%;
    float: left;
  }
</style>
{% endblock %}

{% block beforeContent %}
  {{ moalandBackLink({
    "href": "/"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="moaland-heading-xl">Form elements alignment</h1>
  <h2 class="moaland-heading-m">Input and button</h2>

  <form action="/" method="post">
    {% call moalandFieldset() %}
      {{ moalandLabel({
        "text": "National Insurance number",
        "for": "moaland-input-a"
      }) }}
      <div class="app-u-w-half">
        {{ moalandInput({
          id: "moaland-input-a",
          name: "national-insurance-number"
        }) }}
      </div>
      <div class="app-u-w-half">
        {{ moalandButton({
          "text": "Save and continue"
        }) }}
      </div>
    {%- endcall %}
  </form>

  <h2 class="moaland-heading-m">Select and button</h2>

  <form action="/" method="post">
    {% call moalandFieldset() %}
      {{ moalandLabel({
        "text": "This is the label text",
        "for": "select-box"
      }) }}
      <div class="app-u-w-half">
        {{ moalandSelect({
          "id": "select-box",
          "name": "select-box",
          "items": [
            {
              "value": 1,
              "text": "GOV.UK elements option 1"
            },
            {
              "value": 2,
              "text": "GOV.UK elements option 2"
            },
            {
              "value": 3,
              "text": "GOV.UK elements option 3"
            }
          ]
        }) }}
      </div>
      <div class="app-u-w-half">
        {{ moalandButton({
          "text": "Save and continue"
        }) }}
      </div>
    {%- endcall %}
  </form>

  <h2 class="moaland-heading-m">Input and select</h2>

  <form action="/" method="post">
    {% call moalandFieldset() %}
      <div class="app-u-w-half">
          {{ moalandInput({
            id: "input-and-select__text-input",
            label: {
              "text": "NIC"
            }
          }) }}
      </div>
      <div class="app-u-w-half">
        {{ moalandSelect({
          "label": {
            "text": "Select class"
          },
          "id": "select-input-and-select",
          "name": "select-input-and-select",
          "items": [
            {
              "value": 1,
              "text": "NIC 1"
            },
            {
              "value": 2,
              "text": "NIC 2"
            },
            {
              "value": 3,
              "text": "NIC 3"
            }
          ]
        }) }}
      </div>
    {%- endcall %}
  </form>

  <h2 class="moaland-heading-m">Input and checkboxes</h2>

  <form action="/" method="post">
    {% call moalandFieldset() %}
      {{ moalandLabel({
        "text": "NIC",
        "for": "input-and-checkboxes__text-input"
      }) }}
      <div class="app-u-w-half">
          {{ moalandInput({
            id: "input-and-checkboxes__text-input"
          }) }}
      </div>
      <div class="app-u-w-half">
        {{ moalandCheckboxes({
          "idPrefix": "checkboxes-year",
          "name": "checkboxes-year",
          "items": [
            {
              "value": "2017-2018",
              "text": "2017 / 2018"
            }
          ]
        }) }}
      </div>
    {%- endcall %}
  </form>

  <h2 class="moaland-heading-m">Input and radios</h2>

  <form action="/" method="post">
    {% call moalandFieldset() %}
      {{ moalandLabel({
        "text": "NIC",
        "for": "input-and-radios__text-input"
      }) }}
      <div class="app-u-w-half">
          {{ moalandInput({
            id: "input-and-radios__text-input"
          }) }}
      </div>
      <div class="app-u-w-half">
        {{ moalandRadios({
          "idPrefix": "radio",
          "name": "radio-group",
          "items": [
            {
              "value": "na",
              "text": "Not applicable"
            }
          ]
        }) }}
      </div>
    {%- endcall %}
  </form>

  <h2 class="moaland-heading-m">Radios, checkboxes and button</h2>
  <form action="/" method="post">
    {% call moalandFieldset() %}
      <div class="app-u-w-quarter">
        {{ moalandCheckboxes({
          "idPrefix": "radio-checkboxes-button__checkboxes",
          "name": "radio-checkboxes-button__checkboxes",
          "items": [
            {
              "value": "2017-2018",
              "text": "2017 / 2018"
            }
          ]
        }) }}
      </div>
      <div class="app-u-w-quarter">
        {{ moalandRadios({
          "idPrefix": "radio-checkboxes-button__radios",
          "name": "radio-group",
          "items": [
            {
              "value": "na",
              "text": "Not applicable"
            }
          ]
        }) }}
      </div>
      <div class="app-u-w-half">
        {{ moalandButton({
          "text": "Save and continue"
        }) }}
      </div>
    {%- endcall %}
  </form>

  <h2 class="moaland-heading-m">Input with moaland-!-width</h2>

  {% call moalandFieldset() %}
    {{ moalandInput({
      id: "moaland-!-width-one-quarter",
      classes: "moaland-!-width-one-quarter",
      label: {
        text: "Input with moaland-!-width-one-quarter (25% width)"
      }
    }) }}
    {{ moalandInput({
      id: "moaland-!-width-one-third",
      classes: "moaland-!-width-one-third",
      label: {
        text: "Input with moaland-!-width-one-third (33% width)"
      }
    }) }}
    {{ moalandInput({
      id: "moaland-!-width-one-half",
      classes: "moaland-!-width-one-half",
      label: {
        text: "Input with moaland-!-width-one-half (50% width)"
      }
    }) }}
    {{ moalandInput({
      id: "moaland-!-width-two-thirds",
      classes: "moaland-!-width-two-thirds",
      label: {
        text: "Input with moaland-!-width-two-thirds (66% width)"
      }
    }) }}
    {{ moalandInput({
      id: "moaland-!-width-three-quarters",
      classes: "moaland-!-width-three-quarters",
      label: {
        text: "Input with moaland-!-width-width-three-quarters (75% width)"
      }
    }) }}
  {%- endcall %}

  <h2 class="moaland-heading-m">Display with moaland-!-display</h2>

  <h3 class="moaland-heading-s moaland-!-font-weight-regular">moaland-!-display-block</h2>

  {{ moalandButton({
    classes: 'moaland-!-display-block',
    text:'Save and continue',
    element: 'input',
    href: '/'
  }) }}

  {{ moalandButton({
    classes: 'moaland-!-display-block',
    text:'Save and continue',
    element: 'input',
    href: '/'
  }) }}

  <h3 class="moaland-heading-s moaland-!-font-weight-regular">moaland-!-display-inline-block</h2>

    {{ moalandPanel({
      classes: 'moaland-!-display-inline-block',
      titleText: 'Application complete',
      html: 'Your reference number<br><strong>HDJ2123F</strong>'
    }) }}


    {{ moalandButton({
      classes: 'moaland-!-display-inline-block',
      text:'Save and continue',
      element: 'input',
      href: '/' })
    }}

  <h3 class="moaland-heading-s moaland-!-font-weight-regular">moaland-!-display-inline</h2>

  <a class="moaland-!-display-inline moaland-link" href="#">Apples</a>
  <a class="moaland-!-display-inline moaland-link" href="#">Oranges</a>
{% endblock %}
