<div class="govuk-c-grid-wrapper">

  <!-- Full width -->
  <div class="govuk-c-grid">
    <div class="govuk-c-grid__item govuk-c-grid__item--full">
      Grid item
    </div>
  </div>

  <!-- Halves -->
  <div class="govuk-c-grid">
    <div class="govuk-c-grid__item govuk-c-grid__item--one-half">
      Grid item
    </div>
    <div class="govuk-c-grid__item  govuk-c-grid__item--one-half">
      Grid item
    </div>
  </div>

  <!-- Thirds -->
  <div class="govuk-c-grid">
    <div class="govuk-c-grid__item  govuk-c-grid__item--one-third">
      Grid item
    </div>
    <div class="govuk-c-grid__item  govuk-c-grid__item--one-third">
      Grid item
    </div>
  </div>

  <!-- Two thirds / one third -->
  <div class="govuk-c-grid">
    <div class="govuk-c-grid__item govuk-c-grid__item--two-thirds">
      Grid item
    </div>
    <div class="govuk-c-grid__item govuk-c-grid__item--one-third">
      Grid item
    </div>
  </div>

  <!-- One third / two thirds -->
  <div class="govuk-c-grid">
    <div class="govuk-c-grid__item govuk-c-grid__item--one-third">
      Grid item
    </div>
    <div class="govuk-c-grid__item govuk-c-grid__item--two-thirds">
      Grid item
    </div>
  </div>

  <!-- Quarters -->
  <div class="govuk-c-grid">
    <div class="govuk-c-grid__item govuk-c-grid__item--one-quarter">
      Grid item
    </div>
    <div class="govuk-c-grid__item govuk-c-grid__item--one-quarter">
      Grid item
    </div>
  </div>

</div>
