{% from "grid/macro.njk" import govukGrid %}

{{ govukGrid(
  classes='',
  gridItems=[
    { width: 'full' }
  ]
  )
}}

{{ govukGrid(
  classes='',
  gridItems=[
    { width: 'one-half' },
    { width: 'one-half' }
  ]
  )
}}

{{ govukGrid(
  classes='',
  gridItems=[
    { width: 'one-third' },
    { width: 'one-third' },
    { width: 'one-third' }
  ]
  )
}}

{{ govukGrid(
  classes='',
  gridItems=[
    { width: 'two-thirds' },
    { width: 'one-third' }
  ]
  )
}}

{{ govukGrid(
  classes='',
  gridItems=[
    { width: 'one-third' },
    { width: 'two-thirds' }
  ]
  )
}}

{{ govukGrid(
  classes='',
  gridItems=[
    { width: 'one-quarter' },
    { width: 'one-quarter' },
    { width: 'one-quarter' },
    { width: 'one-quarter' }
  ]
  )
}}
