{% extends "component.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}
{% block componentDescription %}
  Grid row with grid items.
{% endblock %}
{# componentExample #}
{# componentNunjucks #}
{# componentHtml #}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{% from "table/macro.njk" import govukTable %}
{{ govukTable(
  classes='',
  options = {
    'isFirstCellHeader': 'true'
  },
  data = {
    'head' : [
      {
        text: 'Name'
      },
      {
        text: 'Type'
      },
      {
        text: 'Required'
      },
      {
        text: 'Description'
      }
    ],
    'rows' : [
      [
        {
          text: 'classes'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'Optional additional classes'
        }
      ],
      [
        {
          text: 'gridItems'
        },
        {
          text: 'array'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Grid items array with width key'
        }
      ],
      [
        {
          text: 'width'
        },
        {
          text: 'string'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Width of the grid item - full, one-half, one-third, two-thirds, one-quarter'
        }
      ]
    ]
  }
)}}
{% endblock %}
