{% from "grid/macro.njk" import govukGrid %}

<div class="govuk-c-grid {{ classes }}">
  {% for item in gridItems %}
  <div class="govuk-c-grid__item govuk-c-grid__item--{{ item.width }}">
    {{ caller() if caller }} {# if statement allows usage of `call` to be optional #}
  </div>
  {% endfor %}
</div>
