@include moaland-exports("moaland/component/inset-text") {
  .moaland-inset-text {
    @include moaland-font($size: 19);
    @include moaland-text-colour;
    padding: moaland-spacing(3);
    // Margin top intended to collapse
    // This adds an additional 10px to the paragraph above
    @include moaland-responsive-margin(6, "top");
    @include moaland-responsive-margin(6, "bottom");

    clear: both;

    border-left: $moaland-border-width-wide solid $moaland-border-colour;

    > :first-child {
      margin-top: 0;
    }

    > :only-child,
    > :last-child {
      margin-bottom: 0;
    }
  }
}
