@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include govuk-exports("govuk/component/warning-text") {

  .govuk-warning-text {
    @include govuk-font($size: 19);
    @include govuk-text-colour;

    position: relative;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
    padding: $govuk-spacing-scale-2 0;
  }

  .govuk-warning-text__assistive {
    @include govuk-visually-hidden;
  }

  .govuk-warning-text__icon {
    @include govuk-font($size: false, $weight: bold);

    display: inline-block;

    position: absolute;
    top: 50%;
    left: 0;

    min-width: 38px;
    min-height: 35px;
    margin-top: -20px; // Half the height of the 38px circle (adjusted for NTA)
    padding-top: 3px;

    border-radius: 50%;

    color: govuk-colour("white");
    background: govuk-colour("black");

    font-size: 1.6em;
    line-height: 35px;

    text-align: center;
  }

  .govuk-warning-text__text {
    display: block;
    margin-left: -$govuk-gutter-half;
    padding-left: 65px;
  }
}
