{% macro govukWarningText(
  params,
  text,
  safe,
  classes,
  attributes,
  iconFallbackText
) %}
  {% if params.html and not hideDeprecated %}
    <strong class="deprecated">params.html is deprecated in govukWarningText</strong>
  {% endif %}
  {% if text === undefined %}{% set text = params.text if params.text else params %}{% endif %}
  {% if safe === undefined %}{% set safe = params.safe %}{% endif %}
  {% set classes = classes if classes else params.classes %}
  {% set attributes = attributes if attributes else params.attributes %}
  {% set iconFallbackText = iconFallbackText if iconFallbackText else params.iconFallbackText %}
  {% set params = {
    text: text,
    safe: safe,
    classes: classes,
    attributes: attributes,
    iconFallbackText: iconFallbackText
  } %}
  {%- include "./template.njk" -%}
{% endmacro %}
