@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "../error-message/error-message";
@import "../hint/hint";
@import "../label/label";

@include govuk-exports("govuk/component/character-count") {
  .govuk-character-count {
    .govuk-textarea--error {
      padding: govuk-spacing(1) - 2; // Stop a "jump" when width of border changes
    }
  }

  .govuk-character-count__message {
    margin-top: 0;
    margin-bottom: 0;
  }

  .govuk-character-count__message--disabled {
    visibility: hidden;
  }

  .govuk-character-count__wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .govuk-character-count__highlight {
    display: block;
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: govuk-spacing(1);
    overflow: auto;
    border: $govuk-border-width-form-element-error solid transparent;
    color: transparent;
    word-wrap: break-word;
    vertical-align: middle;
    white-space: pre-wrap;

    mark {
      opacity: .2;
      color: transparent;
      background-color: $govuk-error-colour;
    }
  }
}
