@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "../error-message/error-message";
@import "../hint/hint";
@import "../label/label";

@include govuk-exports("govuk/component/character-count") {
  .govuk-character-count {
    @include govuk-font($size: 19, $line-height: 1.25);
    @include govuk-focusable;

    box-sizing: border-box; // should this be global?
    display: block;
    width: 100%;
    @include govuk-responsive-margin(6, "bottom");
    padding: govuk-spacing(1) + 2;

    border: $govuk-border-width-form-element solid $govuk-input-border-colour;
    border-radius: 0;

    -webkit-appearance: none;
  }

  .govuk-character-count--error {
    padding: govuk-spacing(1);
    border: $govuk-border-width-form-element-error solid $govuk-error-colour;
  }

  .govuk-character-count {
    position: relative;
    z-index: 20;
    width: 100%;
    margin: 0; //implicit margin on textarea creates problems on safari
    @include govuk-responsive-margin(1, "bottom");
    overflow: auto;
    background: transparent;
  }

  .govuk-character-count__message {
    margin-top: 0;
    margin-bottom: 0;
  }

  .govuk-character-count__message--disabled {
    visibility: hidden;
  }

  .govuk-character-count__wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .govuk-character-count__highlight {
    display: block;
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: govuk-spacing(1);
    overflow: auto;
    border: $govuk-border-width-form-element-error solid transparent;
    color: transparent;
    word-wrap: break-word;
    vertical-align: middle;
    white-space: pre-wrap;

    mark {
      opacity: .2;
      color: transparent;
      background-color: $govuk-error-colour;
    }
  }
}
