{% from "character-count/macro.njk" import govukCharacterCount %}

{{ govukCharacterCount({
  id: "more-detail",
  name: "more-detail",
  label: {
    text: "Can you provide more detail?",
    hintText: "Don't include personal or financial information, eg your National Insurance number or credit card details."
  }
}) }}
