<!DOCTYPE html>
<html lang="en">
<head>
  <title>GOV.UK Frontend</title>
  <link rel="stylesheet" href="/css/govuk-frontend0.0.6-alpha.min.css">
  <!--[if IE 8]>
  <link rel="stylesheet" href="/css/govuk-frontend-oldie0.0.6-alpha.min.css">
  <![endif]-->
</head>
<body>
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#" class="govuk-c-link-back">Back</a>

  <script src="/js/govuk-frontend0.0.6-alpha.min.js"></script>
</body>
</html>
