@import "@govuk-frontend/globals/common";
@import "@govuk-frontend/label/label";
@import "@govuk-frontend/error-message/error-message";

@include exports("textarea") {
  .govuk-c-textarea {
    @include govuk-font-regular;
    @include govuk-typography-responsive(
      $govuk-font-19,
      $override-line-height: 1.25
    );
    @include govuk-focusable;

    -webkit-box-sizing: border-box;

            box-sizing: border-box; // should this be global?
    display: block;
    width: 100%;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
    padding: $govuk-spacing-scale-1;

    border: $govuk-border-width-form-element solid $govuk-text-colour;
    border-radius: 0;

    -webkit-appearance: none;
  }

  .govuk-c-textarea--error {
    border: $govuk-border-width-error solid $govuk-error-colour;
  }
}
