////
/// @group settings/spacing
////

/// Single point spacing variables. Access using `govuk-spacing()`
/// (see `helpers/spacing`).
///
/// @type Map
/// @access private

$govuk-spacing-points: (
  0: 0,
  1: 4px,
  2: 8px,
  3: 16px,
  4: 24px,
  5: 32px,
  6: 40px,
  7: 48px,
  8: 56px,
  9: 64px
) !default;

/// Responsive spacing maps
///
/// These definitions are used to generate responsive spacing that adapts
/// according to the breakpoints (see 'helpers/spacing'). These maps should be
/// used wherever possible to standardise responsive spacing.
///
/// You can define different behaviour on tablet and desktop. The 'null'
/// breakpoint is for mobile.
///
/// Access responsive spacing with `govuk-responsive-margin` or
/// `govuk-responsive-padding` mixins (see `helpers/spacing`).
///
/// @type Map
/// @access private

$govuk-spacing-responsive-scale: (
  0: (
    null: 0
  ),
  1: (
    null: 4px
  ),
  2: (
    null: 8px
  ),
  3: (
    null: 8px
  ),
  4: (
    null: 16px,
    tablet: 24px
  ),
  5: (
    null: 24px,
    tablet: 32px
  ),
  6: (
    null: 32px,
    tablet: 40px
  ),
  7: (
    null: 40px,
    tablet: 48px
  ),
  8: (
    null: 48px,
    tablet: 56px
  ),
  9: (
    null: 56px,
    tablet: 64px
  )
) !default;
