////
/// @group settings/typography
////



// =========================================================
// Font families
// =========================================================

/// Font families to use for all typography on screen media
///
/// @type List
/// @access public

$govuk-font-family: $govuk-font-family-nta !default;

/// Font families to use when displaying tabular numbers
///
/// @type List
/// @access public

$govuk-font-family-tabular: $govuk-font-family-nta-tabular !default;

/// Font families to use for print media
///
/// @type List
/// @access public

$govuk-font-family-print: sans-serif !default;

/// Include the default @font-face declarations
///
/// If you have set $govuk-font-family to something other than $govuk-font-family-nta this option is disabled by default.
///
/// If you are using $govuk-compatibility-govuktemplate this option is disabled by default.
///
/// @type Boolean
/// @access public

$govuk-include-default-font-face: (
  $govuk-font-family == $govuk-font-family-nta and
  not($govuk-compatibility-govuktemplate)
 ) !default;

// =========================================================
// Font weights
// =========================================================

/// Font weight for regular typography
///
/// @type Number
/// @access public
$govuk-font-weight-regular: 400 !default;

/// Font weight for bold typography
///
/// @type Number
/// @access public
$govuk-font-weight-bold: 700 !default;
