@import "../globals/tools/exports";
@import "../globals/tools/iff";

@import "../globals/settings/colours-palette";
@import "../globals/settings/colours-applied";
@import "../globals/settings/spacing";
@import "../globals/settings/measurements";

@import "../globals/helpers/media-queries";

@import "../globals/helpers/typography";
@import "../globals/settings/typography-font-stacks";
@import "../globals/settings/typography-font";
@import "../globals/settings/typography-responsive";

@include govuk-exports("panel") {

  .govuk-c-panel {
    @include govuk-font-regular-19;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;

    margin-bottom: $govuk-spacing-scale-3;
    padding: $govuk-spacing-scale-7 - $govuk-border-width;

    border: $govuk-border-width solid transparent;

    text-align: center;

    @include mq($until: tablet) {
      padding: $govuk-spacing-scale-6 - $govuk-border-width;
    }
  }

  .govuk-c-panel--confirmation {
    color: $govuk-white;
    background: $govuk-turquoise;
  }

  .govuk-c-panel__title {
    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-6;

    @include govuk-font-bold-48;
  }

  .govuk-c-panel__body {
    @include govuk-font-regular-36;
  }

}
