@import "@govuk-frontend/globals/import-once";
@import "@govuk-frontend/globals/helpers-px-to-em";
@import "@govuk-frontend/globals/font-face";
@import "@govuk-frontend/globals/spacing";
@import "@govuk-frontend/globals/typography";
@import "@govuk-frontend/globals/vars";

@include exports("panel") {

  .govuk-c-panel {
    // TODO: Make margins under components consistent
    margin-bottom: $govuk-spacing-scale-3;
    padding: $govuk-spacing-scale-5 $govuk-spacing-scale-3;

    font-family: $govuk-font-stack;
    @include font-smoothing;
    @include govuk-core-19;

    text-align: center;
  }

  .govuk-c-panel--confirmation {
    color: $govuk-white;
    background: $govuk-turquoise;
  }

  .govuk-c-panel--information {
    color: $govuk-white;
    background: $govuk-blue;
  }

  .govuk-c-panel__title {
    margin-top: em($govuk-spacing-scale-6, 48px);
    margin-bottom: em($govuk-spacing-scale-5, 48px);

    @include govuk-bold-48;
  }

  .govuk-c-panel__body {
    // TODO: Fix margin values
    margin-top: em($govuk-spacing-scale-2, 48px);
    margin-bottom: em($govuk-spacing-scale-5, 48px); //use to be 37.895px

    @include govuk-core-36;
  }

}
