<div class="sdn-searchbar">
    <div class="sdn-searchbar__item sdn-searchbar-block">
        <div class="sdn-searchbar-block__item">
            <input class="govuk-input" type="search" placeholder="Vyhľadať životnú situáciu">
        </div>
        <div class="sdn-searchbar-block__item sdn-searchbar-block__item--stretched">
            <button class="govuk-button govuk-button--large">Hľadat</button>
        </div>
    </div>
</div>