@if not mixin-exists("govuk-exports") {
  @warn "Importing items from the core layer without first importing `base` is deprecated, and will no longer work as of GOV.UK Frontend v4.0.";
}

@import "../base";

@import "links";
@import "typography";

@mixin govuk-global-styles {
  a {
    @extend %govuk-link;
  }

  p {
    @extend %govuk-body-m;
  }
}

@include govuk-exports("govuk/core/global-styles") {

  @if $govuk-global-styles == true {
    @include govuk-global-styles;
  }
}
