@import "../globals/tools/exports";
@import "../globals/tools/iff";

@import "../globals/settings/colours-palette";
@import "../globals/settings/colours-applied";
@import "../globals/settings/spacing";

@import "../globals/helpers/media-queries";

@import "../globals/helpers/typography";
@import "../globals/settings/typography-font-stacks";
@import "../globals/settings/typography-font";
@import "../globals/settings/typography-responsive";

@include govuk-exports("tag") {
  .govuk-c-tag {
    @include govuk-font-bold;
    @include govuk-typography-responsive(
      $govuk-font-16,
      $override-line-height: 1.25
    );

    display: inline-block;
    padding: $govuk-spacing-scale-1 8px 0;

    color: $govuk-white;
    background-color: $govuk-blue;
    letter-spacing: 1px;

    text-decoration: none;
    text-transform: uppercase;
  }

  .govuk-c-tag--inactive {
    background-color: $govuk-grey-1;
  }
}
