@import "../../globals/scss/common";

@include exports("back-link") {

  .govuk-c-back-link {
    display: inline-block;
    position: relative;
    margin-top: $govuk-spacing-scale-3;
    margin-bottom: $govuk-spacing-scale-3;
    padding-left: 14px;
    border-bottom: 1px solid $govuk-black;
    color: $govuk-black;
    @include govuk-font-regular-16;
    line-height: 1.25;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $govuk-black;
    }

    // Back arrow - left pointing black arrow
    &:before {
      content: "";

      position: absolute;

      top: 0;
      bottom: 0;
      left: 0;

      margin: auto;

      @include arrow($direction: left, $base: 10px, $height: 6px);
    }
  }
}
