{% if isReadme %}
  {% set parentTemplate = "readme.njk"  %}
{% else %}
  {% set parentTemplate = "component.njk"  %}
{% endif %}

{% extends parentTemplate %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}
{% block componentDescription %}
  A component for entering dates, for example - date of birth.
{% endblock %}

{# examples #}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{{ govukTable({
  'firstCellIsHeader': true,
  'head': [
    {
      text: 'Name'
    },
    {
      text: 'Type'
    },
    {
      text: 'Required'
    },
    {
      text: 'Description'
    }
  ],
  'rows': [
    [
      {
        text: 'classes'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional additional classes'
      }
    ],
    [
      {
        text: 'id'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional id. This is used for the main component and to compose the items\' ids.'
      }
    ],
    [
      {
        text: 'name'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional name. This is used to compose the items\' names.'
      }
    ],
    [
      {
        text: 'attributes'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Any extra HTML attributes (for example data attributes) to add to the date div tag.'
      }
    ],
    [
      {
        text: 'items'
      },
      {
        text: 'array'
      },
      {
        text: 'Yes'
      },
      {
        text: 'An array of input objects with name, value and optional classes'
      }
    ],
    [
      {
        text: 'errorMessage'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional error message. See errorMessage component.'
      }
    ],
    [
      {
        text: 'fieldset'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Arguments for the fieldset component (e.g. legend). See fieldset component.'
      }
    ]
  ]
})}}
{% endblock %}
