@use "../settings/custom-properties";
@use "../settings/media-queries";
@use "../tools/exports";
@use "../tools/px-to-rem";

// CSS custom property for each breakpoint
@include exports.govuk-exports("govuk/custom-properties/breakpoints") {
  :root {
    @if custom-properties.$govuk-output-custom-properties {
      @each $name, $value in media-queries.$govuk-breakpoints {
        --govuk-breakpoint-#{$name}: #{px-to-rem.govuk-px-to-rem($value)};
      }
    }
  }
}
