@import "../tools/exports";

// This custom property is automatically overwritten during builds and
// releases. It doesn't need to be updated manually.
//
// This custom property is always output by base regardless of if
// `$govuk-output-custom-properties` is true or not to help with checking if
// multiple stylesheets are outputting the same version
@include govuk-exports("govuk/custom-properties/frontend-version") {
  :root {
    --govuk-frontend-version: "development";
  }
}
