@use "sass:map";
@use "sass:meta";

@import "../settings/custom-properties";
@import "../settings/colours-functional";
@import "../tools/exports";
@import "../helpers/colour";

// CSS custom properties for each functional colour
@include govuk-exports("govuk/custom-properties/functional-colours") {
  :root {
    @if $govuk-output-custom-properties {
      @each $name, $value in $govuk-functional-colours {
        --govuk-#{$name}-colour: #{_govuk-resolve-colour($value)};

        @if meta.type-of($value) == "map" and map.has-key($value, "media") {
          @each $query, $media-value in map.get($value, "media") {
            @media (#{$query}) {
              --govuk-#{$name}-colour: #{_govuk-resolve-colour($media-value)};
            }
          }
        }
      }
    }
  }
}
