@use "../settings/custom-properties";
@use "../settings/colours-functional";
@use "../tools/exports";
@use "../helpers/colour";

// CSS custom properties for each functional colour
@include exports.govuk-exports("govuk/custom-properties/functional-colours") {
  :root {
    @if custom-properties.$govuk-output-custom-properties {
      @each $name, $value in colours-functional.$govuk-functional-colours {
        --govuk-#{$name}-colour: #{colour.govuk-resolve-colour($value)};
      }
    }
  }
}
