@import "../settings/custom-properties";
@import "../settings/colours-functional";
@import "../tools/exports";
@import "../helpers/colour";

// CSS custom properties for each functional colour
@include govuk-exports("govuk/custom-properties/functional-colours") {
  :root {
    @if $govuk-output-custom-properties {
      @each $name, $value in $govuk-functional-colours {
        --govuk-#{$name}-colour: #{_govuk-resolve-colour($value)};
      }

      @media print {
        // Use 'true black' to avoid printers using colour ink to print body text
        --govuk-text-colour: #{govuk-functional-colour("print-text")};
      }
    }
  }
}
