{% extends "layout.njk" %}

{% block content %}

  <main id="content" role="main" class="govuk-o-width-container">
    <h1 class="heading-large">Example: Grid layout</h1>
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h2 class="heading-medium">Two thirds</h2>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
        <h2 class="heading-medium">One third</h2>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
        <h2 class="heading-medium">One third</h2>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
        <h2 class="heading-medium">One third</h2>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
        <h2 class="heading-medium">One third</h2>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
        <h2 class="heading-medium">One half</h2>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
        <h2 class="heading-medium">One half</h2>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
        <h2 class="heading-medium">One quarter</h2>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
        <h2 class="heading-medium">One quarter</h2>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
        <h2 class="heading-medium">One quarter</h2>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
        <h2 class="heading-medium">One quarter</h2>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
    </div>
  </main>
{% endblock %}
