// Brand colours
$govuk-blue: #1d70b8;
$govuk-mainstream-brand: $govuk-blue;
$govuk-green: #04663a;
$govuk-yellow: #ffdd00;

// Standard palette, greys
$govuk-black: #0b0c0c;
$govuk-light-grey: #f3f2f1;
$govuk-dark-grey: #6f777b;
$govuk-white: #ffffff;

// UI colours
$govuk-red: #b10e1e; // Errors
$govuk-light-blue: #2b8cc4; // Link hover
$govuk-light-green: #00823b; // Old button colour
$govuk-purple: #4c2c92; // Visited

