// Brand

$govuk-mainstream-brand: $govuk-blue;

// Text colour

$govuk-text-colour: $govuk-black;

// Text colour for print media
//
// Use 'true black' to avoid printers using colour ink to print body text

$govuk-print-text-colour: #000000;

// Secondary text colour
//
// Used for 'muted' text, help text, etc.

$govuk-secondary-text-colour: $govuk-dark-grey;

// Links

$govuk-link-colour: $govuk-blue;
$govuk-link-visited-colour: $govuk-dark-blue;
$govuk-link-hover-colour: $govuk-dark-blue;
$govuk-link-active-colour: $govuk-black;

// Focus colour
//
// Used for outline (and background, where appropriate) when interactive
// elements (links, form controls) have keyboard focus.

$govuk-focus-colour: $govuk-yellow;

// Error colour
//
// Used to highlight error messages and form controls in an error state

$govuk-error-colour: $govuk-red;

// Border colour
//
// Used for borders, separators, rules, keylines etc.

$govuk-border-colour: $govuk-mid-grey;

// Used for form inputs and controls

$govuk-input-border-colour: $govuk-black;

// Buttons

$govuk-button-colour: $govuk-green;
$govuk-button-hover-colour: darken($govuk-button-colour, 5%);
$govuk-button-shadow-colour: darken($govuk-button-colour, 15%);
$govuk-button-text-colour: $govuk-white;
