@include govuk-exports("input-width-overrides") {

  .govuk-\!-input-width-l {
    max-width: 32ch;
  }

  .govuk-\!-input-width-m {
    max-width: 23ch;
  }

  .govuk-\!-input-width-s {
    max-width: 13ch;
  }

}
