@import "../settings/global-styles";
@import "../tools/exports";
@import "../helpers/colour";
@import "../helpers/links";
@import "links";
@import "typography";

@mixin govuk-global-styles {
  a {
    @extend %govuk-link;
  }

  p {
    @extend %govuk-body-m;
  }
}

@include govuk-exports("govuk/core/global-styles") {
  @if $govuk-global-styles == true {
    @include govuk-global-styles;
  }
}
