@use "links";
@use "typography";
@use "settings/global-styles";
@use "tools/exports";

@mixin govuk-global-styles {
  a {
    @extend %govuk-link;
  }

  p {
    @extend %govuk-body-m;
  }
}

@include exports.govuk-exports("govuk/core/global-styles") {
  @if global-styles.$govuk-global-styles == true {
    @include govuk-global-styles;
  }
}
