@import "../tools/exports";
@import "../settings/custom-properties";

@include govuk-exports("govuk/core/govuk-frontend-properties") {
  :root {
    // This custom property is automatically overwritten during builds and
    // releases. It doesn't need to be updated manually.
    //
    // This custom property is always output by base regardless of if
    // `$govuk-output-custom-properties` is true or not to help with checking if
    // multiple stylesheets are outputting the same version
    --govuk-frontend-version: "development";

    @if $govuk-output-custom-properties {
      // CSS custom property for each breakpoint
      @each $name, $value in $govuk-breakpoints {
        --govuk-breakpoint-#{$name}: #{govuk-px-to-rem($value)};
      }

      // CSS custom properties for each functional colour
      @each $name, $value in $govuk-functional-colours {
        --_govuk-#{$name}-colour: #{_govuk-resolve-colour($value)};
      }
    }
  }
}
