@import "../tools/exports";
@import "../settings/spacing";
@import "../helpers/media-queries";

@include govuk-exports("govuk/core/govuk-frontend-properties") {
  :root {
    // This custom property is automatically overwritten during builds and
    // releases. It doesn't need to be updated manually.
    //
    // This custom property is always output by base regardless of if
    // `$govuk-output-custom-properties` is true or not to help with checking if
    // multiple stylesheets are outputting the same version
    --govuk-frontend-version: "development";

    @if $govuk-output-custom-properties {
      // CSS custom property for each breakpoint
      @each $name, $value in $govuk-breakpoints {
        --govuk-breakpoint-#{$name}: #{govuk-px-to-rem($value)};
      }

      // CSS custom properties for each functional colour
      @each $name, $value in $govuk-functional-colours {
        --_govuk-#{$name}-colour: #{$value};
      }
    }

    // CSS custom properties for responsive spacing
    @each $level, $scale-map in $govuk-spacing-responsive-scale {
      $null-value: map-get($scale-map, null);
      @if $null-value {
        --govuk-responsive-spacing-#{$level}: #{$null-value};
      }
    }
  }

  // Output media queries separately to avoid mixed-decls warnings
  @each $level, $scale-map in $govuk-spacing-responsive-scale {
    @each $breakpoint, $breakpoint-value in $scale-map {
      @if $breakpoint {
        @media #{govuk-from-breakpoint($breakpoint)} {
          :root {
            --govuk-responsive-spacing-#{$level}: #{$breakpoint-value};
          }
        }
      }
    }
  }
}
