@use "helpers/links";
@use "tools/exports";

@include exports.govuk-exports("govuk/core/links") {
  %govuk-link {
    @include links.govuk-link-common;
    @include links.govuk-link-style-default;
    @include links.govuk-link-print-friendly;
  }

  .govuk-link {
    @extend %govuk-link;
  }

  // Variant classes should always be used in conjunction with the .govuk-link
  // class, so we do not need the common link styles as they will be inherited.

  .govuk-link--muted {
    @include links.govuk-link-style-muted;
  }

  .govuk-link--text-colour {
    @include links.govuk-link-style-text;
  }

  .govuk-link--inverse {
    @include links.govuk-link-style-inverse;
  }

  .govuk-link--no-underline {
    @include links.govuk-link-style-no-underline;
  }

  .govuk-link--no-visited-state {
    @include links.govuk-link-style-no-visited-state;
  }

  // Links that only contain images

  .govuk-link-image {
    @include links.govuk-link-image;
  }
}
