@use "helpers/media-queries";
@use "helpers/spacing";
@use "helpers/typography";
@use "tools/exports";

@include exports.govuk-exports("govuk/core/lists") {
  %govuk-list {
    @include typography.govuk-font($size: 19);
    @include typography.govuk-text-colour;
    margin-top: 0;
    @include spacing.govuk-responsive-margin(4, "bottom");
    padding-left: 0;
    list-style-type: none;

    // Add a top margin for nested lists
    %govuk-list {
      margin-top: spacing.govuk-spacing(2);
    }
  }

  %govuk-list > li {
    // Lists without numbers or bullets should always have extra space between
    // list items. Lists with numbers or bullets only have this extra space on
    // tablet and above
    margin-bottom: spacing.govuk-spacing(1);
  }

  .govuk-list {
    @extend %govuk-list;
  }

  %govuk-list--bullet {
    padding-left: spacing.govuk-spacing(4);
    list-style-type: disc;
  }

  %govuk-list--number {
    padding-left: spacing.govuk-spacing(4);
    list-style-type: decimal;
  }

  %govuk-list--bullet > li,
  %govuk-list--number > li {
    margin-bottom: 0;

    @media #{media-queries.govuk-from-breakpoint(tablet)} {
      margin-bottom: spacing.govuk-spacing(1);
    }
  }

  %govuk-list--spaced > li {
    margin-bottom: spacing.govuk-spacing(2);

    @media #{media-queries.govuk-from-breakpoint(tablet)} {
      margin-bottom: spacing.govuk-spacing(3);
    }
  }

  .govuk-list--bullet {
    @extend %govuk-list--bullet;
  }

  .govuk-list--number {
    @extend %govuk-list--number;
  }

  .govuk-list--spaced {
    @extend %govuk-list--spaced;
  }
}
