@include govuk-exports("govuk/core/section-break") {
  %govuk-section-break {
    margin: 0;
    border: 0;
  }

  .govuk-section-break {
    @extend %govuk-section-break;
  }

  // Sizes

  %govuk-section-break--xl {
    margin-top: govuk-responsive-spacing(8);
    margin-bottom: govuk-responsive-spacing(8);
  }

  .govuk-section-break--xl {
    @extend %govuk-section-break--xl;
  }

  %govuk-section-break--l {
    margin-top: govuk-responsive-spacing(6);
    margin-bottom: govuk-responsive-spacing(6);
  }

  .govuk-section-break--l {
    @extend %govuk-section-break--l;
  }

  %govuk-section-break--m {
    margin-top: govuk-responsive-spacing(4);
    margin-bottom: govuk-responsive-spacing(4);
  }

  .govuk-section-break--m {
    @extend %govuk-section-break--m;
  }

  // Visible variant

  %govuk-section-break--visible {
    border-bottom: 1px solid;
    border-bottom-color: govuk-functional-colour(border);
  }

  .govuk-section-break--visible {
    @extend %govuk-section-break--visible;
  }
}
