@use "../base";

@use "placeholders--internal";

@include base.govuk-exports("govuk/core/typography") {
  @include base.govuk-custom-properties;

  // Headings

  .govuk-heading-xl {
    @extend %govuk-heading-xl;
  }

  .govuk-heading-l {
    @extend %govuk-heading-l;
  }

  .govuk-heading-m {
    @extend %govuk-heading-m;
  }

  .govuk-heading-s {
    @extend %govuk-heading-s;
  }

  // Captions to be used inside headings

  .govuk-caption-xl {
    @include base.govuk-font($size: 27);

    display: block;

    margin-bottom: base.govuk-spacing(1);

    color: base.govuk-functional-colour(secondary-text);
  }

  .govuk-caption-l {
    @include base.govuk-font($size: 24);

    display: block;

    margin-bottom: base.govuk-spacing(1);
    color: base.govuk-functional-colour(secondary-text);

    @media #{base.govuk-from-breakpoint(tablet)} {
      margin-bottom: 0;
    }
  }

  .govuk-caption-m {
    @include base.govuk-font($size: 19);

    display: block;

    color: base.govuk-functional-colour(secondary-text);
  }

  // Body (paragraphs)

  .govuk-body-l {
    @extend %govuk-body-l;
  }

  .govuk-body-m {
    @extend %govuk-body-m;
  }

  .govuk-body-s {
    @extend %govuk-body-s;
  }

  // Usage aliases

  // Using extend to alias means we also inherit any contextual adjustments that
  // refer to the 'original' class name

  .govuk-body-lead {
    @extend %govuk-body-l;
  }

  .govuk-body {
    @extend %govuk-body-m;
  }
}
