@use "helpers/visually-hidden";
@use "tools/exports";

@include exports.govuk-exports("govuk/utilities/visually-hidden") {
  .govuk-visually-hidden {
    @include visually-hidden.govuk-visually-hidden;
  }

  .govuk-visually-hidden-focusable {
    @include visually-hidden.govuk-visually-hidden-focusable;
  }
}
