{# This example is based of the live "Send your feedback to GOV.UK Verify" start page: https://www.signin.service.gov.uk/feedback #}
{% extends "_generic.njk" %}

{% from "panel/macro.njk" import govukPanel %}

{% set pageTitle = "Photo submitted" %}
{% block pageTitle %}GOV.UK - {{ pageTitle }}{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: pageTitle
      }) }}
    </div>
  </div>
{% endblock %}