{% extends "template.njk" %}

{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link rel="stylesheet" href="/public/app.css">
  <!--<![endif]-->
  <!--[if IE 8]>
    <link rel="stylesheet" href="/public/app-ie8.css">
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="/vendor/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Scoped initialisation</h1>
  <h2 class="govuk-heading-m">Unscoped section</h2>
  <p class="govuk-body">This example should intentionally not have JavaScript functionality</p>

  {{ govukCheckboxes({
    idPrefix: "not-scoped",
    name: "not-scoped",
    items: [
      {
        value: "not-scoped",
        text: "Not scoped",
        conditional: {
          html: '<p class="govuk-body">Revealed not scoped text</p>'
        }
      }
    ]
  }) }}

  <h2 class="govuk-heading-m">Scoped section</h2>
  <p class="govuk-body">Only this example should have JavaScript functionality</p>
  <div id="scoped">
    {{ govukCheckboxes({
      idPrefix: "scoped",
      name: "scoped",
      items: [
        {
          value: "scoped",
          text: "Scoped",
          conditional: {
            html: '<p class="govuk-body">Revealed scoped text</p>'
          }
        }
      ]
    }) }}
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
  <script>
    var $scope = document.getElementById('scoped')
    window.GOVUKFrontend.initAll({
      scope: $scope
    })
  </script>
{% endblock %}
