{% extends "template-static-odklad-danoveho-priznania.njk" %}

{% from "_custom/timeline/macro.njk" import govukTimeline %}
{% from "_custom/headline/macro.njk" import govukHeadline %}
{% from "_custom/todo-list/macro.njk" import govukTodoList %}
{% from "_custom/next-link/macro.njk" import govukNextLink %}

{% set step = 3 %}

{% block main %}
    <h1>Nainštalovať aplikáciu eDane</h1>

    <p>Stiahnite si <a href="https://www.financnasprava.sk/sk/elektronicke-sluzby/elektronicka-komunikacia/elektronicka-komunikacia-dane/edane">aplikáciu eDane</a>.</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://edane.drsr.sk/install/DRSR.Win.DP.DRKlient.application">Stiahnite si aplikáciu eDane pre Windows</a></li>
        <li><a href="http://edane.drsr.sk/install/java/eDane.jnlp">Stiahnite si aplikáciu eDane pre Windows/Linux/macOS</a></li>
    </ul>

    <p>Spustite stiahnutú aplikáciu a potvrďte inštaláciu aplikácie. Po otvorení aplikácie kliknite na <b>Pokračovať</b>.</p>

    {{ govukNextLink({
        label: 'Ďalšia úloha',
        text: '3. Podať oznámenie o predĺžení lehoty na podanie daňového priznania',
        url: '/examples/odklad-danoveho-priznania/podanie'
    }) }}
{% endblock %}
