{% from "label/macro.njk" import govukLabel %}

{#- Include label passing all label parameters, merging in `for` and `errorMessage` #}
<div class="govuk-form-group {%- if params.errorMessage %} govuk-form-group--error{% endif %}">

  {{- govukLabel({
    html: params.label.html,
    text: params.label.text,
    hintText: params.label.hintText,
    hintHtml: params.label.hintHtml,
    classes: params.label.classes,
    attributes: params.label.attributes,
    errorMessage: params.errorMessage,
    for: params.id
  }) -}}

  <input type="file" id="{{ params.id }}" name="{{ params.name }}" {%- if params.value %} value="{{ params.value }}"{% endif %} class="govuk-file-upload {{- ' govuk-file-upload--error' if params.errorMessage }} {{- ' ' + params.classes if params.classes}}" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
</div>
