@use "helpers/clearfix";
@use "helpers/colour";
@use "helpers/links";
@use "helpers/media-queries";
@use "helpers/spacing";
@use "helpers/typography";
@use "tools/exports";

@include exports.govuk-exports("govuk/component/tabs") {
  .govuk-tabs {
    @include spacing.govuk-responsive-margin(1, "top");
    @include spacing.govuk-responsive-margin(6, "bottom");
    @include typography.govuk-font($size: 19);
  }

  .govuk-tabs__title {
    // Set the size and weight again because this element is a heading and the
    // user agent font size overrides the inherited font size
    @include typography.govuk-font-size($size: 19);
    @include typography.govuk-typography-weight-regular;
    @include typography.govuk-text-colour;
    margin-bottom: spacing.govuk-spacing(2);
  }

  .govuk-tabs__list {
    margin: 0;
    padding: 0;
    list-style: none;
    @include spacing.govuk-responsive-margin(6, "bottom");
  }

  .govuk-tabs__list-item {
    margin-left: spacing.govuk-spacing(5);

    &::before {
      @include typography.govuk-text-colour;
      content: "\2014 "; // "— "
      margin-left: spacing.govuk-spacing(-5);
      padding-right: spacing.govuk-spacing(1);
    }
  }

  .govuk-tabs__tab {
    @include links.govuk-link-common;
    @include links.govuk-link-style-default;

    display: inline-block;
    margin-bottom: spacing.govuk-spacing(2);
  }

  .govuk-tabs__panel {
    @include spacing.govuk-responsive-margin(8, "bottom");
  }

  // GOV.UK Frontend JavaScript enabled
  .govuk-frontend-supported {
    @media #{media-queries.govuk-from-breakpoint(tablet)} {
      .govuk-tabs__list {
        @include clearfix.govuk-clearfix;
        margin-bottom: 0;
        border-bottom: 1px solid;
        border-bottom-color: colour.govuk-functional-colour(border);
      }

      .govuk-tabs__title {
        display: none;
      }

      .govuk-tabs__list-item {
        position: relative;

        margin-right: spacing.govuk-spacing(1);
        margin-bottom: 0;
        margin-left: 0;
        padding: spacing.govuk-spacing(2) spacing.govuk-spacing(4);

        float: left;
        background-color: colour.govuk-colour("black", $variant: "tint-95");
        text-align: center;

        &::before {
          content: none;
        }
      }

      .govuk-tabs__list-item--selected {
        $border-width: 1px;

        position: relative;

        margin-top: spacing.govuk-spacing(-1);

        // Compensation for border (otherwise we get a shift)
        margin-bottom: -$border-width;
        padding-top: spacing.govuk-spacing(3) - $border-width;
        padding-right: spacing.govuk-spacing(4) - $border-width;
        padding-bottom: spacing.govuk-spacing(3) + $border-width;
        padding-left: spacing.govuk-spacing(4) - $border-width;

        border: $border-width solid;
        border-bottom: 0;
        border-color: colour.govuk-functional-colour(border);

        background-color: colour.govuk-functional-colour(body-background);

        .govuk-tabs__tab {
          text-decoration: none;
        }
      }

      .govuk-tabs__tab {
        @include links.govuk-link-style-text;

        margin-bottom: 0;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }

      .govuk-tabs__panel {
        @include spacing.govuk-responsive-margin(0, "bottom");
        padding: spacing.govuk-spacing(6) spacing.govuk-spacing(4);
        border: 1px solid;
        border-top: 0;
        border-color: colour.govuk-functional-colour(border);

        & > :last-child {
          margin-bottom: 0;
        }
      }

      .govuk-tabs__panel--hidden {
        display: none;
      }
    }
  }
}
