{% extends "_generic.njk" %}

{% from "warning-text/macro.njk" import moalandWarningText %}
{% from "button/macro.njk" import moalandButton %}

{% set homepage_url = "/" %}
{% set pageTitle = "Are you sure you want to delete Josh Lyman’s account?" %}
{% block pageTitle %}{{ pageTitle }} - GOV.UK{% endblock %}

{% block content %}
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-two-thirds">

      <h1 class="moaland-heading-xl">
       {{ pageTitle }}
      </h1>

      <p class="moaland-body">Josh Lyman last logged in <strong>3 days ago</strong>.</p>

      <p class="moaland-body">By deleting their administrator account they will no longer have access to this system. All cases that <strong>Josh Lyman</strong> is assigned to will remain open but their name will be removed from the case history.</p>

      {{ moalandWarningText({
        text: "This action is final and cannot be undone.",
        iconFallbackText: "Warning",
        classes: "moaland-!-margin-bottom-8"
      }) }}

      <form method="post" novalidate>

        {{ moalandButton({
          text: "Delete account",
          classes: "moaland-button--warning moaland-!-margin-right-3"
        }) }}

        {{ moalandButton({
          text: "Cancel",
          classes: "moaland-button--secondary"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
