////
/// @group settings/colours
////

@import "../helpers/colour";

// =========================================================
// Generic
// =========================================================

/// Brand colour
///
/// @type Colour
/// @access public

$govuk-brand-colour: govuk-colour("blue") !default;

/// Text colour
///
/// @type Colour
/// @access public

$govuk-text-colour: #ffffff !default;

/// Canvas background colour
///
/// Used by the footer component and template to give the illusion of a long
/// footer.
///
/// @type Colour
/// @access public

$govuk-canvas-background-colour: #263136 !default;

/// Body background colour
///
/// @type Colour
/// @access public

$govuk-body-background-colour: #1e1f21 !default;

/// Text colour for print media
///
/// Use 'true black' to avoid printers using colour ink to print body text
///
/// @type Colour
/// @access public

$govuk-print-text-colour: #000000 !default;

/// Secondary text colour
///
/// Used in for example 'muted' text and help text.
///
/// @type Colour
/// @access public

$govuk-secondary-text-colour: #cccccc !default;

/// Focus colour
///
/// Used for outline (and background, where appropriate) when interactive
/// elements (links, form controls) have keyboard focus.
///
/// @type Colour
/// @access public

$govuk-focus-colour: govuk-colour("yellow") !default;

/// Focused text colour
///
/// Ensure that the contrast between the text and background colour passes
/// WCAG Level AA contrast requirements.
///
/// @type Colour
/// @access public

$govuk-focus-text-colour: govuk-colour("black") !default;

/// Error colour
///
/// Used to highlight error messages and form controls in an error state
///
/// @type Colour
/// @access public
///
/// Increased the luminance of existing red until it reached 5:1 contrast

$govuk-error-colour: #e96753 !default;

/// Success colour
///
/// Used to highlight success messages and banners
///
/// @type Colour
/// @access public
///
/// Increased the luminance of existing green until it reached 5:1 contrast

$govuk-success-colour: #00a357 !default;

/// Border colour
///
/// Used in for example borders, separators, rules and keylines.
///
/// @type Colour
/// @access public

$govuk-border-colour: govuk-colour("mid-grey") !default;

/// Input border colour
///
/// Used for form inputs and controls
///
/// @type Colour
/// @access public

$govuk-input-border-colour: govuk-colour("white") !default;

/// Input hover colour
///
/// Used for hover states on form controls
///
/// @type Colour
/// @access public

$govuk-hover-colour: govuk-colour("mid-grey") !default;

// =============================================================================
// Links
// =============================================================================

/// Link colour
///
/// @type Colour
/// @access public

$govuk-link-colour: #3892e0 !default;

/// Visited link colour
///
/// @type Colour
/// @access public

$govuk-link-visited-colour: #9d80db !default;

/// Link hover colour
///
/// @type Colour
/// @access public

$govuk-link-hover-colour: #5ca5e6 !default;

/// Active link colour
///
/// @type Colour
/// @access public

$govuk-link-active-colour: govuk-colour("white") !default;
