// Mixin to clear floats
@mixin govuk-clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@include govuk-exports("clearfix") {
  .govuk-clearfix {
    @include govuk-clearfix;
  }
}
