@import "../media-queries";
@import "../spacing";
@import "../utilities/clearfix";
@import "../vars";

// Build your own grids using these grid mixins
// usage:
// .container {
//   @include govuk-site-width-container;
// }

@mixin govuk-site-width-container {
  max-width: $govuk-site-width;

  @include ie-lte(8) {
    width: $govuk-site-width;
  }

  margin: 0 $govuk-spacing-scale-3;
  @include mq($from: tablet) {
    margin: 0 $govuk-spacing-scale-5;
  }

  @include mq($and: "(min-width: #{($govuk-site-width + $govuk-spacing-scale-5 * 2)})") {
    margin: 0 auto;
  }
}

@mixin govuk-grid {
  @include govuk-u-clearfix;
  margin-right: - ($govuk-spacing-scale-3);
  margin-left: - ($govuk-spacing-scale-3);
}

@mixin govuk-grid-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 $govuk-spacing-scale-3;
  float: left;
}
