<h4 class="govuk-heading-s">Markup</h4>
<pre><code class="govuk-!-font-size-16">
  {{- getHTMLCode(componentSlug, example.data) | safe -}}
</code></pre>

<h4 class="govuk-heading-s">Macro</h4>
<pre class="govuk-!-margin-bottom-0 govuk-!-font-size-16"><code>
  {{- getNunjucksCode(componentSlug, example.data) | safe -}}
</code></pre>
