<h4 class="govuk-heading-s">Markup</h4>
{% set componentHtml %}
  {% if item.children %}
    {% call loadComponentTemplate(componentName, item.data) %}
  {{ item.children | safe | trim | indent(2) -}}
    {% endcall %}
  {% else %}
    {{- loadComponentTemplate(componentName, item.data) -}}
  {% endif %}
{% endset %}
<pre><code class="govuk-!-f-16">{{- componentHtml | e -}}</code></pre>

<h4 class="govuk-heading-s">Macro</h4>
<pre class="govuk-!-mb-r0 govuk-!-f-16"><code>{% raw %}{{ {% endraw %}{{ componentName | componentNameToMacroName }}(
  {{- item.data | dump(2) -}}
  ){% raw %} }}{% endraw %}</code></pre>
