<script src="/vendor/govuk_template/javascripts/govuk-template.js"></script>

{# Frontend Toolkit dependency #}
<script src="/vendor/jquery/jquery.min.js"></script>
{# Frontend Toolkit modules #}
<script src="/vendor/govuk_frontend_toolkit/details.polyfill.js"></script>
<script src="/vendor/govuk_frontend_toolkit/modules.js"></script>
<script src="/vendor/govuk_frontend_toolkit/modules/auto-track-event.js"></script>
<script src="/vendor/govuk_frontend_toolkit/primary-links.js"></script>
<script src="/vendor/govuk_frontend_toolkit/shim-links-with-button-role.js"></script>
<script src="/vendor/govuk_frontend_toolkit/show-hide-content.js"></script>
<script src="/vendor/govuk_frontend_toolkit/stick-at-top-when-scrolling.js"></script>
<script src="/vendor/govuk_frontend_toolkit/stop-scrolling-at-footer.js"></script>

<script>
  (function() {
    // Instantiate Frontend Toolkit modules
    // Ordering follows what we do in test manifest: /spec/manifest.js
    GOVUK.details.init()
    GOVUK.modules.start()
    GOVUK.primaryLinks.init()

    var showHideContent = new GOVUK.ShowHideContent()
    showHideContent.init()

    GOVUK.stickAtTopWhenScrolling.init()
    GOVUK.shimLinksWithButtonRole.init()

    // Copied from https://github.com/alphagov/govuk_elements/blob/ef0baed92fabbbfdc0f6ea09d7dd76bffa994bf8/assets/javascripts/application.js#L22
    $(window).load(function () {
      // If there is an error summary, set focus to the summary
      if ($('.error-summary').length) {
        $('.error-summary').focus()
        $('.error-summary a').click(function (e) {
          e.preventDefault()
          var href = $(this).attr('href')
          $(href).focus()
        })
      } else {
        // Otherwise, set focus to the field with the error
        $('.error input:first').focus()
      }
    })
  })()
</script>
