{% from "loadComponentTemplate.njk" import loadComponentTemplate %}
{% from "details/macro.njk" import govukDetails %}

{% macro showExamples(componentName, componentData) %}

{% for item in componentData.examples %}

  {# If generating the readme, skip any examples with readme: false #}
  {% if not isReadme or item.readme !== false %}

    {% if item.name == 'default' %}
      {% set itemName = 'Component default' %}
      {% set previewLink = "/components/" + componentName + "/preview" %}
      {% set previewText = 'Preview the ' + componentName + ' component' %}
    {% else %}
      {% set itemName = componentName + '--' + item.name %}
      {% set previewLink = "/components/" + componentName + '/' + item.name  + "/preview" %}
      {% set previewText = 'Preview the ' + itemName + ' example' %}
    {% endif %}

    {% if isReadme %}
      <h3>{{ itemName  | capitalize }}</h3>
      <a href="http://govuk-frontend-review.herokuapp.com{{ previewLink }}">{{ previewText }}</a>
      {% include "code.njk" %}
    {% else %}
      <section aria-labelledby="heading-{{ itemName}}">
        <div class="govuk-heading-m">
          <h3 id="heading-{{ itemName}}" class="app-!-di">{{ itemName  | capitalize }}</h3>
          <a href="{{ previewLink }}" class="govuk-link govuk-!-ml-r1 govuk-!-f-16">
            (open in a new window)
          </a>
        </div>

        <div class="app-c-component-preview govuk-!-mb-r4">
          <iframe
          class="js-component-preview app-c-component-preview__iframe"
          src="{{ previewLink }}?iframe=true"
          frameBorder="0"
          allowTransparency="true"
          scrolling="auto"
          ></iframe>
        </div>

        {% set detailsHtml %}{% include "code.njk" %}{% endset %}
        {{- govukDetails({ summaryText: "Code", html: detailsHtml }) -}}
      </section>
    {% endif %}
  {% endif %}
{% endfor %}
{% endmacro %}
