{% from "loadComponentTemplate.njk" import loadComponentTemplate %}
{% from "details/macro.njk" import govukDetails %}

{% macro showExamples(componentNameUrl, componentNameText, componentData) %}

{% for item in componentData.examples %}

  {# If generating the readme, skip any examples with readme: false #}
  {% if not isReadme or item.readme !== false %}

    {% set itemNameText = item.name %}
    {% set itemNameUrl = (item.name | replace(" ", "-")) %}

    {% if itemNameText == 'default' %}
      {% set itemNameText = 'Component default' %}
      {% set previewLink = '/components/' + componentNameUrl + "/preview" %}
      {% set previewText = 'Preview the ' + componentNameText + ' component' %}
    {% else %}
      {% set itemNameText = (componentNameText | capitalize) + ' ' + itemNameText %}
      {% set previewLink = '/components/' + componentNameUrl + '/' + itemNameUrl + "/preview" %}
      {% set previewText = 'Preview the ' + itemNameText + ' example' %}
    {% endif %}

    {% if isReadme %}
      <h3>{{ itemNameText }}</h3>
      <a href="http://govuk-frontend-review.herokuapp.com{{ previewLink }}">{{ previewText }}</a>
      {% include "code.njk" %}
    {% else %}
      <section aria-labelledby="heading-{{ itemNameUrl }}" class="govuk-!-margin-bottom-9">
        <div class="govuk-width-container">
          <div class="govuk-heading-m">
            <h3 id="heading-{{ itemNameUrl }}" class="app-!-di">{{ itemNameText }}</h3>
            <a href="{{ previewLink }}" class="govuk-link govuk-!-margin-left-1 govuk-!-font-size-16">
              (open in a new window)
            </a>
          </div>

        {% if item.description %}
          <p class="govuk-body">
            {{ item.description }}
          </p>
        {% endif %}
        </div>
        <div class="app-component-preview">
          <iframe
          class="js-component-preview app-component-preview__iframe"
          src="{{ previewLink }}?iframe=true"
          frameBorder="0"
          allowTransparency="true"
          scrolling="auto"
          ></iframe>
        </div>

        <div class="govuk-width-container">
          {% set detailsHtml %}{% include "code.njk" %}{% endset %}
          {{- govukDetails({ summaryText: "Code", html: detailsHtml }) -}}
        </div>
      </section>
    {% endif %}
  {% endif %}
{% endfor %}
{% endmacro %}
