{% extends "component.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}
{% block componentDescription %}
  A container set to the width of the site (960px) and its margins.
{% endblock %}
{# componentExample #}
{# componentNunjucks #}
{# componentHtml #}

{% block componentGuidanceLink %}
  http://www.linktodesignsystem.com
{% endblock %}

{% block componentArguments %}
<!-- TODO: Use the table macro here and pass it component argument data -->

| Name          | Type    | Required  | Description
|---            |---      |---        |---
| classes       | string  | No        | Optional additional classes
{% endblock %}
