{% from "button/macro.njk" import govukButton %}

<footer class="sdn-footer {{ params.classes if params.classes }}" role="contentinfo"
        {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="govuk-width-container {{ params.containerClasses if params.containerClasses }}">
    <div class="sdn-footer__container">
      <div class="sdn-footer__newsletter">
        <span class="sdn-footer__newsletter-heading">Novinky emailom <small class="sdn-footer__newsletter-heading-tooltip">(raz mesačne)</small></span>
        <div id="newsletter-success" style="display: none">
          <p>
            <strong>Na Váš e-mail sme poslali potvrdzovaciu správu.</strong>
            <br>
            Ďakujeme za Váš záujem.
          </p>
        </div>
        <form id="newsletter-form" action="{{ newsletterFormUrl|default('') }}" data-action="https://my.sendinblue.com/users/subscribeembed/js_id/29wti/id/4" method="post">
          <div class="govuk-form-group sdn-footer__newsletter-form-group">
            <input type="hidden" name="js_id" id="js_id" value="29wti">
            <input type="hidden" name="listid" id="listid" value="4">
            <input type="hidden" name="from_url" id="from_url" value="yes">
            <input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
            <input id="email-input" class="govuk-input sdn-footer__newsletter-input" name="email" placeholder="Zadajte emailovú adresu" />
            {{ govukButton({
              "text": "Prihlásiť",
              "classes": "sdn-footer__newsletter-button"
            }) }}
          </div>
        </form>
        <span class="sdn-footer__newsletter-disclaimer">Prihlásením dávam dobrovoľný súhlas OZ Slovensko.Digital na zasielanie bezplatného newslettera na mnou zadaný e-mail. Tento súhlas môžem kedykoľvek odvolať na <a href="mailto:kontakt@slovensko.digital" class="sdn-footer__link">kontakt@slovensko.digital</a>. Oboznámil(a) som sa s informáciami v sekcii <a href="#" class="sdn-footer__link">Ochrana osobných údajov</a>.</span>
      </div>
      <div class="sdn-footer__donate">
        <span class="sdn-footer__heart-wrapper">
          <span class="sdn-footer__heart"></span>
        </span>
        <span class="sdn-footer__donate-text">Páči sa vám čo pre vás robíme?<br><a href="https://slovensko.digital/dve-percenta#ako-poukazat" class="sdn-footer__link sdn-footer__donate-link">Podporte nás</a></span>
      </div>
    </div>
  </div>
  <div class="sdn-footer__bottom-container">
    <div class="govuk-width-container">
      <div class="sdn-footer__bottom-columns">
        <div class="sdn-footer__links">
          <ul>
            {% for link in params.links %}
            <li>
              <a href="{{ link.url }}">{{ link.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="sdn-footer__contact">
          <div class="sdn-footer__contact-content">
            <strong>Slovensko.Digital</strong><br>
            Staré grunty 12, 841 04 Bratislava<br>
            IČO: 50158635<br>
            <a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a>
          </div>
        </div>
        {% if params.social %}
        <div class="sdn-footer__social">
          {% for name, url in params.social %}
            <a href="{{ url }}" class="footer-icon footer-icon__{{ name }}"><span>{{ name }}</span></a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
