@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include govuk-exports("govuk/component/tag") {
  .govuk-tag {

    display: inline-block;

    // When a user customises their colours often the background is removed,
    // by adding a outline we ensure that the tag component still keeps it's meaning.
    // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
    outline: 2px solid transparent;
    outline-offset: -2px;

    color: govuk-colour("white");
    background-color: govuk-colour("blue");
    // Deprecation warning: This will be removed in v4. 
    // Use the .govuk-tag--uppercase modifier to make tag uppercase / spaced out if required.
    letter-spacing: 1px;

    text-decoration: none;
    // Deprecation warning: This will be removed in v4. 
    // Use the .govuk-tag--uppercase modifier to make tag uppercase / spaced out if required.
    text-transform: uppercase;

    @if $govuk-use-legacy-font {
      // Since New Transport sits slightly higher than other common fonts.
      // We use intentionally uneven padding to make it balanced, this can be
      // removed using the version of the font that has a more common vertical spacing.
      @include govuk-font($size: 16, $weight: bold, $line-height: 1.25);
      padding-top: 4px;
      padding-right: 8px;
      padding-bottom: 1px;
      padding-left: 8px;
    } @else {
      @include govuk-font($size: 16, $weight: bold, $line-height: 1);
      padding-top: 5px;
      padding-right: 8px;
      padding-bottom: 4px;
      padding-left: 8px;
    }
  }

  .govuk-tag--uppercase {
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .govuk-tag--lowercase {
    letter-spacing: normal;
    text-transform: lowercase;

    &:first-letter {
      // Force first letter to be a capital after transformation.
      text-transform: capitalize;
    }
  }

  .govuk-tag--inactive {
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-left: 6px;
    border: 2px solid govuk-colour("dark-grey", $legacy: "grey-1");
    color: govuk-colour("dark-grey", $legacy: "grey-1");
    background-color: govuk-colour("white");
    // background-color: govuk-colour("dark-grey", $legacy: "grey-1");
  }

  .govuk-tag--warning {
    background-color: govuk-colour("red");
  }
}
