{% from "header/macro.njk" import govukHeader %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}

{% extends "template.njk" %}

{% set assetPath = '/assets/' %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link rel="stylesheet" href="/public/app.css">
  <!--<![endif]-->
  <!--[if IE 8]>
    <link rel="stylesheet" href="/public/app-ie8.css">
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    containerClasses: "govuk-width-container",
    serviceName: "Service Name",
    navigation: [
      {
        href: '#1',
        text: 'Navigation item 1',
        active: true
      },
      {
        href: '#2',
        text: 'Navigation item 2'
      },
      {
        href: '#3',
        text: 'Navigation item 3'
      }
    ]
  }) }}
{% endblock %}

{% block main %}
  {{ govukPhaseBanner({
    classes: "govuk-width-container",
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ super() }}
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
{% endblock %}
