// Example usage with Breadcrumbs, phase banners, back links:
// <div class="govuk-o-width-container">
//   <!-- Breadcrumbs, phase banners, back links are placed in here. -->
//   <div class="govuk-o-main-wrapper">
//       <!-- Wrapper for the main content of your page which applies padding
//            to the top / bottom -->
//   </div>
// </div>
//
// Example usage without Breadcrumbs, phase banners, back links:
// <div class="govuk-o-width-container">
//   <div class="govuk-main-wrapper govuk-o-main-wrapper--l">
//       <!-- Wrapper for the main content of your page which applies padding
//            to the top / bottom -->
//   </div>
// </div>


@mixin govuk-main-wrapper {
  @include govuk-responsive-padding($govuk-spacing-responsive-6, "top");
  @include govuk-responsive-padding($govuk-spacing-responsive-6, "bottom");
}

// Use govuk-main-wrapper--l when you page does not have Breadcrumbs, phase banners or back links
@mixin govuk-main-wrapper--l {
  @include govuk-responsive-padding($govuk-spacing-responsive-8, "top");
}

@include govuk-exports("main-wrapper") {
  .govuk-o-main-wrapper {
    @include govuk-main-wrapper;
  }

  .govuk-o-main-wrapper--l {
    @include govuk-main-wrapper--l;
  }
}
