@import "../../globals/scss/common";

@include exports("fieldset") {
  .govuk-c-fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    @include govuk-u-clearfix;
  }

  .govuk-c-fieldset__legend {
    // Fix legend text wrapping in Edge and IE
    // 1. IE9-11 & Edge 12-13
    // 2. IE8-11
    box-sizing: border-box; // 1
    display: table;         // 2
    max-width: 100%;        // 1
    padding: 0;
    // Hack to let legends or elements within legends have margins in webkit browsers
    overflow: hidden;

    color: $govuk-text-colour;
    font-family: $govuk-font-stack;
    white-space: normal;    // 1
    @include font-smoothing;
    @include govuk-core-19;
  }

  .govuk-c-fieldset__legend--bold {
    font-weight: 700;
  }

  // Hint text sits inside a legend, to be read by AT
  .govuk-c-fieldset__hint {
    display: block;
    color: $govuk-secondary-text-colour;
    font-weight: 400;
  }

}
