{% from "fieldset/macro.njk" import govukFieldset %}

{{ govukFieldset(
  classes='',
  legendText='Legend text goes here',
  legendHintText='Legend hint text goes here',
  legendErrorMessage='Error message goes here'
) }}
