{% from "error-message/macro.njk" import govukErrorMessage -%}

<fieldset class="govuk-c-fieldset
  {%- if classes %} {{ classes }}{% endif %}">
  {% if text %}
  <legend class="govuk-c-fieldset__legend">
    {{ text }}
    {% if hintText %}
    <span class="govuk-c-fieldset__hint">{{ hintText }}</span>
    {% endif %}
    {% if errorMessage %}
    {{ govukErrorMessage(errorMessage) -}}
    {% endif %}
  </legend>
{%- endif -%}
{{ caller() if caller }} {# if statement allows usage of `call` to be optional #}
</fieldset>
