{% from "error-message/macro.njk" import govukErrorMessage -%}

<fieldset class="govuk-c-fieldset
  {%- if params.classes %} {{ params.classes }}{% endif %}">
  {% if params.text %}
  <legend class="govuk-c-fieldset__legend">
    {{ params.text }}
    {% if params.hintText %}
    <span class="govuk-c-fieldset__hint">{{ params.hintText }}</span>
    {% endif %}
    {% if params.errorMessage %}
    {{ govukErrorMessage(params.errorMessage) -}}
    {% endif %}
  </legend>
{%- endif -%}
{{ caller() if caller }} {# if statement allows usage of `call` to be optional #}
</fieldset>
