@import "../../globals/scss/import-once";
@import "../../globals/scss/helpers-url";
@import "../../globals/scss/typography";
@import "../../globals/scss/utilities/clearfix";
@import "../../globals/scss/vars";


@include exports("breadcrumb") {
  .govuk-c-breadcrumb {
    padding-top: .75em;
    padding-bottom: .75em;

    font-family: $govuk-font-stack;
    @include font-smoothing;
  }

  .govuk-c-breadcrumb__list {
    @include govuk-u-clearfix;
  }

  .govuk-c-breadcrumb__list-item {
    @include govuk-core-16;
    margin-bottom: .4em;
    margin-left: .6em;
    padding-left: .9em;
    float: left;
    list-style: none;
    background-image: file-url("separator.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
  }

  .govuk-c-breadcrumb__list-item:first-child {
    margin-left: 0;
    padding-left: 0;
    background-image: none;
  }

  .govuk-c-breadcrumb__link {
    color: $govuk-text-colour;
  }
}
