{% from "breadcrumb/macro.njk" import govukBreadcrumb %}

{{ govukBreadcrumb(
  {
  "classes": "extra-dummy-class",
  "items": [
    {
      "title": "Section 1",
      "url": "/section"
    },
    {
      "title": "Sub-section",
      "url": "/section/sub-section"
    }
  ]
}
) }}
