<div class="govuk-c-breadcrumb
{%- if params.classes %} {{ params.classes }}{% endif %}">
  <ol class="govuk-c-breadcrumb__list">
  {% for item in params.items %}
    {% if item.url %}
    <li class="govuk-c-breadcrumb__list-item">
      <a class="govuk-c-breadcrumb__link" href="{{ item.url }}">{{ item.title }}</a>
    </li>
    {% else %}
    <li class="govuk-c-breadcrumb__list-item" aria-current="page">{{ item.title }}</li>
    {% endif %}
  {% endfor %}
  </ol>
</div>
