@import "../../../settings/all";
@import "../../../tools/all";
@import "../../../helpers/all";
@import "../_partials/gradient-background";


@include govuk-exports("sdn/component/searchbar") {
  // todo replace colors from global variables
  $from: #2e3ac7;
  $to: #448bef;
  $search-block-bg: govuk-colour("white");

  .sdn-searchbar-wrapper {
    @include gradient-background($from, $to);
  }

  .sdn-searchbar {
    padding-top: 52px;
    padding-bottom: 35px;
    background: -webkit-linear-gradient(left, $from 0%, $to 100%);
    background: linear-gradient(90deg, $from 0%, $to 100%);
  }

  .sdn-searchbar__item {
    height: 58px;
    border-radius: 2px;
    background-color: $search-block-bg;
  }

  .sdn-searchbar-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;

    input[type="search"] {
      width: 100%;
      border: 0;

      &:focus {
        outline: 0;
      }
    }
  }

  .sdn-searchbar-block__item {

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;

    &:first-child {
      padding: 0 20px;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
  }

  .sdn-searchbar-block__item--stretched {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;

  }

}
