@import "../../globals/scss/common";

@include exports("previous-next") {

  .govuk-c-previous-next {
    display: block;
    margin-right: -$govuk-spacing-scale-3;
    margin-left: -$govuk-spacing-scale-3;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
  }

  .govuk-c-previous-next__list {
    @include govuk-h-clearfix;
    margin: 0;
    padding: 0;
  }

  .govuk-c-previous-next__item {
    @include govuk-font-regular-16;

    width: 50%;
    padding: 0;
    list-style: none;
    text-align: right;
  }

  .govuk-c-previous-next__item--previous {
    @include mq($until: tablet) {
      width: 100%;
      float: none;
    }
    float: left;
    text-align: left;
  }

  .govuk-c-previous-next__item--next {
    @include mq($until: tablet) {
      width: 100%;
      float: none;
    }
    float: right;
    text-align: right;
  }

  .govuk-c-previous-next__link {
    @include govuk-focusable-fill;

    display: block;
    padding: $govuk-spacing-scale-3;
    text-decoration: none;

    &:visited {
      color: $govuk-link-colour;
    }

    &:hover,
    &:active {
      background-color: $govuk-canvas-colour;
    }
  }

  .govuk-c-previous-next__link-title {
    @include govuk-font-regular;
    @include govuk-typography-responsive(
      $govuk-font-27,
      $override-line-height: (33.75 / 27)
    );
    display: block;
  }

  .govuk-c-previous-next__link-icon {
    display: inline-block;
    width: .63em;
    height: .482em;
    margin-bottom: 1px;
  }

  .govuk-c-previous-next__link-label {
    display: inline-block;
    margin-top: .1em;
    text-decoration: underline;

    &:empty {
      display: none;
    }
  }

}
