{% extends "component.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}
{% block componentDescription %}
  Navigational links that allow users navigate within a series of pages.
{% endblock %}
{# defaultAndVariants #}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{{ govukTable({
  'firstCellIsHeader': true,
  'head' : [
    {
      text: 'Name'
    },
    {
      text: 'Type'
    },
    {
      text: 'Required'
    },
    {
      text: 'Description'
    }
  ],
  'rows' : [
    [
      {
        text: 'classes'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional additional classes.'
      }
    ],
    [
      {
        text: 'previous'
      },
      {
        text: 'bbject'
      },
      {
        text: 'No'
      },
      {
        text: 'Object containing data for the previous page item.'
      }
    ],
    [
      {
        text: 'next'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Object containing data for the next page item.'
      }
    ],
    [
      {
        text: 'text'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Text to use within the next or previous object.'
      }
    ],
    [
      {
        text: 'html'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'HTML to use within within the next or previous object. If this is provided, the text argument will be ignored.'
      }
    ],
    [
      {
        text: 'labelText'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Text to use for the label within the next or previous object.'
      }
    ],
    [
      {
        text: 'labelHtml'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'HTML to use for the label within within the next or previous object. If this is provided, the labelText argument will be ignored.'
      }
    ],
    [
      {
        text: 'attributes'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Any extra HTML attributes (for example data attributes) to add to the previous-next container.'
      }
    ]
  ]
}) }}
{% endblock %}
