
<nav class="govuk-c-previous-next
  {%- if params.classes %} {{ params.classes }}{% endif %}" role="navigation" aria-label="Pagination"{% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <ul class="govuk-c-previous-next__list">
    {% if params.previous %}
    <li class="govuk-c-previous-next__item govuk-c-previous-next__item--previous">
      <a class="govuk-c-previous-next__link" href="{{ params.previous.href }}" rel="prev">
        <span class="govuk-c-previous-next__link-title">
          <svg class="govuk-c-previous-next__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          {{ params.previous.html | safe if params.previous.html else params.previous.text }}
        </span>
        {% if params.previous.labelText or params.previous.labelHtml %}
        <span class="govuk-c-previous-next__link-label">{{ params.previous.labelHtml | safe if params.previous.labelHtml else params.previous.labelText }}</span>
        {% endif %}
      </a>
    </li>
    {% endif %}

    {%- if params.next %}
    <li class="govuk-c-previous-next__item govuk-c-previous-next__item--next">
      <a class="govuk-c-previous-next__link" href="{{ params.next.href }}" rel="next">
        <span class="govuk-c-previous-next__link-title">
          {{ params.next.html | safe if params.next.html else params.next.text }}
          <svg class="govuk-c-previous-next__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </span>
        {% if params.next.labelText or params.next.labelHtml %}
        <span class="govuk-c-previous-next__link-label">{{ params.next.labelHtml | safe if params.next.labelHtml else params.next.labelText }}</span>
        {% endif %}
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
