@import "@govuk-frontend/globals/import-once";
@import "@govuk-frontend/globals/helpers-px-to-em";
@import "@govuk-frontend/globals/typography";
@import "@govuk-frontend/globals/utilities/borders";
@import "@govuk-frontend/globals/vars";

@include exports("inset-text") {
  .govuk-c-inset-text {
    padding: em($govuk-spacing-scale-3, 19px);

    clear: both;

    font-family: $govuk-font-stack;
    @include govuk-core-19;
    @include font-smoothing;
    @include govuk-u-border-left($govuk-border-width-wide, $govuk-border-colour);
  }

    .govuk-c-inset-text :first-child {
      margin-top: 0;
    }

    .govuk-c-inset-text :only-child,
    .govuk-c-inset-text :last-child {
      margin-bottom: 0;
    }
}
