{% if isReadme %}
  {% set parentTemplate = "readme.njk"  %}
{% else %}
  {% set parentTemplate = "component.njk"  %}
{% endif %}

{% extends parentTemplate %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}

{% block componentDescription %}
  Use labels for all form fields.
{% endblock %}

{# examples #}

{# override link to design system here if it's different to base url + componentName #}
{% set componentGuidanceLink = false %}

{% block componentArguments %}
{{ govukTable({
  'firstCellIsHeader': true,
  'head' : [
    {
      text: 'Name'
    },
    {
      text: 'Type'
    },
    {
      text: 'Required'
    },
    {
      text: 'Description'
    }
  ],
  'rows' : [
    [
      {
        text: 'classes'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional additional classes'
      }
    ],
    [
      {
        text: 'text'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Text to use within the label'
      }
    ],
    [
      {
        text: 'html'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'HTML to use within the label. If this is provided, the text argument will be ignored.'
      }
    ],
    [
      {
        text: 'for'
      },
      {
        text: 'string'
      },
      {
        text: 'Yes'
      },
      {
        text: 'The value of the for attribute, the id of the input the label is associated with'
      }
    ],
    [
      {
        text: 'isPageHeading'
      },
      {
        text: 'boolean'
      },
      {
        text: 'No'
      },
      {
        text: 'Whether the label also acts as the heading for the page.'
      }
    ],
    [
      {
        text: 'attributes'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Any extra HTML attributes (for example data attributes) to add to the error message span tag.'
      }
    ]
  ]
})}}
{% endblock %}
