{% from "label/macro.njk" import govukLabel %}

{{ govukLabel({
  "text": "National Insurance number",
  "hintText": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
}
) }}
