{% from "error-message/macro.njk" import govukErrorMessage -%}

<label class="govuk-c-label
  {%- if classes %} {{ classes }}{% endif %}" for="{{ id }}">
  {{ labelText }}
  {% if hintText %}
  <span class="govuk-c-label__hint">
    {{ hintText }}
  </span>
  {% endif %}
  {% if errorMessage %}
  {{ govukErrorMessage(errorMessage) -}}
  {% endif %}
</label>
