{% from "error-message/macro.njk" import govukErrorMessage -%}

<label class="govuk-c-label
  {%- if params.classes %} {{ params.classes }}{% endif %}" for="{{ params.id }}">
  {{ params.labelText }}
  {% if params.hintText %}
  <span class="govuk-c-label__hint">
    {{ params.hintText }}
  </span>
  {% endif %}
  {% if params.errorMessage %}
  {{ govukErrorMessage(params.errorMessage) -}}
  {% endif %}
</label>
