{% from "../form-group/macro.njk" import govukFormGroup -%}

{#- a record of other elements that we need to associate with the input using
   aria-describedby – for example hints or error messages -#}
{% set describedBy = params.describedBy if params.describedBy else "" %}

{%- if params.hint -%}
  {%- set describedBy = (describedBy + ' ' + params.id + "-hint") | trim -%}
{%- endif -%}
{%- if params.errorMessage -%}
  {%- set describedBy = (describedBy + ' ' + params.id + "-error") | trim -%}
{%- endif -%}

{% call govukFormGroup(params) %}
  <select class="govuk-select
    {%- if params.classes %} {{ params.classes }}{% endif %}{%- if params.errorMessage %} govuk-select--error{% endif %}" id="{{ params.id }}" name="{{ params.name }}" {%- if describedBy %} aria-describedby="{{ describedBy }}"{% endif %} {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  {% for item in params.items %}
    <option value="{{ item.value }}"
      {{-" selected" if item.selected }}
      {{-" disabled" if item.disabled }}
      {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>{{ item.text }}</option>
  {% endfor %}
  </select>
{% endcall %}
