@include exports("links") {

  .govuk-link {
    @include govuk-font-regular;

    // Override the tap highlight colour (the color of the highlight that
    // appears when a link is tapped on some mobile devices). This is
    // ever-so-slightly darker than the default.
    -webkit-tap-highlight-color: rgba($govuk-black, .3);

    &:link {
      color: $govuk-link-colour;
    }

    &:visited {
      color: $govuk-link-visited-colour;
    }

    &:hover {
      color: $govuk-link-hover-colour;
    }

    &:active {
      color: $govuk-link-active-colour;
    }

    &:focus {
      outline: $govuk-focus-width solid $govuk-focus-colour;
      background-color: $govuk-focus-colour;
    }

    @include mq($media-type: print) {

      // When printing, append the the destination URL to the link text, as long
      // as the URL starts with either `/`, `http://` or `https://`.
      &[href^="/"],
      &[href^="http://"],
      &[href^="https://"] {
        &::after {
          content: " (" attr(href) ")";
          font-size: 90%;

          // Because the URLs may be very long, ensure that they may be broken
          // at arbitrary points if there are no otherwise acceptable break
          // points in the line
          word-wrap: break-word;
        }
      }
    }
  }

  // Muted link variant
  //
  // Used for secondary links on a page - the link will appear in muted colours
  // regardless of visited state.
  .govuk-link--muted {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $govuk-grey-1;
    }

    // When focussed, the text colour needs to be darker to ensure that colour
    // contrast is still acceptable
    &:focus {
      color: $govuk-black;
    }
  }
}
