@include exports("typography") {

  // Headings

  .govuk-heading-xl {
    @include govuk-font-bold-48;

    display: block;

    margin-bottom: $govuk-spacing-scale-5;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-7;
    }
  }

  .govuk-heading-l {
    @include govuk-font-bold-36;

    display: block;

    margin-bottom: $govuk-spacing-scale-4;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-5;
    }
  }

  .govuk-heading-m {
    @include govuk-font-bold-24;

    display: block;

    margin-bottom: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-4;
    }
  }

  .govuk-heading-s {
    @include govuk-font-bold-19;

    margin-bottom: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-4;
    }
  }

  // Body (paragraphs)

  .govuk-body-lede,
  .govuk-body-l {
    @include govuk-font-regular-24;

    margin-bottom: $govuk-spacing-scale-4;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-5;
    }
  }

  .govuk-body,
  .govuk-body-m {
    @include govuk-font-regular-19;

    margin-bottom: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-4;
    }
  }

  .govuk-body-s {
    @include govuk-font-regular-16;

    margin-bottom: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-4;
    }
  }

  .govuk-body-xs {
    @include govuk-font-regular-14;

    margin-bottom: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-4;
    }
  }

  // Contextual adjustments

  // Add a negative top margin to headings that appear directly after other
  // headings

  .govuk-heading-l + .govuk-heading-m {
    margin-top: -$govuk-spacing-scale-1;
  }

  .govuk-heading-m + .govuk-heading-s {
    margin-top: -$govuk-spacing-scale-2;
  }

  // Add top padding to headings that appear directly after paragraphs

  .govuk-body-l  + .govuk-heading-l {
    padding-top: $govuk-spacing-scale-1;

    @include mq($from: tablet) {
      padding-top: $govuk-spacing-scale-2;
    }
  }

  .govuk-body-m  + .govuk-heading-l,
  .govuk-body-s  + .govuk-heading-l {
    padding-top: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      padding-top: $govuk-spacing-scale-4;
    }
  }

  .govuk-body-m + .govuk-heading-m,
  .govuk-body-s + .govuk-heading-m {
    padding-top: $govuk-spacing-scale-1;

    @include mq($from: tablet) {
      padding-top: $govuk-spacing-scale-2;
    }
  }

}
