@include exports("typography") {

  .govuk-heading-xl {
    @include govuk-text-colour;
    @include govuk-font-bold-48;

    display: block;

    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-5;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-7;
    }
  }

  .govuk-heading-l {
    @include govuk-text-colour;
    @include govuk-font-bold-36;

    display: block;

    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-4;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-5;
    }
  }

  .govuk-heading-m {
    @include govuk-text-colour;
    @include govuk-font-bold-24;

    display: block;

    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-4;
    }
  }

  .govuk-heading-s {
    @include govuk-text-colour;
    @include govuk-font-bold-19;

    display: block;

    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-4;
    }
  }

  // Captions to be used inside headings

  .govuk-caption-xl {
    @include govuk-text-colour;
    @include govuk-font-regular-27;

    display: block;

    margin-bottom: $govuk-spacing-scale-1;

    color: $govuk-secondary-text-colour;
  }

  .govuk-caption-l {
    @include govuk-text-colour;
    @include govuk-font-regular-24;

    display: block;

    margin-bottom: $govuk-spacing-scale-1;
    color: $govuk-secondary-text-colour;

    @include mq($from: tablet) {
      margin-bottom: 0;
    }
  }

  .govuk-caption-m {
    @include govuk-text-colour;
    @include govuk-font-regular-19;

    display: block;

    color: $govuk-secondary-text-colour;
  }

  // Body (paragraphs)

  .govuk-body-l {
    @include govuk-text-colour;
    @include govuk-font-regular-24;

    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-4;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-5;
    }
  }

  .govuk-body-m {
    @include govuk-text-colour;
    @include govuk-font-regular-19;

    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-4;
    }
  }

  .govuk-body-s {
    @include govuk-text-colour;
    @include govuk-font-regular-16;

    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-4;
    }
  }

  .govuk-body-xs {
    @include govuk-text-colour;
    @include govuk-font-regular-14;

    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-4;
    }
  }

  // Usage aliases

  // Using extend to alias means we also inherit any contextual adjustments that
  // refer to the 'original' class name

  .govuk-body-lede {
    @extend .govuk-body-l;
  }

  .govuk-body {
    @extend .govuk-body-m;
  }

  // Contextual adjustments

  // Add a negative top margin to headings that appear directly after other
  // headings

  .govuk-heading-l + .govuk-heading-m {
    margin-top: -$govuk-spacing-scale-1;
  }

  .govuk-heading-m + .govuk-heading-s {
    margin-top: -$govuk-spacing-scale-2;
  }

  // Add top padding to headings that appear directly after paragraphs

  .govuk-body-l  + .govuk-heading-l {
    padding-top: $govuk-spacing-scale-1;

    @include mq($from: tablet) {
      padding-top: $govuk-spacing-scale-2;
    }
  }

  .govuk-body-m  + .govuk-heading-l,
  .govuk-body-s  + .govuk-heading-l {
    padding-top: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      padding-top: $govuk-spacing-scale-4;
    }
  }

  .govuk-body-m + .govuk-heading-m,
  .govuk-body-s + .govuk-heading-m,
  .govuk-body-m + .govuk-heading-s,
  .govuk-body-s + .govuk-heading-s {
    padding-top: $govuk-spacing-scale-1;

    @include mq($from: tablet) {
      padding-top: $govuk-spacing-scale-2;
    }
  }

}
