@include exports("typography") {

  // Headings

  .govuk-heading-xl {
    @include govuk-text-colour;
    @include govuk-font-bold-48;

    display: block;

    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-8, "bottom");
  }

  .govuk-heading-l {
    @include govuk-text-colour;
    @include govuk-font-bold-36;

    display: block;

    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");

  }

  .govuk-heading-m {
    @include govuk-text-colour;
    @include govuk-font-bold-24;

    display: block;

    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-4, "bottom");
  }

  .govuk-heading-s {
    @include govuk-text-colour;
    @include govuk-font-bold-19;

    display: block;

    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-4, "bottom");
  }

  // Captions to be used inside headings

  .govuk-caption-xl {
    @include govuk-text-colour;
    @include govuk-font-regular-27;

    display: block;

    margin-bottom: $govuk-spacing-scale-1;

    color: $govuk-secondary-text-colour;
  }

  .govuk-caption-l {
    @include govuk-text-colour;
    @include govuk-font-regular-24;

    display: block;

    margin-bottom: $govuk-spacing-scale-1;
    color: $govuk-secondary-text-colour;

    @include mq($from: tablet) {
      margin-bottom: 0;
    }
  }

  .govuk-caption-m {
    @include govuk-text-colour;
    @include govuk-font-regular-19;

    display: block;

    color: $govuk-secondary-text-colour;
  }

  // Body (paragraphs)

  .govuk-body-l {
    @include govuk-text-colour;
    @include govuk-font-regular-24;

    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
  }

  .govuk-body-m {
    @include govuk-text-colour;
    @include govuk-font-regular-19;

    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-4, "bottom");
  }

  .govuk-body-s {
    @include govuk-text-colour;
    @include govuk-font-regular-16;

    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-4, "bottom");
  }

  .govuk-body-xs {
    @include govuk-text-colour;
    @include govuk-font-regular-14;

    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-4, "bottom");
  }

  // Usage aliases

  // Using extend to alias means we also inherit any contextual adjustments that
  // refer to the 'original' class name

  .govuk-body-lead {
    @extend .govuk-body-l;
  }

  .govuk-body {
    @extend .govuk-body-m;
  }

  // Contextual adjustments

  // Add top padding to headings that appear directly after paragraphs

  .govuk-body-l  + .govuk-heading-l {
    padding-top: $govuk-spacing-scale-1;

    @include mq($from: tablet) {
      padding-top: $govuk-spacing-scale-2;
    }
  }

  .govuk-body-m  + .govuk-heading-l,
  .govuk-body-s  + .govuk-heading-l,
  .govuk-list + .govuk-heading-l {
    @include govuk-responsive-padding($govuk-spacing-responsive-4, "top");
  }

  .govuk-body-m + .govuk-heading-m,
  .govuk-body-s + .govuk-heading-m,
  .govuk-list + .govuk-heading-m,
  .govuk-body-m + .govuk-heading-s,
  .govuk-body-s + .govuk-heading-s,
  .govuk-list + .govuk-heading-s {
    padding-top: $govuk-spacing-scale-1;

    @include mq($from: tablet) {
      padding-top: $govuk-spacing-scale-2;
    }
  }

  // Form group error style
  .govuk-form-group--error {
    padding-left: 15px;
    border-left: 5px solid $govuk-red;
  }

}
