@include govuk-exports("govuk/core/links") {
  %govuk-link {
    @include govuk-link-common;
    @include govuk-link-style-default;
    @include govuk-link-print-friendly;
  }

  .govuk-link {
    @extend %govuk-link;
  }

  .idsk-link-l {
    @extend %govuk-link;
    font-size: 19px;
    letter-spacing: 0.5px;
    line-height: 28px;

    @media (min-width: 40.0625em) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  .idsk-link-m {
    @extend %govuk-link;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;

    @media (min-width: 40.0625em) {
      font-size: 19px;
    }
  }

  .idsk-link-s {
    @extend %govuk-link;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 20px;

    @media (min-width: 40.0625em) {
      font-size: 16px;
      letter-spacing: 0.1px;
      line-height: 28px;
    }
  }

  .idsk-link-caption {
    @extend %govuk-link;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    @media (max-width: 40.0625em) {
      letter-spacing: 0.4px;
    }
  }

  // Variant classes should always be used in conjunction with the .govuk-link
  // class, so we do not need the common link styles as they will be inherited.

  .govuk-link--muted {
    @include govuk-link-style-muted;
  }

  .govuk-link--text-colour {
    @include govuk-link-style-text;
  }

  .govuk-link--inverse {
    @include govuk-link-style-inverse;
  }

  .govuk-link--no-underline {
    @include govuk-link-style-no-underline;
  }

  .govuk-link--no-visited-state {
    @include govuk-link-style-no-visited-state;
  }

  // Links that only contain images

  .govuk-link-image {
    @include govuk-link-image;
  }
}
