@import "../globals/tools/exports";
@import "../globals/tools/iff";

@import "../globals/settings/colours-palette";
@import "../globals/settings/colours-applied";
@import "../globals/settings/spacing";
@import "../globals/settings/measurements";

@import "../globals/helpers/media-queries";
@import "../globals/helpers/spacing";
@import "../globals/helpers/visually-hidden";

@import "../globals/objects/shapes";

@import "../globals/helpers/typography";
@import "../globals/settings/typography-font-stacks";
@import "../globals/settings/typography-font";
@import "../globals/settings/typography-responsive";

@include govuk-exports("warning-text") {

  .govuk-warning-text {
    @include govuk-font-regular-19;
    @include govuk-text-colour;

    position: relative;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
    padding: $govuk-spacing-scale-2 0;
  }

  .govuk-warning-text__assistive {
    @include govuk-visually-hidden;
  }

  .govuk-warning-text__icon {
    @include govuk-font-bold;

    display: inline-block;

    position: absolute;
    top: 50%;
    left: 0;

    min-width: 38px;
    min-height: 35px;
    margin-top: -20px; // Half the height of the 38px circle (adjusted for NTA)
    padding-top: 3px;

    font-size: 1.6em;
    line-height: 35px;
  }

  .govuk-warning-text__text {
    display: block;
    margin-left: -$govuk-gutter-half;
    padding-left: 65px;
  }
}
