{% from "warning-text/macro.njk" import govukWarningText %}

{{- govukWarningText(
  {
    "classes": "",
    "text": "You can be fined up to £5,000 if you don’t register.",
    "iconFallbackText": "Warning"
  })
-}}
