@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "../../core/lists";

@include govuk-exports("govuk/component/error-summary") {

  .govuk-error-summary {
    @include govuk-text-colour;
    @include govuk-responsive-padding(4);
    @include govuk-responsive-margin(8, "bottom");
    @include govuk-focusable;

    border: $govuk-border-width-mobile solid $govuk-error-colour;

    @include govuk-media-query($from: tablet) {
      border: $govuk-border-width solid $govuk-error-colour;
    }
  }

  .govuk-error-summary__title {
    @include govuk-font($size: 24, $weight: bold);

    margin-top: 0;
    @include govuk-responsive-margin(4, "bottom");
  }

  .govuk-error-summary__body {
    @include govuk-font($size: 19);

    p {
      margin-top: 0;
      @include govuk-responsive-margin(4, "bottom");
    }
  }

  // Cross-component class - adjusts styling of list component
  .govuk-error-summary__list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .govuk-error-summary__list a {
    @include govuk-focusable-fill;
    @include govuk-typography-weight-bold;

    // Override default link styling to use error colour
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $govuk-error-colour;
    }

    // When focussed, the text colour needs to be darker to ensure that colour
    // contrast is still acceptable
    &:focus {
      color: $govuk-focus-text-colour;
    }

    // alphagov/govuk_template includes a specific a:link:focus selector
    // designed to make unvisited links a slightly darker blue when focussed, so
    // we need to override the text colour for that combination of selectors.
    @include govuk-compatibility(govuk_template) {
      &:link:focus {
        color: $govuk-error-colour;
      }
    }
  }

}
