@import "../error-message/index";
@import "../hint/index";
@import "../label/index";

@include govuk-exports("govuk/component/textarea") {
  .govuk-textarea {
    @include govuk-font($size: 19, $line-height: 1.25);

    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 40px;
    margin-bottom: govuk-responsive-spacing(6);
    padding: govuk-spacing(1);

    resize: vertical;

    border: $govuk-border-width-form-element solid;
    border-radius: 0;
    border-color: govuk-functional-colour(input-border);

    -webkit-appearance: none;

    &:focus {
      @include govuk-focused-form-input;
    }

    &:disabled {
      opacity: 0.5;
      color: inherit;
      background-color: transparent;
      cursor: not-allowed;
    }
  }

  .govuk-textarea--error {
    border-color: govuk-functional-colour(error);

    &:focus {
      border-color: govuk-functional-colour(input-border);
    }
  }
}
