@use "../error-message/index";
@use "../hint/index" as index2;
@use "../label/index" as index3;
@use "helpers/colour";
@use "helpers/focused";
@use "helpers/spacing";
@use "helpers/typography";
@use "settings/measurements";
@use "tools/exports";

@include exports.govuk-exports("govuk/component/textarea") {
  .govuk-textarea {
    @include typography.govuk-font($size: 19, $line-height: 1.25);

    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 40px;
    @include spacing.govuk-responsive-margin(6, "bottom");
    padding: spacing.govuk-spacing(1);

    resize: vertical;

    border: measurements.$govuk-border-width-form-element solid;
    border-radius: 0;
    border-color: colour.govuk-functional-colour(input-border);

    -webkit-appearance: none;

    &:focus {
      @include focused.govuk-focused-form-input;
    }

    &:disabled {
      opacity: 0.5;
      color: inherit;
      background-color: transparent;
      cursor: not-allowed;
    }
  }

  .govuk-textarea--error {
    border-color: colour.govuk-functional-colour(error);

    &:focus {
      border-color: colour.govuk-functional-colour(input-border);
    }
  }
}
