@use "../error-message/index";
@use "../hint/index" as index2;
@use "../label/index" as index3;
@use "helpers/colour";
@use "helpers/focused";
@use "helpers/spacing";
@use "helpers/typography";
@use "settings/measurements";
@use "tools/exports";
@use "tools/px-to-rem";

@include exports.govuk-exports("govuk/component/select") {
  .govuk-select {
    @include typography.govuk-font($size: 19, $line-height: 1.25);

    box-sizing: border-box;

    // This min-width was chosen because:
    // - it makes the Select wider than it is tall (which is what users expect)
    // - 11.5em matches the 'length-10' variant of the input component
    // - it fits comfortably on screens as narrow as 240px wide
    min-width: 11.5em;
    max-width: 100%;
    height: px-to-rem.govuk-px-to-rem(40px);
    padding: spacing.govuk-spacing(1);
    border: measurements.$govuk-border-width-form-element solid;
    border-color: colour.govuk-functional-colour(input-border);

    // Default user agent colours for selects can have low contrast,
    // and may look disabled (#2435)
    color: colour.govuk-functional-colour(text);
    background-color: colour.govuk-colour("white");

    &:focus {
      @include focused.govuk-focused-form-input;
    }

    &:disabled {
      opacity: 0.5;
      color: inherit;
      cursor: not-allowed;
    }
  }

  .govuk-select option:active,
  .govuk-select option:checked,
  .govuk-select:focus::-ms-value {
    color: colour.govuk-colour("white");
    background-color: colour.govuk-colour("blue");
  }

  .govuk-select--error {
    border-color: colour.govuk-functional-colour(error);

    &:focus {
      border-color: colour.govuk-functional-colour(input-border);
    }
  }
}
