@import "../globals/tools/exports";
@import "../globals/tools/compatibility";
@import "../globals/tools/iff";

@import "../globals/settings/colours-palette";
@import "../globals/settings/colours-applied";
@import "../globals/settings/compatibility";
@import "../globals/settings/spacing";
@import "../globals/settings/measurements";

@import "../globals/helpers/media-queries";
@import "../globals/helpers/spacing";
@import "../globals/helpers/focusable";

@import "../globals/helpers/typography";
@import "../globals/settings/typography-font-stacks";
@import "../globals/settings/typography-font";
@import "../globals/settings/typography-responsive";

@import "../globals/core/lists";

@include govuk-exports("error-summary") {

  .govuk-error-summary {
    @include govuk-text-colour;
    @include govuk-responsive-padding($govuk-spacing-responsive-4);
    @include govuk-responsive-margin($govuk-spacing-responsive-8, "bottom");
    @include govuk-focusable;

    border: $govuk-border-width-mobile solid $govuk-error-colour;

    @include mq($from: tablet) {
      border: $govuk-border-width solid $govuk-error-colour;
    }
  }

  .govuk-error-summary__title {
    @include govuk-font-bold-24;

    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-4, "bottom");
  }

  .govuk-error-summary__body {
    @include govuk-font-regular-19;

    p {
      margin-top: 0;
      @include govuk-responsive-margin($govuk-spacing-responsive-4, "bottom");
    }
  }

  // Cross-component class - adjusts styling of list component
  .govuk-error-summary__list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .govuk-error-summary__list a {
    @include govuk-focusable-fill;
    @include govuk-typography-weight-bold;

    // Override default link styling to use error colour
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: $govuk-error-colour;
      text-decoration: underline;
    }

    // alphagov/govuk_template includes a specific a:link:focus selector
    // designed to make unvisited links a slightly darker blue when focussed, so
    // we need to override the text colour for that combination of selectors.
    @include govuk-compatibility(govuk_template) {
      &:link:focus {
        color: $govuk-error-colour;
      }
    }
  }

}
