@import "../globals/common";

@include govuk-exports("error-summary") {

  .govuk-c-error-summary {
    @include govuk-text-colour;
    @include govuk-responsive-padding($govuk-spacing-responsive-4);
    @include govuk-responsive-margin($govuk-spacing-responsive-8, "bottom");
    @include govuk-focusable;

    border: $govuk-border-width-mobile solid $govuk-error-colour;

    @include mq($from: tablet) {
      border: $govuk-border-width solid $govuk-error-colour;
    }

    // TODO: Fix IE < 8
    @include govuk-ie-lte(6) {
      zoom: 1;
    }
  }

  .govuk-c-error-summary__title {
    @include govuk-font-bold-24;

    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-4, "bottom");
  }

  .govuk-c-error-summary__body {
    @include govuk-font-regular-19;

    p {
      margin-top: 0;
      @include govuk-responsive-margin($govuk-spacing-responsive-4, "bottom");
    }
  }

  // Cross-component class - adjusts styling of list component
  .govuk-c-error-summary__list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .govuk-c-error-summary__list a {
    @include govuk-focusable-fill;
    @include govuk-typography-weight-bold;

    // Override default link styling to use error colour
    //
    // GOV.UK Template includes a specific a:link:focus selector designed to
    // make unvisited links a slightly darker blue when focussed, so we need to
    // override the text colour for that combination of selectors so so that
    // the links do not end up with dark blue text when focussed. (1)
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus,
    &:link:focus { // 1
      color: $govuk-error-colour;
      text-decoration: underline;
    }
  }

}
