{% from "../../macros/logo.njk" import govukLogo -%}

{%- set _rebrand = params.rebrand | default(govukRebrand) -%}
{%- set menuButtonText = params.menuButtonText if params.menuButtonText else 'Menu' -%}

{%- set logo -%}
  {{ govukLogo({
    classes: "govuk-header__logotype" if _rebrand else "govuk-header__logotype-crown",
    ariaLabelText: "GOV.UK",
    useTudorCrown: params.useTudorCrown,
    useText: {
      text: "GOV.UK",
      class: "govuk-header__logotype-text"
    } if not _rebrand else false,
    rebrand: _rebrand,
    logotype: true
  }) | trim | indent(8) }}
{%- endset -%}

<header class="govuk-header {{ params.classes if params.classes }}" role="banner" data-module="govuk-header"
        {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="govuk-header__container {{ params.containerClasses | default('govuk-width-container') }}">
    <div class="govuk-header__logo">
      <a href="{{ params.homepageUrl | default('/') }}" class="govuk-header__link govuk-header__link--homepage">
        {% if _rebrand %}
          {{ logo | safe }}
        {% else %}
        <span class="govuk-header__logotype">
          {{ logo | safe }}
        </span>
        {% endif %}
        {% if (params.productName) %}
        <span class="govuk-header__product-name">
          {{ params.productName }}
        </span>
        {% endif %}
      </a>
    </div>
    {% if params.serviceName or params.navigation  %}
    <div class="govuk-header__content">
    {% if params.serviceName %}
    {% if params.serviceUrl %}
      <a href="{{ params.serviceUrl }}" class="govuk-header__link govuk-header__service-name">
        {{ params.serviceName }}
      </a>
    {% else%}
      <span class="govuk-header__service-name">
        {{ params.serviceName }}
      </span>
    {% endif %}
    {% endif %}
    {% if params.navigation %}
    <nav aria-label="{{ params.navigationLabel | default(menuButtonText) }}" class="govuk-header__navigation {{ params.navigationClasses if params.navigationClasses }}">
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="{{ params.menuButtonLabel | default('Show or hide menu') }}" hidden>{{ menuButtonText }}</button>

      <ul id="navigation" class="govuk-header__navigation-list">
        {% for item in params.navigation %}
          {% if item.text or item.html %}
            <li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if item.active }}">
              {% if item.href %}
                <a class="govuk-header__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
              {% endif %}
                {{ item.html | safe if item.html else item.text }}
              {% if item.href %}
                </a>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
    </div>
    {% endif %}
  </div>
</header>
