@import "../../globals/scss/common";

@include exports("file-upload") {
  .govuk-c-file-upload {
    @include govuk-font-regular-19;
    @include govuk-text-colour;
    @include govuk-focusable;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
  }

  .govuk-c-file-upload--error {
    border: $govuk-border-width-form-element-error solid $govuk-error-colour;
  }
}
