@import "../../settings/all";
@import "../../tools/all";

@import "../../globals/helpers/focusable";

@import "../error-message/error-message";
@import "../hint/hint";
@import "../label/label";

@include govuk-exports("file-upload") {
  .govuk-file-upload {
    @include govuk-font-regular-19;
    @include govuk-text-colour;
    @include govuk-focusable;
  }

  .govuk-file-upload--error {
    border: $govuk-border-width-form-element-error solid $govuk-error-colour;
  }
}
