{% from "file-upload/macro.njk" import govukFileUpload %}

{{- govukFileUpload(
  labelClasses='',
  labelText='Upload a file',
  errorMessage='',
  classes='',
  id='file-upload-1',
  name='file-upload-1'
  )
-}}

{{- govukFileUpload(
  labelClasses='',
  labelText='Upload your photo',
  hintText='Your photo may be in your Pictures, Photos, Downloads or Desktop folder. Or in an app like iPhoto.',
  errorMessage='',
  classes='',
  id='file-upload-2',
  name='file-upload-2'
  )
-}}

{{- govukFileUpload(
  labelClasses='',
  labelText='Upload a file',
  hintText='',
  errorMessage='Error message goes here',
  classes='',
  id='file-upload-3',
  name='file-upload-3'
  )
-}}
