{% from "file-upload/macro.njk" import govukFileUpload %}

{{- govukFileUpload({
  labelClasses: '',
  labelText: 'Upload a file',
  errorMessage: '',
  classes: '',
  id: 'file-upload-1',
  name: 'file-upload-1'
  })
-}}
