{% from "label/macro.njk" import govukLabel %}

{{- govukLabel(
  {
    labelClasses: params.labelClasses,
    labelText: params.labelText,
    hintText: params.hintText,
    errorMessage: params.errorMessage,
    id: params.id
  }
) -}}

<input class="govuk-c-file-upload
{%- if params.classes %} {{ params.classes }}{% endif %}
{%- if params.errorMessage %} govuk-c-file-upload--error{% endif %}" id="{{ params.id }}" name="{{ params.name }}" type="file">
