{% from "../form-group/macro.njk" import govukFormGroup -%}

{#- a record of other elements that we need to associate with the input using
   aria-describedby – for example hints or error messages -#}
{%- set describedBy = "" -%}

{%- if params.hint -%}
  {%- set describedBy = (describedBy + ' ' + params.id + "-hint") | trim -%}
{%- endif -%}
{%- if params.errorMessage -%}
  {%- set describedBy = (describedBy + ' ' + params.id + "-error") | trim -%}
{%- endif -%}

{% call govukFormGroup(params) %}
  <input class="govuk-file-upload {%- if params.classes %} {{ params.classes }}{% endif %} {%- if params.errorMessage %} govuk-file-upload--error{% endif %}" id="{{ params.id }}" name="{{ params.name }}" type="file"
  {%- if params.value %} value="{{ params.value }}"{% endif %}
  {%- if describedBy %} aria-describedby="{{ describedBy }}"{% endif %}
  {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
{% endcall %}
