{% from "../tag/macro.njk" import govukTag -%}

<div class="govuk-phase-banner
  {%- if params.classes %} {{ params.classes }}{% endif %}"{% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <p class="govuk-phase-banner__content">
    {{- govukTag(
    {
      "text": params.tag.text,
      "html": params.tag.html,
      "classes": "govuk-phase-banner__content__tag " + (params.tag.classes if params.tag.classes)
    }
    ) -}}
    <span class="govuk-phase-banner__text">
      {{ params.html | safe if params.html else params.text }}
    </span>
  </p>
</div>
