////
/// @group helpers
////

/// Focusable helper
///
/// Provides an additional outline to clearly indicate when the target element is
/// focussed. Used for interactive elements which themselves have some background
/// or border, such as most form elements.
///
/// @access public

@mixin govuk-focusable {
  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
    outline-offset: 0;
  }
}

/// Focusable with fill helper
///
/// Provides an additional outline and background colour to clearly indicate when
/// the target element is focussed.
///
/// @access public

@mixin govuk-focusable-fill {
  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
    outline-offset: 0;
    background-color: $govuk-focus-colour;
    text-decoration: none;
  }
}

/// Focusable with box-shadow
///
/// Removes the visible outline and replace with box-shadow and background colour. 
/// Used for interactive text-based elements.
///
/// @access public

@mixin govuk-focusable-text {
  outline: $govuk-focus-width solid transparent;
  outline-offset: 0;
  color: $govuk-text-colour;
  background-color: $govuk-focus-colour;
  box-shadow: -5px -1px 0 1px govuk-colour("yellow"), 5px -1px 0 1px govuk-colour("yellow"), -3px 1px 0 3px govuk-colour("black"), 3px 1px 0 3px govuk-colour("black");
  text-decoration: none;
}

@mixin govuk-focusable-text-link {
  &:focus {
    @include govuk-focusable-text;
  }
}
