////
/// @group helpers
////

/// Focusable helper
///
/// Provides an additional outline to clearly indicate when the target element is
/// focussed. Used for interactive elements which themselves have some background
/// or border, such as most form elements.
///
/// @access public

@mixin govuk-focussed-input($border-width: $govuk-border-width-form-element) {
  outline: $govuk-focus-width solid $govuk-focus-colour;
  outline-offset: 0;
  box-shadow: inset 0 0 0 $border-width $govuk-text-colour;

  @include govuk-if-ie8 {
    // IE8 doesn't support `box-shadow` so add an actual border
    border: $border-width solid $govuk-text-colour;
  }
}

@mixin govuk-focussed-input-error {
  border-color: $govuk-input-border-colour;
  // Remove `box-shadow` inherited from `:focus` as `textarea--error`
  // already has the thicker border.
  box-shadow: none;
}

/// Focusable with fill helper
///
/// Provides an additional outline and background colour to clearly indicate when
/// the target element is focussed. Used for interactive text-based elements such
/// as links.
///
/// @access public

@mixin govuk-focussed-fill {
  // When colours are overridden, for example when users have a dark mode,
  // backgrounds and box-shadows disappear, so we need to ensure there's a
  // transparent outline which will be set to a visible colour.

  // Since Internet Explorer 8 does not support box-shadow, we want to force the user-agent outlines
  @include govuk-not-ie8 {
    outline: $govuk-focus-width solid transparent;
    outline-offset: 0;
  }
  color: $govuk-text-colour;
  background-color: $govuk-focus-colour;
  // sass-lint:disable indentation
  box-shadow: -5px -1px 0 1px $govuk-focus-colour,
              5px -1px 0 1px $govuk-focus-colour,
              -3px 1px 0 3px $govuk-text-colour,
              3px 1px 0 3px $govuk-text-colour;
  // sass-lint:enable indentation
  // When link is focussed, hide the default underline since the
  // box shadow adds the "underline"
  text-decoration: none;
}
