// Import sass-mq as a helper for media queries

// Pass our breakpoints and static breakpoint definitions through to sass-mq.
$mq-breakpoints: if(variable-exists(govuk-breakpoints), $govuk-breakpoints, ());
$mq-static-breakpoint: if(variable-exists(govuk-ie8-breakpoint), $govuk-ie8-breakpoint, desktop);

$mq-show-breakpoints: ();

@if (variable-exists(govuk-show-breakpoints) and $govuk-show-breakpoints) {
  $mq-show-breakpoints: map-keys($govuk-breakpoints);
}

// When building a stylesheet for IE8, set $mq-responsive to false in order to
// 'rasterize' any media queries.

@if (variable-exists(govuk-is-ie8) and $govuk-is-ie8) {
  $mq-responsive: false;
} @else {
  $mq-responsive: true;
}

// This is a horrible, horrible hack to prevent the 'dev mode' CSS to display
// the current breakpoint from being included multiple times.
//
// We can't use the `exports` mixin for this because import directives cannot be
// used within control directives 😠
$sass-mq-already-included: false !default;

@if $sass-mq-already-included {
  $mq-show-breakpoints: ();
}

@import "../vendor/sass-mq";

$sass-mq-already-included: true;
