////
/// 'Compatibility Mode'
///
/// Enabling these flags improves compatibility if you are using GOV.MOA Frontend
/// in an application that also uses govuk_elements, govuk_frontend_toolkit or
/// govuk_template (the 'legacy repos').
///
/// Enabling any of these settings will, by default:
///
/// - switch GOV.MOA Frontend to using the same colour palette as the legacy
///   repos, by setting `$moaland-use-legacy-palette` to true.
///
/// - prevent GOV.MOA Frontend from using rem for font sizing, by setting
///   `$moaland-typography-use-rem` to false.
///
/// @group settings/compatibility
////

/// Compatibility Mode: alphagov/govuk_frontend_toolkit
///
/// Set this to true if you are also including alphagov/govuk_frontend_toolkit
/// in your application.
///
/// @type Boolean
/// @access public

$moaland-compatibility-govukfrontendtoolkit: false !default;

/// Compatibility Mode: alphagov/govuk_template
///
/// Enabling this will:
///
/// - prevent GOV.MOA Frontend from including the New Transport typeface, as
///   it'll use the version of New Transport included with GOV.MOA Template.
///
/// - alter some of the CSS outputted by GOV.MOA Frontend to 'counter'
///   specific CSS rules in GOV.MOA Template.
///
/// Set this to true if you are also including alphagov/govuk_template in your
/// application.
///
/// @type Boolean
/// @access public

$moaland-compatibility-govuktemplate: false !default;

/// Compatibility Mode: alphagov/govuk_elements
///
/// Enabling this will:
///
/// - alter some of the CSS outputted by GOV.MOA Frontend to 'counter'
///   specific CSS rules in GOV.MOA Elements.
///
/// Set this to true if you are also including alphagov/govuk_elements in your
/// application.
///
/// @type Boolean
/// @access public

$moaland-compatibility-govukelements: false !default;

/// Compatibility Product Map
///
/// Maps product names to their settings that we can use to lookup states from
/// within the `@moaland-compatibility` mixin.
///
/// @type Map
/// @access private

$_moaland-compatibility: (
  govuk_frontend_toolkit: $moaland-compatibility-govukfrontendtoolkit,
  govuk_template: $moaland-compatibility-govuktemplate,
  govuk_elements: $moaland-compatibility-govukelements,
);
