
@include exports("prose-scope") {
    // through the use of @extend

    .govuk-prose-scope h1 {
      @extend .govuk-heading-xl;
    }

    // Contextual heading and paragraph combinations are inherited

    .govuk-prose-scope h2 {
      @extend .govuk-heading-l;
    }

    // @extend inheritance

    .govuk-prose-scope h3 {
      @extend .govuk-heading-m;
    }

    .govuk-prose-scope h4 {
      @extend .govuk-heading-s;
    }

    .govuk-prose-scope p {
      @extend .govuk-body;
    }

    .govuk-prose-scope strong,
    .govuk-prose-scope b {
      @include govuk-typography-weight-bold;
    }

    .govuk-prose-scope ul,
    .govuk-prose-scope ol {
      @extend .govuk-list;
    }

    .govuk-prose-scope ol {
      @extend .govuk-list--number;
    }

    .govuk-prose-scope ul {
      @extend .govuk-list--bullet;
    }
}
