body {
  margin: 0;
}

.app-iframe-in-component-preview {
  margin: 15px;
}
/* Injected into the preview page, that is then put in an iframe */
.app-iframe-in-component-preview {}

/* Removes the breakpoint sass-mq debug display */
.app-iframe-in-component-preview:before {
  display: none;
}

/* TODO: Should this object have a clearfix all the time? */
.app-iframe-in-component-preview .govuk-o-width-container:before,
.app-iframe-in-component-preview .govuk-o-width-container:after {
  content: " ";
  display: table;
  clear: both;
}

.app-\!-di {
  display: inline;
}


.app-c-component-preview {
  position: relative;
  margin-top: -15px;
  margin-bottom: -15px;
}

.app-c-component-preview:after {
  pointer-events: none;
  z-index: 10;
  content: ' ';
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 0;
  left: 0;
  box-shadow: 0 0 0 5px #e4f2ff;
}

.app-c-component-preview__iframe {
  z-index: 20;
  display: block;
  position: relative;
  width: 100%;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  border: none;

  @include govuk-if-ie8 {
    left: auto;
    right: auto;
  }
}
