.app-no-canvas-background {
  background-color: $govuk-body-background-colour;
}

.app-width-container--wide {
  @include govuk-width-container(1200px);
}

// Injected into the preview page, that is then put in an iframe
.app-iframe-in-component-preview {
  margin: 5px;
}

.app-iframe-in-component-preview--full-width {
  margin-right: 0;
  margin-left: 0;
}

// Removes the breakpoint sass-mq debug display
.app-iframe-in-component-preview:before {
  display: none;
}

.app-\!-di {
  display: inline;
}

.app-component-preview {
  position: relative;
  @include govuk-responsive-margin(5, "top");
  @include govuk-responsive-margin(5, "bottom");
}

// Full width for header/footer etc
.app-component-preview--full-width,
.app-component-preview--modal {
  width: 100%;
  max-width: none;
  margin-right: 0;
  margin-left: 0;
}

.app-component-preview__iframe {
  display: block;
  position: relative;
  z-index: 20;
  width: 100%;
  border: 0;
}

// Highlight the whitespace around a component, so you can see without having to
// inspect it.
.app-iframe-in-component-preview {
  $app-preview-border-colour: #e4f2ff;

  .app-whitespace-highlight {
    @include govuk-clearfix;

    content: " ";
    display: table;
    width: 100%;
    height: 100%;
    clear: both;
    box-shadow: 0 0 0 5px $app-preview-border-colour;

    @include govuk-if-ie8 {
      outline: 5px solid $app-preview-border-colour;
    }
  }
}

// Allow fixed height for "position: fixed" modal
.app-iframe-in-component-preview--modal {
  height: 400px;

  @include govuk-media-query ($from: tablet) {
    height: 500px;
  }
}
