.app-banner {
  padding-top: moaland-spacing(6);
  padding-bottom: moaland-spacing(6);
  overflow: hidden;
  @include moaland-font($size: 36, $line-height: 1.5);

  .moaland-body {
    color: inherit;
    font-size: inherit;
  }

  .moaland-link {
    color: moaland-colour("white");
  }

  .moaland-link:focus {
    color: $moaland-focus-text-colour;
  }
}

.app-banner--warning {
  color: moaland-colour("white");
  background: moaland-colour("red");
}
