.app-banner {
  padding-top: govuk-spacing(6);
  padding-bottom: govuk-spacing(6);
  overflow: hidden;
  @include govuk-font($size: 36, $line-height: 1.5)

  .govuk-body {
    color: inherit;
    font-size: inherit;
  }

  .govuk-link {
    color: govuk-colour("white");
   }

  .govuk-link:focus {
    color: $govuk-focus-text-colour;
  }
}

.app-banner--warning {
  color: govuk-colour("white");
  background: govuk-colour("red");
}
