{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from 'radios/macro.njk' import govukRadios %}
{% from 'checkboxes/macro.njk' import govukCheckboxes %}
{% from 'input/macro.njk' import govukInput %}

{% extends "layout.njk" %}

{% block content %}

{{ govukBackLink({
  "href": "/",
  "text": "Back"
}) }}

<main class="govuk-main-wrapper">

  <h1 class="govuk-heading-xl">Labels, legends and headings</h1>

  <h2 class="govuk-heading-l">Text input</h2>

  <h3 class="govuk-heading-s">isPageHeading: true</h3>

  {{ govukInput({
    "label": {
      "text": "<h1> govuk-label--xl",
      isPageHeading: true,
      classes: 'govuk-label--xl '
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<h1> govuk-label--l",
      isPageHeading: true,
      classes: 'govuk-label--l '
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<h1> govuk-label--m",
      isPageHeading: true,
      classes: 'govuk-label--m '
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<h1> govuk-label--s",
      isPageHeading: true,
      classes: 'govuk-label--s '
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<h1> No class",
      isPageHeading: true,
      classes: ''
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  <h3 class="govuk-heading-s">isPageHeading: false</h3>

  {{ govukInput({
    "label": {
      "text": "<label> govuk-label--xl",
      classes: 'govuk-label--xl '
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<label> govuk-label--l",
      classes: 'govuk-label--l '
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<label> govuk-label--m",
      classes: 'govuk-label--m'
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<label> govuk-label--s",
      classes: 'govuk-label--s'
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<label> No class",
      classes: ''
    },
    "id": "",
    "name": "test-name-1"
  }) }}


  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">




  <h2 class="govuk-heading-l">Text input (with hint)</h2>

  <h3 class="govuk-heading-s">isPageHeading: true</h3>

  {{ govukInput({
    "label": {
      "text": "<h1> govuk-label--xl",
      isPageHeading: true,
      classes: 'govuk-label--xl '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<h1> govuk-label--l",
      isPageHeading: true,
      classes: 'govuk-label--l '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<h1> govuk-label--m",
      isPageHeading: true,
      classes: 'govuk-label--m '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<h1> govuk-label--s",
      isPageHeading: true,
      classes: 'govuk-label--s '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<h1> No class",
      isPageHeading: true,
      classes: ''
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  <h3 class="govuk-heading-s">isPageHeading: false</h3>

  {{ govukInput({
    "label": {
      "text": "<label> govuk-label--xl",
      classes: 'govuk-label--xl '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<label> govuk-label--l",
      classes: 'govuk-label--l '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<label> govuk-label--m",
      classes: 'govuk-label--m'
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<label> govuk-label--s",
      classes: 'govuk-label--s'
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "",
    "name": "test-name-1"
  }) }}

  {{ govukInput({
    "label": {
      "text": "<label> No class",
      classes: ''
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "",
    "name": "test-name-1"
  }) }}


  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


  <h2 class="govuk-heading-l">Text input (with hint and error)</h2>

  <h3 class="govuk-heading-s">isPageHeading: true</h3>

  {{ govukInput({
    "label": {
      "text": "<h1> govuk-label--xl",
      isPageHeading: true,
      classes: 'govuk-label--xl '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "input-with-error-message",
    "name": "test-name-1",
    "errorMessage": {
      "text": "Error message goes here"
    }
  }) }}

  {{ govukInput({
    "label": {
      "text": "<h1> govuk-label--l",
      isPageHeading: true,
      classes: 'govuk-label--l '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "input-with-error-message",
    "name": "test-name-1",
    "errorMessage": {
      "text": "Error message goes here"
    }
  }) }}

  {{ govukInput({
    "label": {
      "text": "<h1> govuk-label--m",
      isPageHeading: true,
      classes: 'govuk-label--m '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "input-with-error-message",
    "name": "test-name-1",
    "errorMessage": {
      "text": "Error message goes here"
    }
  }) }}

  {{ govukInput({
    "label": {
      "text": "<h1> govuk-label--s",
      isPageHeading: true,
      classes: 'govuk-label--s '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "input-with-error-message",
    "name": "test-name-1",
    "errorMessage": {
      "text": "Error message goes here"
    }
  }) }}

  {{ govukInput({
    "label": {
      "text": "<h1> No class",
      isPageHeading: true,
      classes: ''
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "input-with-error-message",
    "name": "test-name-1",
    "errorMessage": {
      "text": "Error message goes here"
    }
  }) }}

  <h3 class="govuk-heading-s">isPageHeading: false</h3>

  {{ govukInput({
    "label": {
      "text": "<label> govuk-label--xl",
      classes: 'govuk-label--xl '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "input-with-error-message",
    "name": "test-name-1",
    "errorMessage": {
      "text": "Error message goes here"
    }
  }) }}

  {{ govukInput({
    "label": {
      "text": "<label> govuk-label--l",
      classes: 'govuk-label--l '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "input-with-error-message",
    "name": "test-name-1",
    "errorMessage": {
      "text": "Error message goes here"
    }
  }) }}

  {{ govukInput({
    "label": {
      "text": "<label> govuk-label--m",
      classes: 'govuk-label--m '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "input-with-error-message",
    "name": "test-name-1",
    "errorMessage": {
      "text": "Error message goes here"
    }
  }) }}

  {{ govukInput({
    "label": {
      "text": "<label> govuk-label--s",
      classes: 'govuk-label--s '
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "input-with-error-message",
    "name": "test-name-1",
    "errorMessage": {
      "text": "Error message goes here"
    }
  }) }}

  {{ govukInput({
    "label": {
      "text": "<label> No class",
      classes: ''
    },
    "hint": {
      "html": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
    },
    "id": "input-with-error-message",
    "name": "test-name-1",
    "errorMessage": {
      "text": "Error message goes here"
    }
  }) }}


  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">




  <h2 class="govuk-heading-l">Checkboxes</h2>

  <h3 class="govuk-heading-s">isPageHeading: true</h3>

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--xl',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--l',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--m',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--m'
      }
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--s',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--s'
      }
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> No class',
        isPageHeading: true,
        classes: ''
      }
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  <h3 class="govuk-heading-s">isPageHeading: false</h3>

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--xl',
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--l',
        classes: 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--m',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--s',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> No class',
        classes: ''
      }
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}



  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">








  <h2 class="govuk-heading-l">Checkboxes (with hint)</h2>

  <h3 class="govuk-heading-s">isPageHeading: true</h3>

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--xl',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--l',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--l'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--m',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--m'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--s',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--s'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> No class',
        isPageHeading: true,
        classes: ''
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  <h3 class="govuk-heading-s">isPageHeading: false</h3>

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--xl',
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--l',
        classes: 'govuk-fieldset__legend--l'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--m',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--s',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> No class',
        classes: ''
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}



  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">





  <h2 class="govuk-heading-l">Checkboxes (with hint and error)</h2>

  <h3 class="govuk-heading-s">isPageHeading: true</h3>

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--xl',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "errorMessage": {
      "text": "Please select an option"
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--l',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--l'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "errorMessage": {
      "text": "Please select an option"
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--m',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--m'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "errorMessage": {
      "text": "Please select an option"
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--s',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--s'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "errorMessage": {
      "text": "Please select an option"
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> No class',
        isPageHeading: true,
        classes: ''
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "errorMessage": {
      "text": "Please select an option"
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  <h3 class="govuk-heading-s">isPageHeading: false</h3>

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--xl',
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "errorMessage": {
      "text": "Please select an option"
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--l',
        classes: 'govuk-fieldset__legend--l'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "errorMessage": {
      "text": "Please select an option"
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--m',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "errorMessage": {
      "text": "Please select an option"
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--s',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "errorMessage": {
      "text": "Please select an option"
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> No class',
        classes: ''
      }
    },
    "hint": {
      "text": "If you have dual nationality, select all options that are relevant to you."
    },
    "errorMessage": {
      "text": "Please select an option"
    },
    "items": [
      {
        "value": "british",
        "text": "British"
      },
      {
        "value": "irish",
        "text": "Irish"
      },
      {
        "value": "other",
        "text": "Citizen of another country"
      }
    ]
  }) }}



  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



  <h2 class="govuk-heading-l">Radios</h2>

  <h3 class="govuk-heading-s">isPageHeading: true</h3>

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--xl',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--l',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--m',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--m'
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--s',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--s'
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> No class',
        isPageHeading: true,
        classes: ''
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  <h3 class="govuk-heading-s">isPageHeading: false</h3>

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--xl',
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--l',
        classes: 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--m',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--s',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> No class',
        classes: ''
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}



  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">





  <h2 class="govuk-heading-l">Radios (with hint)</h2>

  <h3 class="govuk-heading-s">isPageHeading: true</h3>

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--xl',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--l',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--l'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--m',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--m'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--s',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--s'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> No class',
        isPageHeading: true,
        classes: ''
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  <h3 class="govuk-heading-s">isPageHeading: false</h3>

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--xl',
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--l',
        classes: 'govuk-fieldset__legend--l'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--m',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--s',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> No class',
        classes: ''
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}



  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">






  <h2 class="govuk-heading-l">Radios (with hint and error)</h2>

  <h3 class="govuk-heading-s">isPageHeading: true</h3>

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "errorMessage": {
      "text": "Please select an option"
    },
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--xl',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "errorMessage": {
      "text": "Please select an option"
    },
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--l',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--l'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "errorMessage": {
      "text": "Please select an option"
    },
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--m',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--m'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "errorMessage": {
      "text": "Please select an option"
    },
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> govuk-fieldset__legend--s',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--s'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "errorMessage": {
      "text": "Please select an option"
    },
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<h1> No class',
        isPageHeading: true,
        classes: ''
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  <h3 class="govuk-heading-s">isPageHeading: false</h3>

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "errorMessage": {
      "text": "Please select an option"
    },
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--xl',
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "errorMessage": {
      "text": "Please select an option"
    },
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--l',
        classes: 'govuk-fieldset__legend--l'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "errorMessage": {
      "text": "Please select an option"
    },
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--m',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "errorMessage": {
      "text": "Please select an option"
    },
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> govuk-fieldset__legend--s',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "example",
    "name": "example",
    "errorMessage": {
      "text": "Please select an option"
    },
    "fieldset": {
      "classes": "app-fieldset--custom-modifier",
      "attributes": {
        "data-attribute": "value",
        "data-second-attribute": "second-value"
      },
      legend: {
        text: '<legend> No class',
        classes: ''
      }
    },
    "hint": {
      "text": "This includes changing your last name or spelling your name differently."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No",
        "checked": true
      }
    ]
  }) }}



  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">




  <h2 class="govuk-heading-l">Date Input</h2>

  <h3 class="govuk-heading-s">isPageHeading: true</h3>

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> govuk-fieldset__legend--xl',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> govuk-fieldset__legend--l',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--l'
      }
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> govuk-fieldset__legend--m',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> govuk-fieldset__legend--s',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--s'
      }
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> No class',
        isPageHeading: true,
        classes: ''
      }
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}


  <h3 class="govuk-heading-s">isPageHeading: false</h3>

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> govuk-fieldset__legend--xl',
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> govuk-fieldset__legend--l',
        classes: 'govuk-fieldset__legend--l'
      }
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> govuk-fieldset__legend--m',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> govuk-fieldset__legend--s',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> No class',
        classes: ''
      }
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}


  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



  <h2 class="govuk-heading-l">Date Input (with hint)</h2>

  <h3 class="govuk-heading-s">isPageHeading: true</h3>

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> govuk-fieldset__legend--xl',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> govuk-fieldset__legend--l',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--l'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> govuk-fieldset__legend--m',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--m'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> govuk-fieldset__legend--s',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--s'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> No class',
        isPageHeading: true,
        classes: ''
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  <h3 class="govuk-heading-s">isPageHeading: false</h3>

  <form action="/" method="post">

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> govuk-fieldset__legend--xl',
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> govuk-fieldset__legend--l',
        classes: 'govuk-fieldset__legend--l'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> govuk-fieldset__legend--m',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> govuk-fieldset__legend--s',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> No class',
        classes: ''
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}


  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">




  <h2 class="govuk-heading-l">Date Input (with hint and error)</h2>

  <h3 class="govuk-heading-s">isPageHeading: true</h3>

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> govuk-fieldset__legend--xl',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    errorMessage: {
      text: "You must provide your date of birth"
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> govuk-fieldset__legend--l',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--l'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    errorMessage: {
      text: "You must provide your date of birth"
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> govuk-fieldset__legend--m',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--m'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    errorMessage: {
      text: "You must provide your date of birth"
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}


  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> govuk-fieldset__legend--s',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--s'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    errorMessage: {
      text: "You must provide your date of birth"
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}


  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<h1> No class',
        isPageHeading: true,
        classes: ''
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    errorMessage: {
      text: "You must provide your date of birth"
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}


  <h3 class="govuk-heading-s">isPageHeading: false</h3>

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> govuk-fieldset__legend--xl',
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    errorMessage: {
      text: "You must provide your date of birth"
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> govuk-fieldset__legend--l',
        classes: 'govuk-fieldset__legend--l'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    errorMessage: {
      text: "You must provide your date of birth"
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> govuk-fieldset__legend--m',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    errorMessage: {
      text: "You must provide your date of birth"
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> govuk-fieldset__legend--s',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    errorMessage: {
      text: "You must provide your date of birth"
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: '<legend> No class',
        classes: ''
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    errorMessage: {
      text: "You must provide your date of birth"
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

</main>

{% endblock %}
