@import "../../globals/scss/common";
@import "../tag/tag";

@include exports("phase-banner") {
  .govuk-c-phase-banner {
    padding-top: em($govuk-spacing-scale-2, 16px);
    padding-bottom: em($govuk-spacing-scale-2, 16px); //use to be 8
    // Apply styling to tablet and upwards
    // @include mq($from:tablet) {
    //  padding-bottom: em(10px, 16px);
    // }
    border-bottom: 1px solid $govuk-border-colour;

    font-family: $govuk-font-stack;
  }

  .govuk-c-phase-banner__content {
    display: table;
    margin: 0;
  }

  .govuk-c-phase-banner__content__tag {
    margin-right: $govuk-spacing-scale-2;
  }

  .govuk-c-phase-banner__text {
    @include govuk-font-regular-16;
    display: table-cell;
    vertical-align: baseline;
  }
}
