{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  "tag": "alpha",
  "text": 'This is a new service – your <a href="#" class="govuk-link">feedback</a> will help us to improve it.',
  "safe": true
}) }}
