{% from "phase-tag/macro.njk" import govukPhaseTag -%}

<div class="govuk-c-phase-banner
  {%- if classes %} {{ classes }}{% endif %}">
  <p class="govuk-c-phase-banner__content">
    {{ govukPhaseTag(params.tag) }}
    <span class="govuk-c-phase-banner__text">
      {{ params.message | safe }}
    </span>
  </p>
</div>
