@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include govuk-exports("govuk/component/error-message") {
  .govuk-error-message {
    @include govuk-font($size: 19, $weight: bold);

    display: block;
    margin-bottom: govuk-spacing(3);
    clear: both;

    color: $govuk-error-colour;
  }

  @include govuk-media-query($media-type: print) {
    .govuk-error-message {
      @include govuk-font($size: 19, $weight: bold);

      color: govuk-colour("black");
    }

    .govuk-textarea--error {
      border: 4px solid govuk-colour("black") !important;
    }
  }

}
