@import "../../globals/scss/common";

@include exports("error-message") {
  .govuk-c-error-message {
    display: block;

    margin: 0;
    // TODO: use a var for padding
    padding: 2px 0;

    clear: both;

    color: $govuk-error-colour;

    font-family: $govuk-font-stack;
    @include font-smoothing;
    @include govuk-font-bold-19;
  }
}
