{% extends "component.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}
{% block componentDescription %}
  Component to show a red error message - used for form validation.
  Use inside a label or legend.
{% endblock %}
{# defaultAndVariants #}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{% from "table/macro.njk" import govukTable %}
{{ govukTable({
  classes: '',
  options: {
    'isFirstCellHeader': 'true'
  },
  data: {
    'head' : [
      {
        text: 'Name'
      },
      {
        text: 'Type'
      },
      {
        text: 'Required'
      },
      {
        text: 'Description'
      }
    ],
    'rows' : [
      [
        {
          text: 'classes'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'Optional additional classes'
        }
      ],
      [
        {
          text: 'text'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'Text to use within the error message'
        }
      ],
      [
        {
          text: 'html'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'HTML to use within the error message. If this is provided, the text argument will be ignored.'
        }
      ],
      [
        {
          text: 'attributes'
        },
        {
          text: 'object'
        },
        {
          text: 'No'
        },
        {
          text: 'Any extra HTML attributes (for example data attributes) to add to the error message span tag'
        }
      ]
    ]
  }
})}}
{% endblock %}
