{# This example is not based on a live example #}
{% extends "_generic.njk" %}

{% from "panel/macro.njk" import moalandPanel %}

{% set pageTitle = "Thank you for confirming the last country you visited" %}
{% block pageTitle %}{{ pageTitle }} - GOV.MOA{% endblock %}

{% block content %}
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-two-thirds">
      {{ moalandPanel({
        titleText: pageTitle
      }) }}
    </div>
  </div>
{% endblock %}
