---
scenario: >-
  As part of an online service, you are asked to provide the last country you visited.


  Things to try:

  1. Intentionally avoid answering the question before continuing to the next page.
---

{# This example is based of the  "What is your home postcode?" example: https://design-system.service.gov.uk/patterns/question-pages/postcode/index.html #}
{% extends "_generic.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "select/macro.njk" import govukSelect %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "input/macro.njk" import govukInput %}

{% set pageTitle = "What was the last country you visited?" %}
{% block pageTitle %}{{ "Error: " if errors }}{{ pageTitle }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-quick-exit__container govuk-quick-exit__enabled">
    <div class="govuk-quick-exit__position">
      <a href="https://www.google.com" id="quick-exit" tabindex="-1" class="govuk-button govuk-button--warning govuk-quick-exit">
      <strong>Hide this page</strong>
        <span class="govuk-visually-hidden">Or press escape key to hide this page</span>
      </a>
      <p class="govuk-body govuk-quick-exit--info govuk-!-font-size-14">
        (Or press Esc key)
      </p>
    </div>
    <p class="govuk-button govuk-quick-exit__ie-sizing">
      <strong>Hide this page</strong>
    </p>
  </div>

  <form method="post" novalidate>
    {% if errorSummary.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorSummary
        }) }}
    {% endif %}

    {{ govukSelect({
        id: "last-visited-country",
        name: "last-visited-country",
        label: {
          text: pageTitle,
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          text: "This excludes visits within the UK"
        },
        items: [
          {
              value: "",
              text: "Select an option"
          },
          {
              value: "france",
              text: "France"
          },
          {
              value: "spain",
              text: "Spain"
          },
          {
              value: "other",
              text: "Other"
          }
        ],
        errorMessage: errors["last-visited-country"]
    }) }}

    {{ govukButton({
        text: "Continue"
      }) }}
  </form>

{% endblock %}
