@import "../globals/tools/exports";
@import "../globals/tools/iff";

@import "../error-message/error-message";

@import "../globals/settings/spacing";
@import "../globals/settings/measurements";

@import "../globals/helpers/clearfix";
@import "../globals/helpers/spacing";
@import "../globals/helpers/media-queries";

@import "../globals/objects/form-group";





@include govuk-exports("fieldset") {
  .govuk-c-fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    @include govuk-h-clearfix;
  }

  .govuk-c-fieldset__legend {
    @include govuk-font-regular-19;
    @include govuk-text-colour;

    // Fix legend text wrapping in Edge and IE
    // 1. IE9-11 & Edge 12-13
    // 2. IE8-11
    -webkit-box-sizing: border-box;
            box-sizing: border-box; // 1
    display: table;         // 2
    max-width: 100%;        // 1
    margin-bottom: $govuk-spacing-scale-4;
    padding: 0;
    // Hack to let legends or elements within legends have margins in webkit browsers
    overflow: hidden;

    white-space: normal;    // 1

    .govuk-heading-s {
      margin-bottom: 0;
    }

    .govuk-heading-m {
      margin-bottom: $govuk-spacing-scale-1;
    }

    .govuk-heading-l,
    .govuk-heading-xl {
      margin-bottom: $govuk-spacing-scale-3;
    }
  }

  .govuk-c-fieldset__legend--bold {
    @include govuk-typography-weight-bold;
  }

  // Hint text sits inside a legend, to be read by AT
  .govuk-c-fieldset__hint {
    @include govuk-typography-weight-regular;

    display: block;
    color: $govuk-secondary-text-colour;
  }

}
