@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include govuk-exports("govuk/component/hint") {
  .govuk-hint {
    @include govuk-font($size: 19);

    display: block;

    margin-bottom: govuk-spacing(3);

    color: $govuk-secondary-text-colour;
  }
}
