@use "../error-message/index";
@use "../input/index" as index2;
@use "../hint/index" as index3;
@use "../label/index" as index4;
@use "../fieldset/index" as index5;
@use "helpers/clearfix";
@use "helpers/spacing";
@use "tools/exports";

@include exports.govuk-exports("govuk/component/date-input") {
  .govuk-date-input {
    @include clearfix.govuk-clearfix;
    font-size: 0; // removes whitespace caused by inline-block
  }

  .govuk-date-input__item {
    display: inline-block;
    margin-right: spacing.govuk-spacing(4);
    margin-bottom: 0;

    // Prevents an issue in iOS Safari 18 where the items vertically
    // shift when the value of inputs is changed.
    // https://github.com/alphagov/reported-bugs/issues/90
    vertical-align: bottom;
  }

  .govuk-date-input__label {
    display: block;
  }

  .govuk-date-input__input {
    margin-bottom: 0;
  }
}
