@include govuk-exports("govuk/component/warning-text") {
  .govuk-warning-text {
    @include govuk-font($size: 19);
    @include govuk-responsive-margin(6, "bottom");
    @include govuk-typography-weight-bold;
    position: relative;
    padding: govuk-spacing(2) 0;
  }

  .govuk-warning-text__icon {
    box-sizing: border-box;

    display: inline-block;

    position: absolute;
    left: 0;

    min-width: 40px;
    min-height: 35px;
    margin-top: -7px;

    @include govuk-media-query($from: tablet) {
      margin-top: -5px;
    }

    padding-top: 6px;

    // Make it triangular
    clip-path: polygon(50% 0, 100% 100%, 0 100%);

    color: $govuk-body-background-colour;
    background: $govuk-text-colour;

    font-size: 30px;
    line-height: 29px;

    text-align: center;

    // Prevent the exclamation mark from being included when the warning text
    // is copied, for example.
    user-select: none;

    // Improve rendering in Windows High Contrast Mode (Edge), where a
    // readability backplate behind the exclamation mark obscures the circle
    forced-color-adjust: none;

    @media screen and (forced-colors: active) {
      color: Window;
      background: WindowText;
    }
  }

  .govuk-warning-text__text {
    @include govuk-text-colour;
    display: block;
    padding-left: 50px;
    // While `<strong>` is styled `bold` or `bolder` by user-agents
    // this can be reset by the app's stylesheet
    font-weight: inherit;
  }
}
