@import "../settings/all";
@import "../tools/all";
@import "../helpers/all";

@include govuk-exports("govuk/overrides/display") {

  .govuk-\!-display-inline {
    display: inline !important;
  }

  .govuk-\!-display-inline-block {
    display: inline-block !important;
  }

  .govuk-\!-display-block {
    display: block !important;
  }
}
