@include govuk-exports("govuk/component/header") {
  $govuk-basic-header-background: govuk-colour("black");
  $govuk-basic-header-border-color: govuk-functional-colour(brand);
  $govuk-basic-header-border-width: govuk-spacing(2);
  $govuk-basic-header-text: govuk-colour("white");
  $govuk-basic-header-link-active: #1d8feb;
  $govuk-basic-header-nav-item-border-color: #2e3133;
  $govuk-basic-header-link-underline-thickness: 3px;
  $govuk-basic-header-vertical-spacing-value: 2;
  // This crown height is only used to calculate top offset of mobile menu button
  // as the crown svg height is the only thing that controls the height of the header
  $govuk-basic-header-crown-height: 30px;
  $govuk-basic-header-menu-button-height: 24px;
  $govuk-basic-header-menu-button-width: 80px;

  .govuk-basic-header {
    @include govuk-font($size: 16, $line-height: 1);

    color: $govuk-basic-header-text;
    background: $govuk-basic-header-background;
  }

  .govuk-basic-header__container--full-width {
    padding: 0 govuk-spacing(3);
  }

  .govuk-basic-header__container {
    @include govuk-clearfix;
    position: relative;
    padding-top: govuk-spacing($govuk-basic-header-vertical-spacing-value);
    padding-bottom: govuk-spacing(1);
  }

  .govuk-basic-header__logo {
    box-sizing: border-box;
    @include govuk-responsive-margin(1, "bottom");

    @media #{govuk-from-breakpoint(desktop)} {
      width: 33.33%;
      padding-right: $govuk-gutter-half;
      float: left;
      vertical-align: top;

      // Reset float when logo is the last child, without a navigation
      &:last-child {
        width: auto;
        padding-right: 0;
        float: none;
      }
    }
  }

  .govuk-basic-header__homepage-link {
    // Avoid using the `govuk-link-common` mixin because the links in the
    // header get a special treatment, because:
    //
    // - underlines are only visible on hover
    // - all links get a 3px underline regardless of text size, as there are
    //   multiple grouped elements close to one another and having slightly
    //   different underline widths looks unbalanced
    //
    // Font size needs to be set on the link so that the box sizing is correct
    // in Firefox
    display: inline-block;
    margin-right: govuk-spacing(2);
    font-size: 30px; // We don't have a mixin that produces 30px font size
    text-decoration: none;
    @include govuk-link-style-inverse;

    @media #{govuk-from-breakpoint(desktop)} {
      display: inline;
    }

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:active {
      // Negate the added border
      margin-bottom: $govuk-basic-header-link-underline-thickness * -1;
      border-bottom: $govuk-basic-header-link-underline-thickness solid;
    }

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: $govuk-basic-header-link-underline-thickness;

      @if $govuk-link-underline-offset {
        text-underline-offset: $govuk-link-underline-offset;
      }
    }

    &:focus {
      // Remove any borders that show when focused and hovered.
      margin-bottom: 0;
      border-bottom: 0;

      @include govuk-focused-text;
    }
  }

  .govuk-basic-header__logotype {
    display: inline-block;
    position: relative;
    top: -3px;

    // Add a gap after the logo in case it's followed by a product name. This
    // gets removed later if the logotype is a :last-child.
    margin-right: govuk-spacing(1);
    fill: currentcolor;
    vertical-align: top;

    // Prevent readability backplate from obscuring underline in Windows High
    // Contrast Mode
    @media (forced-colors: active) {
      forced-color-adjust: none;
      color: linktext;
    }

    // Remove the gap after the logo if there's no product name to keep hover
    // and focus states neat
    &:last-child {
      margin-right: 0;
    }
  }

  // Colour in the Dot
  .govuk-logo-dot {
    fill: govuk-colour("teal", "accent");

    // Override Dot colour when printing
    @media print {
      fill: currentcolor;
    }

    // Override Dot colour on forced colours mode
    @media (forced-colors: active) {
      fill: currentcolor;
    }

    // Override Dot colour on focus
    :focus & {
      fill: currentcolor;
    }
  }

  .govuk-basic-header__product-name {
    $product-name-offset: 7px;
    $product-name-offset-tablet: 5px;

    @include govuk-font-size($size: 24, $line-height: 1);
    @include govuk-typography-weight-regular;
    display: inline-table;

    // Maintain space below logo when wrapped
    margin-top: $product-name-offset;

    // Firefox places the GOV.UK logo one pixel higher, due to how it rounds
    // subpixels, so nudge the product name in FF to still be aligned.
    @-moz-document url-prefix() {
      margin-top: $product-name-offset - 0.5px;
    }

    // Align vertically with logo when not wrapped
    vertical-align: top;

    @media #{govuk-from-breakpoint(tablet)} {
      margin-top: $product-name-offset-tablet;
      @-moz-document url-prefix() {
        margin-top: $product-name-offset-tablet - 0.5px;
      }
    }
  }

  @media print {
    .govuk-basic-header {
      border-bottom-width: 0;
      color: govuk-colour("black");
      background: transparent;
    }

    .govuk-basic-header__homepage-link {
      &:link,
      &:visited {
        color: govuk-colour("black");
      }

      // Do not append link href to GOV.UK link when printing (e.g. '(/)')
      &::after {
        display: none;
      }
    }
  }
}
