<div class="sdn-todo-list-box">
  <div class="sdn-todo-list__title">List podúloh</div>
  <ul class="sdn-todo-list__items">
    <li class="sdn-todo-list__item">
      <div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british">
          <label class="govuk-label govuk-checkboxes__label" for="nationality-1">
            Vyplnit dokument Samuel
          </label>
        </div>
      </div>
      <div>
        <a href="/" role="button" draggable="false" class="govuk-button govuk-button--start">
          Spustiť
        </a>
      </div>
    </li>
    <li class="sdn-todo-list__item">
      <div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="british">
          <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
            Vyplnit dokument Samuel
          </label>
        </div>
      </div>
      <div>
        <span class="snd-todo-list__item__info">(Vsetky udaje mame k dispozicii)</span>
        <a href="/" role="button" draggable="false" class="govuk-button govuk-button--start">
          Vygenerovať
        </a>
      </div>
    </li>
    <li class="sdn-todo-list__item">
      <div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="british">
          <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
            Vyzdvihnúť a oskenovať dokument od lekára
          </label>
        </div>
      </div>
    </li>
  </ul>
</div>
