<div class="sdn-searchbar">
    <div class="sdn-searchbar__item sdn-searchbar-block">
        <div class="sdn-searchbar-block__item">
            <input type="search" placeholder="Vyhľadať životnú situáciu">
        </div>
        <div class="sdn-searchbar-block__item">
            <button class="sdn-searchbar-block__item govuk-button">Hľadat</button>
        </div>
    </div>
</div>