<!DOCTYPE html>
<html lang="en">
<head>
  <title>GOV.UK Frontend</title>
  <link rel="stylesheet" href="/css/govuk-frontend0.0.8-alpha.min.css">
  <!--[if IE 8]>
  <link rel="stylesheet" href="/css/govuk-frontend-oldie0.0.8-alpha.min.css">
  <![endif]-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css">
</head>
<body class="language-markup govuk-c-site-width-container">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <table class="govuk-c-table">
  <thead class="govuk-c-table__head">
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__header" scope="col">Month you apply</th>
      <th class="govuk-c-table__header govuk-c-table__header--numeric" scope="col">Rate for vehicles</th>
      <th class="govuk-c-table__header govuk-c-table__header--numeric" scope="col">Rate for bicycles</th>
    </tr>
  </thead>
  <tbody class="govuk-c-table__body">
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__header" scope="row">January</th>
      <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£165.00</td>
      <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£85.00</td>
    </tr>
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__header" scope="row">February</th>
      <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£165.00</td>
      <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£85.00</td>
    </tr>
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__header" scope="row">March</th>
      <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£151.25</td>
      <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£77.90</td>
    </tr>
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__header" scope="row">April</th>
      <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£136.10</td>
      <td class="govuk-c-table__cell govuk-c-table__cell--numeric">£70.10</td>
    </tr>
  </tbody>
</table>

<table class="govuk-c-table">
  <caption class="govuk-c-table__caption heading-small">Dates and amounts</caption>
  <tbody class="govuk-c-table__body">
    <tr class="govuk-c-table__row">
      <td class="govuk-c-table__cell">First 6 weeks</td>
      <td class="govuk-c-table__cell">£109.80 per week</td>
    </tr>
    <tr class="govuk-c-table__row">
      <td class="govuk-c-table__cell">Next 33 weeks</td>
      <td class="govuk-c-table__cell">£109.80 per week</td>
    </tr>
    <tr class="govuk-c-table__row">
      <td class="govuk-c-table__cell">Total estimated pay</td>
      <td class="govuk-c-table__cell">£4,282.20</td>
    </tr>
    <tr class="govuk-c-table__row">
      <td class="govuk-c-table__cell">Tell the mother’s employer</td>
      <td class="govuk-c-table__cell">28 days before they want to start maternity pay</td>
    </tr>
  </tbody>
</table>

  <script src="/js/govuk-frontend0.0.8-alpha.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
</body>
</html>
