{% extends "layout-debug.njk" %}

{% block content %}
<div class="govuk-o-main-wrapper">
  <h1 class="govuk-heading-l">
    GOV.UK Frontend - Examples
  </h1>
  <ul class="govuk-c-list">
  {% for exampleName, value in examplesDirectory | dictsort %}
    <li><a href="/examples/{{ exampleName }}">{{ exampleName | replace("-", " ") | capitalize }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
