@import "../globals/tools/exports";
@import "../globals/tools/ie8";

@import "../fieldset/fieldset";
@import "../label/label";

@include govuk-exports("checkboxes") {
  .govuk-c-checkboxes__item {
    @include govuk-font-regular-19;

    display: block;
    position: relative;

    min-height: $govuk-spacing-scale-7;

    margin-bottom: $govuk-spacing-scale-2;
    padding: 0 0 0 40px;

    clear: left;
  }

  .govuk-c-checkboxes__item:last-child,
  .govuk-c-checkboxes__item:last-of-type {
    margin-bottom: 0;
  }

  .govuk-c-checkboxes__input {
    position: absolute;

    z-index: 1;
    top: 0;
    left: 0;

    width: $govuk-spacing-scale-7;
    height: $govuk-spacing-scale-7;

    cursor: pointer;

    // IE8 doesn’t support pseudoelements, so we don’t want to hide native elements there.
    @include govuk-not-ie8 {
      margin: 0;
      opacity: 0;
    }
  }

  .govuk-c-checkboxes__label {
    display: inline-block;
    padding: 8px $govuk-spacing-scale-3 $govuk-spacing-scale-1;
    cursor: pointer;
    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  .govuk-c-checkboxes__input + .govuk-c-checkboxes__label::before {
    content: "";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: $govuk-spacing-scale-7;
    height: $govuk-spacing-scale-7;
    border: $govuk-border-width-form-element solid currentColor;
    background: transparent;

    // padding-bottom: 1px;
  }

  .govuk-c-checkboxes__input + .govuk-c-checkboxes__label::after {
    content: "";

    position: absolute;
    top: 11px;
    left: 9px;
    width: 18px;
    height: 7px;

    -webkit-transform: rotate(-45deg);

        -ms-transform: rotate(-45deg);

            transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 $govuk-border-width $govuk-border-width;
    // Fix bug in IE11 caused by transform rotate (-45deg).
    // See: alphagov/govuk_elements/issues/518
    border-top-color: transparent;

    opacity: 0;

    background: transparent;
  }

  // Focused state
  .govuk-c-checkboxes__input:focus + .govuk-c-checkboxes__label::before {
    -webkit-box-shadow: 0 0 0 $govuk-focus-width $govuk-focus-colour;
            box-shadow: 0 0 0 $govuk-focus-width $govuk-focus-colour;
  }

  // Selected state
  .govuk-c-checkboxes__input:checked + .govuk-c-checkboxes__label::after {
    opacity: 1;
  }

  // Disabled state
  .govuk-c-checkboxes__input:disabled,
  .govuk-c-checkboxes__input:disabled + .govuk-c-checkboxes__label {
    cursor: default;
  }

  .govuk-c-checkboxes__input:disabled + .govuk-c-checkboxes__label {
    opacity: .5;
  }
}
