.app-template {
  background-color: govuk-functional-colour(body-background);
}

// Darken page background for previewing inversely coloured components
.app-template__body--inverse {
  background-color: govuk-colour("blue");
}

.app-template__body--component-preview.app-template__body--inverse {
  .app-whitespace-highlight {
    box-shadow: 0 0 0 5px govuk-colour("blue", $variant: "tint-80");
  }
}

.app-width-container--wide {
  @include govuk-width-container(1200px);
}
