@use "pkg:govuk-frontend/base" as *;

.app-feature-flag-banner {
  padding-block: govuk-spacing(4);
  border-block-end: 1px solid govuk-colour("black", $variant: "tint-80");
  background-color: govuk-colour("black", $variant: "tint-95");
}
