{% extends "layout.njk" %}

{% block content %}
<p class="font-debug">
  <span class="font-debug__font">Hglx</span>
  <span class="font-debug__font font-debug__font--arial">Hglx</span>
  <span class="font-debug__font font-debug__font--old">Hglx</span>
</p>

<p class="font-debug font-debug--bold">
  <span class="font-debug__font">Hglx</span>
  <span class="font-debug__font font-debug__font--arial">Hglx</span>
  <span class="font-debug__font font-debug__font--old">Hglx</span>
</p>
{% endblock %}
