{% extends "layout.njk" %}

{% block content %}
<p class="font-debug">
  <span class="font-debug__font">v2.1</span>
  <span class="font-debug__font font-debug__font--revised">v2.2</span>
  <span class="font-debug__font font-debug__font--old">v2.0</span>
  <span class="font-debug__font font-debug__font--v1">v1.0</span>
  <span class="font-debug__font font-debug__font--arial">Arial</span>
</p>

<p class="font-debug">
  <span class="font-debug__font">Hglx</span>
  <span class="font-debug__font font-debug__font--revised">Hglx</span>
  <span class="font-debug__font font-debug__font--old">Hglx</span>
  <span class="font-debug__font font-debug__font--v1">Hglx</span>
  <span class="font-debug__font font-debug__font--arial">Hglx</span>
</p>

<p class="font-debug font-debug--bold">
  <span class="font-debug__font">Hglx</span>
  <span class="font-debug__font font-debug__font--revised">Hglx</span>
  <span class="font-debug__font font-debug__font--old">Hglx</span>
  <span class="font-debug__font font-debug__font--v1">Hglx</span>
  <span class="font-debug__font font-debug__font--arial">Hglx</span>
</p>
{% endblock %}
