<!DOCTYPE html>
<html lang="en">
<head>
  <title>GOV.UK Frontend</title>
  <link rel="stylesheet" href="/css/govuk-frontend0.0.6-alpha.min.css">
  <!--[if IE 8]>
  <link rel="stylesheet" href="/css/govuk-frontend-oldie0.0.6-alpha.min.css">
  <![endif]-->
</head>
<body>
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <h1 id="error-message">Error message</h1>
<p>Component to show a red error message - used for form valiation.
Use inside a label or legend.</p>
<h2 id="guidance">Guidance</h2>
<p>Guidance and documentation can be found on <a href="linkgoeshere">GOV.UK Design System</a>.</p>
<h2 id="demo">Demo</h2>
<p>Error message <a href="error-message.html">demo</a>.</p>
<h2 id="usage">Usage</h2>
<p>Code example(s)</p>
<pre><code>&lt;span class=&quot;govuk-c-error-message&quot;&gt;
  Error message goes here
&lt;/span&gt;
</code></pre><!--
## Installation

```
npm install --save @govuk-frontend/error-message
```
-->

  <script src="/js/govuk-frontend0.0.6-alpha.min.js"></script>
</body>
</html>
