{% if isReadme %}
  {% set parentTemplate = "readme.njk"  %}
{% else %}
  {% set parentTemplate = "component.njk"  %}
{% endif %}

{% extends parentTemplate %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}

{% block componentDescription %}
  Let users select one or more options.
{% endblock %}

{# examples #}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{{ govukTable({
  'firstCellIsHeader': true,
  'head' : [
    {
      text: 'Name'
    },
    {
      text: 'Type'
    },
    {
      text: 'Required'
    },
    {
      text: 'Description'
    }
  ],
  'rows' : [
    [
      {
        text: 'fieldset'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Arguments for the fieldset component (e.g. legend). See fieldset component.'
      }
    ],
    [
      {
        text: 'hint'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Arguments for the hint component (e.g. text). See hint component.'
      }
    ],
    [
      {
        text: 'errorMessage'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Arguments for the errorMessage component (e.g. text). See errorMessage component.'
      }
    ],
    [
      {
        text: 'idPrefix'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'String to prefix id for each checkbox item if no id is specified on each item. If`idPrefix` is not passed, fallback to using the name attribute instead.'
      }
    ],
    [
      {
        text: 'name'
      },
      {
        text: 'string'
      },
      {
        text: 'Yes'
      },
      {
        text: 'Name attribute for each checkbox item.'
      }
    ],
    [
      {
        text: 'items'
      },
      {
        text: 'array'
      },
      {
        text: 'Yes'
      },
      {
        text: 'Array of checkbox items objects.'
      }
    ],
    [
      {
        text: 'items.{}.text (or) items.{}.html'
      },
      {
        text: 'string'
      },
      {
        text: 'Yes'
      },
      {
        text: 'Text or HTML to use within each checkbox item label. If `html` is provided, the `text` argument will be ignored.'
      }
    ],
    [
      {
        text: 'items.{}.id'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Specific id attribute for the checkbox item. If ommited, then `idPrefix` string will be applied.'
      }
    ],
    [
      {
        text: 'items.{}.name'
      },
      {
        text: 'string'
      },
      {
        text: 'Yes'
      },
      {
        text: 'Specific name for the checkbox item. If ommited, then component global `name` string will be applied.'
      }
    ],
    [
      {
        text: 'items.{}.value'
      },
      {
        text: 'string'
      },
      {
        text: 'Yes'
      },
      {
        text: 'Value for the checkbox input.'
      }
    ],
    [
      {
        text: 'items.{}.label'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        html: 'Provide additional attributes to each checkbox item label. See `label` component for more details.'
      }
    ],
    [
      {
        text: 'items.{}.checked'
      },
      {
        text: 'boolean'
      },
      {
        text: 'No'
      },
      {
        text: 'If true, checkbox will be checked.'
      }
    ],
    [
      {
        text: 'items.{}.conditional'
      },
      {
        text: 'boolean'
      },
      {
        text: 'No'
      },
      {
        text: 'If true, content provided will be revealed when the item is checked.'
      }
    ],
    [
      {
        text: 'items.{}.conditional.html'
      },
      {
        text: 'boolean'
      },
      {
        text: 'No'
      },
      {
        text: 'Provide content for the conditional reveal.'
      }
    ],
    [
      {
        text: 'items.{}.disabled'
      },
      {
        text: 'boolean'
      },
      {
        text: 'No'
      },
      {
        text: 'If true, checkbox will be disabled.'
      }
    ],
    [
      {
        text: 'classes'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional additional classes to add to the checkboxes container.'
      }
    ],
    [
      {
        text: 'attributes'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Any extra HTML attributes (for example data attributes) to add to the checkboxes container.'
      }
    ]
  ]
})}}
{% endblock %}
