---
name: Topic page (Service Manual)
scenario: >-
  You would like to access information on a given topic, perhaps by finding out
  more about software development processes.

notes: The links within each section are not functional.
---

{# This example is based of the live "Service Manual - Technology" page: https://www.gov.uk/service-manual/technology #}
{% extends "_generic.njk" %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "accordion/macro.njk" import govukAccordion %}

{% set pageTitle = "Technology - Service Manual" %}
{% block pageTitle %}{{ pageTitle }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Service manual",
        href: "#/"
      },
      {
        text: "Technology"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Technology</h1>

      <p class="govuk-body govuk-!-font-size-24">Choosing technology, development, integration, hosting, testing, security and maintenance.</p>

      {{ govukAccordion({
        id: "accordion-with-summary-sections",
        items: [
          {
            heading: {
              text: "Technology strategy for services"
            },
            summary: {
              text: "Choosing your technology and approach."
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Choosing technology: an introduction</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Using common components</a>
                  </li>
              </ul>'
            }
          },
              {
            heading: {
              text: "Software development processes"
            },
            summary: {
              text: "Configuration, version control, pre-production environments, dependencies."
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Managing software dependencies</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Maintaining version control in coding</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Deploying software regularly</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Working in pre-production environments</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Manage your software configuration</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Making source code open and reusable</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Developing a roadmap</a>
                  </li>
              </ul>'
            }
          },
                  {
            heading: {
              text: "Building your service: the frontend"
            },
            summary: {
              text: "Device and browser requirements, progressive enhancement, HTTPS."
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Using HTTPS</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Using progressive enhancement</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Designing for different browsers and devices</a>
                  </li>
              </ul>'
            }
          },
          {
            heading: {
              text: "Testing your service"
            },
            summary: {
              text: "Quality assurance, performance testing, vulnerability and penetration testing, exploratory testing."
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Exploratory testing</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Quality assurance: testing your service regularly</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Vulnerability and penetration testing</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Test your service\'s performance</a>
                  </li>
              </ul>'
            }
          },
          {
            heading: {
              text: "Managing a live service"
            },
            summary: {
              text: "Uptime, availability, monitoring."
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Uptime and availability: keeping your service online</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Monitoring the status of your service</a>
                  </li>
              </ul>'
            }
          },
          {
            heading: {
              text: "Integrating with external software and data"
            },
            summary: {
              text: "Open standards, moving away from legacy systems, using APIs."
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Moving away from legacy systems</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Working with open standards</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Application programming interfaces (APIs)</a>
                  </li>
              </ul>'
            }
          },
          {
            heading: {
              text: "Hosting your service"
            },
            summary: {
              text: "Suppliers and domain names."
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Deciding how to host your service</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Get a service domain name</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Managing service domains</a>
                  </li>
              </ul>'
            }
          },
          {
            heading: {
              text: "Protecting user information"
            },
            summary: {
              text: "Security, the cloud, fraud, cookies, user logins and sending email."
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="#">Protecting your service against fraud</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Sending emails from your service domain</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Working with cookies and similar technologies</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Securing your information</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Securing your cloud environment</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Sending text messages securely</a>
                  </li>
              </ul>'
            }
          }
        ]
      }) }}


    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Join the community
        </h2>
        <p class="govuk-body">Find out what the cross-government community does and how to get involved.</p>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li class="gem-c-related-navigation__link">
              <a class="govuk-link" href="#">Technology community (web operations)</a>
            </li>
            <li class="gem-c-related-navigation__link">
              <a class="govuk-link" href="#">Technology community (technical architecture)</a>
            </li>
            <li class="gem-c-related-navigation__link">
              <a class="govuk-link" href="#">Technology community (backend development)</a>
            </li>
            <li class="gem-c-related-navigation__link">
              <a class="govuk-link" href="#">Design community</a>
            </li>
            <li class="gem-c-related-navigation__link">
              <a class="govuk-link" href="#">Standards and assurance community</a>
            </li>
            <li class="gem-c-related-navigation__link">
              <a class="govuk-link" href="#">Accessibility community</a>
            </li>
          </ul>
        </nav>
        <h2 class="govuk-heading-m">
          Get notifications
        </h2>
        <p class="govuk-body">When any guidance within this topic is updated
          <a class="govuk-link related-item__email-link" href="/service-manual/technology/email-signup">email</a></p>
      </aside>

    </div>
  </div>
{% endblock %}
