@import "@govuk-frontend/globals/common";

@include exports("table") {
  .govuk-c-table {
    @include govuk-text-colour;
    width: 100%;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");

    border-spacing: 0;
    border-collapse: collapse;
  }

  .govuk-c-table__header {
    @include govuk-font-bold-19;

    padding: em($govuk-spacing-scale-2, 19px) em($govuk-spacing-scale-4, 19px) em($govuk-spacing-scale-2, 19px) 0;
    border-bottom: 1px solid $govuk-border-colour;
    text-align: left;
  }

  .govuk-c-table__cell {
    @include govuk-font-regular-19;

    padding: em($govuk-spacing-scale-2, 19px) em($govuk-spacing-scale-4, 19px) em($govuk-spacing-scale-2, 19px) 0;
    border-bottom: 1px solid $govuk-border-colour;
    text-align: left;
  }

  .govuk-c-table__cell--numeric {
    @include govuk-font-regular-tabular;
  }

  .govuk-c-table__header--numeric,
  .govuk-c-table__cell--numeric {
    text-align: right;
  }

  .govuk-c-table__header:last-child,
  .govuk-c-table__cell:last-child {
    padding-right: 0;
  }

  .govuk-c-table__caption {
    text-align: left;
    @include govuk-font-bold-19;
  }
}
