@import "../import-once";
@import "../vars";
@import "grid-layout";
@import "site-width-container";

@include exports("grid") {

  .govuk-o-grid {
    @include govuk-grid;
  }

  .govuk-o-grid__item {
    @include govuk-grid-item;
  }

  .govuk-o-grid__item--full {
    width: 100%;
  }

  .govuk-o-grid__item--one-half {
    width: percentage(1 / 2);
  }

  .govuk-o-grid__item--one-third {
    width: percentage(1 / 3);
  }

  .govuk-o-grid__item--two-thirds {
    width: percentage(2 / 3);
  }

  .govuk-o-grid__item--one-quarter {
    width: percentage(1 / 4);
  }
}
