<!DOCTYPE html>
<html lang="en">
<head>
  <title>GOV.UK Frontend</title>
  <link rel="stylesheet" href="/css/govuk-frontend0.0.8-alpha.min.css">
  <!--[if IE 8]>
  <link rel="stylesheet" href="/css/govuk-frontend-oldie0.0.8-alpha.min.css">
  <![endif]-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css">
</head>
<body class="language-markup govuk-c-site-width-container">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <h1 id="button">Button</h1>
<p>Button intro.</p>
<h2 id="guidance">Guidance</h2>
<p>Guidance and documentation can be found on <a href="linkgoeshere">GOV.UK Design System</a>.</p>
<h2 id="demo">Demo</h2>
<p>Button <a href="button.html">demo</a>.</p>
<h2 id="usage">Usage</h2>
<p>Code example(s)</p>
<pre><code>&lt;input class=&quot;govuk-c-button&quot; type=&quot;submit&quot; value=&quot;Save and continue&quot;&gt;
&lt;a class=&quot;govuk-c-button govuk-c-button--start&quot; href=&quot;#&quot; role=&quot;button&quot;&gt;Start now&lt;/a&gt;
&lt;input class=&quot;govuk-c-button govuk-c-button--disabled&quot; type=&quot;submit&quot; value=&quot;Primary disabled button&quot; disabled=&quot;disabled&quot;&gt;
</code></pre><!--
## Installation

```
npm install --save @govuk-frontend/button
```
-->

  <script src="/js/govuk-frontend0.0.8-alpha.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
</body>
</html>
