@import "../error-message/index";
@import "../hint/index";
@import "../label/index";

@include govuk-exports("govuk/component/select") {
  .govuk-select {
    @include govuk-font($size: 19, $line-height: 1.25);

    box-sizing: border-box; // should this be global?
    max-width: 100%;
    height: 40px;
    @if $govuk-typography-use-rem {
      height: govuk-px-to-rem(40px);
    }
    padding: govuk-spacing(1); // was 5px 4px 4px - size of it should be adjusted to match other form elements
    border: $govuk-border-width-form-element solid $govuk-input-border-colour;

    // Default user agent colours for selects can have low contrast,
    // and may look disabled (#2435)
    color: $govuk-text-colour;
    background-color: govuk-colour("white");

    &:focus {
      outline: $govuk-focus-width solid $govuk-focus-colour;
      // Ensure outline appears outside of the element
      outline-offset: 0;
      // Double the border by adding its width again. Use `box-shadow` to do
      // this instead of changing `border-width` (which changes element size) and
      // since `outline` is already used for the yellow focus state.
      box-shadow: inset 0 0 0 $govuk-border-width-form-element;

      @include govuk-if-ie8 {
        // IE8 doesn't support `box-shadow` so double the border with
        // `border-width`.
        border-width: $govuk-border-width-form-element * 2;
      }
    }
  }

  .govuk-select option:active,
  .govuk-select option:checked,
  .govuk-select:focus::-ms-value {
    color: govuk-colour("white");
    background-color: govuk-colour("blue");
  }

  .govuk-select__wrapper {
    position: relative;
  }

  .govuk-select__input {
    // Leave room on the right for the drop-down arrow
    padding-right: 40px;
  }

  .govuk-select__drop-down-arrow {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 18px;
    height: 18px;
    margin: auto 0;
    transform: rotate(45deg);
    border: solid;
    border-width: 0 2px 2px 0;
    border-color: govuk_colour("black");
    pointer-events: none;
  }

  .govuk-select__option-list {
    max-height: 300px;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    overflow-y: scroll;
    list-style-type: none;
    border-top-width: 0;
    border-right-width: $govuk-border-width-form-element;
    border-bottom-width: $govuk-border-width-form-element;
    border-left-width: $govuk-border-width-form-element;
    border-style: solid;
    border-color: currentColor;
  }

  // @include govuk-media-query($from: desktop) {
  // Redefine scrollbars on desktop where these lists are scrollable
  // so they are always visible in option lists
  .govuk-select__option-list::-webkit-scrollbar {
    width: 7px;
    -webkit-appearance: none;
  }

  .govuk-select__option-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .87);
  }

  .govuk-select__option {
    @include govuk-font($size: 19);
    position: relative;
    padding: 5px 5px 5px 32px;
    border-bottom: solid #b1b4b6;
    border-width: 1px 0;
  }

  .govuk-select__option--no-results {
    padding-left: 5px;
    color: $govuk-secondary-text-colour;
    background-color: govuk-colour("light-grey", $legacy: "grey-4");
    cursor: not-allowed;
  }

  .govuk-select__option[aria-selected=true]:before {
    content: '';
    box-sizing: border-box;

    position: absolute;
    top: 11px;
    left: 5px;
    width: 19px;
    height: 10px;
    transform: rotate(-45deg);

    border: solid;
    border-width: 0 0 3px 3px;

    background: transparent;
  }

  .govuk-select__option:focus {
    outline: 0;
    background-color: $govuk-focus-colour;
  }

  .govuk-select--error {
    border-color: $govuk-error-colour;

    &:focus {
      border-color: $govuk-input-border-colour;
    }
  }
}
