@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@import "../error-message/error-message";
@import "../hint/hint";
@import "../label/label";

@include govuk-exports("govuk/component/select") {
  .govuk-select {
    @include govuk-font($size: 19, $line-height: 1.25);
    @include govuk-focusable;

    box-sizing: border-box; // should this be global?
    max-width: 100%;
    height: 40px;
    padding: govuk-spacing(1); // was 5px 4px 4px - size of it should be adjusted to match other form elements
    border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  }

  .govuk-select option:active,
  .govuk-select option:checked,
  .govuk-select:focus::-ms-value {
    color: govuk-colour("white");
    background-color: govuk-colour("blue");
  }

  .govuk-select--error {
    border: $govuk-border-width-form-element-error solid $govuk-error-colour;
  }

}
