{% extends "_generic.njk" %}

{% from "panel/macro.njk" import govukPanel %}

{% set pageTitle = "Thank you for confirming your nationality" %}
{% block pageTitle %}GOV.UK - {{ pageTitle }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: pageTitle
      }) }}
    </div>
  </div>
{% endblock %}
