// This file is included by each individual component as well as the
// govuk-frontend file itself.
//
// This means that every component has access to all things within the settings,
// tools and helpers layers

// Settings
@import "settings/colours-palette";
@import "settings/colours-organisations";
@import "settings/colours-applied";
@import "settings/spacing";
@import "settings/measurements";
@import "settings/typography-font-stacks";
@import "settings/typography-font";
@import "settings/typography-responsive";
@import "settings/media-queries";
@import "settings/paths";

// Tools
@import "tools/exports";
@import "tools/file-url";
@import "tools/iff";
@import "tools/legacy-ie";
@import "tools/px-to-em";

// Helpers
@import "helpers/arrow";
@import "helpers/clearfix";
@import "helpers/device-pixels";
@import "helpers/media-queries";
@import "helpers/typography";
@import "helpers/spacing";
@import "helpers/visually-hidden";

// Core
@import "core/links";
@import "core/lists";
@import "core/typography";
@import "core/prose-scope";

// Objects
@import "objects/grid";
@import "objects/main-wrapper";
@import "objects/shapes";
@import "objects/width-container";

// Overrides
@import "overrides/spacing";
@import "overrides/typography";
