@import "../../settings/all";
@import "../../tools/all";

@import "../../globals/helpers/typography";
@import "../../globals/helpers/media-queries";

@include govuk-exports("hint") {
  .govuk-hint {
    @include govuk-font-regular-19;

    display: block;

    margin-bottom: $govuk-spacing-scale-3;

    color: $govuk-secondary-text-colour;
  }
}
