@import "../settings/warnings";
@import "index";

@include _warning(
  "import-using-all",
  "Importing using 'govuk/helpers/all' is deprecated. Update your import statement to import 'govuk/helpers/index'.",
  $silence-further-warnings: false
);
