{% extends "template.njk" %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link rel="stylesheet" href="/public/app.css">
  <!--<![endif]-->
  <!--[if IE 8]>
    <link rel="stylesheet" href="/public/app-ie8.css">
  <![endif]-->
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
{% endblock %}
