@use "../base";
@use "helpers/clearfix";
@use "helpers/colour";
@use "helpers/spacing";
@use "settings/measurements";
@use "tools/exports";

@include exports.govuk-exports("govuk/objects/form-group") {
  .govuk-form-group {
    @include clearfix.govuk-clearfix;
    @include spacing.govuk-responsive-margin(6, "bottom");

    .govuk-form-group:last-of-type {
      margin-bottom: 0; // Remove margin from last item in nested groups
    }
  }

  .govuk-form-group--error {
    padding-left: spacing.govuk-spacing(3);
    border-left: measurements.$govuk-border-width-form-group-error solid;
    border-left-color: colour.govuk-functional-colour(error);

    .govuk-form-group {
      // Reset error styles in nested form groups that might have error class
      padding: 0;
      border: 0;
    }
  }
}
