@import "../globals/tools/exports";
@import "../globals/tools/iff";
@import "../globals/tools/px-to-em";

@import "../globals/settings/colours-palette";
@import "../globals/settings/colours-applied";
@import "../globals/settings/spacing";
@import "../globals/settings/measurements";

@import "../globals/helpers/media-queries";
@import "../globals/helpers/spacing";

@import "../globals/helpers/typography";
@import "../globals/settings/typography-font-stacks";
@import "../globals/settings/typography-font";
@import "../globals/settings/typography-responsive";

@include govuk-exports("table") {
  .govuk-table {
    @include govuk-font-regular-19;
    @include govuk-text-colour;
    width: 100%;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");

    border-spacing: 0;
    border-collapse: collapse;
  }

  .govuk-table__header {
    @include govuk-typography-weight-bold;

    padding: govuk-em($govuk-spacing-scale-2, 19px) govuk-em($govuk-spacing-scale-4, 19px) govuk-em($govuk-spacing-scale-2, 19px) 0;
    border-bottom: 1px solid $govuk-border-colour;
    text-align: left;
  }

  .govuk-table__cell {
    padding: govuk-em($govuk-spacing-scale-2, 19px) govuk-em($govuk-spacing-scale-4, 19px) govuk-em($govuk-spacing-scale-2, 19px) 0;
    border-bottom: 1px solid $govuk-border-colour;
    text-align: left;
  }

  .govuk-table__cell--numeric {
    @include govuk-font-regular-tabular;
  }

  .govuk-table__header--numeric,
  .govuk-table__cell--numeric {
    text-align: right;
  }

  .govuk-table__header:last-child,
  .govuk-table__cell:last-child {
    padding-right: 0;
  }

  .govuk-table__caption {
    @include govuk-typography-weight-bold;

    display: table-caption;
    text-align: left;
  }
}
