{% from "back-link/macro.njk" import moalandBackLink %}

{% extends "layout.njk" %}

{% block beforeContent %}
  {{ moalandBackLink({
    "href": "/"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="moaland-heading-l">Example: Grid layout</h1>
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-two-thirds">
      <h2 class="moaland-heading-m">Two thirds</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="moaland-grid-column-one-third">
      <h2 class="moaland-heading-m">One third</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-one-third">
      <h2 class="moaland-heading-m">One third</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="moaland-grid-column-one-third">
      <h2 class="moaland-heading-m">One third</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="moaland-grid-column-one-third">
      <h2 class="moaland-heading-m">One third</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-one-half">
      <h2 class="moaland-heading-m">One half</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="moaland-grid-column-one-half">
      <h2 class="moaland-heading-m">One half</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-one-quarter">
      <h2 class="moaland-heading-m">One quarter</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="moaland-grid-column-one-quarter">
      <h2 class="moaland-heading-m">One quarter</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="moaland-grid-column-one-quarter">
      <h2 class="moaland-heading-m">One quarter</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="moaland-grid-column-one-quarter">
      <h2 class="moaland-heading-m">One quarter</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-three-quarters">
      <h2 class="moaland-heading-m">Three-quarters</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="moaland-grid-column-one-quarter">
      <h2 class="moaland-heading-m">One quarter</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-one-half moaland-grid-column-three-quarters-from-desktop">
      <h2 class="moaland-heading-m">One half (three quarters from desktop)</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>

    <div class="moaland-grid-column-one-half moaland-grid-column-one-quarter-from-desktop">
      <h2 class="moaland-heading-m">One half (one quarter from desktop)</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-three-quarters moaland-grid-column-two-thirds-from-desktop">
      <h2 class="moaland-heading-m">Three quarters (two thirds from desktop)</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-two-thirds-from-desktop">
      <h2 class="moaland-heading-m">Two thirds from desktop</h2>
      <p class="moaland-body">
        This guide shows how to make your service look consistent with the rest of GOV.MOA. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>
{% endblock %}
