{% extends "layout.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}

{% block content %}

{{ govukBackLink({
  "href": "/",
  "text": "Back"
}) }}

<main id="content" role="main" class="govuk-main-wrapper">
  <h1 class="govuk-heading-l">Example: Grid layout</h1>
  <div class="govuk-layout-row">
    <div class="govuk-layout-col-two-thirds">
      <h2 class="govuk-heading-m">Two thirds</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-one-third">
      <h2 class="govuk-heading-m">One third</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-one-third">
      <h2 class="govuk-heading-m">One third</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-one-third">
      <h2 class="govuk-heading-m">One third</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-one-third">
      <h2 class="govuk-heading-m">One third</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-one-half">
      <h2 class="govuk-heading-m">One half</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-one-half">
      <h2 class="govuk-heading-m">One half</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-one-quarter">
      <h2 class="govuk-heading-m">One quarter</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-one-quarter">
      <h2 class="govuk-heading-m">One quarter</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-one-quarter">
      <h2 class="govuk-heading-m">One quarter</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-one-quarter">
      <h2 class="govuk-heading-m">One quarter</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-three-quarters">
      <h2 class="govuk-heading-m">Three-quarters</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-one-quarter">
      <h2 class="govuk-heading-m">One quarter</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-one-third on-desktop-one-quarter">
      <h2 class="govuk-heading-m">100% on mobile, 33% on tablet, 25% on desktop</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="govuk-layout-col-two-thirds on-desktop-three-quarters">
    <h2 class="govuk-heading-m">100% on mobile, 66% on tablet, 75% on desktop</h2>
      <p class="govuk-body">
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>
</main>

{% endblock %}
