@import "@govuk-frontend/globals/common";

@include exports("legal-text") {

  .govuk-c-legal-text {
    @include govuk-font-regular-19;
    @include govuk-text-colour;

    position: relative;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
    padding: $govuk-spacing-scale-2 0;
  }

  .govuk-c-legal-text__assistive {
    @include govuk-h-visually-hidden;
  }

  .govuk-c-legal-text__icon {
    @include govuk-font-bold;

    display: inline-block;

    position: absolute;
    top: 50%;
    left: 0;

    min-width: 38px;
    min-height: 35px;
    margin-top: -19px; // Half the height of the 38px circle
    padding-top: 3px;

    font-size: 1.6em;
    line-height: 35px;
  }

  .govuk-c-legal-text__text {
    display: block;
    margin-left: -$govuk-gutter-half;
    padding-left: 65px;
  }
}
