@use "pkg:govuk-frontend" with (
  $govuk-font-family: (
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif
  ),
  $govuk-functional-colours: (
    brand: (
      name: "black"
    )
  )
);

@use "partials/banner";

.govuk-footer__crown {
  display: none;
}
