$govuk-show-breakpoints: true;
$govuk-new-typography-scale: true;
$govuk-new-organisation-colours: true;

$govuk-suppressed-warnings: ("organisation-colours");

@import "govuk";
@import "partials/app";
@import "partials/code";
@import "partials/banner";
@import "partials/feature-flag-banner";
@import "partials/organisation-swatch";
@import "partials/prose";
