@import "@govuk-frontend/globals/import-once";
@import "@govuk-frontend/globals/font-face";
@import "@govuk-frontend/globals/links";
@import "@govuk-frontend/globals/media-queries";
@import "@govuk-frontend/globals/typography";
@import "@govuk-frontend/globals/vars";

@include exports("skip-link") {
  .govuk-c-skip-link {
    position: absolute;
    left: -9999em;
    padding: $govuk-spacing-scale-1 $govuk-spacing-scale-3;
    font-family: $govuk-font-stack;
    @include font-smoothing;
    @include govuk-core-16;
    line-height: 1.5;
    @include mq($from: tablet) {
      padding: $govuk-spacing-scale-1 $govuk-spacing-scale-5;
    }
  }

  // Default link colour doesn't have enough contrast against $govuk-focus-colour
  .govuk-c-skip-link:focus,
  .govuk-c-skip-link:visited {
    color: $govuk-text-colour;
  }

  .govuk-c-skip-link:focus {
    display: block;
    position: relative;
    left: inherit;
  }
}
