{% extends "layout.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}

{% block content %}

{{ govukBackLink({
  "href": "/",
  "text": "Back"
}) }}

{% set variants = {
  'Link': '',
  'Link with no visited state': 'govuk-link--no-visited-state',
  'Text link': 'govuk-link--text-colour',
  'Muted link': 'govuk-link--muted'
} %}

{% set states = {
  'Link': ':link',
  'Visited link': ':visited',
  'Hovered link': ':hover',
  'Active link': ':active',
  'Focussed link': ':focus',
  'Focussed visited link': ':focus :visited',
  'Focussed hovered link': ':focus :hover',
  'Focussed active link': ':focus :active'
} %}

<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Links
      </h1>

    {% for variant_description, variant_class in variants %}

      <section class="govuk-!-mt-r8">
        <h2 class="govuk-heading-l">{{ variant_description }}</h2>

      {% for state_description, state_class in states %}
        <p class="govuk-body">
          <a href="/" class="govuk-link {{ variant_class }} {{ state_class }}">
            {{ state_description}}
          </a>
        </p>
      {% endfor %}
      </section>
    {% endfor %}

    </div>
  </div>

</main>

{% endblock %}
