@include govuk-exports("lists") {

  // We use a placeholder class here so that we can @extend from the prose scope
  // without also applying every other occurrence of the .govuk-list selector to
  // the prose scope.

  %govuk-list {
    @include govuk-font-regular-19;
    @include govuk-text-colour;
    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-4, "bottom");
    padding-left: 0;
    list-style-type: none;

    // Add a top margin for nested lists
    %govuk-list {
      margin-top: $govuk-spacing-scale-2;
    }
  }

  %govuk-list > li {
    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-1;
    }
  }

  %govuk-list a {
    &:link {
      color: $govuk-link-colour;
    }

    &:visited {
      color: $govuk-link-visited-colour;
    }

    &:hover {
      color: $govuk-link-hover-colour;
    }

    &:active {
      color: $govuk-link-active-colour;
    }
  }

  .govuk-list {
    @extend %govuk-list;
  }

  %govuk-list--bullet {
    padding-left: $govuk-spacing-scale-4;

    list-style-type: disc;
  }

  .govuk-list--bullet {
    @extend %govuk-list--bullet;
  }

  %govuk-list--number {
    padding-left: $govuk-spacing-scale-4;
    list-style-type: decimal;
  }

  .govuk-list--number {
    @extend %govuk-list--number;
  }
}
