<section class="sdn-hero">
  <div class="govuk-width-container">
    <div class="sdn-hero-inner">
      <div class="sdn-hero-text">
        <h1 class="snd-hero-title govuk-heading-xl">Aj vy môžete zlepšiť štátne elektronické služby</h1>
        <p class="snd-hero-description govuk-body-l">Tu môžete upozorniť na problémy štátnych elektronických služieb, alebo zadať návrhy na ich zlepšenie.</p>
      </div>
    </div>
  </div>
</section>