{% from "date-input/macro.njk" import govukDateInput %}

{{- govukDateInput({
  fieldset: {
    legendText: 'What is your date of birth?',
    legendHintText: 'For example, 31 3 1980'
  },
  id: 'dob',
  name: 'dob',
  items:[
    {
      name: 'day'
    },
    {
      name: 'month'
    },
    {
      name: 'year'
    }
  ]
  })
-}}
