@use "helpers/colour";
@use "helpers/focused";
@use "helpers/links";
@use "helpers/shape-arrow";
@use "helpers/spacing";
@use "helpers/typography";
@use "settings/measurements";
@use "tools/exports";

@include exports.govuk-exports("govuk/component/details") {
  .govuk-details {
    @include typography.govuk-font($size: 19);
    @include typography.govuk-text-colour;
    @include spacing.govuk-responsive-margin(6, "bottom");

    display: block;
  }

  .govuk-details__summary {
    display: block;
  }

  .govuk-details[open] .govuk-details__summary {
    margin-bottom: spacing.govuk-spacing(1);
  }

  .govuk-details__summary-text {
    > :first-child {
      margin-top: 0;
    }

    > :only-child,
    > :last-child {
      margin-bottom: 0;
    }
  }

  .govuk-details__text {
    padding-top: spacing.govuk-spacing(3);
    padding-bottom: spacing.govuk-spacing(3);
    padding-left: spacing.govuk-spacing(4);
  }

  .govuk-details__text p {
    margin-top: 0;
    margin-bottom: spacing.govuk-spacing(4);
  }

  .govuk-details__text > :last-child {
    margin-bottom: 0;
  }

  // Hack to target IE8 - IE11 (and REALLY old Firefox)
  // These browsers don't support the details element, so fall back to looking
  // like inset text
  @media screen\0 {
    .govuk-details {
      border-left: measurements.$govuk-border-width-wide solid;
      border-left-color: colour.govuk-functional-colour(border);
    }

    .govuk-details__summary {
      margin-top: spacing.govuk-spacing(3);
    }

    .govuk-details__summary-text {
      @include typography.govuk-typography-weight-bold;
      @include spacing.govuk-responsive-margin(4, "bottom");
      padding-left: spacing.govuk-spacing(4);
    }
  }

  // We wrap styles for newer browsers in a feature query, which is ignored by
  // older browsers, which always expand the details element.
  //
  // Additionally, -ms-ime-align is only supported by Edge 12 - 18
  //
  // This ensures we don't use these styles in browsers which:
  //   - support ES6 modules but not the <details> element (Edge 16 - 18)
  //   - do not support ES6 modules or the <details> element (eg, IE8+)
  @supports not (-ms-ime-align: auto) {
    .govuk-details__summary {
      // Absolutely position the marker against this element
      position: relative;

      // Make the focus outline shrink-wrap the text content of the summary
      width: fit-content;

      // Allow for absolutely positioned marker and align with disclosed text
      padding-left: spacing.govuk-spacing(4) + measurements.$govuk-border-width;

      // Style the summary to look like a link...
      color: colour.govuk-functional-colour(link);
      cursor: pointer;

      &:hover {
        color: colour.govuk-functional-colour(link-hover);
      }

      &:focus {
        @include focused.govuk-focused-text;
      }
    }
    // ...but only underline the text, not the arrow
    .govuk-details__summary-text {
      @include links.govuk-link-decoration;
    }

    .govuk-details__summary:hover .govuk-details__summary-text {
      @include links.govuk-link-hover-decoration;
    }

    // Remove the underline when focussed to avoid duplicate borders
    .govuk-details__summary:focus .govuk-details__summary-text {
      text-decoration: none;
    }

    // Remove the default details marker so we can style our own consistently and
    // ensure it displays in Firefox (see implementation.md for details)
    .govuk-details__summary::-webkit-details-marker {
      display: none;
    }

    // Append our own open / closed marker using a pseudo-element
    .govuk-details__summary::before {
      content: "";
      position: absolute;

      top: -1px;
      bottom: 0;
      left: 0;

      margin: auto;

      @include shape-arrow.govuk-shape-arrow($direction: right, $base: 14px);

      .govuk-details[open] > & {
        @include shape-arrow.govuk-shape-arrow($direction: down, $base: 14px);
      }
    }

    .govuk-details__text {
      border-left: measurements.$govuk-border-width solid;
      border-left-color: colour.govuk-functional-colour(border);
    }
  }
}
