{% from "error-message/macro.njk" import govukErrorMessage -%}
{% from "label/macro.njk" import govukLabel %}

{# a record of other elements that we need to associate with the input using 
   aria-describedby – for example hints or error messages #}
{% set describedBy = "" %}

<div class="govuk-form-group {%- if params.errorMessage %} govuk-form-group--error{% endif %}">

  {#- Include label passing all label parameters, merging in `for` and `errorMessage` #}

  {{- govukLabel({
    html: params.label.html,
    text: params.label.text,
    hintText: params.label.hintText,
    hintHtml: params.label.hintHtml,
    classes: params.label.classes,
    attributes: params.label.attributes,
    for: params.id
  }) -}}

  {% if params.errorMessage %}
    {% set errorId = params.id + '-error' %}
    {% set describedBy = describedBy + ' ' + errorId if describedBy else errorId %}
    {{ govukErrorMessage({
      id: errorId,
      classes: params.errorMessage.classes,
      html: params.errorMessage.html,
      text: params.errorMessage.text
    }) -}}
  {% endif %}

  <textarea id="{{ params.id }}" name="{{ params.name }}" rows="{%if params.rows %} {{- params.rows -}} {% else %}5{%endif %}" class="govuk-textarea {{- ' govuk-textarea--error' if params.errorMessage }} {{- ' ' + params.classes if params.classes}}" {%- if describedBy %} aria-describedby="{{ describedBy }}"{% endif %} {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>{{ params.value }}</textarea>

</div>
