{% extends "readme.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}
{% block componentDescription %}
  The header component is used at the top of every GOV.UK page, to help users navigate.
{% endblock %}
{# examples #}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{% from "table/macro.njk" import govukTable %}
{{ govukTable({
  'firstCellIsHeader': true,
  'head' : [
    {
      text: 'Name'
    },
    {
      text: 'Type'
    },
    {
      text: 'Required'
    },
    {
      text: 'Description'
    }
  ],
  'rows' : [
    [
      {
        text: 'homepageUrl'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'The url of the homepage. Defaults to /'
      }
    ],
    [
      {
        text: 'assetsPath'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'The public path for the assets folder. If not provided it defaults to /assets/images'
      }
    ],
    [
      {
        text: 'logoText'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Remove the crown logo and replace the GOV.UK text with the provided string'
      }
    ],
    [
      {
        text: 'productName'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Header title that is placed next to GOV.UK. Used for product names (i.e. Pay, Verify)'
      }
    ],
    [
      {
        text: 'serviceName'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Header title that is placed next to GOV.UK. Used for product names (i.e. Pay, Verify)'
      }
    ],
    [
      {
        text: 'serviceUrl'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Url for the service name anchor.'
      }
    ],
    [
      {
        text: 'navigation'
      },
      {
        text: 'array'
      },
      {
        text: 'No'
      },
      {
        text: 'An array of navigation item objects.'
      }
    ],
    [
      {
        text: 'navigation.{}.text'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Text of the navigation item.'
      }
    ],
    [
      {
        text: 'navigation.{}.href'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Url of the navigation item anchor. Both `href` and `text` attributes for navigation items need to be provided to create an item.'
      }
    ],
    [
      {
        text: 'navigation.{}.active'
      },
      {
        text: 'boolean'
      },
      {
        text: 'No'
      },
      {
        text: 'Flag to mark the navigation item as active or not.'
      }
    ],
    [
      {
        text: 'navigationClasses'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional classes that can be added to the navigation section of the header.'
      }
    ],
    [
      {
        text: 'containerClasses'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional classes that can be added to the container, useful if you want to make the header fixed width.'
      }
    ],
    [
      {
        text: 'classes'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional additional classes to add to the header container.'
      }
    ],
    [
      {
        text: 'attributes'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Any extra HTML attributes (for example data attributes) to add to the header container.'
      }
    ]
  ]
})}}
{% endblock %}
