@import "../globals/common";

@include govuk-exports("back-link") {

  .govuk-c-back-link {
    @include govuk-font-regular-16;
    @include govuk-focusable-fill;

    display: inline-block;
    position: relative;

    margin-top: $govuk-spacing-scale-3;
    margin-bottom: $govuk-spacing-scale-3;

    // Allow space for the arrow
    padding-left: 14px;

    // Use border-bottom rather than text-decoration so that the arrow is
    // underlined as well.
    border-bottom: 1px solid $govuk-black;

    // Underline is provided by a bottom border
    text-decoration: none;

    // Override link colour to use text colour
    //
    // GOV.UK Template includes a specific a:link:focus selector designed to
    // make unvisited links a slightly darker blue when focussed, so we need to
    // override the text colour for that combination of selectors so so that
    // the skip link does not end up with dark blue text when focussed. (1)
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus,
    &:link:focus {
      @include govuk-text-colour;
    }

    // Prepend left pointing arrow
    &:before {
      @include govuk-shape-arrow($direction: left, $base: 10px, $height: 6px);

      content: "";

      // Vertically align with the parent element
      position: absolute;

      top: -1px;
      bottom: 1px;
      left: 0;

      margin: auto;
    }
  }

  // Begin adjustments for font baseline offset
  // These should be removed when the font is updated with the correct baseline

  .govuk-c-back-link:before {
    $offset: 1px;

    top: $offset * -1;
    bottom: $offset;
  }
}
