.govuk-button {
  @include govuk-font($size: 15, $weight: "bold", $line-height: 17px);
  padding: 12px 15px;
  border-radius: 3px;
}

.govuk-button--start {
  @include govuk-font($size: 15, $weight: "bold", $line-height: 17px);
  padding: 12px 63px 12px 15px;
  border-radius: 3px;
}
