@use "helpers/colour";
@use "helpers/spacing";
@use "helpers/typography";
@use "tools/exports";

@include exports.govuk-exports("govuk/component/error-message") {
  .govuk-error-message {
    @include typography.govuk-font($size: 19, $weight: bold);

    display: block;
    margin-top: 0; // Reset any default browser margins for paragraphs
    margin-bottom: spacing.govuk-spacing(3);
    clear: both;

    color: colour.govuk-functional-colour(error);
  }
}
