@import "../helpers-ie";
@import "../import-once";

// Mixin to clear floats
@mixin govuk-u-clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  @include ie-lte(7) {
    zoom: 1;
  }
}

@include exports("clearfix") {
  .govuk-u-clearfix {
    @include govuk-u-clearfix;
  }
}
