@use "../../base";

/// @access private
@mixin styles {
  .govuk-summary-list {
    @include base.govuk-font($size: 19);

    color: base.govuk-functional-colour(text);

    @media #{base.govuk-from-breakpoint(tablet)} {
      display: table;
      inline-size: 100%;
      table-layout: fixed; // Required to allow us to wrap words that overflow.
      border-collapse: collapse;
    }

    // Keep margins together
    // stylelint-disable order/properties-order
    margin: 0; // Reset default user agent styles
    @include base.govuk-responsive-margin(6, "block-end");
    // stylelint-enable order/properties-order
  }

  .govuk-summary-list__row {
    border-block-end: 1px solid;
    border-block-end-color: base.govuk-functional-colour(border);

    @media #{base.govuk-until-breakpoint(tablet)} {
      margin-block-end: base.govuk-spacing(3);
    }
    @media #{base.govuk-from-breakpoint(tablet)} {
      display: table-row;
    }
  }

  // Remove right padding from the last column in the row
  .govuk-summary-list__row:not(.govuk-summary-list__row--no-actions) > :last-child {
    padding-inline-end: 0;
  }

  // Provide an empty 'cell' for rows that don't have actions – otherwise the
  // bottom border is not drawn for that part of the row in some browsers.
  .govuk-summary-list__row--no-actions {
    @media #{base.govuk-from-breakpoint(tablet)} {
      &::after {
        content: "";
        display: table-cell;
        inline-size: 20%;
      }
    }
  }

  .govuk-summary-list__key,
  .govuk-summary-list__value,
  .govuk-summary-list__actions {
    margin: 0; // Reset default user agent styles

    @media #{base.govuk-from-breakpoint(tablet)} {
      display: table-cell;
      padding-block-start: base.govuk-spacing(2);
      padding-inline-end: base.govuk-spacing(4);
      padding-block-end: base.govuk-spacing(2);

      // Make sure that any multi-line inline-blocks inside of the summary
      // list (e.g. Tag components) don't cause the text baseline to shift,
      // causing other cells in the row to be misaligned.
      vertical-align: top;
    }
  }

  .govuk-summary-list__actions {
    margin-block-end: base.govuk-spacing(3);
    @media #{base.govuk-from-breakpoint(tablet)} {
      inline-size: 20%;
      text-align: end;
    }
  }

  .govuk-summary-list__key,
  .govuk-summary-list__value {
    // Automatic wrapping for unbreakable text (e.g. URLs)
    word-wrap: break-word; // Fallback for older browsers only
    overflow-wrap: break-word;
  }

  .govuk-summary-list__key {
    margin-block-end: base.govuk-spacing(1);
    @include base.govuk-typography-weight-bold;
    @media #{base.govuk-from-breakpoint(tablet)} {
      inline-size: 30%;
    }
  }

  .govuk-summary-list__value {
    @media #{base.govuk-until-breakpoint(tablet)} {
      margin-block-end: base.govuk-spacing(3);
    }
  }

  .govuk-summary-list__value > p {
    margin-block-end: base.govuk-spacing(2);
  }

  .govuk-summary-list__value > :last-child {
    margin-block-end: 0;
  }

  .govuk-summary-list__actions-list {
    inline-size: 100%;
    margin: 0; // Reset default user agent styles
    padding: 0; // Reset default user agent styles
  }

  .govuk-summary-list__actions-list-item,
  .govuk-summary-card__action {
    display: inline-block;
  }

  @media #{base.govuk-until-breakpoint(tablet)} {
    .govuk-summary-list__actions-list-item,
    .govuk-summary-card__action {
      margin-inline-end: base.govuk-spacing(2);
      padding-inline-end: base.govuk-spacing(2);
      border-inline-end: 1px solid;
      border-inline-end-color: base.govuk-functional-colour(border);
    }

    .govuk-summary-list__actions-list-item:last-child,
    .govuk-summary-card__action:last-child {
      margin-inline-end: 0;
      padding-inline-end: 0;
      border: 0;
    }
  }

  @media #{base.govuk-from-breakpoint(tablet)} {
    .govuk-summary-list__actions-list-item,
    .govuk-summary-card__action {
      margin-inline-start: base.govuk-spacing(2);
      padding-inline-start: base.govuk-spacing(2);
    }

    .govuk-summary-list__actions-list-item:not(:first-child),
    .govuk-summary-card__action:not(:first-child) {
      border-inline-start: 1px solid;
      border-inline-start-color: base.govuk-functional-colour(border);
    }

    .govuk-summary-list__actions-list-item:first-child,
    .govuk-summary-card__action:first-child {
      margin-inline-start: 0;
      padding-inline-start: 0;
      border: 0;
    }
  }

  // Large groups of action links may wrap onto multiple lines. Because the link
  // focus styles are applied outside of the link's bounding box, there are
  // situations where the focus style on a link can be overlapped by subsequent
  // links. We don't want this, so let's create a new stacking context on focus
  // so the link always appears to be 'on top'.
  .govuk-summary-list__actions-list-item .govuk-link:focus {
    isolation: isolate;
  }

  // No border on entire summary list
  .govuk-summary-list--no-border {
    .govuk-summary-list__row {
      border: 0;
    }

    // Increase padding by 1px to compensate for 'missing' border
    @media #{base.govuk-from-breakpoint(tablet)} {
      .govuk-summary-list__key,
      .govuk-summary-list__value,
      .govuk-summary-list__actions {
        padding-block-end: base.govuk-spacing(2) + 1px;
      }
    }
  }

  // No border on specific rows
  .govuk-summary-list__row--no-border {
    border: 0;

    // Increase padding by 1px to compensate for 'missing' border
    @media #{base.govuk-from-breakpoint(tablet)} {
      .govuk-summary-list__key,
      .govuk-summary-list__value,
      .govuk-summary-list__actions {
        padding-block-end: base.govuk-spacing(2) + 1px;
      }
    }
  }

  // Additional block for the summary card
  .govuk-summary-card {
    @include base.govuk-responsive-margin(6, "block-end");
    border: 1px solid;
    border-color: base.govuk-functional-colour(border);
  }

  .govuk-summary-card__title-wrapper {
    padding: base.govuk-spacing(3);

    // Ensures the card header appears separate to the summary list in forced
    // colours mode
    border-block-end: 1px solid transparent;
    background-color: base.govuk-colour("black", $variant: "tint-95");

    @media #{base.govuk-from-breakpoint(tablet)} {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-block: base.govuk-spacing(3);
      padding-inline: base.govuk-spacing(4);
    }
  }

  .govuk-summary-card__title {
    @include base.govuk-font($size: 19, $weight: bold);
    margin-block-start: base.govuk-spacing(1);
    margin-block-end: base.govuk-spacing(2);
    margin-inline-end: base.govuk-spacing(4);
    color: base.govuk-functional-colour(text);

    @media #{base.govuk-from-breakpoint(tablet)} {
      margin-block-end: base.govuk-spacing(1);
    }
  }

  .govuk-summary-card__actions {
    @include base.govuk-font-size($size: 19);
    @include base.govuk-typography-weight-bold;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-block: base.govuk-spacing(1);
    padding: 0;
    list-style: none;

    @media #{base.govuk-from-breakpoint(tablet)} {
      justify-content: right;
      text-align: end;
    }
  }

  .govuk-summary-card__action {
    display: inline;

    // We use the following media query to target IE11 and 10 only to add margin
    // between actions.
    //
    // We do this because we're using row-gap to create space between actions on
    // more evergreen browsers which IE doesn't support. @supports currently isn't
    // a viable solution, see https://github.com/w3c/csswg-drafts/issues/3559.
    //
    // Solution taken from https://stackoverflow.com/questions/11173106/apply-style-only-on-ie#answer-36448860
    // which also includes an explanation of why this works
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-block-end: base.govuk-spacing(1);
    }
  }

  .govuk-summary-card__action:last-child {
    // See above comment for why this is here
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-block-end: 0;
    }
  }

  .govuk-summary-card__content {
    padding-block-start: base.govuk-spacing(3);
    padding-inline: base.govuk-spacing(3);

    @media #{base.govuk-from-breakpoint(tablet)} {
      padding-block-end: base.govuk-spacing(3);
      padding-inline: base.govuk-spacing(4);
    }

    .govuk-summary-list {
      margin-block-end: 0;
    }

    .govuk-summary-list__row:last-of-type {
      margin-block-end: 0;
      border-block-end: none;
    }
  }
}
