@include govuk-exports("sdn/core/links") {

  $icon-external-link: url("../../assets/images/icon-external-link.svg");
  $icon-external-link-white: url("../../assets/images/icon-external-link-white.svg");

  a[href*="//"]:not([href*="navody.digital"]):not([href^="#"]):not([href^="/"]):after {
    content: "\00a0\00a0\00a0" !important;
    display: inline-block;
    margin-left: 3px;
    background-color: transparent;
    background-image: $icon-external-link;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    text-decoration: none;

    .sdn-footer & {
      content: none !important;
    }
  }

  .govuk-button {
    &[href*="//"]:not([href*="navody.digital"]):not([href^="#"]):not([href^="/"]):after {
      background-image: $icon-external-link-white !important;
    }
  }
}
