@import "../../globals/scss/common";

@include exports("checkbox") {
  .govuk-c-checkbox {
    display: block;
    position: relative;


    margin-bottom: $govuk-spacing-scale-2;
    padding: 0 0 0 em(40px, 19px);

    clear: left;

    font-family: $govuk-font-stack;
    @include govuk-font-regular-19;
  }

  .govuk-c-checkbox:last-child,
  .govuk-c-checkbox:last-of-type {
    margin-bottom: 0;
  }

  .govuk-c-checkbox__input {
    position: absolute;

    z-index: 1;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    cursor: pointer;

    // IE8 doesn’t support pseudoelements, so we don’t want to hide native elements there.
    @if ($is-ie == false) or ($ie-version == 9) {
      margin: 0;
      opacity: 0;
    }
  }

  .govuk-c-checkbox__label {
    display: block;
    padding: em(8px, 19px) em($govuk-spacing-scale-3, 19px) em($govuk-spacing-scale-1, 19px);
    border: 2px solid transparent;
    cursor: pointer;
    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  .govuk-c-checkbox__input + .govuk-c-checkbox__label::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: em(40px, 19px);
    height: em(40px, 19px);
    border: $govuk-border-width-form-element solid $govuk-text-colour;
    background: transparent;

    // padding-bottom: 1px;
  }

  .govuk-c-checkbox__input + .govuk-c-checkbox__label::after {
    content: "";

    position: absolute;
    top: em(11px, 19px);
    left: em(9px, 19px);
    width: em(18px, 19px);
    height: em(7px, 19px);

    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 $govuk-border-width $govuk-border-width;
    // Fix bug in IE11 caused by transform rotate (-45deg).
    // See: alphagov/govuk_elements/issues/518
    border-top-color: transparent;

    opacity: 0;

    background: transparent;
  }

  // Focused state
  .govuk-c-checkbox__input:focus + .govuk-c-checkbox__label::before {
    box-shadow: 0 0 0 $govuk-focus-width $govuk-focus-colour;
  }

  // Selected state
  .govuk-c-checkbox__input:checked + .govuk-c-checkbox__label::after {
    opacity: 1;
  }

  // Disabled state
  .govuk-c-checkbox__input:disabled,
  .govuk-c-checkbox__input:disabled + .govuk-c-checkbox__label {
    cursor: default;
  }

  .govuk-c-checkbox__input:disabled + .govuk-c-checkbox__label {
    opacity: .5;
  }
}
