{% from 'checkbox/macro.njk' import govukCheckbox %}

{{- govukCheckbox({
  classes: '',
  inputName: 'waste-types',
  id: 'waste-type',
  checkboxes: [
   {
      id: '1',
      value: 'waste-animal',
      label: 'Waste from animal carcasses'
    }
  ]
}) -}}
