{% extends "component.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}

{% block componentDescription %}
  Checkbox description goes here
{% endblock %}

{# defaultAndVariants #}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{{ govukTable({
  classes: '',
  options: {
    'isFirstCellHeader': 'true'
  },
  data: {
    'head' : [
      {
        text: 'Name'
      },
      {
        text: 'Type'
      },
      {
        text: 'Required'
      },
      {
        text: 'Description'
      }
    ],
    'rows' : [
      [
        {
          text: 'classes'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'Optional additional classes'
        }
      ],
      [
        {
          text: 'inputName'
        },
        {
          text: 'string'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Name of the group of checkboxes'
        }
      ],
      [
        {
          text: 'id'
        },
        {
          text: 'string'
        },
        {
          text: 'Yes'
        },
        {
          text: 'ID is prefixed to the ID of each checkbox'
        }
      ],
      [
        {
          text: 'checkboxes'
        },
        {
          text: 'array'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Checkboxes array with id, value, label, checked and disabled keys'
        }
      ]
    ]
  }
})}}
{% endblock %}
