{% from "fieldset/macro.njk" import govukFieldset %}
{% from "label/macro.njk" import govukLabel %}

{#- Capture the HTML so we can optionally nest it in a fieldset -#}
{%- set innerHtml -%}
{% for item in params.items %}
<div class="govuk-c-checkbox
{%- if params.classes %} {{ params.classes }}{% endif %}"{% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <input class="govuk-c-checkbox__input" id="{% if item.id %}{{ item.id }}{% else %}{{params.idPrefix}}-{{loop.index}}{% endif %}" name="{{ params.name }}" type="checkbox" value="{{ item.value }}"
  {{-" checked" if item.checked }}
  {{-" disabled" if item.disabled }}>
  {{ govukLabel({
    html: item.html,
    text: item.text,
    classes: 'govuk-c-checkbox__label',
    attributes: item.label.attributes,
    for: item.id if item.id else params.idPrefix+'-'+loop.index
  }) | trim | indent(2) -}}
</div>
{% endfor %}
{%- endset -%}

{%- if params.fieldset -%}
  {%- call govukFieldset({
    classes: params.fieldset.classes,
    attributes: params.fieldset.attributes,
    legendText: params.fieldset.legendText,
    legendHtml: params.fieldset.legendHtml,
    legendHintText: params.fieldset.legendHintText,
    legendHintHtml: params.fieldset.legendHintHtml,
    errorMessage: params.errorMessage
  }) -%}
    {{- innerHtml | safe -}}
  {%- endcall -%}
{%- else -%}
  {{- innerHtml | trim | safe -}}
{%- endif -%}
