<!DOCTYPE html>
<html lang="en">
<head>
  <title>GOV.UK Frontend</title>
  <link rel="stylesheet" href="/css/govuk-frontend0.0.6-alpha.min.css">
  <!--[if IE 8]>
  <link rel="stylesheet" href="/css/govuk-frontend-oldie0.0.6-alpha.min.css">
  <![endif]-->
</head>
<body>
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <details class="govuk-c-details">
  <summary class="govuk-c-details__summary">
    <span class="govuk-c-details__summary-text">Help with nationality</span>
  </summary>
  <div class="govuk-c-border govuk-c-border--left-narrow">
    <div class="govuk-c-details__text">
      <p>
        If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.
      </p>
      <p>
        We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.
      </p>
    </div>
  </div>
</details>

  <script src="/js/govuk-frontend0.0.6-alpha.min.js"></script>
</body>
</html>
