{% block pageTitle %}Error: Apply for a juggling licence - GOV.UK{% endblock %}

{% extends "template.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "input/macro.njk" import govukInput %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link rel="stylesheet" href="/public/app.css">
  <!--<![endif]-->
  <!--[if IE 8]>
    <link rel="stylesheet" href="/public/app-ie8.css">
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="/vendor/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/examples/juggling-0-start-page"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "error-summary/macro.njk" import govukErrorSummary %}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Enter your full name",
          href: "#full-name"
        }
      ]
    }) }}

    <h1 class="govuk-heading-xl">Your details</h1>

    {{ govukInput({
      label: {
        text: "Full name",
        classes: "govuk-label--m"
      },
      hint: {
        text: "This should be your name as you want it to appear on your licence"
      },
      errorMessage: {
        text: "Enter your full name"
      },
      id: "full-name",
      name: "full-name",
      value: ""
    }) }}

    {{ govukDateInput({
      id: "dob",
      namePrefix: "dob",
      fieldset: {
        legend: {
          text: "Date of birth",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "For example, 31 3 1980"
      },
      items: [
        {
          classes: "govuk-input--width-2",
          name: "day",
          value: "19"
        },
        {
          classes: "govuk-input--width-2",
          name: "month",
          value: "12"
        },
        {
          classes: "govuk-input--width-4",
          name: "year",
          value: "1896"
        }
      ]
    }) }}

    {{ govukInput({
      label: {
        text: "Email address",
        classes: "govuk-label--m"
      },
      hint: {
        text: "We’ll only use this to contact you about your application."
      },
      id: "email",
      name: "email",
      type: "email",
      value: "enrico.rastelli@juggling.club"
    }) }}

    {{ govukButton({
      "text": "Continue",
      "href": "/examples/juggling-3-radios"
    }) }}
  </div>
</div>

{% endblock %}
