@mixin govuk-typography-common {
  font-family: $govuk-font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin govuk-typography-weight-regular($important: false) {
  font-weight: $govuk-font-weight-regular;

  // This adjusts the aspect value of fallback fonts to match New Transport, for
  // example making foreign characters that are not in the font display with
  // matching metrics.
  // https://www.w3.org/TR/css-fonts-3/#font-size-adjust-prop
  font-size-adjust: $govuk-font-size-adjust-regular;
}

@mixin govuk-typography-weight-bold {
  font-weight: $govuk-font-weight-bold;

  // This adjusts the aspect value of fallback fonts to match New Transport, for
  // example making foreign characters that are not in the font display with
  // matching metrics.
  // https://www.w3.org/TR/css-fonts-3/#font-size-adjust-prop
  font-size-adjust: $govuk-font-size-adjust-bold;
}

@mixin govuk-typography-responsive($font-map) {
  @each $breakpoint, $breakpoint-map in $font-map {
    @if $breakpoint == null {
      font-size: map-get($breakpoint-map, "font-size");
      line-height: map-get($breakpoint-map, "line-height");
    } @else {
      @include mq($from: $breakpoint) {
        font-size: map-get($breakpoint-map, "font-size");
        line-height: map-get($breakpoint-map, "line-height");
      }
    }
  }
}
