@mixin govuk-typography-common($font-family: $govuk-font-stack) {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  @include mq($media-type: print) {
    font-family: $govuk-font-stack-print;
  }
}

@mixin govuk-typography-weight-regular($important: false) {
  font-weight: $govuk-font-weight-regular;
}

@mixin govuk-typography-weight-bold {
  font-weight: $govuk-font-weight-bold;
}

@mixin govuk-typography-responsive($font-map) {
  @each $breakpoint, $breakpoint-map in $font-map {
    @if $breakpoint == null {
      font-size: map-get($breakpoint-map, "font-size");
      line-height: map-get($breakpoint-map, "line-height");
    } @elseif $breakpoint == "print" {
      @include mq($media-type: print) {
        font-size: map-get($breakpoint-map, "font-size");
        line-height: map-get($breakpoint-map, "line-height");
      }
    } @else {
      @include mq($from: $breakpoint) {
        font-size: map-get($breakpoint-map, "font-size");
        line-height: map-get($breakpoint-map, "line-height");
      }
    }
  }
}

// Frustratingly, you can't generate mixins programmatically so we have to
// define mixins for every size and weight by hand.

// Regular weights

@mixin govuk-font-regular {
  @include govuk-typography-common;
  @include govuk-typography-weight-regular;
}

@mixin govuk-font-regular-80 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-80);
}

@mixin govuk-font-regular-48 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-48);
}

@mixin govuk-font-regular-36 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-36);
}

@mixin govuk-font-regular-27 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-27);
}

@mixin govuk-font-regular-24 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-24);
}

@mixin govuk-font-regular-19 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-19);
}

@mixin govuk-font-regular-16 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-16);
}

@mixin govuk-font-regular-14 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-14);
}

// Bold weights

@mixin govuk-font-bold {
  @include govuk-typography-common;
  @include govuk-typography-weight-bold;
}

@mixin govuk-font-bold-80 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-80);
}

@mixin govuk-font-bold-48 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-48);
}

@mixin govuk-font-bold-36 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-36);
}

@mixin govuk-font-bold-27 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-27);
}

@mixin govuk-font-bold-24 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-24);
}

@mixin govuk-font-bold-19 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-19);
}

@mixin govuk-font-bold-16 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-16);
}

@mixin govuk-font-bold-14 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-14);
}

// Regular weights, tabular numbers

@mixin govuk-font-regular-tabular {
  @include govuk-typography-common($font-family: $govuk-nta-light-tabular);
  @include govuk-typography-weight-regular;
}

@mixin govuk-font-regular-tabular-80 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-80);
}

@mixin govuk-font-regular-tabular-48 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-48);
}

@mixin govuk-font-regular-tabular-36 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-36);
}

@mixin govuk-font-regular-tabular-27 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-27);
}

@mixin govuk-font-regular-tabular-24 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-24);
}

@mixin govuk-font-regular-tabular-19 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-19);
}

@mixin govuk-font-regular-tabular-16 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-16);
}

@mixin govuk-font-regular-tabular-14 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-14);
}

// Bold weights, tabular numbers

@mixin govuk-font-bold-tabular {
  @include govuk-typography-common($font-family: $govuk-nta-light-tabular);
  @include govuk-typography-weight-bold;
}

@mixin govuk-font-bold-tabular-80 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-80);
}

@mixin govuk-font-bold-tabular-48 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-48);
}

@mixin govuk-font-bold-tabular-36 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-36);
}

@mixin govuk-font-bold-tabular-27 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-27);
}

@mixin govuk-font-bold-tabular-24 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-24);
}

@mixin govuk-font-bold-tabular-19 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-19);
}

@mixin govuk-font-bold-tabular-16 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-16);
}

@mixin govuk-font-bold-tabular-14 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-14);
}
