@import "../../globals/scss/common";
@import "../list/list";

@include exports("error-summary") {

  .govuk-c-error-summary {
    @include govuk-text-colour;

    padding: $govuk-spacing-scale-3;
    border: $govuk-border-width-mobile solid $govuk-error-colour;

    @include mq($from: tablet) {
      padding: $govuk-spacing-scale-4;
      border: $govuk-border-width-tablet solid $govuk-error-colour;
    }

    // TODO: Fix IE < 8
    @include ie-lte(6) {
      zoom: 1;
    }
  }

  .govuk-c-error-summary:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }

  .govuk-c-error-summary__title {
    @include govuk-font-bold-24;

    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-4;
    }
  }

  .govuk-c-error-summary__body {
    @include govuk-font-regular-19;

    p {
      margin-top: 0;
      margin-bottom: $govuk-spacing-scale-3;

      @include mq($from: tablet) {
        margin-bottom: $govuk-spacing-scale-4;
      }
    }
  }

  // Cross-component class - adjusts styling of list component
  .govuk-c-error-summary__list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .govuk-c-error-summary__list a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      @include govuk-typography-weight-bold;

      color: $govuk-error-colour;
      text-decoration: underline;
    }
  }

}
