@import "../../globals/scss/common";
@import "../list/list";

@include exports("error-summary") {

  .govuk-c-error-summary {

    padding: $govuk-spacing-scale-3;

    border: $govuk-border-width-mobile solid $govuk-error-colour;

    font-family: $govuk-font-stack;
    @include font-smoothing;

    @include mq($from: tablet) {

      padding: $govuk-spacing-scale-4;

      border: $govuk-border-width-tablet solid $govuk-error-colour;
    }

    // TODO: Fix IE < 8
    @include ie-lte(6) {
      zoom: 1;
    }
  }

  .govuk-c-error-summary:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }

  .govuk-c-error-summary__title {
    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-3;

    @include mq($from: tablet) {
      margin-bottom: $govuk-spacing-scale-4;
    }

    font-family: $govuk-font-stack;
    @include font-smoothing;
    @include govuk-bold-24;
  }

  .govuk-c-error-summary__body {
    @include govuk-core-19;

    p {
      margin-top: 0;
      margin-bottom: $govuk-spacing-scale-3;

      @include mq($from: tablet) {
        margin-bottom: $govuk-spacing-scale-4;
      }
    }
  }

  // Cross-component class - adjusts styling of list component
  .govuk-c-error-summary__list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .govuk-c-error-summary__list a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $govuk-error-colour;
      font-weight: bold;
      text-decoration: underline;
    }
  }

}
