<div class="govuk-c-error-summary" aria-labelledby="error-summary-title" role="group" tabindex="-1">

  <h1 class="govuk-c-error-summary__title" id="error-summary-title">
    Message to alert the user to a problem goes here
  </h1>

  <div class="govuk-c-error-summary__body">
    <p>
      Optional description of the errors and how to correct them
    </p>

    <ul class="govuk-c-list">
      <li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
    </ul>
  </div>

</div>
