<div class="govuk-error-summary
  {%- if params.classes %} {{ params.classes }}{% endif %}" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %} data-module="error-summary">
  {%- set title = params.title if params.title.text else {text: params.title} %}
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    {{ title.text | safe if title.safe else title.text }}
  </h2>
  <div class="govuk-error-summary__body">
    {%- set description = params.description if params.description.text else {text: params.description} %}
    {% if description.text %}
    <p>
      {{ description.text | safe if description.safe else description.text }}
    </p>
    {% endif %}
    <ul class="govuk-list govuk-error-summary__list">
    {% for item in params.errorList %}
      <li>
      {% if item.href %}
        <a href="{{ item.href }}">{{ item.text | safe if item.safe else item.text }}</a>
      {% else %}
        {{ item.text | safe if item.safe else item.text }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
