@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include govuk-exports("govuk/component/panel") {

  .govuk-panel {
    @include govuk-font($size: 19);

    box-sizing: border-box;

    margin-bottom: govuk-spacing(3);
    padding: govuk-spacing(7) - $govuk-border-width;

    border: $govuk-border-width solid transparent;

    text-align: center;

    @include govuk-media-query($until: tablet) {
      padding: govuk-spacing(6) - $govuk-border-width;
    }
  }

  .govuk-panel--confirmation {
    color: govuk-colour("white");
    background: govuk-colour("turquoise");
  }

  .govuk-panel__title {
    margin-top: 0;
    margin-bottom: govuk-spacing(6);

    @include govuk-font($size: 48, $weight: bold);
  }

  .govuk-panel__title:last-child {
    margin-bottom: 0;
  }

  .govuk-panel__body {
    @include govuk-font($size: 36);
  }

}
