{% extends "layout.njk" %}

{% block content %}

  {% include "../components/breadcrumb/breadcrumb.njk" %}

  {% include "../components/button/button.njk" %}

  {% include "../components/checkbox/checkbox.njk" %}

  {% include "../components/cookie-banner/cookie-banner.njk" %}

  {% include "../components/date/date.njk" %}

  {% include "../components/details/details.njk" %}

  {% include "../components/error-message/error-message.njk" %}

  {% include "../components/error-summary/error-summary.njk" %}

  {% include "../components/fieldset/fieldset.njk" %}

  {% include "../components/grid/grid.njk" %}

  {% include "../components/input/input.njk" %}

  {% include "../components/inset-text/inset-text.njk" %}

  {# Don't show label component as input component requires it #}
  {# include "../components/label/label.njk" #}

  {% include "../components/legal-text/legal-text.njk" %}

  {% include "../components/link/link.njk" %}

  {% include "../components/list/list.njk" %}

  {% include "../components/panel/panel.njk" %}

  {% include "../components/phase-banner/phase-banner.njk" %}

  {% include "../components/radio/radio.njk" %}

  {% include "../components/textarea/textarea.njk" %}

  {% include "../components/pagination/pagination.njk" %}

  {% include "../components/select-box/select-box.njk" %}

  {# Example of calling site-width-container and nesting a grid row #}
  {% from "../components/site-width-container/macro.njk" import govukSiteWidthContainer %}
  {% from "../components/grid/macro.njk" import govukGrid %}

  {% call govukSiteWidthContainer() %}
    {% call govukGrid(
      classes='',
      gridItems=[ { width: 'full' } ]
      )
    %}
    Example full width grid column
    <!-- Insert macros to sit inside grid item here -->
    {% endcall %}

    {% call govukGrid(
      classes='',
      gridItems=[ { width: 'two-thirds' } ]
      )
    %}
    Example two-thirds width grid column
    <!-- Insert macros to sit inside grid item here -->
    {% endcall %}
  {% endcall %}

{% endblock %}
