{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "layout.njk" %}

{% block content %}

{{ govukBackLink({
  "href": "/",
  "text": "Back"
}) }}

<main class="govuk-main-wrapper">

<form action="/" method="post">

  {{ govukErrorSummary({
    "titleText": "Message to alert the user to a problem goes here",
    "descriptionText": "Optional description of the errors and how to correct them",
    "classes": "optional-extra-class",
    "errorList": [
      {
        "text": "Descriptive link to the question with an error",
        "href": "#example-error-1"
      },
      {
        "text": "Descriptive link to the question with an error",
        "href": "#example-error-1"
      }
    ]
  }) }}

  {{ govukDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: 'What is your date of birth?',
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--xl'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    errorMessage: {
      text: "You must provide your date of birth"
    },
    items:[
      {
        name: 'day'
      },
      {
        name: 'month'
      },
      {
        name: 'year'
      }
    ]
    })
  }}

  {{ govukButton({
    "text": "Continue"
  }) }}

</form>

</main>

{% endblock %}
