{% from "back-link/macro.njk" import moalandBackLink %}
{% from "button/macro.njk" import moalandButton %}
{% from "date-input/macro.njk" import moalandDateInput %}
{% from "error-summary/macro.njk" import moalandErrorSummary %}

{% extends "layout.njk" %}

{% block beforeContent %}
  {{ moalandBackLink({
    "href": "/"
  }) }}
{% endblock %}

{% block content %}
<form action="/" method="post">

  {{ moalandErrorSummary({
    "titleText": "Message to alert the user to a problem goes here",
    "descriptionText": "Optional description of the errors and how to correct them",
    "classes": "optional-extra-class",
    "errorList": [
      {
        "text": "Date of birth must include a month and year",
        "href": "#dob-month"
      }
    ]
  }) }}

  {{ moalandDateInput({
    id: 'dob',
    name: 'dob',
    fieldset: {
      legend: {
        text: 'What is your date of birth?',
        isPageHeading: true,
        classes: 'moaland-fieldset__legend--xl'
      }
    },
    hint: {
      text: 'For example 5 12 1987'
    },
    items:[
      {
        name: 'day',
        classes: 'moaland-input--width-2',
        value: '22'
      },
      {
        name: 'month',
        classes: 'moaland-input--width-2 moaland-input--error'
      },
      {
        name: 'year',
        classes: 'moaland-input--width-4 moaland-input--error'
      }
    ],
    errorMessage: {
      text: "Date of birth must include a month and year"
    }
    })
  }}

  {{ moalandButton({
    "text": "Continue"
  }) }}

</form>
{% endblock %}
