@import "../../globals/tools/exports";
@import "../../globals/tools/compatibility";
@import "../../globals/tools/iff";

@import "../../globals/settings/colours-palette";
@import "../../globals/settings/colours-applied";
@import "../../globals/settings/compatibility";
@import "../../globals/settings/spacing";
@import "../../globals/settings/measurements";

@import "../../globals/helpers/media-queries";
@import "../../globals/helpers/focusable";
@import "../../globals/helpers/spacing";
@import "../../globals/helpers/device-pixels";

@import "../../globals/helpers/typography";
@import "../../globals/settings/typography-font-stacks";
@import "../../globals/settings/typography-font";
@import "../../globals/settings/typography-responsive";

@include govuk-exports("footer") {

  $govuk-footer-background: $govuk-grey-3;
  $govuk-footer-border-top: #a1acb2;
  $govuk-footer-border: $govuk-grey-2;
  $govuk-footer-text: #454a4c;
  $govuk-footer-link: $govuk-footer-text;
  $govuk-footer-link-hover: #171819;

  // Based on the `govuk-file-url("govuk-crest-2x.png");` image dimensions.
  $govuk-footer-crest-image-width-2x: 250px;
  $govuk-footer-crest-image-height-2x: 204px;
  // Half the 2x image so that it fits the regular 1x size.
  $govuk-footer-crest-image-width: ($govuk-footer-crest-image-width-2x / 2);
  $govuk-footer-crest-image-height: ($govuk-footer-crest-image-height-2x / 2);

  .govuk-footer {
    @include govuk-font-regular;
    @include govuk-typography-responsive($govuk-font-16);
    @include govuk-responsive-padding($govuk-spacing-responsive-7, "top");
    @include govuk-responsive-padding($govuk-spacing-responsive-5, "bottom");

    border-top: 1px solid $govuk-footer-border-top;
    color: $govuk-footer-text;
    background: $govuk-footer-background;
  }

  .govuk-footer__link {
    @include govuk-focusable-fill;

    &:link,
    &:visited {
      color: $govuk-footer-link;
    }

    &:hover,
    &:active {
      color: $govuk-footer-link-hover;
    }

    // Use text colour when focussed
    &:focus {
      color: $govuk-text-colour;
    }

    // alphagov/govuk_template includes a specific a:link:focus selector
    // designed to make unvisited links a slightly darker blue when focussed, so
    // we need to override the text colour for that combination of selectors.
    @include govuk-compatibility(govuk_template) {
      &:link:focus {
        @include govuk-text-colour;
      }
    }
  }

  .govuk-footer__section-break {
    margin: 0; // Reset `<hr>` default margins
    @include govuk-responsive-margin($govuk-spacing-responsive-8, "bottom");
    border: 0; // Reset `<hr>` default borders
    border-bottom: 1px solid $govuk-footer-border;
  }

  .govuk-footer__meta {
    display: flex; // Support: Flexbox
    margin-right: -$govuk-gutter-half;
    margin-left: -$govuk-gutter-half;
    flex-wrap: wrap; // Support: Flexbox
    align-items: flex-end; // Support: Flexbox
    justify-content: center; // Support: Flexbox
  }

  .govuk-footer__meta-item {
    margin-right: $govuk-gutter-half;
    margin-bottom: $govuk-spacing-scale-5;
    margin-left: $govuk-gutter-half;
  }

  .govuk-footer__meta-item--grow {
    flex: 1; // Support: Flexbox
    @include mq ($until: tablet) {
      flex-basis: 320px; // Support: Flexbox
    }
  }

  .govuk-footer__licence-logo {
    display: inline-block;
    margin-right: $govuk-spacing-scale-2;
    @include mq ($until: desktop) {
      margin-bottom: $govuk-spacing-scale-3;
    }
    vertical-align: top;
  }

  .govuk-footer__licence-description {
    display: inline-block;
  }

  .govuk-footer__copyright-logo {
    display: inline-block;
    min-width: $govuk-footer-crest-image-width;
    padding-top: ($govuk-footer-crest-image-height + $govuk-spacing-scale-2);
    background-image: govuk-file-url("govuk-crest.png");
    @include govuk-device-pixel-ratio {
      background-image: govuk-file-url("govuk-crest-2x.png");
    }
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: $govuk-footer-crest-image-width $govuk-footer-crest-image-height;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
  }

  .govuk-footer__inline-list {
    margin-top: 0;
    margin-bottom: $govuk-spacing-scale-3;
    padding: 0;
  }

  .govuk-footer__inline-list-item {
    display: inline-block;
    margin-right: $govuk-spacing-scale-3;
    margin-bottom: $govuk-spacing-scale-1;
  }

  .govuk-footer__heading {
    @include govuk-responsive-margin($govuk-spacing-responsive-7, "bottom");
    padding-bottom: $govuk-spacing-scale-4;
    @include mq ($until: tablet) {
      padding-bottom: $govuk-spacing-scale-2;
    }
    border-bottom: 1px solid $govuk-footer-border;
  }

  .govuk-footer__navigation {
    display: flex; // Support: Flexbox
    margin-right: -$govuk-gutter-half;
    margin-left: -$govuk-gutter-half;
    flex-wrap: wrap; // Support: Flexbox
  }

  .govuk-footer__section {
    display: inline-block;
    margin-right: $govuk-gutter-half;
    margin-bottom: $govuk-gutter;
    margin-left: $govuk-gutter-half;
    vertical-align: top;
    // Ensure columns take up equal width (typically one-half:one-half)
    flex-grow: 1; // Support: Flexbox
    flex-shrink: 1; // Support: Flexbox
    @include mq ($until: desktop) {
      // Make sure columns do not drop below 200px in width
      // Will typically result in wrapping, and end up in a single column on smaller screens.
      flex-basis: 200px; // Support: Flexbox
    }
  }

  // Sections two-third:one-third on desktop
  @include mq ($from: desktop) {
    .govuk-footer__section:first-child {
      flex-grow: 2; // Support: Flexbox
    }
  }

  .govuk-footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: $govuk-gutter; // Support: Columns
  }

  @include mq ($from: desktop) {
    .govuk-footer__list--columns-2 {
      column-count: 2; // Support: Columns
    }

    .govuk-footer__list--columns-3 {
      column-count: 3; // Support: Columns
    }
  }

  .govuk-footer__list-item {
    @include govuk-responsive-margin($govuk-spacing-responsive-4, "bottom");
  }

  .govuk-footer__list-item:last-child {
    margin-bottom: 0;
  }
}
