@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include govuk-exports("govuk/component/back-link") {

  .govuk-back-link {
    @include govuk-typography-responsive($size: 16);
    @include govuk-link-common;
    @include govuk-link-style-text;

    display: inline-block;
    position: relative;

    margin-top: govuk-spacing(3);
    margin-bottom: govuk-spacing(3);

    // Allow space for the arrow
    padding-left: 14px;
  }


  // Only add a custom underline if the component is linkable
  .govuk-back-link[href] {
    // Use border-bottom rather than text-decoration so that the arrow is
    // underlined as well.
    border-bottom: 1px solid transparent;

    // Underline is provided by a bottom border
    text-decoration: underline;

    // When the back link is focused, hide the bottom link border as the
    // focus styles has a bottom border.
    &:focus {
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }

  // Prepend left pointing chevron
  .govuk-back-link:before {

    content: "";

    // Vertically align with the parent element
    position: absolute;

    top: 0;
    bottom: 1px;
    left: 3px;
    width: 7px;
    height: 7px;

    margin: auto;
    clip-path: inherit;
    transform: rotate(225deg);
    border: solid;
    border-width: 1px 1px 0 0;

    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
  }

  //Append pseudo element to increase touch target
  .govuk-back-link:after {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    bottom: -14px;
    left: 0;
  }

  @if $govuk-use-legacy-font {
    // Begin adjustments for font baseline offset
    // These should be removed when legacy font support is dropped
    .govuk-back-link:before {
      $offset: 1px;

      top: $offset * -1;
      bottom: $offset;
    }
  }
}
