@include govuk-exports("govuk/core/links") {

  $icon-external-link: url("../../assets/images/icon-external-link.svg");
  $icon-external-link-white: url("../../assets/images/icon-external-link-white.svg");

  %govuk-link {
    @include govuk-link-common;
    @include govuk-link-style-default;
    @include govuk-link-print-friendly;
  }

  .govuk-link {
    @extend %govuk-link;
  }

  // Variant classes should always be used in conjunction with the .govuk-link
  // class, so we do not need the common link styles as they will be inherited.

  .govuk-link--muted {
    @include govuk-link-style-muted;
  }

  .govuk-link--text-colour {
    @include govuk-link-style-text;
  }

  .govuk-link--no-visited-state {
    @include govuk-link-style-no-visited-state;
  }

  a[href*="//"]:not([href*="navody.digital"]):not([href^="#"]):not([href^="/"]):after {
    content: "\00a0\00a0\00a0" !important;
    display: inline-block;
    margin-left: 3px;
    background-color: transparent;
    background-image: $icon-external-link;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    text-decoration: none;
  }

  .govuk-button {
    &[href*="//"]:not([href*="navody.digital"]):not([href^="#"]):not([href^="/"]):after {
      background-image: $icon-external-link-white !important;
    }
  }
}
