/// Common link mixin
///
/// Provides the typography and focus state, regardless of link style.
@mixin govuk-link-common {
  @include govuk-typography-common;
  @include govuk-focusable-fill;

  // Override the tap highlight colour (the color of the highlight that
  // appears when a link is tapped on some mobile devices). This is
  // ever-so-slightly darker than the default.
  -webkit-tap-highlight-color: rgba($govuk-black, .3);
}

/// Default link style mixin
///
/// Provides the default unvisited, visited, hover and active states for links.
///
/// If you use this mixin in a component you must also include the
/// govuk-link-common mixin in order to get the focus state.
///
/// @example scss
///   .govuk-component__link {
///     @include govuk-link-common;
///     @include govuk-link-style-muted;
///   }
@mixin govuk-link-style-default {
  &:link {
    color: $govuk-link-colour;
  }

  &:visited {
    color: $govuk-link-visited-colour;
  }

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:active {
    color: $govuk-link-active-colour;
  }
}

/// Muted style link mixin
///
/// Used for secondary links on a page - the link will appear in muted colours
/// regardless of visited state.
///
/// If you use this mixin in a component you must also include the
/// govuk-link-common mixin in order to get the focus state.
///
/// @example scss
///   .govuk-component__link {
///     @include govuk-link-common;
///     @include govuk-link-style-muted;
///   }
@mixin govuk-link-style-muted {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $govuk-grey-1;
  }

  // When focussed, the text colour needs to be darker to ensure that colour
  // contrast is still acceptable
  &:focus {
    color: $govuk-text-colour;
  }

  // alphagov/govuk_template includes a specific a:link:focus selector designed
  // to make unvisited links a slightly darker blue when focussed, so we need to
  // override the text colour for that combination of selectors.
  @include govuk-compatibility(govuk_template) {
    &:link:focus {
      @include govuk-text-colour;
    }
  }
}

/// Text style link mixin
///
/// Overrides the colour of links to match the text colour. Generally used by
/// navigation components, such as breadcrumbs or the back link.
///
/// If you use this mixin in a component you must also include the
/// govuk-link-common mixin in order to get the focus state.
///
/// @example scss
///   .govuk-component__link {
///     @include govuk-link-common;
///     @include govuk-link-style-text;
///   }
@mixin govuk-link-style-text($include-common-styles: true) {
  // Override link colour to use text colour
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    @include govuk-text-colour;
  }

  // alphagov/govuk_template includes a specific a:link:focus selector designed
  // to make unvisited links a slightly darker blue when focussed, so we need to
  // override the text colour for that combination of selectors.
  @include govuk-compatibility(govuk_template) {
    &:link:focus {
      @include govuk-text-colour;
    }
  }
}

/// Print friendly link mixin
///
/// When printing, append the the destination URL to the link text, as long
/// as the URL starts with either `/`, `http://` or `https://`.
@mixin govuk-link-print-friendly {
  @include mq($media-type: print) {

    &[href^="/"],
    &[href^="http://"],
    &[href^="https://"] {
      &::after {
        content: " (" attr(href) ")";
        font-size: 90%;

        // Because the URLs may be very long, ensure that they may be broken
        // at arbitrary points if there are no otherwise acceptable break
        // points in the line
        word-wrap: break-word;
      }
    }
  }
}

// Export placeholders and concrete classes

@include govuk-exports("links") {

  // We use a placeholder class here so that we can @extend from the prose scope
  // without also applying every other occurrence of the .govuk-link selector to
  // the prose scope.

  %govuk-link {
    @include govuk-link-common;
    @include govuk-link-style-default;
    @include govuk-link-print-friendly;
  }

  .govuk-link {
    @extend %govuk-link;
  }

  // Variant classes should always be used in conjunction with the .govuk-link
  // class, so we do not need the common link styles as they will be inherited.

  .govuk-link--muted {
    @include govuk-link-style-muted;
  }

  .govuk-link--text-colour {
    @include govuk-link-style-text;
  }

  // 'No visited state' link mixin
  //
  // Used in cases where it is not helpful to distinguish between visited and
  // non-visited links.
  //
  // For example, navigation links to pages with dynamic content like admin
  // dashboards. The content on the page is changing all the time, so the fact
  // that you’ve visited it before is not important.
  //
  // This is not abstracted as a mixin because it does not provide states for
  // all pseudo-selectors so it does not make sense to use it in composition.
  .govuk-link--no-visited-state {
    &:visited {
      color: $govuk-link-colour;
    }
  }
}
