@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include govuk-exports("govuk/component/error-message") {
  .govuk-error-message {
    @include govuk-font-bold-19;

    display: block;
    margin-bottom: $govuk-spacing-scale-3;
    clear: both;

    color: $govuk-error-colour;
  }
}
