@import "../../globals/scss/colours";
@import "../../globals/scss/vars";
@import "../../globals/scss/utilities/borders";
@import "../../globals/scss/import-once";

@include exports("inset-text") {
  .govuk-c-inset-text {
    font-family: $govuk-font-stack;
    @include govuk-core-19;
    @include font-smoothing;
    @include govuk-u-border-left($govuk-border-width-wide, $govuk-border-colour);
    clear: both;
    padding: em(15, 19);
    margin-bottom: em(15, 19);

    :first-child {
      margin-top: 0;
    }

    :only-child,
    :last-child {
      margin-bottom: 0;
    }
  }
}
