@import "../../globals/scss/import-once";
@import "../../globals/scss/helpers-px-to-em";
@import "../../globals/scss/spacing";
@import "../../globals/scss/typography";
@import "../../globals/scss/utilities/borders";
@import "../../globals/scss/vars";

@include exports("inset-text") {
  .govuk-c-inset-text {
    margin-bottom: em($govuk-spacing-scale-3, 19);
    padding: em($govuk-spacing-scale-3, 19);

    clear: both;

    font-family: $govuk-font-stack;
    @include govuk-core-19;
    @include font-smoothing;
    @include govuk-u-border-left($govuk-border-width-wide, $govuk-border-colour);

    :first-child {
      margin-top: 0;
    }

    :only-child,
    :last-child {
      margin-bottom: 0;
    }
  }
}
