@import "../../globals/scss/common";

@include exports("inset-text") {
  .govuk-c-inset-text {
    @include govuk-text-colour;
    padding: em($govuk-spacing-scale-3, 19px);

    clear: both;

    border-left: $govuk-border-width-wide solid $govuk-border-colour;

    font-family: $govuk-font-stack;
    @include govuk-font-regular-19;

    :first-child {
      margin-top: 0;
    }

    :only-child,
    :last-child {
      margin-bottom: 0;
    }
  }
}
