{% from "inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  classes: '',
  html: 'It can take up to 8 weeks <a href="#">to register</a> a lasting power of attorney if there are no mistakes in the application.'
  })
}}
