@import "../globals/tools/exports";
@import "../globals/tools/iff";

@import "../globals/settings/colours-palette";
@import "../globals/settings/colours-applied";

@import "../globals/helpers/media-queries";

@import "../globals/helpers/typography";
@import "../globals/settings/typography-font-stacks";
@import "../globals/settings/typography-font";
@import "../globals/settings/typography-responsive";

@include govuk-exports("error-message") {
  .govuk-error-message {
    @include govuk-font-bold-19;

    display: block;

    margin: 0;
    // TODO: use a var for padding
    padding: 2px 0;

    clear: both;

    color: $govuk-error-colour;
  }
}
