@import "../../globals/scss/common";

@include govuk-exports("error-message") {
  .govuk-c-error-message {
    @include govuk-font-bold-19;

    display: block;

    margin: 0;
    // TODO: use a var for padding
    padding: 2px 0;

    clear: both;

    color: $govuk-error-colour;
  }
}
