@import "../globals/tools/exports";
@import "../globals/tools/compatibility";
@import "../globals/tools/ie8";
@import "../globals/tools/iff";

@import "../globals/settings/colours-palette";
@import "../globals/settings/colours-applied";
@import "../globals/settings/compatibility";
@import "../globals/settings/spacing";
@import "../globals/settings/measurements";

@import "../globals/helpers/media-queries";
@import "../globals/helpers/focusable";
@import "../globals/helpers/spacing";
@import "../globals/helpers/device-pixels";

@import "../globals/helpers/typography";
@import "../globals/settings/typography-font-stacks";
@import "../globals/settings/typography-font";
@import "../globals/settings/typography-responsive";

@import "../globals/core/links";

@include govuk-exports("button") {

  // Because the shadow (s0) is visually 'part of' the button, we need to reduce
  // the height of the button to compensate by adjusting its padding (s1) and
  // increase the bottom margin to include it (s2).
  $button-shadow-size: $govuk-border-width-form-element;

  .govuk-c-button {
    @include govuk-font-regular;
    @include govuk-typography-responsive(
      $govuk-font-19,
      $override-line-height: 19px
    );
    @include govuk-focusable;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom", $adjustment: $button-shadow-size); // s2
    padding: ($govuk-spacing-scale-2 - $govuk-border-width-form-element - ($button-shadow-size / 2)) $govuk-spacing-scale-2; // s1
    border: $govuk-border-width-form-element solid transparent;
    border-radius: 0;
    color: $govuk-button-text-colour;
    background-color: $govuk-button-colour;
    -webkit-box-shadow: 0 $button-shadow-size 0 $govuk-button-shadow-colour;
            box-shadow: 0 $button-shadow-size 0 $govuk-button-shadow-colour; // s0
    font-family: $govuk-font-stack;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;

    @include mq($from: tablet) {
      width: auto;
    }

    // Ensure that any global link styles are overridden
    &:link,
    &:visited,
    &:active,
    &:hover {
      color: $govuk-button-text-colour;
      text-decoration: none;
    }

    // alphagov/govuk_template includes a specific a:link:focus selector
    // designed to make unvisited links a slightly darker blue when focussed, so
    // we need to override the text colour for that combination of selectors so
    // so that unvisited links styled as buttons do not end up with dark blue
    // text when focussed.
    @include govuk-compatibility(govuk_template) {
      &:link:focus {
        color: $govuk-button-text-colour;
      }
    }

    // Fix unwanted button padding in Firefox
    &:-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    &:hover,
    &:focus {
      background-color: $govuk-button-hover-colour;
    }

    &:active {
      top: $button-shadow-size;
      -webkit-box-shadow: none;
              box-shadow: none;
    }

    // The following adjustments do not work for <input type="button"> as
    // non-container elements cannot include pseudo elements (i.e. ::before).

    // Use a pseudo element to expand the click target area to include the
    // button's shadow as well, in case users try to click it.
    &::before {
      content: "";
      display: block;

      position: absolute;

      top: -$govuk-border-width-form-element;
      right: -$govuk-border-width-form-element;
      bottom: -($govuk-border-width-form-element + $button-shadow-size);
      left: -$govuk-border-width-form-element;

      background: transparent;
    }

    // When the button is active it is shifted down by $button-shadow-size to
    // denote a 'pressed' state. If the user happened to click at the very top
    // of the button, their mouse is no longer over the button (because it has
    // 'moved beneath them') and so the click event is not fired.
    //
    // This corrects that by shifting the top of the pseudo element so that it
    // continues to cover the area that the user originally clicked, which means
    // the click event is still fired.
    //
    // 🎉
    &:active::before {
      top: -($govuk-border-width-form-element + $button-shadow-size);
    }
  }

  .govuk-c-button--disabled,
  .govuk-c-button[disabled="disabled"],
  .govuk-c-button[disabled] {
    opacity: (.5);
    background: $govuk-button-colour;

    &:hover {
      background-color: $govuk-button-colour;
      cursor: default;
    }

    &:focus {
      outline: none;
    }

    &:active {
      top: 0;
      -webkit-box-shadow: 0 $button-shadow-size 0 $govuk-button-shadow-colour;
              box-shadow: 0 $button-shadow-size 0 $govuk-button-shadow-colour; // s0
      @include govuk-if-ie8 {
        border-bottom: $button-shadow-size solid $govuk-button-shadow-colour; // s0
      }
    }
  }

  .govuk-c-button--start {
    @include govuk-typography-weight-bold;
    @include govuk-typography-responsive(
      $govuk-font-24,
      $override-line-height: 1
    );

    min-height: auto;
    padding-top: $govuk-spacing-scale-2 - $govuk-border-width-form-element;
    padding-right: $govuk-spacing-scale-7;
    padding-bottom: $govuk-spacing-scale-2 - $govuk-border-width-form-element;
    padding-left: $govuk-spacing-scale-3;

    background-image: govuk-file-url("icon-pointer.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;

    @include govuk-h-device-pixel-ratio {
      background-image: govuk-file-url("icon-pointer-2x.png");
      background-size: 30px 19px;
    }
  }

  // Begin adjustments for font baseline offset
  // These should be removed when the font is updated with the correct baseline
  // For the 1px addition please see https://github.com/alphagov/govuk-frontend/pull/365#discussion_r154349428

  $offset: 2;

  .govuk-c-button {
    padding-top: ($govuk-spacing-scale-2 - $govuk-border-width-form-element - ($button-shadow-size / 2) + $offset); // s1
    padding-bottom: ($govuk-spacing-scale-2 - $govuk-border-width-form-element - ($button-shadow-size / 2) - $offset + 1); // s1
  }

  .govuk-c-button--start {
    padding-top: ($govuk-spacing-scale-2 - $govuk-border-width-form-element - ($button-shadow-size / 2) + $offset); // s1
    padding-bottom: ($govuk-spacing-scale-2 - $govuk-border-width-form-element - ($button-shadow-size / 2) - $offset + 1); // s1
  }

}
