@use "pkg:govuk-frontend/base" as *;

.app-masthead {
  display: flow-root;
  background: govuk-functional-colour(brand);
}

.app-breadcrumbs__underline {
  margin-block-end: 0;
  padding-block-end: govuk-spacing(2);
  border-block-end: 1px solid #5694ca;
}

.app-inverse {
  color: govuk-colour("white");
}
