@import "govuk/base";

.app-masthead {
  display: flow-root;
  background: $govuk-brand-colour;
}

.app-breadcrumbs__underline {
  margin-bottom: 0;
  padding-bottom: govuk-spacing(2);
  border-bottom: 1px solid #5694ca;
}

.app-inverse {
  color: govuk-colour("white");
}
