@use "pkg:govuk-frontend/base" as *;

.app-document-list > li {
  padding-block-start: govuk-spacing(4);
  padding-block-end: govuk-spacing(2);
  border-block-end: 1px solid;
  border-block-end-color: govuk-functional-colour(border);
}

.app-metadata-list > li {
  display: inline-block;
  margin-inline-end: govuk-spacing(2);
}

.app-filter li {
  padding-block-end: govuk-spacing(4);
  border-block-end: 1px solid;
  border-block-end-color: govuk-functional-colour(border);
}

.app-open-fieldset {
  margin-block-start: govuk-spacing(4);
  margin-block-end: govuk-spacing(4);
  font-weight: normal;
}

.app-search-result-list__children {
  margin-inline-start: govuk-spacing(4);

  @media #{govuk-from-breakpoint(tablet)} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    list-style: none;
  }
}

.app-search-results-summary {
  position: relative;
}

.app-search-results-summary .subscribe-link {
  position: absolute;
  inset-block-start: 5px;
  inset-inline-end: 0;
}

.app-search-result-sort {
  @include govuk-font($size: 16);
}

.app-search-result-sort label {
  @include govuk-font($size: 16);
  display: inline;
  margin-inline-end: govuk-spacing(1);
}

.app-next-page__number {
  text-decoration-line: underline;
}

.app-next-page {
  display: block;
  padding-block: govuk-spacing(4);
  padding-inline: govuk-spacing(2);
}

.app-next-page:hover {
  background-color: govuk-colour("black", $variant: "tint-95");
}
