---
scenario: >-
  This example shows a search for “driving” with lots of results. Things to try:

  1. See which page number the displayed search results are on.

  2. Select a ‘Topic’ or ‘Organisation’.

notes: >-
  The filtering and sorting is not intended to work – this is a demonstration of the sort of interactive components you would find on a search page.
---

{% extends "full-page-example.njk" %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "input/macro.njk" import govukInput %}
{% from "select/macro.njk" import govukSelect %}
{% from "radios/macro.njk" import govukRadios %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "button/macro.njk" import govukButton %}
{% from "pagination/macro.njk" import govukPagination %}

{% set pageTitle = "Search" %}
{% block pageTitle %}{{ pageTitle }} - GOV.UK{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/stylesheets/full-page-examples/search.min.css">
{% endblock %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "#"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
<form method="get" novalidate>
  <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

  {{ govukInput({
    label: {
      text: "Search GOV.UK",
      classes: "govuk-label--l, govuk-visually-hidden"
    },
    id: "search",
    name: "search",
    classes: "govuk-!-width-two-thirds",
    value: values.search
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list govuk-list--spaced app-filter">
        <li>
          {{ govukRadios({
            classes: "govuk-radios--small",
            name: "topic",
            formGroup: {
              classes: "govuk-!-margin-bottom-0"
            },
            fieldset: {
              legend: {
                html: "<a class='govuk-link' href=''>Topic</a>",
                classes: "app-open-fieldset govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "transport",
                text: "Transport"
              },
              {
                value: "work",
                text: "Work"
              }
            ]
          }) }}
        </li>
        <li><a class="govuk-link" href="#">Content type</a></li>
        <li><a class="govuk-link" href="#">Updated</a></li>
        <li>
        <form method="get" novalidate>
          {{ govukCheckboxes({
            idPrefix: "organisation",
            name: "organisation",
            classes: "govuk-checkboxes--small",
            fieldset: {
              legend: {
                html: "<a class='govuk-link' href=''>Organisation</a>",
                classes: "app-open-fieldset govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "hmrc",
                text: "HM Revenue and Customs (HMRC)"
              },
              {
                value: "employment-tribunal",
                text: "Employment Tribunal"
              },
              {
                value: "mod",
                text: "Ministry of Defence"
              }
            ],
            values: values["organisation"]
          }) }}

          {{ govukButton({
            text: "Update filters"
          }) }}
        </form>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="app-search-results-summary">
        <h2 class="govuk-heading-s">{{ total }} results</h2>
        <span class="subscribe-link"><a href="#" class="govuk-link govuk-body-s">Subscribe to feed</a></span>
      </div>
      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-3">
      <div class="app-search-result-sort">
        {{ govukSelect({
          id: "order",
          name: "order",
          value: values.order,
          classes: "app-search-result-sort",
          label: {
            text: "Sort by"
          },
          items: [
            {
              value: "most-viewed",
              text: "Most viewed"
            },
            {
              value: "relevance",
              text: "Relevance"
            },
            {
              value: "updated-newest",
              text: "Updated (newest)"
            },
            {
              value: "updated-oldest",
              text: "Updated (oldest)"
            }
          ]
        }) }}
      </div>
      <ul class="govuk-list app-document-list">
          {% for document in documents %}
              {% set document = document.document %}
              <li>
                  <h3 class="govuk-heading-s govuk-!-bottom-2">
                    <a class="govuk-link govuk-link--no-underline" href="https://gov.uk{{ document.link }}">
                      {{ document.title }}
                    </a>
                  </h3>
                  <p class="govuk-body-s govuk-!-bottom-4">
                      {{ document.summary }}
                  </p>
                  {% if document.children %}
                    <ul class="govuk-list app-search-result-list__children">
                      {% for child in document.children %}
                        <li>
                          <h4 class="govuk-heading-xs govuk-!-bottom-1 govuk-!-top-1">
                            <a class="govuk-link govuk-link--no-underline" href="#">
                              {{ child.title }}
                            </a>
                          </h4>
                          <p class="govuk-body-s">
                            {{ child.summary }}
                          </p>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                  {% if document.metadata %}
                    <ul class="app-metadata-list govuk-!-padding-0">
                        {% for data in document.metadata %}
                            <li class="govuk-body govuk-!-font-size-16">
                                {% if data['is_text'] %}
                                    {{ data.value }}
                                {% endif %}
                                {% if data['is_date'] %}
                                    Updated: {{ data['human_date'] }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                  {% endif %}
              </li>
          {% endfor %}
      </ul>

      {{ govukPagination({
        previous: {
          href: "#"
        },
        next: {
          href: "#"
        },
        items: [
          {
            number: 1,
            href: "#"
          },
          {
            ellipsis: true
          },
          {
            number: 6,
            href: "#"
          },
          {
            number: 7,
            current: true,
            href: "#"
          },
          {
            number: 8,
            href: "#"
          },
          {
            ellipsis: true
          },
          {
            number: 42,
            href: "#"
          }
        ]
      }) }}
    </div>
  </div>
</form>
{% endblock %}
