<div class="sdn-next-link" style="margin-top: 50px; margin-bottom: 50px;">
    <a href="{{ params.url }}" class="sdn-next-link__link">
        {{ params.label }}
        <small>{{ params.text }}</small>
    </a>
</div>