$govuk-colours: (
  "purple": #2e358b,
  "mauve": #6f72af,
  "fuchsia": #912b88,
  "pink": #d53880,
  "baby-pink": #f499be,
  "red": #b10e1e,
  "mellow-red": #df3034,
  "orange": #f47738,
  "brown": #b58840,
  "yellow": #ffbf47,
  "grass-green": #85994b,
  "green": #006435,
  "turquoise": #28a197,
  "light-blue": #2b8cc4,
  "blue": #005ea5,

  // Standard palette, greys
  "black": #0b0c0c,
  "grey-1": #6f777b,
  "grey-2": #bfc1c3,
  "grey-3": #dee0e2,
  "grey-4": #f8f8f8,
  "white": #ffffff
);

// Legacy

// Standard palette, colours
$govuk-purple: map-get($govuk-colours, "purple");
$govuk-mauve: map-get($govuk-colours, "mauve");
$govuk-fuchsia: map-get($govuk-colours, "fuchsia");;
$govuk-pink: map-get($govuk-colours, "pink");
$govuk-baby-pink: map-get($govuk-colours, "baby-pink");
$govuk-red: map-get($govuk-colours, "red");
$govuk-mellow-red: map-get($govuk-colours, "mellow-red");
$govuk-orange: map-get($govuk-colours, "orange");
$govuk-brown: map-get($govuk-colours, "brown");
$govuk-yellow: map-get($govuk-colours, "yellow");
$govuk-grass-green: map-get($govuk-colours, "grass-green");
$govuk-green: map-get($govuk-colours, "green");
$govuk-turquoise: map-get($govuk-colours, "turquoise");
$govuk-blue: map-get($govuk-colours, "blue");
$govuk-light-blue: map-get($govuk-colours, "light-blue");

// Standard palette, greys
$govuk-black: map-get($govuk-colours, "black");
$govuk-grey-1: map-get($govuk-colours, "grey-1");
$govuk-grey-2: map-get($govuk-colours, "grey-2");
$govuk-grey-3: map-get($govuk-colours, "grey-3");
$govuk-grey-4: map-get($govuk-colours, "grey-4");
$govuk-white: map-get($govuk-colours, "white");
