// Standard palette, colours
$govuk-purple: #2e358b;
$govuk-mauve: #6f72af;
$govuk-fuchsia: #912b88;
$govuk-pink: #d53880;
$govuk-baby-pink: #f499be;
$govuk-red: #b10e1e;
$govuk-mellow-red: #df3034;
$govuk-orange: #f47738;
$govuk-brown: #b58840;
$govuk-yellow: #ffbf47;
$govuk-grass-green: #85994b;
$govuk-green: #006435;
$govuk-turquoise: #28a197;
$govuk-blue: #005ea5;
$govuk-light-blue: #2b8cc4;

// Standard palette, greys
$govuk-black: #0b0c0c;
$govuk-grey-1: #6f777b;
$govuk-grey-2: #bfc1c3;
$govuk-grey-3: #dee0e2;
$govuk-grey-4: #f8f8f8;
$govuk-white: #ffffff;
