////
/// @group settings/measurements
////



// =========================================================
// Page layout
// =========================================================

/// Width of main container
///
/// @type Number
/// @access public

$govuk-page-width: 960px !default;

/// Width of gutter between grid columns
///
/// @type Number
/// @access public

$govuk-gutter: 30px !default;

/// Width of half the gutter between grid columns
///
/// @type Number
/// @access public

$govuk-gutter-half: $govuk-gutter / 2;



// =========================================================
// Borders
// =========================================================

/// Standard border width
///
/// @type Number
/// @access public

$govuk-border-width: 5px !default;

/// Wide border width
///
/// @type Number
/// @access public

$govuk-border-width-wide: 10px !default;

/// Border width on mobile
///
/// @type Number
/// @access public

$govuk-border-width-mobile: 4px !default;

/// Form control border width
///
/// @type Number
/// @access public

$govuk-border-width-form-element: 2px !default;

/// Form control border width when in error state
///
/// @type Number
/// @access public

$govuk-border-width-form-element-error: 4px !default;

/// Form group border width when in error state
///
/// @type Number
/// @access public

$govuk-border-width-form-group-error: $govuk-border-width !default;

/// Border width of focus outline
///
/// @type Number
/// @access public

$govuk-focus-width: 3px !default;



// =========================================================
// Form field widths
// =========================================================

/// Form field widths
///
/// The ex measurements are based on the number of W's that can fit inside the input
/// Extra space is left on the right hand side to allow for the Safari prefill icon
/// Linear regression estimation based on visual tests: y = 1.76 + 1.81x
///
/// @type Map
/// @access public

$govuk-field-widths: (
  30: 56ex + 3ex,
  20: 38ex + 3ex,
  10: 20ex + 3ex,
  5: 10.8ex,
  4: 9ex,
  3: 7.2ex,
  2: 5.4ex
);
