////
/// @group settings
////



// =========================================================
// Page layout
// =========================================================

/// Width of main container
///
/// @type Number
/// @access public

$govuk-page-width: 960px !default;

/// Width of gutter between grid columns
///
/// @type Number
/// @access public

$govuk-gutter: $govuk-spacing-scale-6 !default;

/// Width of half the gutter between grid columns
///
/// @type Number
/// @access public

$govuk-gutter-half: $govuk-gutter / 2;



// =========================================================
// Borders
// =========================================================

/// Standard border width
///
/// @type Number
/// @access public

$govuk-border-width: 5px !default;

/// Wide border width
///
/// @type Number
/// @access public

$govuk-border-width-wide: 10px !default;

/// Border width on mobile
///
/// @type Number
/// @access public

$govuk-border-width-mobile: 4px !default;

/// Form control border width
///
/// @type Number
/// @access public

$govuk-border-width-form-element: 2px !default;

/// Form control border width when in error state
///
/// @type Number
/// @access public

$govuk-border-width-form-element-error: 4px !default;

/// Form group border width when in error state
///
/// @type Number
/// @access public

$govuk-border-width-form-group-error: $govuk-border-width !default;

/// Border width of focus outline
///
/// @type Number
/// @access public

$govuk-focus-width: 3px !default;
