////
/// @group settings/typography
////

/// Responsive typography font map
///
/// This is used to generate responsive typography that adapts according to the
/// breakpoints.
///
/// Font size and font weight can be defined for each breakpoint. You can define
/// different behaviour on tablet and desktop. The 'null' breakpoint is for
/// mobile.
///
/// You can also specify a separate font size and line height for print media.
///
/// @type Map
///
/// @prop {Number} $point.$breakpoint.font-size - Font size for `$point` at `$breakpoint`
/// @prop {Number} $point.$breakpoint.line-height - Line height for `$point` at `$breakpoint`
/// @prop {Number} $point.print.font-size - Font size for `$point` when printing
/// @prop {Number} $point.print.line-height - Line height for `$point` when printing
///
/// @access public

$govuk-typography-scale: (
  80: (
    null: (
      font-size: 53px,
      line-height: 1.0377358491 // 55px
    ),
    tablet: (
      font-size: 80px,
      line-height: 1 // 80px
    ),
    print: (
      font-size: 53pt,
      line-height: 1.1
    )
  ),
  48: (
    null: (
      font-size: 32px,
      line-height: 1.09375 // 35px
    ),
    tablet: (
      font-size: 48px,
      line-height: 1.0416666667 // 50px
    ),
    print: (
      font-size: 32pt,
      line-height: 1.15
    )
  ),
  36: (
    null: (
      font-size: 24px,
      line-height: 1.0416666667 // 25px
    ),
    tablet: (
      font-size: 36px,
      line-height: 1.1111111111 // 40px
    ),
    print: (
      font-size: 24pt,
      line-height: 1.05
    )
  ),
  27: (
    null: (
      font-size: 18px,
      line-height: 1.1111111111 // 20px
    ),
    tablet: (
      font-size: 27px,
      line-height: 1.1111111111 // 30px
    ),
    print: (
      font-size: 18pt,
      line-height: 1.15
    )
  ),
  24: (
    null: (
      font-size: 18px,
      line-height: 1.1111111111 // 20px
    ),
    tablet: (
      font-size: 24px,
      line-height: 1.25 // 30px
    ),
    print: (
      font-size: 18pt,
      line-height: 1.15
    )
  ),
  19: (
    null: (
      font-size: 16px,
      line-height: 1.3333333333 // 20px
    ),
    tablet: (
      font-size: 19px,
      line-height: 1.3157894737 // 25px
    ),
    print: (
      font-size: 14pt,
      line-height: 1.15
    )
  ),
  16: (
    null: (
      font-size: 14px,
      line-height: 1.1428571429 // 16px
    ),
    tablet: (
      font-size: 16px,
      line-height: 1.3333333333 // 20px
    ),
    print: (
      font-size: 14pt,
      line-height: 1.2
    )
  ),
  14: (
    null: (
      font-size: 12px,
      line-height: 1.25 // 15px
    ),
    tablet: (
      font-size: 14px,
      line-height: 1.4285714286 // 20px
    ),
    print: (
      font-size: 12pt,
      line-height: 1.2
    )
  )
) !default;
