{% extends "template.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link rel="stylesheet" href="/public/app.css">
  <!--<![endif]-->
  <!--[if IE 8]>
    <link rel="stylesheet" href="/public/app-ie8.css">
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="/vendor/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/examples/juggling-1-personal-details"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukRadios({
      idPrefix: "changed-name",
      name: "changed-name",
      fieldset: {
        legend: {
          text: "How many balls are you able to juggle?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        {
          value: "3+",
          text: "3 or more"
        },
        {
          value: "1-2",
          text: "1 or 2"
        },
        {
          divider: "or"
        },
        {
          value: "0",
          text: "None – I cannot juggle"
        }
      ]
    }) }}

    {{ govukButton({
      "text": "Continue",
      "href": "/examples/juggling-4-character-count"
    }) }}
  </div>
</div>

{% endblock %}
