{% extends "component.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}

{% block componentDescription %}
  Table description.
{% endblock %}

{# defaultAndVariants #}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{{ govukTable(
{
  "data": {
    "options": {
      "isFirstCellHeader": true
    },
    "head": [
      {
        text: 'Name'
      },
      {
        text: 'Type'
      },
      {
        text: 'Required'
      },
      {
        text: 'Description'
      }
    ],
    "rows": [
      [
        {
          text: 'data'
        },
        {
          text: 'Object'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Object containing all configuration options listed below'
        }
      ],
      [
        {
          text: 'data.options'
        },
        {
          text: 'Object'
        },
        {
          text: 'No'
        },
        {
          text: 'Options to set caption and its size as well as type of first cell im a row'
        }
      ],
      [
        {
          text: 'data.options.caption'
        },
        {
          text: 'String'
        },
        {
          text: 'No'
        },
        {
          text: 'Specify caption text if the table needs one'
        }
      ],
      [
        {
          text: 'data.options.captionSize'
        },
        {
          text: 'String'
        },
        {
          text: 'No'
        },
        {
          text: 'Specify caption size, relates to heading sizes'
        }
      ],
      [
        {
          text: 'data.options.isFirstCellHeader'
        },
        {
          text: 'Boolean'
        },
        {
          text: 'No'
        },
        {
          text: 'If true, the first cell in a row will be embolden'
        }
      ],
      [
        {
          text: 'data.head'
        },
        {
          text: 'Array'
        },
        {
          text: 'No'
        },
        {
          text: 'Array of objects representing table head'
        }
      ],
      [
        {
          text: 'object in data.head array'
        },
        {
          text: 'Object'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Object containing cell text, type of cell, colspan and rowspan values'
        }
      ],
      [
        {
          text: 'data.classses'
        },
        {
          text: 'String'
        },
        {
          text: 'No'
        },
        {
          text: 'Additional (optional) classes for the table component'
        }
      ],
      [
        {
          text: 'data.rows'
        },
        {
          text: 'Array'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Array of arrays, where ieach array represents a row'
        }
      ],
      [
        {
          text: 'array in data.rows'
        },
        {
          text: 'Array'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Array of objects, where each object represents a cell'
        }
      ],
      [
        {
          text: 'object in data.rows -> array'
        },
        {
          text: 'Object'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Object containing cell text, type of cell, colspan and rowspan values'
        }
      ]
    ]
  }
}
) }}
{% endblock %}
