{% extends "component.njk" %}
{% from 'table/macro.njk' import govukTable %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}

{% block componentDescription %}
  Table description.
{% endblock %}

{% block defaultAndVariants %}
{% for item in componentData.variants %}
{% if item.name == 'default' %}
  {% set itemName = 'Component default' %}
  {% set previewLink = "/components/" + componentName + '/' + "/preview" %}
  {% set previewText = 'Preview the ' + componentName + ' component' %}
{% else %}
  {% set itemName = componentName + '--' + item.name %}
  {% set previewLink = "/components/" + componentName + '/' + componentName + '--' + item.name  + "/preview" %}
  {% set previewText = 'Preview the ' + itemName + ' variant' %}
{% endif %}

<h3 class="govuk-u-bold-19">{{ itemName  | capitalize }}</h3>

{% if not isReadme %}
{{ govukTable(item.data)}}
{% endif %}

<p class="govuk-u-copy-19">
<a href="{% if isReadme %}http://govuk-frontend-review.herokuapp.com{% endif %}{{ previewLink }}">{{previewText}}
</a>
</p>
<h4 class="govuk-u-copy-19">Markup</h4>

{% set componentHtml %}
{{- govukTable(item.data) -}}
{% endset %}
<pre><code>{{- componentHtml | e -}}</code></pre>

<h4 class="govuk-u-copy-19">Macro</h4>
<pre><code>
{% raw %}{{ govukTable({% endraw %}
{{ item.data | dump(2) }}
{% raw %}) }}{% endraw %}
</code></pre>
{% endfor %}
{% endblock %}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
{{ govukTable(
  classes='',
  options = {
    'isFirstCellHeader': 'true'
  },
  data = {
    'head' : [
      {
        text: 'Name'
      },
      {
        text: 'Type'
      },
      {
        text: 'Required'
      },
      {
        text: 'Description'
      }
    ],
    'rows' : [
      [
        {
          text: 'classes'
        },
        {
          text: 'string'
        },
        {
          text: 'No'
        },
        {
          text: 'Optional additional classes'
        }
      ],
      [
        {
          text: 'data'
        },
        {
          text: 'array'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Data array with text and type keys'
        }
      ],
      [
        {
          text: 'options'
        },
        {
          text: 'array'
        },
        {
          text: 'Yes'
        },
        {
          text: 'Options array with caption, captionSize and isFirstCellHeader keys'
        }
      ]
    ]
  }
)}}
{% endblock %}
