{% from 'table/macro.njk' import govukTable %}

{{ govukTable({
  "classes" : '',
  "data": {
      "rows": [
          [{
              "text": "January"
          }, {
              "text": "£85",
              "type": "numeric"
          }, {
              "text": "£95",
              "type": "numeric"
          }],
          [{
              "text": "February"
          }, {
              "text": "£75",
              "type": "numeric"
          }, {
              "text": "£55",
              "type": "numeric"
          }],
          [{
              "text": "March"
          }, {
              "text": "£165",
              "type": "numeric"
          }, {
              "text": "£125",
              "type": "numeric"
          }]
      ]
  }
}) }}
