<table class="govuk-c-table
  {%- if classes %} {{ classes }}{% endif %}">
  {% if params.data.options.caption %}
  <caption class="govuk-c-table__caption
  {%- if params.data.options.captionSize %} {{ params.data.options.captionSize }}{% endif %}">{{ params.data.options.caption }}</caption>
  {% endif %}
  {% if params.data.head %}
  <thead class="govuk-c-table__head">
    <tr class="govuk-c-table__row">
    {% for item in params.data.head %}
      <th class="govuk-c-table__header
      {%- if item.type %} govuk-c-table__header--{{ item.type }}{% endif %}"
      {%- if item.colspan %} colspan="{{ item.colspan }}"{% endif %}
      {%- if item.rowspan %} rowspan="{{ item.rowspan }}"{% endif %} scope="col">{{ item.text }}</th>
    {% endfor %}
    </tr>
  </thead>
  {% endif %}
  <tbody class="govuk-c-table__body">
    {% for row in params.data.rows %}
    <tr class="govuk-c-table__row">
    {% for cell in row %}
      {% if loop.first and params.options.isFirstCellHeader %}
      <th class="govuk-c-table__header" scope="row">{{ cell.text }}</th>
      {% elseif loop.first %}
      <td class="govuk-c-table__cell
      {%- if cell.type %} govuk-c-table__cell--{{ cell.type }}{% endif %}"
      {%- if cell.colspan %} colspan="{{ cell.colspan }}"{% endif %}
      {%- if cell.rowspan %} rowspan="{{ cell.rowspan }}"{% endif %} scope="row">{{ cell.text }}</td>
      {% else %}
      <td class="govuk-c-table__cell {% if cell.type %}govuk-c-table__cell--{{ cell.type }}{% endif %}"
      {%- if cell.colspan %} colspan="{{ cell.colspan }}"{% endif %}
      {%- if cell.rowspan %} rowspan="{{ cell.rowspan }}"{% endif %}>{{ cell.text }}</td>
      {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
