@use "../../base";

/// @access private
@mixin styles {
  .govuk-table {
    @include base.govuk-font($size: 19);
    inline-size: 100%;
    @include base.govuk-responsive-margin(6, "block-end");

    border-spacing: 0;
    border-collapse: collapse;
    color: base.govuk-functional-colour(text);
  }

  // Modifier for tables with a lot of data. Tables with lots of data benefit
  // from a smaller font size on small screens.
  .govuk-table--small-text-until-tablet {
    @media #{base.govuk-until-breakpoint(tablet)} {
      @include base.govuk-font-size($size: 16);
    }
  }

  .govuk-table__header {
    @include base.govuk-typography-weight-bold;
  }

  .govuk-table__header,
  .govuk-table__cell {
    padding-block: base.govuk-spacing(2);
    padding-inline-end: base.govuk-spacing(4);
    border-block-end: 1px solid;
    border-block-end-color: base.govuk-functional-colour(border);
    text-align: start;
    vertical-align: top;
  }

  .govuk-table__cell--numeric {
    @include base.govuk-font-tabular-numbers;
  }

  .govuk-table__header--numeric,
  .govuk-table__cell--numeric {
    text-align: end;
  }

  .govuk-table__header:last-child,
  .govuk-table__cell:last-child {
    padding-inline-end: 0;
  }

  .govuk-table__caption {
    @include base.govuk-typography-weight-bold;

    display: table-caption;
    text-align: start;
  }

  // Modifiers that make captions look more like their equivalent headings
  .govuk-table__caption--xl,
  .govuk-table__caption--l,
  .govuk-table__caption--m {
    margin-block-end: base.govuk-spacing(3);
  }

  .govuk-table__caption--xl {
    @include base.govuk-font-size($size: 48);
  }

  .govuk-table__caption--l {
    @include base.govuk-font-size($size: 36);
  }

  .govuk-table__caption--m {
    @include base.govuk-font-size($size: 24);
  }
}
