{% from "../button/macro.njk" import govukButton -%}

<div class="govuk-cookie-banner-generic" data-module="govuk-cookie-banner-generic" role="region" aria-label="{{ params.ariaLabel or "Cookie banner" }}">
  {% for banner in params.banners %}
     <div class="govuk-width-container" {% if banner.hidden %}style="display:none;"{% endif %} {% for attribute, value in banner.attributes %} {{attribute}}="{{value}}"{% endfor %}>
        {% if banner.title %}<h2 id="govuk-cookie-banner-generic__heading">{{ banner.title }}</h2>{% endif %}

        {% if banner.html %}
          {{ banner.html | safe }}
        {% elif banner.text %}
          <p class="govuk-body">{{ banner.text }}</p>
        {% endif %}

        {% for action in banner.actions %}
          {% if action.href %}
            <a href="{{action.href}}" class="govuk-link">{{ action.text }}</a>
          {% else %}
            {{ govukButton({
              text: action.text,
              name: action.name,
              value: action.value,
              classes: action.classes,
              attributes: action.attributes
            }) | indent(4) | trim }}
          {% endif %}
        {% endfor %}


     </div>
  {% endfor %}
</div>
