{% from "button/macro.njk" import govukButton %}

<footer class="sdn-footer {{ params.classes if params.classes }}" role="contentinfo"
        {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="govuk-width-container {{ params.containerClasses if params.containerClasses }}">
    <div class="sdn-footer__container">
      <div class="sdn-footer__donate">
        <span class="sdn-footer__heart-wrapper">
          <span class="sdn-footer__heart"></span>
        </span>
        <span class="sdn-footer__donate-text">Páči sa vám čo pre vás robíme?<br><a href="#" class="sdn-footer__link sdn-footer__donate-link">Podporte nás</a></span>
      </div>
      <div class="sdn-footer__newsletter">
        <span class="sdn-footer__newsletter-heading">Novinky emailom <small class="sdn-footer__newsletter-heading-tooltip">(raz mesačne)</small></span>
        <div class="govuk-form-group sdn-footer__newsletter-form-group">
          <input id="email-input" class="govuk-input sdn-footer__newsletter-input" name="email" placeholder="Zadajte emailovú adresu" />
          {{ govukButton({
            "text": "Prihlásiť",
            "classes": "sdn-footer__newsletter-button"
          }) }}
        </div>
        <span class="sdn-footer__newsletter-disclaimer">Prihlásením dávam dobrovoľný súhlas OZ Slovensko.Digital na zasielanie bezplatného newslettera na mnou zadaný e-mail. Tento súhlas môžem kedykoľvek odvolať na <a href="mailto:kontakt@slovensko.digital" class="sdn-footer__link">kontakt@slovensko.digital</a>. Oboznámil(a) som sa s informáciami v sekcii <a href="#" class="sdn-footer__link">Ochrana osobných údajov</a>.</span>
      </div>
    </div>
  </div>
  <div class="sdn-footer__bottom-container">
    <div class="govuk-width-container">
      <div class="sdn-footer__bottom-columns">
        <div class="sdn-footer__links">
          <ul>
            <li>
              <a href="#">Pre médiá</a>
            </li>
            <li>
              <a href="#">Ochrana osobných údajov</a>
            </li>
          </ul>
        </div>
        <div class="sdn-footer__contact">
          <div class="sdn-footer__contact-content">
            <strong>Slovensko.Digital</strong><br>
            Staré grunty 12, 841 04 Bratislava<br>
            IČO: 50158635<br>
            <a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a>
          </div>
        </div>
        <div class="sdn-footer__social">
          <a href="#facebook" class="footer-icon footer-icon__facebook"><span>facebook</span></a>
          <a href="#github" class="footer-icon footer-icon__github"><span>github</span></a>
          <a href="#youtube" class="footer-icon footer-icon__youtube"><span>github</span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
