@import "../button/index";

@include govuk-exports("govuk/component/exit-this-page") {
  .govuk-exit-this-page {
    @include govuk-responsive-padding(8, "bottom");
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;

    @include govuk-media-query($from: tablet) {
      right: 0;
      left: auto;
      width: auto;
      float: right;
    }

    @supports (position: sticky) {
      position: sticky;
    }
  }

  .govuk-exit-this-page__button {
    width: 100%;
    margin-bottom: 0;
  }

  .govuk-exit-this-page__indicator {
    @include govuk-responsive-padding(2);
    display: none;
    padding-bottom: 0;
    color: inherit;
    line-height: 0; // removes extra negative space below the indicators
    text-align: center;
    pointer-events: none;
  }

  .govuk-exit-this-page__indicator--visible {
    display: block;
  }

  .govuk-exit-this-page__indicator-light {
    display: inline-block;
    width: .5em;
    height: .5em;
    margin: 0 .125em;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;

    @include govuk-not-ie8 {
      border-color: currentcolor;
    }

    @include govuk-if-ie8 {
      border-color: govuk-colour("white");
    }
  }

  .govuk-exit-this-page__indicator-light--on {
    @include govuk-not-ie8 {
      background-color: currentcolor;
    }

    @include govuk-if-ie8 {
      background-color: govuk-colour("white");
    }
  }

  .govuk-exit-this-page__help {
    @include govuk-responsive-padding(2);
    @include govuk-font($size: 16);
    display: none;
    border: 1px solid $govuk-border-colour;
    border-top: none;
    background-color: govuk-colour("white");
    text-align: center;

    kbd {
      @include govuk-font($size: 16);
      display: inline-block;
      padding: 0 govuk-spacing(1);
      border: 1px solid $govuk-border-colour;
      border-radius: 4px;
      background-color: govuk-colour("white");
      box-shadow: 0 1px 0 govuk-colour("white"), 0 2px 0 $govuk-border-colour;
    }

    @include govuk-media-query($from: tablet) {
      display: block;
    }
  }

  @media only print {
    .govuk-exit-this-page {
      display: none;
    }
  }

  .govuk-exit-this-page__overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: govuk-colour("white");
  }
}
