{% from "label/macro.njk" import govukLabel %}

<div class="govuk-o-form-group {%- if params.errorMessage %} govuk-o-form-group--error{% endif %}">

  {{- govukLabel({
    html: params.label.html,
    text: params.label.text,
    hintText: params.label.hintText,
    hintHtml: params.label.hintHtml,
    classes: params.label.classes,
    attributes: params.label.attributes,
    errorMessage: params.errorMessage,
    for: params.id
  }) -}}

  <input class="govuk-c-input {%- if params.classes %} {{ params.classes }}{% endif %} {%- if params.errorMessage %} govuk-c-input--error{% endif %}" id="{{ params.id }}" name="{{ params.name }}" type="{{ params.type | default('text') }}"
  {%- if params.value %} value="{{ params.value}}"{% endif %}
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
</div>
