{{ govukTimeline({
    readonly: true,
    steps: [
        {
            text: 'Úvod',
            href: '/examples/odklad-danoveho-priznania/index',
            selected: step == 1
        },
        {
            text: 'Registrovať sa na Finančnej správe',
            href: '/examples/odklad-danoveho-priznania/registracia',
            selected: step == 2
        },
        {
            text: 'Nainštalovať aplikáciu eDane',
            href: '/examples/odklad-danoveho-priznania/instalacia',
            selected: step == 3
        },
        {
            text: 'Podať oznámenie o predĺžení lehoty na podanie daňového priznania',
            href: '/examples/odklad-danoveho-priznania/podanie',
            selected: step == 4
        }
    ]
}) }}