@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";

@include govuk-exports("govuk/component/skip-link") {
  .govuk-skip-link {
    @include govuk-visually-hidden-focusable;
    @include govuk-link-common;
    @include govuk-link-style-text;
    @include govuk-typography-responsive($size: 16);

    display: block;
    padding: govuk-spacing(2) govuk-spacing(3);
  }
}

@include govuk-media-query($media-type: print) {
  .govuk-skip-link:focus {
    border: 3px solid govuk-colour("black");
    outline: none;
    background-color: govuk-colour("white");
  }
}
