@import "../../globals/scss/common";

@include exports("skip-link") {
  .govuk-c-skip-link {
    position: absolute;
    padding: $govuk-spacing-scale-1 $govuk-spacing-scale-3;
    clip: rect(0 0 0 0);
    font-family: $govuk-font-stack;
    @include govuk-font-regular-16;
    line-height: 1.5;
  }

  // Default link colour doesn't have enough contrast against $govuk-focus-colour
  .govuk-c-skip-link:focus,
  .govuk-c-skip-link:visited {
    color: $govuk-text-colour;
  }

  .govuk-c-skip-link:focus {
    display: block;
    position: relative;
    left: inherit;
  }
}
