{% macro govukSkipLink(
  params,
  text,
  safe,
  href,
  classes,
  attributes
) %}
  {% if params.html and not hideDeprecated %}
    <strong class="deprecated">params.html is deprecated in govukSkipLink</strong>
  {% endif %}
  {% if text === undefined %}{% set text = params.text if params.text else params %}{% endif %}
  {% if safe === undefined %}{% set safe = params.safe %}{% endif %}
  {% set href = href if href else params.href %}
  {% set classes = classes if classes else params.classes %}
  {% set attributes = attributes if attributes else params.attributes %}
  {% set params = {
    text: text,
    safe: safe,
    href: href,
    classes: classes,
    attributes: attributes
  } %}
  {%- include "./template.njk" -%}
{% endmacro %}
