@use "sass:string";
@use "helpers/colour";
@use "helpers/links";
@use "helpers/spacing";
@use "helpers/typography";
@use "helpers/visually-hidden";
@use "settings/global-styles";
@use "settings/measurements";
@use "tools/exports";

@include exports.govuk-exports("govuk/component/skip-link") {
  .govuk-skip-link {
    @include visually-hidden.govuk-visually-hidden-focusable;
    @include links.govuk-link-decoration;
    @include links.govuk-link-style-text;
    @include typography.govuk-font($size: 16);

    display: block;
    padding: spacing.govuk-spacing(2) spacing.govuk-spacing(3);

    // Respect 'display cutout' safe area (avoids notches and rounded corners)
    @supports (padding: string.unquote("max(calc(0px))")) {
      $padding-safe-area-right: calc(#{spacing.govuk-spacing(3)} + env(safe-area-inset-right));
      $padding-safe-area-left: calc(#{spacing.govuk-spacing(3)} + env(safe-area-inset-left));

      // Use max() to pick largest padding, default or with safe area
      // Escaped due to Sass max() vs. CSS native max()
      padding-right: string.unquote("max(#{spacing.govuk-spacing(3)}, #{$padding-safe-area-right})");
      padding-left: string.unquote("max(#{spacing.govuk-spacing(3)}, #{$padding-safe-area-left})");
    }

    &:focus {
      outline: measurements.$govuk-focus-width solid;
      outline-color: colour.govuk-functional-colour(focus);
      outline-offset: 0;
      background-color: colour.govuk-functional-colour(focus);

      @media (forced-colors: active) {
        outline-offset: (0 - measurements.$govuk-focus-width);
      }

      // Undo unwanted changes when global styles are enabled
      @if global-styles.$govuk-global-styles {
        @include links.govuk-link-decoration;
        box-shadow: none;
      }
    }
  }

  .govuk-skip-link-focused-element {
    &:focus {
      // Remove the native visible focus indicator when the element is
      // programmatically focused.
      //
      // We set the focus on the linked element (this is usually the <main>
      // element) when the skip link is activated to improve screen reader
      // announcements. However, we remove the visible focus indicator from the
      // linked element because the user cannot interact with it.
      //
      // A related discussion: https://github.com/w3c/wcag/issues/1001
      outline: none;
    }
  }
}
