@include govuk-exports("govuk/component/inset-text") {
  .govuk-inset-text {
    @include govuk-font($size: 19);
    padding: govuk-spacing(3);

    clear: both;

    border-left: $govuk-border-width-wide solid govuk-applied-colour(border);
    color: govuk-applied-colour(text);
    // Margin top intended to collapse
    // This adds an additional 10px to the paragraph above
    @include govuk-responsive-margin(6, "top");
    @include govuk-responsive-margin(6, "bottom");

    > :first-child {
      margin-top: 0;
    }

    > :only-child,
    > :last-child {
      margin-bottom: 0;
    }
  }
}
