@use "helpers/colour";
@use "helpers/spacing";
@use "helpers/typography";
@use "settings/measurements";
@use "tools/exports";

@include exports.govuk-exports("govuk/component/inset-text") {
  .govuk-inset-text {
    @include typography.govuk-font($size: 19);
    @include typography.govuk-text-colour;
    padding: spacing.govuk-spacing(3);
    // Margin top intended to collapse
    // This adds an additional 10px to the paragraph above
    @include spacing.govuk-responsive-margin(6, "top");
    @include spacing.govuk-responsive-margin(6, "bottom");

    clear: both;

    border-left: measurements.$govuk-border-width-wide solid;
    border-left-color: colour.govuk-functional-colour(border);

    > :first-child {
      margin-top: 0;
    }

    > :only-child,
    > :last-child {
      margin-bottom: 0;
    }
  }
}
