@use "../../base";

/// @access private
@mixin styles {
  .govuk-inset-text {
    @include base.govuk-font($size: 19);

    padding: base.govuk-spacing(3);

    // Margin top intended to collapse
    // This adds an additional 10px to the paragraph above
    @include base.govuk-responsive-margin(6, "block-start");
    @include base.govuk-responsive-margin(6, "block-end");

    clear: both;

    border-inline-start: base.$govuk-border-width-wide solid;
    border-inline-start-color: base.govuk-functional-colour(border);
    color: base.govuk-functional-colour(text);

    > :first-child {
      margin-block-start: 0;
    }

    > :only-child,
    > :last-child {
      margin-block-end: 0;
    }
  }
}
