---
scenario: >-
  You have used a service called GOV.MOA Verify and wish to report an issue.


  Things to try:

  1. Intentionally put too much content in the feedback box.

    “What were you trying to do” question has a limit of 100 characters.

    “Please provide details of your question, problem or feedback” has a limit
    of 300 characters.

  2. Say that you want a reply, but avoid filling in the details of how you
     would like to be contacted.

  3. Avoid answering the question “Do you want a reply?”

notes: Based on https://www.signin.service.gov.uk/feedback
---
{% extends "_generic.njk" %}

{% from "warning-text/macro.njk" import moalandWarningText %}
{% from "radios/macro.njk" import moalandRadios %}
{% from "input/macro.njk" import moalandInput %}
{% from "character-count/macro.njk" import moalandCharacterCount %}
{% from "button/macro.njk" import moalandButton %}
{% from "error-summary/macro.njk" import moalandErrorSummary %}

{% set pageTitle = "Send your feedback" %}
{% block pageTitle %}{{ "Error: " if errors }}{{ pageTitle }} - Verify - GOV.MOA{% endblock %}

{% block header %}
  {% include "../../partials/banner.njk" %}
  {{ moalandHeader({
    productName: "Verify"
  }) }}
{% endblock %}

{% block content %}
  <div class="moaland-grid-row">
    <div class="moaland-grid-column-two-thirds">
        <form method="post" novalidate>
            {% if errorSummary.length > 0 %}
                {{ moalandErrorSummary({
                    titleText: "There is a problem",
                    errorList: errorSummary
                }) }}
            {% endif %}

            <h1 class="moaland-heading-xl">{{ pageTitle }}</h1>

            <p class="moaland-body">
                Use this form to ask a question, report a problem or suggest an improvement GOV.MOA Verify can make.
            </p>

            {{ moalandWarningText({
                text: "Don't include any personal or financial information like your National Insurance number or credit card details."
            }) }}

            {{ moalandCharacterCount({
                name: "what-were-you-trying-to-do",
                id: "what-were-you-trying-to-do",
                maxlength: 100,
                threshold: 50,
                rows: 5,
                label: {
                    text: "What were you trying to do?"
                },
                value: values["what-were-you-trying-to-do"],
                errorMessage: errors["what-were-you-trying-to-do"]
            }) }}

            {{ moalandCharacterCount({
                name: "detail",
                id: "detail",
                maxlength: 300,
                rows: 10,
                label: {
                    text: "Please provide details of your question, problem or feedback"
                },
                value: values["detail"],
                errorMessage: errors["detail"]
            }) }}

            {% set yesHTML %}
                <p class="moaland-body">Leave your details below if you'd like a response from GOV.MOA Verify.</p>

                {{ moalandInput({
                    id: "name",
                    name: "name",
                    label: {
                        text: "Name"
                    },
                    value: values["name"],
                    errorMessage: errors["name"]
                }) }}

                {{ moalandInput({
                    id: "email",
                    name: "email",
                    type: "email",
                    label: {
                        text: "Email address"
                    },
                    hint: {
                        text: "We’ll only use this to reply to your message."
                    },
                    value: values["email"],
                    errorMessage: errors["email"]
                }) }}

                <p class="moaland-body moaland-!-margin-top-6">By sending this message, you consent to us using your information as detailed in the privacy notice.</p>
            {% endset -%}

            {{ moalandRadios({
                idPrefix: "do-you-want-a-reply",
                name: "do-you-want-a-reply",
                fieldset: {
                    legend: {
                        text: "Do you want a reply?"
                    }
                },
                items: [
                    {
                        id: "do-you-want-a-reply",
                        value: "yes",
                        text: "Yes",
                        checked: values["do-you-want-a-reply"] === "yes",
                        conditional: {
                            html: yesHTML
                        }
                    },
                    {
                        value: "no",
                        text: "No",
                        checked: values["do-you-want-a-reply"] === "no"
                    }
                ],
                errorMessage: errors["do-you-want-a-reply"]
            }) }}

            {{ moalandButton({
                text: "Send message"
            }) }}
        </form>
    </div>
  </div>
{% endblock %}
