@use "sass:map";
@use "helpers/typography";
@use "settings/typography-responsive";
@use "tools/exports";

@include exports.govuk-exports("govuk/overrides/typography") {
  // Font size and line height

  // Generate typography override classes for each responsive font map in the
  // typography scale eg .govuk-\!-font-size-80
  @each $size, $font-map in typography-responsive.$govuk-typography-scale {
    .govuk-\!-font-size-#{$size} {
      $font-map: map.get(typography-responsive.$govuk-typography-scale, $size);

      // Add underscore to deprecated typography scale keys
      @if map.has-key($font-map, "deprecation") {
        $size: _#{$size};
      }

      @include typography.govuk-font-size($size, $important: true);
    }
  }

  // Weights

  .govuk-\!-font-weight-regular {
    @include typography.govuk-typography-weight-regular($important: true);
  }

  .govuk-\!-font-weight-bold {
    @include typography.govuk-typography-weight-bold($important: true);
  }

  // Typography helpers

  .govuk-\!-font-tabular-numbers {
    @include typography.govuk-font-tabular-numbers($important: true);
  }

  .govuk-\!-text-break-word {
    @include typography.govuk-text-break-word($important: true);
  }
}
