@use "../base";

// stylelint-disable declaration-no-important
/// @access private
@mixin styles {
  .govuk-\!-width-full {
    inline-size: 100% !important;
  }

  .govuk-\!-width-three-quarters {
    inline-size: 100% !important;

    @media #{base.govuk-from-breakpoint(tablet)} {
      inline-size: 75% !important;
    }
  }

  .govuk-\!-width-two-thirds {
    inline-size: 100% !important;

    @media #{base.govuk-from-breakpoint(tablet)} {
      inline-size: 66.66% !important;
    }
  }

  .govuk-\!-width-one-half {
    inline-size: 100% !important;

    @media #{base.govuk-from-breakpoint(tablet)} {
      inline-size: 50% !important;
    }
  }

  .govuk-\!-width-one-third {
    inline-size: 100% !important;

    @media #{base.govuk-from-breakpoint(tablet)} {
      inline-size: 33.33% !important;
    }
  }

  .govuk-\!-width-one-quarter {
    inline-size: 100% !important;

    @media #{base.govuk-from-breakpoint(tablet)} {
      inline-size: 25% !important;
    }
  }
}
