<div class="sdn-next-link">
    <a href="{{ params.url }}" class="sdn-next-link__link">
    	<div class="sdn-next-link__container">
	        {{ params.label }}
	        <small>{{ params.text }}</small>
	    </div>
    </a>
</div>