////
/// @group helpers
////

/// Focused text
///
/// Provides an outline to clearly indicate when the target element is focused.
/// Used for interactive text-based elements.
///
/// @access public

@mixin govuk-focused-text {
  // When colours are overridden, for example when users have a dark mode,
  // backgrounds and box-shadows disappear, so we need to ensure there's a
  // transparent outline which will be set to a visible colour.

  // Since Internet Explorer 8 does not support box-shadow, we want to force the
  // user-agent outlines
  @include govuk-not-ie8 {
    outline: $govuk-focus-width solid transparent;
  }
  color: $govuk-focus-text-colour;
  background-color: $govuk-focus-colour;
  // sass-lint:disable indentation
  box-shadow: 0 -1px    0 1px $govuk-focus-colour,
              0 5px  0 1px $govuk-focus-text-colour;
  // sass-lint:enable indentation
  // When link is focussed, hide the default underline since the
  // box shadow adds the "underline"
  text-decoration: none;
}
