// 'Common typography' helper
//
// Sets the font family and associated properties, such as font smoothing. Also
// overrides the font for print.

@mixin govuk-typography-common($font-family: $govuk-font-stack) {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mq($media-type: print) {
    font-family: $govuk-font-stack-print;
  }
}

// Text colour helper
//
// Sets the text colour, including a suitable override for print.

@mixin govuk-text-colour {
  color: $govuk-text-colour;

  @include mq($media-type: print) {
    color: $govuk-print-text-colour;
  }
}

// Regular font weight helper
//
// @param {Boolean} $important - Whether to mark declarations as important.
//        Generally Used to create override classes.

@mixin govuk-typography-weight-regular($important: false) {
  font-weight: $govuk-font-weight-regular iff($important, !important);
}

// Bold font weight helper
//
// @param {Boolean} $important - Whether to mark declarations as important.
//        Generally Used to create override classes.

@mixin govuk-typography-weight-bold($important: false) {
  font-weight: $govuk-font-weight-bold iff($important, !important);
}

// Responsive typography helper
//
// Takes a 'font map' as an argument and uses it to create font-size and
// line-height declarations for different breakpoints, and for print.
//
// Example font map:
//
// $my-font-map: (
//   null: (
//     font-size: 16px,
//     line-height: 20px
//   ),
//   tablet: (
//     font-size: 19px,
//     line-height: 25px
//   ),
//   print: (
//     font-size: 14pt,
//     line-height: 1.15
//   )
// );
//
// @param {Map} $font-map - Font map
// @param {Number} $override-line-height - Non responsive custom line height.
//        Omit to use the line height from the font map.
// @param {Boolean} $important - Whether to mark declarations as important.
//        Generally Used to create override classes.

@mixin govuk-typography-responsive($font-map, $override-line-height: false, $important: false) {

  // Ensure that $font-map is actually a map
  $actual-input-type: type-of($font-map);
  @if $actual-input-type != "map" {
    @error "Expected a map of breakpoints and font sizes, but got a "
    + "#{$actual-input-type}. Make sure you are passing a font map.";
  }

  @each $breakpoint, $breakpoint-map in $font-map {
    $font-size: map-get($breakpoint-map, "font-size") iff($important, !important);
    $line-height: map-get($breakpoint-map, "line-height") iff($important, !important);

    // Sometimes we need to use a custom non-responsive line height for
    // a component.
    @if $override-line-height {
      $line-height: $override-line-height iff($important, !important);
    }

    @if $breakpoint == null {
      font-size: $font-size;
      line-height: $line-height;
    } @elseif $breakpoint == "print" {
      @include mq($media-type: print) {
        font-size: $font-size;
        line-height: $line-height;
      }
    } @else {
      @include mq($from: $breakpoint) {
        font-size: $font-size;
        line-height: $line-height;
      }
    }
  }
}

// The following helpers are 'syntactic sugar' for common typography
// combinations and are not documented individually.
//
// Frustratingly, you can't generate mixins programmatically so we have to
// define these 'by hand'.

// Regular weights

@mixin govuk-font-regular {
  @include govuk-typography-common;
  @include govuk-typography-weight-regular;
}

@mixin govuk-font-regular-80 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-80);
}

@mixin govuk-font-regular-48 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-48);
}

@mixin govuk-font-regular-36 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-36);
}

@mixin govuk-font-regular-27 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-27);
}

@mixin govuk-font-regular-24 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-24);
}

@mixin govuk-font-regular-19 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-19);
}

@mixin govuk-font-regular-16 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-16);
}

@mixin govuk-font-regular-14 {
  @include govuk-font-regular;
  @include govuk-typography-responsive($govuk-font-14);
}

// Bold weights

@mixin govuk-font-bold {
  @include govuk-typography-common;
  @include govuk-typography-weight-bold;
}

@mixin govuk-font-bold-80 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-80);
}

@mixin govuk-font-bold-48 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-48);
}

@mixin govuk-font-bold-36 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-36);
}

@mixin govuk-font-bold-27 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-27);
}

@mixin govuk-font-bold-24 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-24);
}

@mixin govuk-font-bold-19 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-19);
}

@mixin govuk-font-bold-16 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-16);
}

@mixin govuk-font-bold-14 {
  @include govuk-font-bold;
  @include govuk-typography-responsive($govuk-font-14);
}

// Regular weights, tabular numbers

@mixin govuk-font-regular-tabular {
  @include govuk-typography-common($font-family: $govuk-nta-light-tabular);
  @include govuk-typography-weight-regular;
}

@mixin govuk-font-regular-tabular-80 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-80);
}

@mixin govuk-font-regular-tabular-48 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-48);
}

@mixin govuk-font-regular-tabular-36 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-36);
}

@mixin govuk-font-regular-tabular-27 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-27);
}

@mixin govuk-font-regular-tabular-24 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-24);
}

@mixin govuk-font-regular-tabular-19 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-19);
}

@mixin govuk-font-regular-tabular-16 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-16);
}

@mixin govuk-font-regular-tabular-14 {
  @include govuk-font-regular-tabular;
  @include govuk-typography-responsive($govuk-font-14);
}

// Bold weights, tabular numbers

@mixin govuk-font-bold-tabular {
  @include govuk-typography-common($font-family: $govuk-nta-light-tabular);
  @include govuk-typography-weight-bold;
}

@mixin govuk-font-bold-tabular-80 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-80);
}

@mixin govuk-font-bold-tabular-48 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-48);
}

@mixin govuk-font-bold-tabular-36 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-36);
}

@mixin govuk-font-bold-tabular-27 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-27);
}

@mixin govuk-font-bold-tabular-24 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-24);
}

@mixin govuk-font-bold-tabular-19 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-19);
}

@mixin govuk-font-bold-tabular-16 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-16);
}

@mixin govuk-font-bold-tabular-14 {
  @include govuk-font-bold-tabular;
  @include govuk-typography-responsive($govuk-font-14);
}
