@use "helpers/colour";
@use "helpers/media-queries";
@use "helpers/spacing";
@use "helpers/typography";
@use "settings/measurements";
@use "tools/exports";

@include exports.govuk-exports("govuk/component/panel") {
  .govuk-panel {
    @include typography.govuk-font($size: 36);

    box-sizing: border-box;

    margin-bottom: spacing.govuk-spacing(3);
    padding: spacing.govuk-spacing(7) - measurements.$govuk-border-width;

    border: measurements.$govuk-border-width solid transparent;

    text-align: center;

    @media #{media-queries.govuk-until-breakpoint(tablet)} {
      padding: spacing.govuk-spacing(4) - measurements.$govuk-border-width;

      // This is an if-all-else-fails attempt to stop long words from
      // overflowing the container on very narrow viewports by forcing them to
      // break and wrap instead. This overflowing is more likely to happen when
      // user increases text size on a mobile eg. using iOS Safari text resize
      // controls.
      //
      // The overflowing is a particular problem with the panel component since
      // it uses white text: when the text overflows the container, it is
      // invisible on the white (page) background. When the text in our other
      // components overflow, the user might have to scroll horizontally to view
      // it but the the text remains legible.
      overflow-wrap: break-word;

      // Support IE (autoprefixer doesn't add this as it's not a prefix)
      word-wrap: break-word;
    }
  }

  .govuk-panel--confirmation {
    color: colour.govuk-colour("white");
    background: colour.govuk-colour("green");

    @media print {
      border-color: currentcolor;
      color: colour.govuk-functional-colour(print-text);
      background: none;
    }
  }

  .govuk-panel__title {
    @include typography.govuk-font-size($size: 48);
    @include typography.govuk-typography-weight-bold;
    margin-top: 0;
    margin-bottom: spacing.govuk-spacing(6);
  }

  .govuk-panel__title:last-child {
    margin-bottom: 0;
  }
}
