@include govuk-exports("govuk/component/panel") {
  .govuk-panel {
    @include govuk-font($size: 36);

    box-sizing: border-box;

    margin-bottom: govuk-spacing(3);
    padding: govuk-spacing(7) - $govuk-border-width;

    border: $govuk-border-width solid transparent;

    text-align: center;

    @include govuk-media-query($until: tablet) {
      @include govuk-text-break-word;
      padding: govuk-spacing(if($govuk-new-typography-scale, 4, 3)) - $govuk-border-width;
    }
  }

  .govuk-panel--confirmation {
    color: govuk-colour("white");
    background: govuk-colour("green");

    @include govuk-media-query($media-type: print) {
      border-color: currentcolor;
      color: $govuk-print-text-colour;
      background: none;
    }
  }

  .govuk-panel__title {
    @include govuk-font-size($size: 48);
    @include govuk-typography-weight-bold;
    margin-top: 0;
    margin-bottom: govuk-spacing(6);
  }

  .govuk-panel__title:last-child {
    margin-bottom: 0;
  }
}
