@import "../globals/helpers/typography";
@import "../globals/helpers/media-queries";

@import "../globals/settings/colours-palette";
@import "../globals/settings/colours-applied";
@import "../globals/settings/typography-font-stacks";
@import "../globals/settings/typography-font";
@import "../globals/settings/typography-responsive";

@import "../globals/tools/exports";

@include govuk-exports("hint") {
  .govuk-hint {
    @include govuk-font-regular-19;

    display: block;

    margin-bottom: $govuk-spacing-scale-3;

    color: $govuk-secondary-text-colour;
  }
}
