@import "@govuk-frontend/globals/common";

@include exports("error-summary") {

  .govuk-c-error-summary {
    @include govuk-text-colour;

    @include govuk-responsive-padding($govuk-spacing-responsive-4);
    border: $govuk-border-width-mobile solid $govuk-error-colour;

    @include mq($from: tablet) {
      border: $govuk-border-width-tablet solid $govuk-error-colour;
    }

    // TODO: Fix IE < 8
    @include ie-lte(6) {
      zoom: 1;
    }
  }

  .govuk-c-error-summary:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }

  .govuk-c-error-summary__title {
    @include govuk-font-bold-24;

    margin-top: 0;
    @include govuk-responsive-margin($govuk-spacing-responsive-4, "bottom");
  }

  .govuk-c-error-summary__body {
    @include govuk-font-regular-19;
  }

    .govuk-c-error-summary__body p {
      margin-top: 0;
      @include govuk-responsive-margin($govuk-spacing-responsive-4, "bottom");
    }

  // Cross-component class - adjusts styling of list component
  .govuk-c-error-summary__list {
    margin-top: 0;
    margin-bottom: 0;
  }
    .govuk-c-error-summary__list a:link,
    .govuk-c-error-summary__list a:visited,
    .govuk-c-error-summary__list a:hover,
    .govuk-c-error-summary__list a:active {
      @include govuk-typography-weight-bold;

      color: $govuk-error-colour;
      text-decoration: underline;
    }

}
