{% extends previewLayout + ".njk" %}

{% set bodyClasses %}
  {{ bodyClasses }}
{% endset %}

{# Remove standard template banners/headers/frontmatter #}
{% block skipLink %}{% endblock %}
{% block bodyStart %} {% endblock %}
{% block header %}{% endblock %}

{% block content %}
  <div class="app-whitespace-highlight">
    {{ componentView | safe }}
  </div>
{% endblock %}

{% block scripts %}
  <!--[if lt IE 9]>
    <script src="/vendor/iframe-resizer/ie8.polyfils.min.js"></script>
  <![endif]-->
  <script src="/vendor/iframe-resizer/iframeResizer.contentWindow.min.js"></script>
{% endblock %}
