@import "../globals/tools/exports";
@import "../globals/tools/ie8";

@import "../fieldset/fieldset";
@import "../label/label";

@include govuk-exports("radios") {
  .govuk-c-radios__item {
    @include govuk-font-regular-19;

    display: block;

    position: relative;

    min-height: $govuk-spacing-scale-7;

    margin-bottom: $govuk-spacing-scale-2;
    padding: 0 0 0 $govuk-spacing-scale-7;

    clear: left;
  }

  .govuk-c-radios__item:last-child,
  .govuk-c-radios__item:last-of-type {
    margin-bottom: 0;
  }

  .govuk-c-radios__input {
    position: absolute;

    z-index: 1;
    top: 0;
    left: 0;

    width: $govuk-spacing-scale-7;
    height: $govuk-spacing-scale-7;

    cursor: pointer;

    // IE8 doesn’t support pseudoelements, so we don’t want to hide native elements there. Double colons get ommited by IE8.
    @include govuk-not-ie8 {
      margin: 0;
      opacity: 0;
    }
  }

  .govuk-c-radios__label {
    display: inline-block;
    padding: 8px $govuk-spacing-scale-3 $govuk-spacing-scale-1;
    cursor: pointer;
    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  .govuk-c-radios__input + .govuk-c-radios__label::before {
    content: "";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    width: $govuk-spacing-scale-7;
    height: $govuk-spacing-scale-7;

    border: $govuk-border-width-form-element solid currentColor;
    border-radius: 50%;
    background: transparent;
  }

  .govuk-c-radios__input + .govuk-c-radios__label::after {
    content: "";

    position: absolute;
    top: $govuk-spacing-scale-2;
    left: $govuk-spacing-scale-2;

    width: 0;
    height: 0;

    border: $govuk-spacing-scale-2 solid currentColor;
    border-radius: 50%;
    opacity: 0;
    background: currentColor;
  }

  // Focused state
  .govuk-c-radios__input:focus + .govuk-c-radios__label::before {
    -webkit-box-shadow: 0 0 0 4px $govuk-focus-colour;
            box-shadow: 0 0 0 4px $govuk-focus-colour;
  }

  // Selected state
  .govuk-c-radios__input:checked + .govuk-c-radios__label::after {
    opacity: 1;
  }

  // Disabled state
  .govuk-c-radios__input:disabled,
  .govuk-c-radios__input:disabled + .govuk-c-radios__label {
    cursor: default;
  }

  .govuk-c-radios__input:disabled + .govuk-c-radios__label {
    opacity: .5;
  }

  // Inline variant
  .govuk-c-radios--inline {
    @include mq ($from: tablet) {
      @include govuk-h-clearfix;

      .govuk-c-radios__item {
        margin-right: $govuk-spacing-scale-4;
        float: left;
        clear: none;
      }
    }
  }
}
