@import "../globals/helpers/typography";
@import "../globals/helpers/media-queries";

@import "../globals/settings/colours-palette";
@import "../globals/settings/colours-applied";
@import "../globals/settings/typography-font-stacks";
@import "../globals/settings/typography-font";
@import "../globals/settings/typography-responsive";

@import "../globals/tools/exports";

@include govuk-exports("label") {
  .govuk-label {
    @include govuk-font-regular-19;
    @include govuk-text-colour;

    display: block;
  }

  // Modifiers that make labels look more like their equivalent headings

  .govuk-label--xl {
    @include govuk-font-bold-48;
    margin-bottom: $govuk-spacing-scale-3;
  }

  .govuk-label--l {
    @include govuk-font-bold-36;
    margin-bottom: $govuk-spacing-scale-3;
  }

  .govuk-label--m {
    @include govuk-font-bold-24;
    margin-bottom: $govuk-spacing-scale-1;
  }

  .govuk-label--s {
    @include govuk-font-bold-19;
  }

  // When the label is nested inside a heading, override the heading so that it
  // does not have a margin. Effectively we want to be able to treat the heading
  // as if it is not there.
  //
  // This breaks BEM conventions because it exists as a parent of the 'block',
  // so we can't really consider an element.
  .govuk-label-wrapper {
    margin: 0;
  }
}
