{#
  Renders component attributes as string

  @private
  @param {{ [attribute: string]: string | { value: string } } | string} attributes - Component attributes param
#}
{% macro govukAttributes(attributes) -%}
  {#- Default attributes output -#}
  {% set attributesHtml = attributes if attributes is string else "" %}

  {#- Append attribute name/value pairs -#}
  {%- if attributes is mapping %}
    {% for name, value in attributes %}
      {#- Set default attribute options -#}
      {% set options = value if value is mapping else {
        value: value
      } %}

      {#- Always render ` name="value"` pair -#}
      {% set attributesHtml = attributesHtml + " " + name | escape + '="' + options.value | escape + '"' %}
    {% endfor %}
  {% endif -%}

  {{- attributesHtml | safe -}}
{%- endmacro %}
