// start mixins and variables
$govuk-header-link-underline-thickness: 3px;

@mixin toggle-button-focus($default-text-colour) {
  color: $default-text-colour;
  // apply focus style on :focus for browsers which support :focus but not :focus-visible
  &:focus {
    @include govuk-focused-text;

    // overwrite previous styles for browsers which support :focus-visible
    &:not(:focus-visible) {
      outline: none;
      color: $default-text-colour;
      background: none;
      box-shadow: none;
    }

    // apply focus style on :focus-visible for browsers which support :focus-visible
    &-visible {
      @include govuk-focused-text;
    }
  }
}

@mixin nav-style($nav-open-class) {
  display: block;
  // if JS is unavailable, the nav links are expanded and the toggle button is hidden
  .toggle-enabled & {
    display: none;

    &#{$nav-open-class} {
      display: block;
    }

    @include govuk-media-query($from: tablet) {
      display: block;
    }
  }

  @include govuk-media-query($until: tablet) {
    width: 100%;
  }
}

.govuk-navigation__button {
  display: none;

  @include toggle-button-focus($govuk-link-colour);

  .toggle-enabled & {
    display: inline;
    display: flex;

    @include govuk-media-query($from: tablet) {
      display: none;
    }
  }

  @include govuk-font($size: 19, $weight: normal);
  position: relative;
  align-items: center;
  min-width: 240px;
  min-width: max-content;
  margin: 0;
  padding: govuk-spacing(2) 0 govuk-spacing(1) 0;
  border: 0;
  background: none;
  cursor: pointer;

  &::after {
    @include govuk-shape-arrow($direction: down, $base: 10px, $display: inline-block);
    content: "";
    margin-left: govuk-spacing(1);
  }

  &.govuk-navigation__button--open {
    &::before {
      transform: translateY(-15%) rotate(-45deg);
    }
  }
}

.govuk-navigation__button-icon {
  margin-left: govuk-spacing(2);
  font-size: 0;

  &.govuk-navigation__button-icon--focus {
    display: none;
  }

  // apply focus style on :focus for browsers which support :focus but not :focus-visible
  .govuk-navigation__button:focus & {
    &.govuk-navigation__button-icon--default {
      display: none;
    }

    &.govuk-navigation__button-icon--focus {
      display: inline;
    }
  }

  // overwrite previous styles for browsers which support :focus-visible
  .govuk-navigation__button:focus:not(:focus-visible) & {
    &.govuk-navigation__button-icon--default {
      display: inline;
    }

    &.govuk-navigation__button-icon--focus {
      display: none;
    }
  }

  // apply focus style on :focus-visible for browsers which support :focus-visible
  .govuk-navigation__button:focus-visible & {
    &.govuk-navigation__button-icon--default {
      display: none;
    }

    &.govuk-navigation__button-icon--focus {
      display: inline;
    }
  }
}

// start service navigation styles
.govuk-navigation {
  border-bottom: 1px solid govuk-colour("mid-grey");
  background-color: govuk-colour("light-grey");
}

.govuk-navigation__container {
  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(1);
  }

  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.govuk-navigation__heading {
  @include govuk-font($size: 24, $weight: bold);
  margin: 0;
  padding: govuk-spacing(2) 0;
  color: $govuk-text-colour;
  flex-grow: 1;

  @include govuk-media-query($until: tablet) {
    padding: govuk-spacing(1) 0;
  }
}

.govuk-navigation__nav {
  @include nav-style(".govuk-navigation__nav--open");
}

.govuk-navigation__nav-list {
  @include govuk-font($size: 19, $weight: bold);
  margin: 0;
  padding: 0;
  list-style: none;

  @include govuk-media-query($from: tablet) {
    @include govuk-font($size: 19, $weight: bold);
  }
}

.govuk-navigation__nav-list-item {
  margin: govuk-spacing(3) 0 govuk-spacing(4);

  &.govuk-navigation__nav-list-item--active {
    padding-left: govuk-spacing(3);
    border-left: govuk-spacing(1) solid $govuk-link-colour;
  }

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    margin: 0 govuk-spacing(6) 0 0;
    border-bottom: govuk-spacing(1) solid transparent;

    &:last-of-type {
      margin: 0;
    }

    &.govuk-navigation__nav-list-item--active {
      padding-left: 0;
      border-bottom: govuk-spacing(1) solid $govuk-link-colour;
      border-left: 0;
    }
  }
}

.govuk-navigation__nav-list-item-link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-style-no-visited-state;

  &:not(:hover) {
    text-decoration: none;
  }

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    padding: govuk-spacing(2) 0 govuk-spacing(2);

    &:focus {
      box-shadow:
        0 (-(govuk-spacing(1))) $govuk-focus-colour,
        0 govuk-spacing(1) $govuk-focus-text-colour;
    }
  }
}
