@include govuk-exports("govuk/component/accordion") {
  $govuk-accordion-base-colour: govuk-colour("black");
  $govuk-accordion-hover-colour: govuk-colour("light-grey", $legacy: "grey-3");
  $govuk-accordion-icon-focus-colour: govuk-colour("yellow");
  $govuk-accordion-border-width: 3px;
  $govuk-accordion-bottom-border-width: 1px;
  $govuk-header-link-underline-thickness: 3px;

  .govuk-accordion {
    @include govuk-responsive-margin(6, "bottom");
  }

  // Borders between accordion sections
  .govuk-accordion__section {
    padding-top: govuk-spacing(3);
  }

  .govuk-accordion__section-heading {
    // Override browser defaults to ensure consistent element height
    // Font size is set in .govuk-accordion__section-button
    @include govuk-font(24);

    margin-top: 0; // Override browser default
    margin-bottom: 0; // Override browser default

    padding-top: govuk-spacing(3);
    padding-bottom: govuk-spacing(3);
  }

  // Buttons within the sections don’t need default styling
  .govuk-accordion__section-button {
    @include govuk-text-colour;
    @include govuk-font($size: 24, $weight: bold, $line-height: 1.25);
    display: block;
    margin-bottom: 0;
    padding-top: govuk-spacing(3);
  }

  // Remove the bottom margin from the last item inside the content
  .govuk-accordion__section-content > :last-child {
    margin-bottom: 0;
  }

  // JavaScript enabled
  .js-enabled {
    .govuk-accordion {
      // Border at the bottom of the whole accordion
      border-bottom: $govuk-accordion-bottom-border-width solid $govuk-border-colour;
    }

    // Borders between accordion sections
    .govuk-accordion__section {
      padding: 0;
    }

    .govuk-accordion__show-all {
      @include govuk-font($size: 19);
      position: relative;
      z-index: 1;

      margin: 0 0 govuk-spacing(2) 0;
      padding: 7px 2px 7px 0;

      border-width: 0;

      color: $govuk-link-colour;
      background: none;

      cursor: pointer;
      -webkit-appearance: none;

      // Remove default button focus outline in Firefox
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }

      &:hover {
        color: $govuk-accordion-base-colour;
        background: $govuk-accordion-hover-colour;

        .govuk-accordion__section-toggle-text {
          color: $govuk-accordion-base-colour;
        }

        .govuk-accordion-nav__chevron {
          border-color: $govuk-accordion-base-colour;
          background: $govuk-accordion-base-colour;
        }

        .govuk-accordion-nav__chevron:after {
          border-color: $govuk-accordion-hover-colour;
        }
      }

      &:focus {
        @include govuk-focused-text;

        .govuk-accordion-nav__chevron {
          background: $govuk-accordion-base-colour;
        }

        .govuk-accordion-nav__chevron:after {
          border-color: $govuk-accordion-icon-focus-colour;
        }
      }
    }

    // Removing padding from once JavaScript loaded
    .govuk-accordion__section-heading {
      padding: 0;
    }

    // Create Chervon icon aligned with text
    .govuk-accordion-nav__chevron {
      box-sizing: border-box;
      display: inline-block;

      position: relative;

      width: 20px;
      height: 20px;

      border: 1px solid;
      border-radius: 50%;

      vertical-align: text-top;

      // IE8 fallback of icon
      @include govuk-if-ie8 {
        display: inline-block;
        max-height: 20px;
        line-height: 1;
      }

      // Create inner Chervon arrow
      &:after {
        content: "";
        box-sizing: border-box;
        display: block;

        position: absolute;
        bottom: 5px;
        left: 6px;

        width: 6px;
        height: 6px;

        transform: rotate(-45deg);

        border-top: 2px solid $govuk-link-colour;
        border-right: 2px solid $govuk-link-colour;

        // IE8 fallback of icon with HTML symbol
        @include govuk-if-ie8 {
          content: "\25B2"; // "▲"

          top: 0;
          left: 0;

          border: 0;
        }
      }
    }

    // Rotate icon to create "Down" version
    .govuk-accordion-nav__chevron--down {
      transform: rotate(180deg);

      // IE8 fallback of arrow icon
      @include govuk-if-ie8 {
        &:after {
          content: "\25BC"; // "▼"
          transform: none;
        }
      }
    }

    .govuk-accordion__section-header {
      padding: 0;
    }

    // Buttons within the headers don’t need default styling
    .govuk-accordion__section-button {
      position: relative;

      width: 100%;

      padding: govuk-spacing(2) 0 govuk-spacing(3);

      border-top: $govuk-accordion-bottom-border-width solid $govuk-border-colour;
      border-width: $govuk-accordion-bottom-border-width 0 0 0;

      color: $govuk-text-colour;
      background: none;

      text-align: left;
      // Section headers have a pointer cursor as an additional affordance
      cursor: pointer;
      -webkit-appearance: none;

      &:active {
        color: $govuk-link-active-colour;
        background: none;
      }

      &:hover {
        color: $govuk-accordion-base-colour;
        background: $govuk-accordion-hover-colour;

        .govuk-accordion__section-toggle-text {
          color: $govuk-accordion-base-colour;
        }

        .govuk-accordion-nav__chevron {
          color: $govuk-accordion-base-colour;
          background: $govuk-accordion-base-colour;
        }

        .govuk-accordion-nav__chevron:after {
          border-color: $govuk-accordion-hover-colour;
        }
      }

      &:focus {
        // Remove default focus border around button as
        // styling is being applied to inner text elements that receive focus
        outline: 0;

        .govuk-accordion__section-heading-focus-wrapper,
        .govuk-accordion__section-summary,
        .govuk-accordion__section-toggle {
          @include govuk-focused-text;
        }

        .govuk-accordion-nav__chevron {
          border-color: $govuk-accordion-base-colour;
          background: $govuk-accordion-base-colour;
        }

        .govuk-accordion-nav__chevron:after {
          border-color: $govuk-accordion-icon-focus-colour;
        }
      }

      // Remove default button focus outline in Firefox
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }
    }

    // Add toggle link with Chevron icon on left.
    .govuk-accordion__section-toggle {
      @include govuk-font($size: 19, $line-height: 1);

      color: $govuk-link-colour;
    }

    // Hide body of expanded sections
    .govuk-accordion__section-content {
      display: none;
      @include govuk-responsive-padding(0, "top");
      @include govuk-responsive-padding(8, "bottom");
    }

    // Show the body of expanded sections
    .govuk-accordion__section--expanded .govuk-accordion__section-content {
      display: block;
    }

    // Space between icon and text,
    // Avoid placing on icon due to transform altering placement of margin
    .govuk-accordion__show-all-text,
    .govuk-accordion__section-toggle-text {
      margin-left: 5px;
    }
}
