@include govuk-exports("govuk/component/accordion") {
  $govuk-accordion-base-colour: govuk-colour("black");
  $govuk-accordion-hover-colour: govuk-colour("light-grey", $legacy: "grey-3");
  $govuk-accordion-icon-focus-colour: govuk-colour("yellow");
  $govuk-accordion-bottom-border-width: 1px;

  .govuk-accordion {
    @include govuk-responsive-margin(6, "bottom");
  }

  // Borders between accordion sections
  .govuk-accordion__section {
    padding-top: govuk-spacing(3);
  }

  .govuk-accordion__section-heading {
    // Override browser defaults to ensure consistent element height

    margin-top: 0; // Override browser default
    margin-bottom: 0; // Override browser default

    padding-top: govuk-spacing(3);
    padding-bottom: govuk-spacing(3);
  }

  // Buttons within the sections don’t need default styling
  .govuk-accordion__section-button {
    @include govuk-text-colour;

    display: block;
    margin-bottom: 0;
    padding-top: govuk-spacing(3);
  }

  .govuk-accordion__section-heading-focus-wrapper {
    @include govuk-font($size: 24, $weight: bold);
  }

  // Remove the bottom margin from the last item inside the content
  .govuk-accordion__section-content > :last-child {
    margin-bottom: 0;
  }

  // JavaScript enabled
  .js-enabled {
    .govuk-accordion {
      // Border at the bottom of the whole accordion
      border-bottom: $govuk-accordion-bottom-border-width solid $govuk-border-colour;
    }

    // Borders between accordion sections
    .govuk-accordion__section {
      padding-top: 0;
    }

    // Hide the body of collapsed sections
    .govuk-accordion__section-content {
      display: none;
      @include govuk-responsive-padding(8, "bottom");
    }

    // Show the body of expanded sections
    .govuk-accordion__section--expanded .govuk-accordion__section-content {
      display: block;
    }

    .govuk-accordion__show-all {
      @include govuk-font($size: 19);
      position: relative;
      z-index: 1;

      margin-bottom: 9px;
      padding: govuk-spacing(1) 2px govuk-spacing(1) 0;

      border-width: 0;

      color: $govuk-link-colour;
      background: none;

      cursor: pointer;
      -webkit-appearance: none;

      @include govuk-media-query ($from: desktop) {
        margin-bottom: 14px;
      }

      // Remove default button focus outline in Firefox
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }

      &:hover {
        color: $govuk-accordion-base-colour;
        background: $govuk-accordion-hover-colour;
        // The GOV.UK focus state adds a box-shadow to the top and bottom of the button. We add a
        // grey box-shadow on hover too, to make the height of the hover state match the height of
        // the focus state.
        box-shadow: 0 -2px $govuk-accordion-hover-colour, 0 4px $govuk-accordion-hover-colour;

        .govuk-accordion__section-toggle-text {
          color: $govuk-accordion-base-colour;
        }

        .govuk-accordion-nav__chevron {
          color: $govuk-accordion-base-colour;
          background: $govuk-accordion-base-colour;
        }

        .govuk-accordion-nav__chevron:after {
          color: $govuk-accordion-hover-colour;
        }
      }

      &:focus {
        @include govuk-focused-text;

        .govuk-accordion-nav__chevron {
          background: $govuk-accordion-base-colour;
        }

        .govuk-accordion-nav__chevron:after {
          color: $govuk-accordion-icon-focus-colour;
        }
      }
    }

    .govuk-accordion__section-heading {
      padding: 0;
    }

    // Create Chevron icon aligned with text
    .govuk-accordion-nav__chevron {
      box-sizing: border-box;
      display: inline-block;

      position: relative;

      // Set size using rems to make the icon scale with text if user resizes text in their browser
      width: govuk-px-to-rem(20px);
      height: govuk-px-to-rem(20px);

      border: govuk-px-to-rem(1px) solid;
      border-radius: 50%;

      vertical-align: middle;

      // IE8 fallback of icon
      @include govuk-if-ie8 {
        display: inline-block;
        max-height: 20px;
        line-height: 1;
      }

      // Create inner chevron arrow
      &:after {
        content: "";
        box-sizing: border-box;
        display: block;

        position: absolute;
        bottom: govuk-px-to-rem(5px);
        left: govuk-px-to-rem(6px);

        width: govuk-px-to-rem(6px);
        height: govuk-px-to-rem(6px);

        transform: rotate(-45deg);

        border-top: govuk-px-to-rem(2px) solid;
        border-right: govuk-px-to-rem(2px) solid;

        // IE8 fallback of icon with HTML symbol
        @include govuk-if-ie8 {
          content: "\25B2"; // "▲"
          position: relative;
          border: 0;
        }
      }
    }

    // Rotate icon to create "Down" version
    .govuk-accordion-nav__chevron--down {
      transform: rotate(180deg);

      // IE8 fallback of arrow icon
      @include govuk-if-ie8 {
        &:after {
          content: "\25BC"; // "▼"
          transform: none;
        }
      }
    }

    // Buttons within the headers don’t need default styling
    .govuk-accordion__section-button {
      width: 100%;

      padding: govuk-spacing(2) 0 govuk-spacing(3) 0;

      border: 0;

      border-top: $govuk-accordion-bottom-border-width solid $govuk-border-colour;

      // Visually separate the section from the one underneath when user changes colours in their
      // browser.
      border-bottom: govuk-spacing(2) solid transparent;

      color: $govuk-text-colour;
      background: none;

      text-align: left;
      // Section headers have a pointer cursor as an additional affordance
      cursor: pointer;
      -webkit-appearance: none;

      @include govuk-media-query ($from: tablet) {
        padding-bottom: govuk-spacing(2);
      }

      &:active {
        color: $govuk-link-active-colour;
        background: none;
      }

      &:hover {
        color: $govuk-accordion-base-colour;
        background: $govuk-accordion-hover-colour;

        .govuk-accordion__section-toggle-text {
          color: $govuk-accordion-base-colour;
        }

        .govuk-accordion-nav__chevron {
          color: $govuk-accordion-base-colour;
          background: $govuk-accordion-base-colour;
        }

        .govuk-accordion-nav__chevron:after {
          color: $govuk-accordion-hover-colour;
        }
      }

      &:focus {
        // Remove default focus border around button as
        // styling is being applied to inner text elements that receive focus
        outline: 0;

        .govuk-accordion__section-heading-focus-wrapper,
        .govuk-accordion__section-summary,
        .govuk-accordion__section-toggle {
          @include govuk-focused-text;
        }

        .govuk-accordion-nav__chevron {
          color: $govuk-accordion-base-colour;
          background: $govuk-accordion-base-colour;
        }

        .govuk-accordion-nav__chevron:after {
          color: $govuk-accordion-icon-focus-colour;
        }
      }

      // Remove default button focus outline in Firefox
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }
    }

    // Remove the transparent border when the section is expanded to make it clear that the heading
    // relates to the content below. Adjust padding to maintain the height of the element.
    // See https://github.com/alphagov/govuk-frontend/pull/2257#issuecomment-951920798
    .govuk-accordion__section--expanded .govuk-accordion__section-button {
      padding-bottom: govuk-spacing(4);
      border-bottom: 0;
    }

    // As Chevron icon is vertically aligned it overlaps with the focus state bottom border
    // Styling adds some spacing
    .govuk-accordion__section-button:focus .govuk-accordion__section-toggle {
      padding-bottom: 3px;

      @include govuk-media-query ($from: desktop) {
        padding-bottom: 2px;
      }
    }

    // 1. A fix to improve NVDA announcements.
    //
    // NVDA treats any form of line break as a different announcement landmark and will therefore announce it separately.
    // As you move through NVDA using arrow keys, this announces each element in turn (rather than a whole block) which could cause confusion for users
    // This line break can come from both the semantics via br tags or two block-level tags, or via CSS using display: block or display: table
    // In this case it was the span(s) within the button being styled using display: block.
    // This fix forces a visual break but bypasses NVDA's line break interpreter, thus causing the accordion title and the inner Content to be read as a single sentence
    //
    // Consider NVDA output before:
    // clickable  heading    level 2  button  collapsed    [Heading copy],Show
    // heading    level 2  button  collapsed    this section
    //
    // After:
    // clickable  heading    level 2  button  collapsed    [Heading copy] , Showthis section
    //
    // Additional details and testing videos can be found here:
    // (https://github.com/alphagov/govuk-design-system/issues/1706#issuecomment-862451506)
    //
    // 2. Limit the width of the focus state.
    //
    // This fix also has the unrelated but desirable effect of limiting the width of the focus
    // state to only span the width of the contained text, rather than the width of the whole
    // component. This impacts section-toggle, section-heading-focus-wrapper and section-summary.
    .govuk-accordion__section-toggle,
    .govuk-accordion__section-heading-focus-wrapper,
    .govuk-accordion__section-summary {
      display: inline;

      &:before {
        content: "";
        display: block;
      }
    }

    // Add toggle link with Chevron icon on left.
    .govuk-accordion__section-toggle {
      @include govuk-font($size: 19);
      color: $govuk-link-colour;
    }

    // The NVDA fix means a display:inline element cannot receive box model spacing styling such as margin.
    // As a result this is applied to the pseudo element that has a display:block property to maintain Design
    .govuk-accordion__section-summary:before,
    .govuk-accordion__section-toggle:before {
      margin-top: 13px;
    }

    // Space between icon and text,
    // Avoid placing on icon due to transform altering placement of margin
    .govuk-accordion__show-all-text,
    .govuk-accordion__section-toggle-text {
      margin-left: govuk-spacing(1);
      vertical-align: middle;
    }

    // High contrast / user colour adjustments
    // When adjustments are active the inner button content is not visible.
    // On hover add underline to toggle text to add extra affordance as icon colour changes on pseudo element are not respected.
    // On focus add transparency to background so content is visible
    @media screen and (forced-colors: active), (-ms-high-contrast: active) {
      .govuk-accordion__section-button:hover,
      .govuk-accordion__show-all:hover {
        background: transparent;

        .govuk-accordion-nav__chevron {
          background-color: transparent;
        }

        .govuk-accordion__show-all-text,
        .govuk-accordion__section-toggle {
          text-decoration: underline;
          text-decoration-thickness: 3px;
        }
      }

      .govuk-accordion__show-all:focus,
      .govuk-accordion__section-button:focus {
        .govuk-accordion__section-heading-focus-wrapper,
        .govuk-accordion__section-summary,
        .govuk-accordion__section-toggle,
        .govuk-accordion-nav__chevron {
          background: transparent;
          background-color: transparent;
        }
      }
    }

    // For devices that can't hover such as touch devices,
    // remove hover state as it can be stuck in that state (iOS).
    @media (hover: none) {
      .govuk-accordion__section-header:hover {
        border-top-color: $govuk-border-colour;

        box-shadow: inset 0 3px 0 0 $govuk-link-colour;

        .govuk-accordion__section-button {
          border-top-color: $govuk-border-colour;
        }
      }
    }
  }
}
