@include govuk-exports("govuk/component/accordion") {

  $govuk-accordion-link-colour: $govuk-secondary-text-colour;
  $govuk-accordion-link-hover-colour: $govuk-text-colour;
  $govuk-accordion-hover-colour: govuk-colour("light-grey", $legacy: "grey-3");
  $govuk-accordion-icon-border-colour: $govuk-secondary-text-colour;

  // Some things stolen from button component
  $govuk-button-shadow-colour: $govuk-border-colour;
  $button-shadow-size: $govuk-border-width-form-element;

  // Some things stolen from back link component
  $chevron-size: 7px;
  $chevron-border-width: 2px;
  $chevron-border-colour: $govuk-secondary-text-colour;

  .govuk-accordion {
    @include govuk-responsive-margin(6, "bottom");
  }

  .govuk-accordion__section-header {
    @include govuk-responsive-padding(5);
  }

  .govuk-accordion__section-heading {
    // Override browser defaults to ensure consistent element height
    // Font size is set in .govuk-accordion__section-button
    @include govuk-font(24);

    margin-top: 0; // Override browser default
    margin-bottom: 0; // Override browser default
  }

  // Buttons within the sections don’t need default styling
  .govuk-accordion__section-button {
    @include govuk-font($size: 24, $weight: bold);
    display: inline-block;
    margin-bottom: 0;
  }

  .govuk-accordion__section-summary {
    margin-top: govuk-spacing(1);
    margin-bottom: 0;
  }

  // Remove the bottom margin from the last item inside the content
  .govuk-accordion__section-content > :last-child {
    margin-bottom: 0;
  }

  // JavaScript enabled
  .js-enabled {

    // Borders between accordion sections
    .govuk-accordion__section {
      margin: 0 0 govuk-spacing(2);
      border: 1px solid $govuk-border-colour;
      box-shadow: 0 $button-shadow-size 0 $govuk-button-shadow-colour;
    }

    // Hide the body of collapsed sections
    .govuk-accordion__section-content {
      display: none;
    }

    // Show the body of expanded sections
    .govuk-accordion__section--expanded .govuk-accordion__section-content {
      @include govuk-responsive-padding(5);
      @include govuk-responsive-padding(1, "top");
      display: block;
    }

    // This is styled to look like a button
    .govuk-accordion__open-all {
      @include govuk-font($size: 19, $line-height: 19px);
      box-sizing: border-box;
      position: relative;
      margin: 0 0 govuk-spacing(2);
      padding: (govuk-spacing(3) - $govuk-border-width-form-element) govuk-spacing(3) (govuk-spacing(3) - $govuk-border-width-form-element - ($button-shadow-size / 2));
      border: 1px solid $govuk-border-colour;
      border-radius: 0;
      color: $govuk-accordion-link-colour;
      background-color: transparent;
      box-shadow: 0 $button-shadow-size 0 $govuk-button-shadow-colour;
      text-align: center;
      vertical-align: top;
      cursor: pointer;
      -webkit-appearance: none;

      @include govuk-media-query($from: tablet) {
        padding: (govuk-spacing(3) - $govuk-border-width-form-element) govuk-spacing(5) (govuk-spacing(3) - $govuk-border-width-form-element - ($button-shadow-size / 2));
      }

      // Ensure that any global link styles are overridden
      &:link,
      &:visited,
      &:active,
      &:hover {
        outline: 0;
        color: $govuk-text-colour;
        text-decoration: none;
      }

      &:hover:not(:focus) {
        background-color: $govuk-accordion-hover-colour;
      }

      &:active {
        // Bump the button down so it looks like its being pressed in
        top: $button-shadow-size;

        @include govuk-if-ie8 {
          border-bottom-width: 0;
        }
      }

      &:focus {
        border-color: $govuk-text-colour;
        color: $govuk-text-colour;
        @include govuk-not-ie8 {
          outline: $govuk-focus-width solid transparent;
        }
        @include govuk-if-ie8 {
          color: $govuk-focus-text-colour;
        }

        background-color: $govuk-focus-colour;
        box-shadow: 0 2px 0 $govuk-focus-text-colour;

        .govuk-accordion__open-all--show:before,
        .govuk-accordion__open-all--hide:before {
          border: 1px solid $govuk-accordion-link-hover-colour;
        }

        .govuk-accordion__open-all--show:after,
        .govuk-accordion__open-all--hide:after {
          border-color: $govuk-accordion-link-hover-colour;
        }
      }

      // Remove default button focus outline in Firefox
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }
    }

    // These probably don't need to be separate classes tbh
    .govuk-accordion__open-all--show,
    .govuk-accordion__open-all--hide {
      display: block;
      margin: 0 15px 0 25px;
      text-align: left;
    }

    // Should probably separate out all the code for the chevron icons so it's not repeated
    .govuk-accordion__open-all--show:before,
    .govuk-accordion__open-all--hide:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 13px;
      left: 15px;
      width: 19px;
      height: 19px;
      border: 1px solid $govuk-accordion-icon-border-colour;
      border-radius: 50%;

      @include govuk-media-query($from: tablet) {
        left: 25px;
      }
    }

    .govuk-accordion__open-all--show:after,
    .govuk-accordion__open-all--hide:after {
      content: "";
      position: absolute;
      top: 16px;
      left: 20px;
      width: $chevron-size;
      height: $chevron-size;
      margin-right: 5px;
      border: solid;
      border-width: $chevron-border-width $chevron-border-width 0 0;
      border-color: $chevron-border-colour;
      // Fall back to a less than sign for IE8
      @include govuk-if-ie8 {
        content: "\003c"; // Less than sign (<)
        width: auto;
        height: auto;
        border: 0;
        color: $chevron-border-colour;
        // IE8 doesn't seem to like rendering pseudo-elements using @font-faces,
        // so fall back to using another sans-serif font to render the chevron.
        font-family: Arial, sans-serif;
      }

      @include govuk-media-query($from: tablet) {
        left: 30px;
      }
    }

    .govuk-accordion__open-all--show:after {
      transform: rotate(135deg);
    }

    .govuk-accordion__open-all--hide:after {
      top: 20px;
      transform: rotate(315deg);
    }

    // Section headers have a pointer cursor as an additional affordance
    .govuk-accordion__section-header {
      position: relative;
      cursor: pointer;
    }

    .govuk-accordion__section-header:hover:not(:focus) {
      background-color: $govuk-accordion-hover-colour;
    }

    // For devices that can't hover such as touch devices,
    // remove hover state as it can be stuck in that state (iOS).
    @media (hover: none) {
      .govuk-accordion__section-header:hover {
        border-top-color: $govuk-accordion-link-colour;
        box-shadow: inset 0 1px 0 0 $govuk-accordion-link-colour;
      }
    }

    // Buttons within the headers don’t need default styling
    .govuk-accordion__section-button {
      @include govuk-typography-common;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      padding: 0;
      border-width: 0;
      color: inherit;
      background: none;
      text-align: left;
      cursor: pointer;
      -webkit-appearance: none;

      &:focus {
        @include govuk-focused-text;

        .govuk-accordion__toggle-link {
          color: $govuk-text-colour;
        }

        .govuk-accordion__toggle-link:before {
          border: 1px solid $govuk-accordion-link-hover-colour;
        }

        .govuk-accordion__toggle-link:after {
          border-color: $govuk-accordion-link-hover-colour;
        }
      }

      // Remove default button focus outline in Firefox
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }
    }

    // Extend the touch area of the button to span the section header
    .govuk-accordion__section-button:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    // For devices that can't hover such as touch devices,
    // remove hover state as it can be stuck in that state (iOS).
    @media (hover: none) {
      .govuk-accordion__section-button:hover {
        text-decoration: none;
      }
    }

    .govuk-accordion__controls {
      text-align: left;
    }

    // Show & hide controls

    .govuk-accordion__toggle {
      display: block;
      position: relative;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .govuk-accordion__toggle-link {
      @include govuk-font($size: 19, $line-height: 1);
      display: block;
      margin-left: 25px;
      color: $govuk-accordion-link-colour;
      text-transform: capitalize;
    }

    .govuk-accordion__toggle-link:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 19px;
      height: 19px;
      border: 1px solid $govuk-accordion-icon-border-colour;
      border-radius: 50%;
    }

    .govuk-accordion__toggle-link:after {
      content: "";
      position: absolute;
      top: 3px;
      left: 5px;
      width: $chevron-size;
      height: $chevron-size;
      margin-right: 5px;
      transform: rotate(135deg);
      border: solid;
      border-width: $chevron-border-width $chevron-border-width 0 0;
      border-color: $chevron-border-colour;
      // Fall back to a less than sign for IE8
      @include govuk-if-ie8 {
        content: "\003c"; // Less than sign (<)
        width: auto;
        height: auto;
        border: 0;
        color: $chevron-border-colour;
        // IE8 doesn't seem to like rendering pseudo-elements using @font-faces,
        // so fall back to using another sans-serif font to render the chevron.
        font-family: Arial, sans-serif;
      }
    }

    .govuk-accordion__section--expanded {
      border-left: 1px solid $govuk-text-colour;
      box-shadow: inset 4px 0 0 0 $govuk-text-colour;

      .govuk-accordion__section-header:hover:not(:focus) {
        box-shadow: inset 4px 0 0 0 $govuk-text-colour;
      }

      .govuk-accordion__toggle-link:after {
        top: 7px;
        transform: rotate(315deg);
      }
    }
  }
}
