<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Test Boilerplate</title>
    <link rel="stylesheet" href="/public/app.css">
  </head>
  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <h1 class="govuk-heading-l">Test boilerplate</h1>
    <p class="govuk-body">
      Used for injecting rendered components from tests
      and test specific configurations
    </p>
    <div id="slot"></div>
    <script src="/public/all.js"></script>
	</body>
</html>
