@import "../../settings/all";
@import "../../tools/all";
@import "../../helpers/all";


@include govuk-exports("govuk/component/accordion") {

  .govuk-accordion {
    @include govuk-responsive-margin(6, "bottom");
  }

  .govuk-accordion__controls {
    text-align: right;
  }

  // This is styled to look like a link not a button
  .govuk-accordion__expand-all {
    @include govuk-font($size: 16);
    @include govuk-link-common;
    display: inline;
    border-width: 0;
    color: $govuk-link-colour;
    background: transparent;
    cursor: pointer;

    &:focus {
      background-color: transparent;
    }
  }

  // Hide the body of collapsed sections
  .govuk-accordion.with-js .govuk-accordion__section .govuk-accordion__panel {
    display: none;
    @include govuk-responsive-padding(3, "top");
    @include govuk-responsive-padding(3, "bottom");
  }

  // Remove the bottom margin from the last item inside the panel
  .govuk-accordion.with-js .govuk-accordion__section .govuk-accordion__panel > :last-child {
    margin-bottom: 0;
  }

  // Show the body of expanded sections
  .govuk-accordion.with-js .govuk-accordion__section--expanded .govuk-accordion__panel {
    display: block;
  }

  // Border at the bottom of the whole accordtion
  .govuk-accordion.with-js {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $govuk-border-colour;
  }

  // Borders between accordion sections
  .govuk-accordion.with-js .govuk-accordion__section {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $govuk-border-colour;
  }

  // Section headers have a pointer cursor as an additional affordance
  .govuk-accordion.with-js .govuk-accordion__header {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: govuk-spacing(3);
    cursor: pointer;
  }

  // Buttons within the headers don’t need default styling
  .govuk-accordion.with-js .govuk-accordion__header button {
    @include govuk-link-common;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: govuk-spacing(3);
    // Safe area on the right to avoid clashing with icon
    padding-right: 40px;
    padding-bottom: 0;

    padding-left: 0;
    border-width: 0;
    background-color: transparent;
    text-align: left;

    &:focus {
      outline: none;
      background-color: transparent;
    }
  }

  // Extend the touch area of the button to span the section header
  .govuk-accordion.with-js .govuk-accordion__header button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .govuk-accordion__heading {
    margin-top: 0; // Override browser default
    margin-bottom: 0; // Override browser default
  }

  // Headings in section headers have link colours as an additional affodance
  .govuk-accordion.with-js .govuk-heading-m {
    margin-bottom: govuk-spacing(2);
    color: $govuk-link-colour;
  }

  // Body paragraphs in section headers don’t need as much margin below
  .govuk-accordion.with-js .govuk-body {
    margin-bottom: govuk-spacing(0);
  }

  // Section headers have a grey background on hover as an additional affodance
  .govuk-accordion.with-js .govuk-accordion__header:hover {
    background-color: govuk-colour("grey-4");
  }

  // Setting focus styles on header so that summary that is not part of the button is included in focus
  .govuk-accordion.with-js .govuk-accordion__header--focused {
    // These replicate @mixin govuk-focusable (the mixin can't be used as the header doesn't get the focus)
    outline: $govuk-focus-width solid $govuk-focus-colour;
    outline-offset: 0;
  }

  .govuk-accordion__summary {
    margin-top: govuk-spacing(2);
  }

  // Display an icon to the right of each header to indicate open/closed status,
  // and as an additional affordance.
  //
  // Note: the SVG icon contains both a vertical bar and a horizontal bar, to make a
  // '+' icon. The vertical bar is hidden when expanded to display a '-' icon.
  .govuk-accordion.with-js .govuk-accordion--icon {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
  }

  .govuk-accordion.with-js .govuk-accordion--icon-vertical-bar,
  .govuk-accordion.with-js .govuk-accordion--icon-horizontal-bar {
    fill: govuk-colour("black");
  }

  // Vertical bar should be hidden when section is open, to display a '-' icon
  .govuk-accordion.with-js .govuk-accordion__section--expanded .govuk-accordion--icon-vertical-bar {
    display: none;
  }

}
