{% set id = params.id %}

<div class="govuk-accordion" data-module="accordion">

  {% for item in params.items %}
    <div class="govuk-accordion__section {% if item.expanded %}govuk-accordion__section--expanded" {% endif %}">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-heading-m" id="{{ id }}-heading-{{ loop.index0 }}">{{ item.label }}</h2>
      </div>
      <div class="govuk-accordion__section-body" aria-labelledby="{{ id }}-heading-{{ loop.index0 }}">
        {{ item.content.html | safe if item.content.html else item.content.text }}
      </div>
    </div>
  {% endfor %}

</div>
