@import "../../globals/scss/common";

@include exports("link") {

  .govuk-c-link {
    @include govuk-font-regular-16;

    line-height: 1.25;

    text-decoration: underline;
  }

  .govuk-c-link--back {
    display: inline-block;
    position: relative;
    margin-top: $govuk-spacing-scale-3;
    margin-bottom: $govuk-spacing-scale-3;
    padding-left: 14px;
    border-bottom: 1px solid $govuk-black;
    color: $govuk-black;
    background: file-url("icon-arrow-left.png") no-repeat 0 4px;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $govuk-black;
    }

    // Back arrow - left pointing black arrow
    &::before {
      content: "";
      display: block;

      position: absolute;
      top: 50%;
      left: 0;

      width: 0;
      height: 0;

      margin-top: -6px;

      border-top: $govuk-spacing-scale-1 solid transparent;
      border-right: 6px solid $govuk-black;
      border-bottom: $govuk-spacing-scale-1 solid transparent;
    }
  }

  .govuk-c-link--muted {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $govuk-grey-1;
    }

    &:focus {
      color: $govuk-black;
    }
  }

  .govuk-c-link--download {
    @include govuk-font-bold;
    display: block;
    min-height: 40px;
    padding: 0 0 0 $govuk-spacing-scale-7;
    background: file-url("icon-file-download.png") no-repeat scroll 0 0;
  }

  .govuk-c-link--download a:focus {
    color: $govuk-black;
  }
}
