{% extends "component.njk" %}
{% from "list/macro.njk" import govukList %}
{% from "link/macro.njk" import govukLink %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}
{% block componentDescription %}
Link component, with four variants:

{{ govukList(
  classes='',
  [
    {
      text: 'back link - a black underlined link with a left pointing arrow'
    },
    {
      text: 'muted link - used for the “anything wrong with this page?” links'
    },
    {
      text: 'download link - with download icon'
    },
    {
      text: 'skip link - skip to the main page content'
    }
  ],
  options = {
    'isBullet': 'true'
  }
) }}
{% endblock %}

{% block defaultAndVariants %}
{% for item in componentData.variants %}
{% if item.name == 'default' %}
{% set itemName = 'Component default' %}
{% set previewLink = "/components/" + componentName + '/' + "/preview" %}
{% set previewText = 'Preview the ' + componentName + ' component' %}
{% else %}
{% set itemName = componentName + '--' + item.name %}
{% set previewLink = "/components/" + componentName + '/' + componentName + '--' + item.name  + "/preview" %}
{% set previewText = 'Preview the ' + itemName + ' variant' %}
{% endif %}
<h3 class="govuk-u-bold-19">{{ itemName  | capitalize }}</h3>
{% if not isReadme %}
{{ govukLink(item.data) }}
{% endif %}
<p class="govuk-u-copy-19">
  <a href="{% if isReadme %}http://govuk-frontend-review.herokuapp.com{% endif %}{{ previewLink }}">{{previewText}}</a>
</p>
<h4 class="govuk-u-copy-19">Markup</h4>
{% set componentHtml %}
{{- govukLink(item.data) -}}
{% endset %}
<pre><code>{{- componentHtml | e -}}</code></pre>
<h4 class="govuk-u-copy-19">Macro</h4>
<pre><code>{% raw %}{{ govukLink({% endraw %}{{ item.data | dump }}{% raw %})}}{% endraw %}</code></pre>
{% endfor %}
{% endblock %}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}

{{ govukTable({
  classes: '',
  options: {
    'isFirstCellHeader': 'true'
  },
  data: {
    'head' : [
      {
        text: 'Name'
      },
      {
        text: 'Type'
      },
      {
        text: 'Required'
      },
      {
        text: 'Description'
      }
    ],
    'rows' : [
      [
        {
          text: 'href'
        },
        {
          text: 'string'
        },
        {
          text:'Yes'
        },
        {
          text: 'The value of the link href attribute'
        }
      ],
      [
        {
          text: 'content'
        },
        {
          text: 'string'
        },
        {
          text:'Yes'
        },
        {
          text: 'The link text'
        }
      ],
      [
        {
          text: 'classes'
        },
        {
          text: 'string'
        },
        {
          text:'No'
        },
        {
          text: 'The available modifiers for the link type: --back, --muted, --download and --skip'
        }
      ]
    ]
  }
})}}
{% endblock %}
