{% extends "component.njk" %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}
{% block componentDescription %}
{% from "list/macro.njk" import govukList %}

Link component, with four variants:

{{ govukList(
  classes='',
  [
    {
      text: 'back link - a black underlined link with a left pointing arrow'
    },
    {
      text: 'muted link - used for the “anything wrong with this page?” links'
    },
    {
      text: 'download link - with download icon'
    },
    {
      text: 'skip link - skip to the main page content'
    }
  ],
  options = {
    'isBullet': 'true'
  }
) }}
{% endblock %}
{# componentExample #}
{# componentNunjucks #}
{# componentHtml #}

{# override link to design system here if it's different to base url + componentName #}
{# {% set componentGuidanceLink = 'new link here' %} #}

{% block componentArguments %}
<!-- TODO: Use the table macro here and pass it component argument data -->
| Name      | Type    | Default | Required  | Description
|---        |---      |---      |---        |---
| linkHref  | string  |         | Yes       | The value of the link href attribute
| linkText  | string  |         | Yes       | The link text
| classes   | string  |         | Yes       | The modifier required for the link type
                                            | --back
                                            | --muted
                                            | --download
                                            | --skip
{% endblock %}
