{% if isReadme %}
  {% set parentTemplate = "readme.njk"  %}
{% else %}
  {% set parentTemplate = "component.njk"  %}
{% endif %}

{% extends parentTemplate %}

{# Commented out blocks below inherit from views/component.njk #}

{# componentName #}

{% block componentDescription %}
  A single-line text field.
{% endblock %}

{# examples #}

{# override link to design system here if it's different to base url + componentName #}
{% set componentGuidanceLink = 'https://govuk-design-system-production.cloudapps.digital/components/text-input' %}

{% block componentArguments %}
{{ govukTable({
  'firstCellIsHeader': true,
  'head' : [
    {
      text: 'Name'
    },
    {
      text: 'Type'
    },
    {
      text: 'Required'
    },
    {
      text: 'Description'
    }
  ],
  'rows' : [
    [
      {
        text: 'classes'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional additional classes'
      }
    ],
    [
      {
        text: 'id'
      },
      {
        text: 'string'
      },
      {
        text: 'Yes'
      },
      {
        text: 'The id of the input'
      }
    ],
    [
      {
        text: 'name'
      },
      {
        text: 'string'
      },
      {
        text: 'Yes'
      },
      {
        text: 'The name of the input, which is submitted with the form data'
      }
    ],
    [
      {
        text: 'type'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Type of input control to render. Defaults to "text"'
      }
    ],
    [
      {
        text: 'label'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Arguments for the label component. See label component.'
      }
    ],
    [
      {
        text: 'errorMessage'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional error message'
      }
    ],
    [
      {
        text: 'attributes'
      },
      {
        text: 'object'
      },
      {
        text: 'No'
      },
      {
        text: 'Any extra HTML attributes (for example data attributes) to add to the input component.'
      }
    ],
    [
      {
        text: 'value'
      },
      {
        text: 'string'
      },
      {
        text: 'No'
      },
      {
        text: 'Optional initial value of the input'
      }
    ]
  ]
})}}
{% endblock %}
