<!DOCTYPE html>
<html lang="en">
<head>
  <title>GOV.UK Frontend</title>
  <link rel="stylesheet" href="/css/govuk-frontend0.0.9-alpha.min.css">
  <!--[if IE 8]>
  <link rel="stylesheet" href="/css/govuk-frontend-oldie0.0.9-alpha.min.css">
  <![endif]-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css">
</head>
<body class="language-markup govuk-c-site-width-container">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <div class="govuk-c-date">
  <div class="govuk-c-date__item govuk-c-date__item--day">
    <label class="govuk-c-label govuk-c-date__label" for="dob-day">Day</label>
    <input class="govuk-c-input govuk-c-date__input" id="dob-day" name="dob-day" type="number">
  </div>
  <div class="govuk-c-date__item govuk-c-date__item--month">
    <label class="govuk-c-label govuk-c-date__label" for="dob-month">Month</label>
    <input class="govuk-c-input govuk-c-date__input" id="dob-month" name="dob-month" type="number">
  </div>
  <div class="govuk-c-date__item govuk-c-date__item--year">
    <label class="govuk-c-label govuk-c-date__label" for="dob-year">Year</label>
    <input class="govuk-c-input govuk-c-date__input" id="dob-year" name="dob-year" type="number">
  </div>
</div>

<legend>
  <span class="govuk-c-error-message">Error message goes here</span>
</legend>
<div class="govuk-c-date">
  <div class="govuk-c-date__item govuk-c-date__item--day">
    <label class="govuk-c-label govuk-c-date__label" for="dob-day-1">Day</label>
    <input class="govuk-c-input govuk-c-date__input govuk-c-input--error" id="dob-day-1" name="dob-day" type="number">
  </div>
  <div class="govuk-c-date__item govuk-c-date__item--month">
    <label class="govuk-c-label govuk-c-date__label" for="dob-month-1">Month</label>
    <input class="govuk-c-input govuk-c-date__input" id="dob-month-1" name="dob-month" type="number">
  </div>
  <div class="govuk-c-date__item govuk-c-date__item--year">
    <label class="govuk-c-label govuk-c-date__label" for="dob-year-1">Year</label>
    <input class="govuk-c-input govuk-c-date__input" id="dob-year-1" name="dob-year" type="number">
  </div>
</div>

  <script src="/js/govuk-frontend0.0.9-alpha.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
</body>
</html>
