{% extends "template.njk" %}

{% block head %}

  {% if legacy %}
    <!--[if !IE 8]><!-->
      <link rel="stylesheet" href="/vendor/govuk_template/stylesheets/govuk-template.css">
    <!--<![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" href="/vendor/govuk_template/govuk-template-ie8.css">
    <![endif]-->
    <link rel="stylesheet" media="print" href="/vendor/govuk_template/stylesheets/govuk-template-print.css">
    <link rel="stylesheet" media="all" href="/vendor/govuk_template/stylesheets/fonts.css"/>
    <!--[if !IE 8]><!-->
      <link rel="stylesheet" href="/public/app-legacy.css">
    <!--<![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" href="/public/app-legacy-ie8.css">
    <![endif]-->
  {% else %}
    <!--[if !IE 8]><!-->
      <link rel="stylesheet" href="/public/app.css">
    <!--<![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" href="/public/app-ie8.css">
    <![endif]-->
  {% endif %}

  <!--[if !IE 8]><!-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css" integrity="sha256-vtR0hSWRc3Tb26iuN2oZHt3KRUomwTufNIf5/4oeCyg=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js" integrity="sha256-Zb9yKJ/cfs+jG/zIOFL0QEuXr2CDKF7FR5YBJY3No+c=" crossorigin="anonymous"></script>
  <!--<![endif]-->
  <!--[if lt IE 9]>
    <script src="/vendor/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  {% block styles %}{% endblock %}
{% endblock %}

{% block header %}
  {% include "../partials/banner.njk" %}
  {{ super() }}
{% endblock %}

{% block bodyEnd %}

  {% if legacy %}
    <script src="/vendor/govuk_template/javascripts/govuk-template.js"></script>

    {# Frontend Toolkit dependency #}
    <script src="/vendor/jquery/jquery.min.js"></script>
    {# Frontend Toolkit modules #}
    <script src="/vendor/govuk_frontend_toolkit/details.polyfill.js"></script>
    <script src="/vendor/govuk_frontend_toolkit/modules.js"></script>
    <script src="/vendor/govuk_frontend_toolkit/modules/auto-track-event.js"></script>
    <script src="/vendor/govuk_frontend_toolkit/primary-links.js"></script>
    <script src="/vendor/govuk_frontend_toolkit/shim-links-with-button-role.js"></script>
    <script src="/vendor/govuk_frontend_toolkit/show-hide-content.js"></script>
    <script src="/vendor/govuk_frontend_toolkit/stick-at-top-when-scrolling.js"></script>
    <script src="/vendor/govuk_frontend_toolkit/stop-scrolling-at-footer.js"></script>

    <script>
      (function() {
        // Instantiate Frontend Toolkit modules
        // Ordering follows what we do in test manifest: /spec/manifest.js
        GOVUK.details.init()
        GOVUK.modules.start()
        GOVUK.primaryLinks.init()

        var showHideContent = new GOVUK.ShowHideContent()
        showHideContent.init()

        GOVUK.stickAtTopWhenScrolling.init()
        GOVUK.shimLinksWithButtonRole.init()
      })()
     </script>
  {% endif %}

  <script src="/public/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
