{% from "breadcrumbs/macro.njk" import moalandBreadcrumbs %}
{% from "macros/showExamples.njk" import showExamples %}

{% extends "full-width.njk" %}

{% set bodyClasses %}
  language-markup
{% endset %}

{% set componentName = componentPath %}
{% set componentNameHuman = componentName | replace("-", " ") %}

{% set htmlMarkup %}
  {% include componentName +"/"+ componentName +".njk" ignore missing %}
{% endset %}

{% block beforeContent %}
  {{ moalandBreadcrumbs({
    "items": [
    { text: 'GOV.UK Frontend', href: '/' + legacyQuery },
    { text: componentNameHuman | capitalize }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="moaland-width-container">
    <h1 class="moaland-heading-xl">
      {% block componentName %}
        {{ componentNameHuman | capitalize }}
      {% endblock %}
    </h1>
  </div>

  {% block examples %}
    {{ showExamples(componentName, componentNameHuman, componentData,legacyQuery) }}
  {% endblock %}
{% endblock %}
