{% extends previewLayout + ".njk" %}

{% set bodyClasses %}
 {{ bodyClasses }}
{% endset %}

{% block skipLink %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="app-whitespace-highlight">
    {{ componentView | safe }}
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.15/iframeResizer.contentWindow.min.js" integrity="sha256-4pHiLAYReL+uT1xGu9u8Afg9jkaV0vrdu/Dd0ax9Ak8=" crossorigin="anonymous"></script>
{% endblock %}
