{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "showExamples.njk" import showExamples %}

{% extends "full-width.njk" %}

{% set bodyClasses %}
  language-markup
{% endset %}

{% set componentName = componentPath %}
{% set componentNameHuman = componentName | replace("-", " ") | capitalize %}
{% set componentGuidanceLink = componentGuidanceLink | default('https://design-system.service.gov.uk/components/' + componentName)%}
{% set htmlMarkup %}
  {% include componentName +"/"+ componentName +".njk" ignore missing %}
{% endset %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'GOV.UK Frontend', href: '/' },
    { text: componentNameHuman }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-xl">
      {% block componentName %}
        {{ componentNameHuman }}
      {% endblock %}
    </h1>
  </div>

  {% block examples %}
    {{ showExamples(componentName, componentData) }}
  {% endblock %}
{% endblock %}
