{% set componentName = componentPath %}
{% extends "full-width.njk" %}
{% block bodyClasses %}
language-markup
{% endblock %}
{% block content %}

{% set componentName = componentPath %}
{% set componentNameHuman = componentName | replace("-", " ") | capitalize %}
{% set componentGuidanceLink = componentGuidanceLink | default('https://govuk-design-system-production.cloudapps.digital/components/' + componentName)%}
{% set htmlMarkup %}
  {% include componentName +"/"+ componentName +".njk" ignore missing %}
{% endset %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class="govuk-width-container">
{{ govukBreadcrumbs({
  "items": [
    { text: 'GOV.UK Frontend', href: '/' },
    { text: componentNameHuman }
  ]
}) }}
</div>

<div class="govuk-main-wrapper">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-xl">
    {% block componentName %}
    {{ componentNameHuman }}
    {% endblock %}
    </h1>
  </div>
</div>

  {% from "showExamples.njk" import showExamples %}
  {% block examples %}
  {{ showExamples(componentName, componentData) }}
  {% endblock %}

{% endblock %}
