{% extends "layout.njk" %}

{% block content %}
  <div class="moaland-content">
    <h1 class="moaland-heading-l">{{ error }}</h1>
    <p class="moaland-body">{{ message }}</p>
  </div>
{% endblock %}
