{% extends "layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">
    GOV.UK Frontend
  </h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Components</h2>

      <ul class="govuk-list">
        <li><a href="/components/all" class="govuk-link">All</a></li>
        {% for componentName in componentsDirectory | sort %}
          <li><a href="/components/{{ componentName }}" class="govuk-link">{{ componentName | replace("-", " ") | capitalize }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Examples</h2>

      <ul class="govuk-list">
      {% for exampleName in examplesDirectory | sort %}
        <li><a href="/examples/{{ exampleName }}" class="govuk-link">{{ exampleName | replace("-", " ") | capitalize }}</a></li>
      {% endfor %}
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Full page examples</h2>

      <p class="govuk-body">
        Examples used for testing components in context only.
        <br>
        See <a href="https://design-system.service.gov.uk/">the GOV.UK Design System</a> for recommended guidance.
      </p>

      <ul class="govuk-list">
      {% for exampleName in fullPageExamplesDirectory | sort %}
        <li><a href="/full-page-examples/{{ exampleName }}" class="govuk-link">{{ exampleName | replace("-", " ") | capitalize }}</a></li>
      {% endfor %}
      </ul>

      <h2 class="govuk-heading-m">Misc</h2>

      <ul class="govuk-list">
        <li><a href="/docs" class="govuk-link">Sass Documentation</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
