{% extends "layout.njk" %}

{% block content %}
  <div class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">
      GOV.UK Frontend
    </h1>

    <div class="govuk-grid">

      <div class="govuk-grid__item govuk-grid__item--one-half">
        <h2 class="govuk-heading-m">Components</h2>

        <ul class="govuk-list">
        {% for componentName in componentsDirectory | sort %}
          <li><a href="/components/{{ componentName }}" class="govuk-link">{{ componentName | replace("-", " ") | capitalize }}</a></li>
        {% endfor %}
        </ul>
      </div>

      <div class="govuk-grid__item govuk-grid__item--one-half">
        <h2 class="govuk-heading-m">Examples</h2>

        <ul class="govuk-list">
        {% for exampleName in examplesDirectory | sort %}
          <li><a href="/examples/{{ exampleName }}" class="govuk-link">{{ exampleName | replace("-", " ") | capitalize }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
