{% extends "layout.njk" %}

{% from "all.njk" import backLink as govukBackLink, warningText as govukWarningText %}
{% import "all.njk" as govuk %}

{% block content %}
  <h1 class="govuk-heading-xl">
    GOV.UK Frontend
  </h1>

  {{ govuk.button({
    text: "Save and continue"
  }) }}

  {{ govuk.accordion({
    id: "accordion-default",
    items: [
      {
        heading: {
          text: "Writing well for the web"
        },
        content: {
          html: "<p class='govuk-body'>This is the content for Writing well for the web.</p>"
        }
      },
      {
        heading: {
          text: "Writing well for specialists"
        },
        content: {
          html: "<p class='govuk-body'>This is the content for Writing well for specialists.</p>"
        }
      },
        {
        heading: {
          text: "Know your audience"
        },
        content: {
          html: "<p class='govuk-body'>This is the content for Know your audience.</p>"
        }
      },
        {
        heading: {
          text: "How people read"
        },
        content: {
          html: "<p class='govuk-body'>This is the content for How people read.</p>"
        }
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}

  {{ govukWarningText({
    text: "You can be fined up to £5,000 if you do not register.",
    iconFallbackText: "Warning"
  }) }}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Components</h2>

      <ul class="govuk-list">
        <li><a href="/components/all{{ legacyQuery }}" class="govuk-link">All</a></li>
        {% for componentName in componentsDirectory | sort %}
          <li><a href="/components/{{ componentName }}{{ legacyQuery }}" class="govuk-link">{{ componentName | replace("-", " ") | capitalize }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Examples</h2>

      <ul class="govuk-list">
      {% for exampleName in examplesDirectory | sort %}
        <li><a href="/examples/{{ exampleName }}{{ legacyQuery }}" class="govuk-link">{{ exampleName | replace("-", " ") | capitalize }}</a></li>
      {% endfor %}
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m"><a href="/full-page-examples" class="govuk-link">Full page examples</a></h2>

      <ul class="govuk-list">
      {% for example in fullPageExamples %}
        <li><a href="/full-page-examples/{{ example.path }}{{ legacyQuery }}" class="govuk-link">{{ example.name | replace("-", " ") | capitalize }}</a></li>
      {% endfor %}
      </ul>

      <h2 class="govuk-heading-m">Misc</h2>

      <ul class="govuk-list">
        <li><a href="/docs" class="govuk-link">Sass Documentation</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
