{% extends "_generic.njk" %}

{% set htmlClasses = "app-no-canvas-background" %}

{% block pageTitle %}GOV.UK Frontend{% endblock %}

{# Turn the header and footer off #}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {% block scripts %}
    <!--[if lt IE 9]>
      <script src="/vendor/iframe-resizer/ie8.polyfils.min.js"></script>
    <![endif]-->
    <script src="/vendor/iframe-resizer/iframeResizer.min.js"></script>
    <script>
      window.iFrameResize({}, '.js-component-preview')
    </script>
  {% endblock %}
{% endblock %}
