{% set componentSlug = componentPath %}
{% set componentName = componentSlug | replace("-", " ") %}
{% set componentGuidanceLink = componentGuidanceLink | default('https://design-system.service.gov.uk/components/' + componentSlug)%}
<h1>
{% block componentName %}
{{ componentName | capitalize }}
{% endblock %}
</h1>

<h2>Introduction</h2>
{% block componentDescription %}
{% endblock %}

{% if componentGuidanceLink %}
<h2>Guidance and Examples</h2>
<p>
  Find out when to use the {{ componentName }} component in your service in the <a href="{{- componentGuidanceLink -}}" class="govuk-link">GOV.UK Design System</a>.
</p>
{% endif %}

<h2>Requirements</h2>
<h3>Build tool configuration</h3>
<p>When compiling the Sass files you'll need to define includePaths to reference the node_modules directory. Below is a sample configuration using gulp</p>
<pre><code>
.pipe(sass({
  includePaths: 'node_modules/'
}))
</code></pre>


<h3>Static asset path configuration</h3>
<p>In order to include the images used in the components, you need to configure
your app to show these assets. Below is a sample configuration using Express js:</p>

<pre><code>
app.use('/assets', express.static(path.join(__dirname, '/node_modules/govuk-frontend/assets')))
</code></pre>

<h2>Component options</h2>
<p>Use options to customise the appearance, content and behaviour of a component when using a macro, for example, changing the text.</p>

{% block componentArguments %}
{% endblock %}

<h3>Setting up Nunjucks views and paths</h3>
<p>Below is an example setup using express configure views:</p>

<pre><code>
nunjucks.configure('node_modules/govuk-frontend/components', {
  autoescape: true,
  cache: false,
  express: app
})
</code></pre>

<h2>Contribution</h2>
<p>
  Guidelines can be found at <a href="https://github.com/alphagov/govuk-frontend/blob/master/CONTRIBUTING.md" title="link to contributing guidelines on our github repository" class="govuk-link">on our Github repository.</a>
</p>

<h2>License</h2>
<p>MIT</p>
