{% set nunjucksHtmlUsageMessage = '**If you’re using Nunjucks macros in production be aware that using  `html` arguments, or ones ending with `Html` can be a [security risk](https://en.wikipedia.org/wiki/Cross-site_scripting). More about it in the [Nunjucks documentation](https://mozilla.github.io/nunjucks/api.html#user-defined-templates-warning).**' %}
{% set componentName = componentPath %}
{% set componentNameHuman = componentName | replace("-", " ") | capitalize %}
{% set componentGuidanceLink = componentGuidanceLink | default('https://design-system.service.gov.uk/components/' + componentName)%}
<h1>
{% block componentName %}
{{ componentNameHuman }}
{% endblock %}
</h1>

<h2>Introduction</h2>
{% block componentDescription %}
{% endblock %}

{% if componentGuidanceLink %}
<h2>Guidance</h2>
<p>
  Find out when to use the {{ componentNameHuman }} component in your service in the <a href="{{- componentGuidanceLink -}}" class="govuk-link">GOV.UK Design System</a>.
</p>
{% endif %}

<h2>Quick start examples</h2>
<p>{% block componentHtmlUsageWriteup %}{% endblock %}</p>

{% from "showExamples.njk" import showExamples %}
{% block examples %}
{{ showExamples(componentName, componentData) }}
{% endblock %}

<h2>Requirements</h2>
<h3>Build tool configuration</h3>
<p>When compiling the Sass files you'll need to define includePaths to reference the node_modules directory. Below is a sample configuration using gulp</p>
<pre><code>
.pipe(sass({
  includePaths: 'node_modules/'
}))
</code></pre>


<h3>Static asset path configuration</h3>
<p>In order to include the images used in the components, you need to configure
your app to show these assets. Below is a sample configuration using Express js:</p>

<pre><code>
app.use('/assets', express.static(path.join(__dirname, '/node_modules/govuk-frontend/assets')))
</code></pre>

<h2>Component arguments</h2>
<p>If you are using Nunjucks,then macros take the following arguments</p>

{% from "table/macro.njk" import govukTable %}

{{ nunjucksHtmlUsageMessage }}
{% block componentArguments %}
{% endblock %}
{{ nunjucksHtmlUsageMessage }}

<h3>Setting up Nunjucks views and paths</h3>
<p>Below is an example setup using express configure views:</p>

<pre><code>
nunjucks.configure('node_modules/govuk-frontend/components', {
  autoescape: true,
  cache: false,
  express: app
})
</code></pre>

<h2>Contribution</h2>
<p>
  Guidelines can be found at <a href="https://github.com/alphagov/govuk-frontend/blob/master/CONTRIBUTING.md" title="link to contributing guidelines on our github repository" class="govuk-link">on our Github repository.</a>
</p>

<h2>License</h2>
<p>MIT</p>
